<div class="row gutter-4">
    <div class="col-sm-7">
        <ui-select ng-model="browser.$type.site" theme="bootstrap"
            class="has-badges custom-select-ui"
            on-select="browser.$type.set_site($select.selected) | trackEvent:'Visualizer-Recordings-By-Site':'open site'"
            append-to-body="true"
        >
            <ui-select-match class="a2-uism-btn-icon {{browser.$type.loading.sites ? 'icon-loader' : 'icon-site'}}"
                placeholder="{{browser.$type.loading.sites ? 'Loading sites' : 'Select site'}}" title="{{ browser.$type.site.name }}"
            >
                {{ browser.$type.site.name }}
            </ui-select-match>
            <ui-select-choices repeat="site in browser.$type.sites | filter:$select.search">
                <i class="fa fa-map-marker" ></i>
                <span class="select-ui-option">{{ site.name }}</span>
                <span class="badge">{{site.rec_count}}</span>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="col-sm-5">
        <div class="dropdown"
            dropdown
            dropdown-append-to-body="true"
            auto-close="outsideClick"
            is-open="browser.$type.yearpickOpen">
            <button class="btn btn-block btn-default control-border text-insight"
                ng-disabled="!browser.$type.site"
                dropdown-toggle>
                <span class="fa" ng-class="{'fa-calendar' : !browser.$type.loading.dates, 'fa-spinner fa-spin': browser.$type.loading.dates}"></span>
                {{ browser.$type.date || "date" | date : 'mediumDate' }}
                <span class="caret"></span>
            </button>
            <div class="dropdown-form dropdown-menu datepicker" role="menu">
                <loader class="dropdown-loader" ng-show="browser.$type.loading.dates"></loader>
                <yearpick
                    mode="density"
                    ng-model="browser.$type.date"
                    max-date="browser.$type.dates.max_date"
                    min-date="browser.$type.dates.min_date"
                    year="browser.$type.dates.display_year"
                    on-year-changed="browser.$type.set_dates_display_year(year)"
                    on-date-changed="browser.$type.set_date(date)"
                    disable-empty="true"
                    date-count="browser.$type.dates.date_counts">
                </yearpick>
            </div>
        </div>
    </div>
</div>
