<div class="content">
    <div class="row">
        <div class="col-sm-5">
            <div class="dropdown">
                <button class="btn btn-block btn-default" role="button" data-toggle="dropdown">
                    <span class="fa" ng-class="{'fa-map-marker' : !browser.loading.sites, 'fa-spinner fa-spin': browser.loading.sites}"></span>
                    {{browser.selection.site.value.name || "[Station]"}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-height-7" role="menu" aria-labelledby="dLabel">
                    <li ng-show="browser.loading.sites">
                        <a><i class="fa fa-spinner fa-spin"></i> Loading Sites</a>
                    </li>
                    <li ng-hide="browser.loading.sites || browser.sites">
                        <a>No Stations in Project</a>
                    </li>
                    <li ng-hide="browser.loading.sites" ng-repeat="site in browser.sites" ng-class="{active: browser.selection.site.value == site}">
                        <a ng-click="browser.selection.site.select(site)">{{site.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-5">
            <div class="dropdown">
                <button class="btn btn-block btn-default" role="button" data-toggle="dropdown">
                    <span class="fa" ng-class="{'fa-calendar' : !browser.loading.dates, 'fa-spinner fa-spin': browser.loading.dates}"></span>
                    {{browser.selection.date || "[date]" | date : 'mediumDate'}}
                    <span class="caret"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-right datepicker" role="menu" aria-labelledby="dLabel">
                    <div ng-show="browser.loading.dates">
                        <a><i class="fa fa-spinner fa-spin"></i> Loading Times</a>
                    </div>
                    <datepicker2 ng-hide="browser.loading.dates" ng-model="browser.selection.date" min-date="minDate" show-weeks="false"
                        datepicker-mode="browser.dates.datepickerMode" update-counter="browser.dates.update_time"
                        date-disabled="browser.dates.disabled(date, mode, $scope)"></datepicker2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="nav nav-pills nav-stacked recording-list" role="menu" aria-labelledby="dLabel">
                <div class="recording-list-item"
                    ng-show="browser.loading.times">
                    <i class="fa fa-spinner fa-spin"></i> Loading Recordings
                </div>
                <div class="recording-list-item"
                    ng-hide="browser.loading.times || browser.recordings">
                    (No recordings in list)
                </div>
                <div class="recording-list-item"
                    ng-hide="browser.loading.times"
                    ng-repeat="recording in browser.recordings | orderBy: 'datetime'"
                    ng-class="{active: browser.selection.recording.value == recording}"
                    ng-click="browser.selection.recording.select(recording)">
                    <div>
                        {{recording.datetime | date : 'shortTime'}}
                        <div class="pull-right">
                            {{recording.file}}
                        </div>
                    </div>
                    <div class="thumbnail-viewer">
                        <img ng-src="/api/project/nora-minas-sample/recordings/thumbnail/{{recording.id}}">
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
