<div class="content">
    <div class="row">
        <div class="col-sm-5">
            <div class="dropdown">
                <button class="btn btn-block btn-default" role="button" data-toggle="dropdown">
                    <span class="fa" ng-class="{'fa-map-marker' : !browser.loading.sites, 'fa-spinner fa-spin': browser.loading.sites}"></span>
                    {{browser.selection.site.value.name || "[Station]"}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-height-7" role="menu" aria-labelledby="dLabel">
                    <li ng-show="browser.loading.sites">
                        <a><i class="fa fa-spinner fa-spin"></i> Loading Sites</a>
                    </li>
                    <li ng-hide="browser.loading.sites || browser.sites">
                        <a>No Stations in Project</a>
                    </li>
                    <li ng-hide="browser.loading.sites" ng-repeat="site in browser.sites" ng-class="{active: browser.selection.site.value == site}">
                        <a ng-click="browser.selection.site.select(site)">{{site.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-5">
            <div class="dropdown">
                <button class="btn btn-block btn-default" role="button" data-toggle="dropdown" data-target="body > .dropdown.browser-dropdown">
                    <span class="fa" ng-class="{'fa-calendar' : !browser.loading.dates, 'fa-spinner fa-spin': browser.loading.dates}"></span>
                    {{browser.selection.date || "[date]" | date : 'mediumDate'}}
                    <span class="caret"></span>
                </button>
                <div class="browser-dropdown dropdown" a2-insert-in="body" a2-keep-position="true" >
                    <div class="dropdown-form dropdown-menu datepicker" role="menu" aria-labelledby="dLabel">
                        <yearpick
                            ng-model="browser.selection.date"
                            year="browser.dates.display_year"
                            disable-empty="true"
                            date-count="browser.dates.date_counts"
                        ></yearpick>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="nav nav-pills nav-stacked recording-list" role="menu" aria-labelledby="dLabel">
                <div class="recording-list-item"
                    ng-show="browser.loading.times">
                    <i class="fa fa-spinner fa-spin"></i> Loading Recordings
                </div>
                <div class="recording-list-item"
                    ng-hide="browser.loading.times || browser.recordings">
                    (No recordings in list)
                </div>
                <div class="recording-list-item"
                    ng-hide="browser.loading.times"
                    ng-repeat="recording in browser.recordings | orderBy: 'datetime'"
                    ng-class="{active: browser.selection.recording.value == recording}"
                    ng-click="browser.selection.recording.select(recording)">
                    <div>
                        {{recording.datetime | moment : 'hh:mm A'}}
                        <div class="pull-right">
                            {{recording.file}}
                        </div>
                    </div>
                    <div class="thumbnail-viewer">
                        <!-- <img ng-src="/api/project/nora-minas-sample/recordings/thumbnail/{{recording.id}}"> -->
                        <img ng-src="{{recording.thumbnail}}">
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
