<div class="layers">

    <div class="layer">
        <div class="title">Data Analysis</div>
        <div class="layer-btns">
            <button><span class="fa fa-eye"></span></button>
        </div>
        <div class="sublayers">
            <div class="handle"></div>
            <div class="layer">
                <div class="title">Regions of Interest</div>
                <div class="layer-btns">
                    <button><span class="fa fa-eye"></span></button>
                </div>
            </div>
            <div class="layer">
                <div class="title">New Model</div>
                <div class="layer-btns">
                    <button><span class="fa fa-eye"></span></button>
                </div>
            </div>
            <div class="layer">
                <div class="title">New Model Data</div>
                <div class="layer-btns">
                    <button><span class="fa fa-eye"></span></button>
                </div>
            </div>
        </div>
    </div>

</div>
