<div class="visualizer-root show-spectrogram" a2-scroll="onScrolling()" ng-mousemove="onMouseMove($event)">
    <div class="title-bar" ng-hide="recording || loading_recording">
        Please select a recording :-)
    </div>
    <div class="title-bar" ng-show="loading_recording">
        <i class="fa fa-spinner fa-spin"></i> Loading Recording
    </div>
    <a2-visualizer-spectrogram-affixed data-affix-top="20" data-affix-right="40" ng-show="recording">
        <a2-zoom-control level="layout.scale.zoom.x" horizontal="true"></a2-zoom-control>
    </a2-visualizer-spectrogram-affixed>
    <a2-visualizer-spectrogram-affixed data-affix-top="40" data-affix-right="20" ng-show="recording">
        <a2-zoom-control level="layout.scale.zoom.y"></a2-zoom-control>
    </a2-visualizer-spectrogram-affixed>
    
    <svg class="axis-y" ng-show="recording" ></svg>
    <div class="spectrogram-container" ng-show="recording" >
        <a2-visualizer-spectrogram-layer ng-repeat="layer in layers | filter: canDisplayInSpectrogram" ng-show="layer.visible" ></a2-visualizer-spectrogram-layer>
        <div class="spectrogram-layer playback-head" ng-style="{left:(audio_player.resource ? (audio_player.resource.currentTime * layout.scale.sec2px) : 0)+'px'}"></div>
    </div>
    <svg class="axis-x" ng-show="recording" ></svg>

    <a2-visualizer-spectrogram-affixed data-affix-bottom="20" data-affix-align-h=".5" ng-show="recording" class="no-wrap">
        Time ( s )
    </a2-visualizer-spectrogram-affixed>

    <a2-visualizer-spectrogram-affixed data-affix-left="10" data-affix-align-v=".5" ng-show="recording">
        <div class="vertical-text">Frequency ( kHz )</div>
    </a2-visualizer-spectrogram-affixed>

</div>
