<img
    ng-repeat="tile in recording.tiles track by $index" ng-src="{{tile.src}}" style="position:absolute;z-index:-1"
    ng-style="{left:tile.x + 'px', top:tile.y + 'px', height: layout.spectrogram.height, width: layout.spectrogram.width}"
/>

<div class="input-source" ng-show="selection.layer == layer" ng-click="audio_player.setCurrentTime(pointer.sec)">
    <a2-visualizer-spectrogram-affixed>
        Click to set current play time to {{pointer.sec}}s <br/>
    </a2-visualizer-spectrogram-affixed>
</div>