<% include ../html_header %>
<% include ../html_app_header %>

<div id="page" class="content">
    <div class="row">
        <div class="sidebar" >
            blah bl;ah
        </div>
        <div class="app-content">
            bluh bluh
        </div>
    </div>
</div>

<% include ../html_footer %>