<!DOCTYPE html>
<html ng-app="visualizer">
  <head>
    <title>Arbimon 2 - <%= title %></title>
    <% include ../head %>
    <script>
        $(document).ready(function(){
            $(document).on('click', '.layers .sublayers > .handle', function(e){
                $(this).parent().toggleClass('collapsed');
            })
        });
    </script>
  </head>
  <body>
    <% include ../html_app_header %>
    
    <div id="page" ng-controller="VisualizerCtrl">
        <a2-visualizer></a2-visualizer>
    </div>

    <% include ../html_footer %>

  </body>
</html>
