<div>

    <div class="toolbar">
        <button class="btn btn-default"
            ng-click="controller.createNewCode()"
            tooltip="Create a new code">
            <i class="fa fa-plus"></i>
        </button>
    </div>

    <div ng-if="controller.loader.loading.codes">
        Loading activation codes.
    </div>
    <div ng-if="!controller.loader.loading.codes && !controller.codes.length">
        No project activation codes found.
    </div>
    <div ng-show="controller.codes.length">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Created</th>
                <th>Creator</th>
                <th>Recordings</th>
                <th>Processing</th>
                <th>Duration</th>
                <th>Consumed</th>
                <th>Consumer</th>
                <th>Project</th>
                <th></th>
            </tr>
            <tr ng-repeat="row in controller.codes">
                <td key="id">{{ row.id }}</td>
                <!-- hash -->
                <td key="created">{{row.created}}</td>
                <td key="creator">{{row.creator}}</td>
                <td key="row.payload.recordings">
                    {{row.payload.recordings}}
                </td>
                <td key="row.payload.processing">
                    {{row.payload.processing}}
                </td>
                <td key="row.payload.duration">
                    {{row.payload.duration}} {{row.payload.duration > 1 ? "years" : "year"}}
                </td>
                <td key="consumed">{{row.consumed ? "Yes" : "No"}}</td>
                <td key="consumer">{{row.consumer || "---"}}</td>
                <td key="project">{{row.project || "---"}}</td>
                <td key="">
                    <button class="btn btn-default" ng-click="controller.showHash(row)"><i class="fa fa-qrcode"></i>View Hash</button>
                </td>
            </tr>
        </table>
    </div>
</div>
