<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            {{ controller.project.name }}
            <i class="fa" ng-class="controller.project.is_private ? 'fa-lock' :'fa-globe'"></i>
        </h4>
    </div>
    <table class="table" style="border-bottom: 1px solid #ddd !important;">
        <tr>
            <td width="130px"><b>Project ID</b></td>
            <td>{{ controller.project.project_id }}</td>
        </tr>
        <tr>
            <td><b>URL</b></td>
            <td>{{ controller.project.url }}</td>
        </tr>
        <tr>
            <td><b>Description</b></td>
            <td>{{ controller.project.description }}</td>
        </tr>
        <tr>
            <td><b>Site count</b></td>
            <td>{{ controller.sites.length }}</td>
        </tr>
        <tr>
            <td><b>Rec count</b></td>
            <td>{{ controller.recCount }}</td>
        </tr>
    </table>
    <div class="panel-body">
        <form>
            <label>
                Enabled:
            </label>
            <input type="checkbox"
                ng-model="controller.project.is_enabled"
                ng-false-value="0"
                ng-true-value="1"
            >
            <div class="form-group">
                <label>Rec limit:</label>
                <input type="number"
                    class="form-control"
                    style="display:inline; width:auto;"
                    ng-model="controller.project.storage_limit">
            </div>
            <div class="form-group">
                <label>Processing limit:</label>
                <input type="number"
                    class="form-control"
                    style="display:inline; width:auto;"
                    ng-model="controller.project.processing_limit">
            </div>
            <label>Features</label>
            <div class="form-group">
                <label>Citizen Scientist:</label>
                <div class="btn-group">
                    <a2-switch ng-model="controller.project.citizen_scientist_enabled" />
                </div>
            </div>
            <button class="btn btn-primary"
                ng-click="controller.save()">
                <i class="fa fa-floppy-o"></i> Save
            </button>
            <button class="btn btn-default"
                ng-click="controller.close()">
                <i class="fa fa-times"></i> Close
            </button>
        </form>
    </div>
</div>
