<div class="row no-bold"
>
    <div class="col-sm-1 control-label">
        &alpha; :
    </div>
    <div class="col-sm-4">
        <input class="form-control input-sm" step="0.01" max="1" min="0" type="number" ng-model="controller.aed.parameters.alpha" 
            ng-required="true"
            ng-change="controller.recomputeDefaultName()"
        />
    </div>
    <div class="col-sm-7 em small">
        Percentile used for Local Trimmed Range
    </div>
</div>
<div class="row no-bold">
    <div class="col-sm-1 control-label">
        n :
    </div>
    <div class="col-sm-4">
        <input class="form-control input-sm" max="100" min="3" type="number" ng-model="controller.aed.parameters.n" 
            ng-required="true"
            ng-change="controller.recomputeDefaultName()"
        />
    </div>
    <div class="col-sm-7 em small">
        Neighborhood size for computing the Local Trimmed Range
    </div>
</div>
