<div class="card card-inlined" ng-repeat="aed in controller.audioEventDetectionsList">
    <div class="title">
        {{aed.algorithm.name}}({{aed.algorithm.params | asCSV}})
    </div>
    <div>
        statistics:
        <div class="padding-left">
            {{aed.statistics | asCSV}}
        </div>
    </div>
    <div>
        Playlist{{aed.playlists.length > 1 ? 's' : ''}}:
        <div class="padding-left">
            <div class="relative" ng-repeat="playlist in aed.playlists">
                <span>{{playlist.name}}</span>
                <span class="last-accessed" title="{{playlist.date | moment:'lll'}}">{{playlist.date | timeFromNow}}</span>
            </div>
        </div>
    </div>                
</div>
