<div class="row" >
    <div class="col-sm-12 col-lg-11 padded-view-div" >
        <h3>
            Audio Event Detections
            <a class="btn btn-sm btn-default"
                tooltip="Create New Audio Event Detection"
                tooltip-placement="right"
                ng-click="controller.new()" >
                <i class="fa fa-plus" ></i>
            </a>
            <button class="btn btn-default pull-right btn-sm"
                tooltip="Refresh list"
                ng-click="controller.reload()">
                    <i class="fa fa-refresh"></i> Refresh List
            </button>
        </h3>
        <loader ng-show="controller.loading"></loader>
            
        <div ng-hide="controller.loading || !controller.audioEventDetectionsList.length">
            <table ng-table="tableParams" class="table" show-filter="true" >
                <tr ng-repeat="audioEventDetection in controller.audioEventDetectionsList" >
                    <td data-title="'Date'" class="no-wrap-table-cell" data-sortable="'date'" >
                        {{audioEventDetection.date | moment : 'lll' }}
                    </td>
                    <td data-title="'Name'" class="no-wrap-table-cell hidelongtext widthtd" data-sortable="'name'" filter="{'name':'text'}">
                        {{audioEventDetection.name}}
                    </td>
                    <td data-title="'Algorithm'" class="no-wrap-table-cell hidelongtext widthtd" >
                        {{audioEventDetection.algorithm.name}}({{audioEventDetection.algorithm.parameters | asCSV}})
                    </td>
                    <td data-title="'Playlist'" class="no-wrap-table-cell hidelongtext widthtd" data-sortable="'playlist'"  filter="{ 'playlist': 'text' }">
                        {{audioEventDetection.playlist.name}}
                    </td>
                    <td data-title="'Statistics'" class="no-wrap-table-cell hidelongtext widthtd" data-sortable="'statistics'"  filter="{ 'statistics': 'text' }">
                        {{audioEventDetection.statistics | asCSV}}
                    </td>
                    <!-- <td>
                        <a class="btn btn-default btn-xs" ui-sref="visualizer.view({type:'audioEventDetection', idA:audioEventDetection.audioEventDetection_id})"
                        ><i class="fa fa-cubes"></i> View</a>

                        <button class="btn btn-default btn-xs" ng-click="showDetails(audioEventDetection.audioEventDetection_id) | trackEvent:'Analysis-AudioEventDetections-List':' show audio event detections details'"
                        ><i class="fa fa-list-alt"></i> Show details</button>

                        <span class="btn-group" dropdown dropdown-append-to-body="true">
                            <button class="btn btn-default btn-xs"
                                ng-click="controller.exportAudioEventDetection({audioEventDetection:audioEventDetection}) | trackEvent:'Analysis-AudioEventDetections list':'export audio event detection'"
                            ><i class="fa fa-download"></i> Export</button>
                            <button class="btn btn-default btn-xs" dropdown-toggle><i class="fa fa-caret-down"></i></button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a ng-click="controller.exportAudioEventDetection({audioEventDetection:audioEventDetection}) | trackEvent:'Analysis-AudioEventDetections list':'export audio event detection'">
                                    Export Matrix
                                </a></li>
                                <li><a ng-click="controller.exportAudioEventDetection({audioEventDetection:audioEventDetection, raw:true}) | trackEvent:'Analysis-AudioEventDetections list':'export audio event detection raw'">
                                    Export Raw Data
                                </a></li>
                            </ul>
                        </span>
                        
                        <button class="btn btn-default btn-xs" ng-click="deleteAudioEventDetection(audioEventDetection.audioEventDetection_id,audioEventDetection.name) | trackEvent:'Analysis-AudioEventDetections list':'delete audio event detection'"
                        ><i class="fa fa-trash"></i> Delete</button>
                    </td> -->
                </tr>
            </table>
        </div>
        <div class="jumbotron" ng-show="!controller.audioEventDetectionsList.length && !controller.loading">
            <h3>
                {{ infopanedata }}
                <a ng-click="controller.new() | trackEvent:'Analysis-AudioEventDetections':'Create new audio event detection'" >
                    Create a audio event detection
                </a>
            </h3>
        </div>
    </div>
</div>
