<form name="form" role="form" novalidate
    ng-submit="form.$valid && (controller.ok() | trackEvent:'Analysis-New-AED':'ok')"
>
    <div class="modal-header">
        <h3 class="modal-title">Create a new audio event detection</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Name:</label>
            <input class="form-control" type="text" name="name" ng-model="controller.aed.name"
                placeholder="{{controller.aed.defaultName}}"
            />
        </div>
        <div class="form-group">
            <label>Playlist:</label>
            <span class="ml-2" ng-if="controller.playlists && !controller.playlists.length">
                <a class="cs-pointer red" ng-click="controller.cancel('/audiodata/recordings')">
                    Create a new playlist
                </a>
            </span>
            <ui-select name="playlist" ng-model="controller.aed.playlist" theme="bootstrap" ng-required="true"
                ng-change="controller.recomputeDefaultName()"
            >
                <ui-select-match placeholder="Select a playlist">
                    {{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices repeat="playlist in controller.playlists | filter: $select.search">
                    {{playlist.name}}
                </ui-select-choices>
            </ui-select>
            <div class="padding-left text-danger small em" ng-show="form.$submitted && form.playlist.$error.required">
                Please select a playlist to perform the audio event detection on.
            </div>
        </div>
        <div class="form-group">
            <label>
                Algorithm :
            </label>
            <ui-select name="algorithm" ng-required="true" theme="bootstrap" 
                ng-model="controller.aed.algorithm" 
                ng-change="controller.notifyAedAlgorithmChanged()"
            >
                <ui-select-match placeholder="Select an algorithm">
                    <span title="{{$select.description}}">{{$select.selected.name}}</span>
                </ui-select-match>
                <ui-select-choices repeat="algorithm in controller.algorithmsList | filter: $select.search">
                    <strong>{{algorithm.name}}</strong>
                    <p>
                        <em>
                            <small>{{algorithm.description}}</small>
                        </em>
                    </p>
                </ui-select-choices>
            </ui-select>
            <div class="padding-left text-danger small em" ng-show="form.$submitted && form.algorithm.$error.required">
                Please select a playlist to perform the audio event detection on.
            </div>
            <div class="padding-left">
                <p><em><small>{{controller.aed.algorithm.description}}</small></em></p>
                <div ng-if="controller.algorithmParametersTemplate">
                    <div>Parameters:</div>
                    <div ng-include="controller.algorithmParametersTemplate"></div>
                </div>
            </div>
        </div>
        <!-- <div class="form-group">
            <label>Statistics:</label>
            <ui-select multiple name="statistics" require-non-empty="true"
                ng-model="controller.aed.statistics" theme="bootstrap" ng-disabled="disabled"
            >
                <ui-select-match placeholder="Select statistics">
                    <span title="{{$item.description}}">{{$item.name}}</span>
                </ui-select-match>
                <ui-select-choices repeat="statistic in controller.statisticsList | filter: $select.search" value="type.model_type_id">
                    <strong>{{statistic.name}}</strong>
                    <p>
                        <em>
                            <small>{{statistic.description}}</small>
                        </em>
                    </p>
                </ui-select-choices>
            </ui-select>
            <div class="padding-left text-danger small em" ng-show="form.$submitted && form.statistics.$error.required">
                Please select a playlist to perform the audio event detection on.
            </div>
        </div> -->
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-cogs"></i> Create audio event detection
        </button>
        <button type="button" class="btn btn-default" ng-click="controller.cancel() | trackEvent:'Analysis-New-AED':'cancel'">
            <i class="fa fa-times"></i> Close
        </button>
    </div>
</form>
