<div class="content">
    <div class="row row-pad-bottom">
        <div class="col-sm-12 btn-toolbar">
            <div class="btn-group" ng-repeat="type_group in browser.types">
                <button ng-repeat="type in type_group" class="btn btn-default"
                    ng-class="browser.type == type ? 'active' : ''"
                    ng-click="browser.setBrowserType(type) | trackEvent:'Visualizer-Main':'setting browser type'"
                    tooltip="{{type.tooltip}}"
                    tooltip-append-to-body="true"
                    tooltip-placement="bottom-left">
                    <i ng-class="type.icon"></i>
                </button>
            </div>
        </div>
    </div>
    <div ng-include
        class="mt-1"
        src="browser.type ? browser.type.template : ''">
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="nav nav-pills nav-stacked visobj-list" role="menu" a2-scroll="onScroll($event, $controller)" a2-infinite-scroll-distance="10">
                <div class="visobj-list-item" ng-show="browser.loading.times || (browser.lovo.loading && !browser.lovo.list.length)">
                    <i class="fa fa-spinner fa-spin"></i>
                    Loading {{browser.type.vobject_type | plural}}
                </div>

                <div class="visobj-list-item" ng-show="!browser.loading.times && !browser.lovo.list.length && !browser.lovo.loading">
                    <p ng-if="browser.type.name == 'rec'">
                        Please, select a site and a date to browse
                    </p>
                    <p ng-if="browser.type.name == 'playlist'">
                        Please, select a playlist to browse
                    </p>
                    <p ng-if="browser.type.name == 'soundscape'">
                        No soundscapes found
                    </p>
                </div>

                <div class="visobj-list-item"
                    ng-hide="browser.loading.times"
                    ng-repeat="visobj in browser.lovo.list"
                    data-index="{{$index}}"
                    ng-class=" (browser.visobj.id == visobj.id ? 'active ' : ' ') + 'visobj-'+browser.lovo.object_type"
                    ng-click="browser.setVisObj(visobj) | trackEvent:'Visualizer-Main':'setting visobj'"
                    ng-include="browser.visobjectTypes[browser.lovo.object_type].cardTemplate"
                >
                </div>
                <div class="seconds-div-center py-5" ng-show="browser.lovo.loading && browser.lovo.list.length">
                    <i class="fa fa-spinner fa-spin" style="font-size: 22px;"></i>
                </div>
            </div>
        </div>
    </div>
</div>
