<table class="table table-hover a2-table">
<thead>
    <tr class="headers ">
        <th ng-hide="a2TableController.noCheck">
            <input type="checkbox"
                ng-disabled="!a2TableController.rows.length"
                ng-model="a2TableController.checkAll"
                ng-change="a2TableController.toggleAll()"
                class="cs-pointer">
        </th>
    </tr>
    <tr class="filters" ng-show="a2TableController.hasFilters">
        <th ng-hide="a2TableController.noCheck"></th>
    </tr>
</thead>
<tbody>
    <tr ng-repeat="row in a2TableController.rows | filter: query | orderBy: sort : reverse"
        ng-click="a2TableController.sel(row, $index, $event)"
        ng-class="[selected == row ? 'active':'', userStyle]"
        tabindex="0"
        ng-keypress="a2TableController.keyboardSel(row, $index, $event)">
        <td ng-hide="a2TableController.noCheck" class="is-v-middle checkbox-group">
            <input type="checkbox"
                id="row-checkbox"
                ng-model="row.checked"
                ng-click="a2TableController.check($event, $index)"
                ng-change="a2TableController.onCheck(row, $index, $event)"
                stop-click
                class="cs-pointer checkbox-btn"
            >
            <label for="row-checkbox" class="is-v-middle"></label>
        </td>
    </tr>
</tbody>
</table>
