<ng-form name="a2projForm">
    <div class="form-group" 
        ng-class="{'has-error': errorName }">
        <label class="control-label" for="name" >
            Name:
        </label>
        <span class="explainer" ng-class="errorName ? 'text-danger' : ''">
            6 - 50 characters
        </span>
        <input class="form-control" 
            id="name" 
            name="name" 
            type="text" 
            ng-model="project.name"
            ng-change="controller.nameChanged()"
            placeholder="Project Name" required>
    </div>
    <div class="form-group" ng-class="{'has-error': errorUrl }">
        <label class="control-label" for="url">
            URL: 
        </label> 
        <span class="explainer" ng-class="errorUrl ? 'text-danger' : ''">
            6 - 50 characters, only alphanumeric characters separated by - or _
        </span>
        <div class="input-group">
            <label class="input-group-addon" for="url" >https://arbimon.rfcx.org/project/</label>
            <input class="form-control" 
                id="url" 
                name="url" 
                type="text" 
                ng-model="project.url"
                ng-change="controller.urlChanged()"
                placeholder="your-project" required />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="description">Description:</label>
        <textarea class="form-control fixed-width" 
            id="description" 
            name="description" 
            ng-model="project.description"
            placeholder="this project is about...">
        </textarea>
    </div>
    <div class="form-group">
        <div class="radio mb-2">
            <label class="control-label" for="public">
                <input id="public" type="radio" ng-model="project.is_private" value="0" class="cs-pointer">
                <i class="fa fa-globe"></i> Public
            </label>
        </div>
        <div class="text-dim smaller" style="margin-left:2rem">Any Arbimon user can: view this project on Arbimon and Insights, and download summary figures and maps from Insights pages.</div>
        <div class="text-dim smaller" style="margin-left:2rem">However, only authorized users can edit the project and download raw data (e.g., results tables and labeled data).</div>
        <div class="radio mb-2">
            <label class="control-label" for="private">
                <input id="private" type="radio" ng-model="project.is_private" value="1" ng-checked="true" class="cs-pointer">
                <i class="fa fa-lock"></i> Private
            </label>
        </div>
        <div class="text-dim smaller" style="margin-left:2rem">Only authorized users can view, access, edit and explore this project on Arbimon and Insights.</div>
    </div>
</ng-form>
