<input class="form-control input-sm hidelongtext"
    maxlength="100"
    typeahead-on-select="selectProject()"
    ng-model="q"
    type="text"
    typeahead-min-length="3"
    placeholder="Search projects"
    typeahead="project as project.name for project in findProject($viewValue)"
    typeahead-template-url="customSearchTemplate.html"
    typeahead-wait-ms="1500">
<i ng-show="projectsLoading" class="fa fa-spinner fa-spin" style="font-size: 18px; position: absolute; right: 18px; top: 16px; z-index: 10;"></i>
<script type="text/ng-template" id="customSearchTemplate.html">
    <a>
        <span ng-if="isUnsafe==='true'" title="{{match.label}}" bind-html-unsafe="match.label | typeaheadHighlight:query" class="ng-binding"></span>
        <span ng-if="isUnsafe!=='true'" title="{{match.label}}" ng-bind-html="match.label | typeaheadHighlight:query" class="ng-binding"></span>
        <br><span title="{{match.model.description}}" class="font-size-small">{{match.model.description}}</span>
    </a>
</script>
