
<div class="row">
    <div class="col-lg-5 col-sm-12">
        <div class="row">
            <div class="col-sm-6">
                <input class="form-control" type="text" placeholder="Search" ng-model="search.name">
            </div>
            <div class="col-sm-2">
                <button class="btn btn-default"
                    tooltip="Import from species library"
                    ng-click="controller.importTemplates()">
                    <span class="glyphicon glyphicon-import"></span>
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <loader ng-if="controller.loading"></loader>
                <a2-table ng-if="!controller.loading" search="search" rows="controller.templates" no-checkbox>
                    <field tdclass="is-v-middle">
                        <div class="roi-thumbnail" >
                            <img ng-src="{{row.uri}}" class="roi-img is-small"/>
                            <a class="roi-btn-br" ng-href="{{controller.getTemplateVisualizerUrl(row)}}">
                                <i tooltip-placement="left"
                                    tooltip-append-to-body="true"
                                    tooltip="View in Visualizer"
                                    class="fa fa-cubes">
                                </i>
                            </a>
                        </div>
                    </field>
                    <field title="Name" key="name" tdclass="is-v-middle">
                        {{ row.name }}
                    </field>
                    <field title="Author" key="author" tdclass="is-v-middle">
                        {{ row.author }}
                    </field>
                    <field title="Project" key="project" tdclass="is-v-middle">
                        {{ row.project_name }}
                    </field>
                    <field title="Sampling rate" key="sampling_rate" tdclass="is-v-middle" className="no-wrap">
                        {{ row.sample_rate }}
                    </field>
                    <field title="Species" key="species_name" tdclass="is-v-middle">
                        {{ row.species_name }}
                    </field>
                    <field title="Song type" key="songtype_name" tdclass="is-v-middle">
                        {{ row.songtype_name }}
                    </field>
                    <field title="Date created" key="date_created" tdclass="is-v-middle">
                        {{ row.date_created | moment: 'll' }}
                    </field>
                    <field tdclass="is-v-middle">
                        <button class="btn btn-default"
                            ng-if="row.project === projectData.project_id"
                            ng-click="controller.deleteTemplate(row.id) | trackEvent:'Audiodata-template':'del clicked'"
                            tooltip="Delete Template"
                            tooltip-trigger="mouseenter">
                            <i class="fa fa-trash"></i>
                        </button>
                    </field>
                </a2-table>
                <div class="jumbotron" ng-show="(!controller.templates || controller.templates.length == 0) && !controller.loading">
                    <h3>
                        No templates found.
                    </h3>
                </div>
            </div>
        </div>

    </div>
</div>
