
<div class="row">
    <div class="col-sm-12">
        <div class="row panel-body">
            <ul class="nav nav-tabs col-md-12">
                <li class="nav-item" ng-class="{ active: controller.currentTab === 'showOwner' }">
                    <a class="nav-link" href=""
                        ng-click="controller.importTemplates('showOwner')">Project Templates</a>
                </li>
                <li class="nav-item" ng-class="{ active: controller.currentTab === 'allAccessibleProjects' }">
                    <a class="nav-link" href=""
                        ng-click="controller.importTemplates('allAccessibleProjects')">Public Templates</a>
                </li>
              </ul>
        </div>
        <div class="row templates">
            <div class="col-md-12">
                <loader ng-if="controller.loading"></loader>
                <a2-table ng-if="!controller.loading" search="search" rows="controller.templates" no-checkbox>
                    <field tdclass="is-v-middle" className ="spectrogram-img">
                        <div class="roi-thumbnail" >
                            <img ng-src="{{row.uri}}" class="roi-img is-small"/>
                            <a class="roi-btn-bl" ng-click="controller.playTemplateAudio(row, $event)" style="cursor:pointer">
                                <i tooltip-placement="left"
                                    tooltip-append-to-body="true"
                                    tooltip="Play Audio"
                                    class="fa fa-play">
                                </i>
                            </a>
                            <a class="roi-btn-br" ng-href="{{controller.getTemplateVisualizerUrl(row)}}">
                                <i tooltip-placement="left"
                                    tooltip-append-to-body="true"
                                    tooltip="View in Visualizer"
                                    class="fa fa-cubes">
                                </i>
                            </a>
                        </div>
                    </field>
                    <field title="Name" key="name" filter tdclass="is-v-middle" className="name">
                        <div>
                            <p class="m-0 is-v-middle no-wrap hidelongtext">{{ row.name }}</p>
                            <a class="is-v-middle"
                                ng-if="controller.currentTab === 'showOwner' && row.project !== row.source_project_id && row.source_project_id !== null"
                                ng-click="controller.goToSourceProject(row.source_project_id)">
                                <i aria-hidden="true" class="glyphicon glyphicon-link pl-2"></i>linked
                            </a>
                        </div>
                    </field>
                    <field title="Species" key="species_name" filter tdclass="is-v-middle no-wrap hidelongtext">
                        {{ row.species_name }}
                    </field>
                    <field title="Song type" key="songtype_name" tdclass="is-v-middle no-wrap hidelongtext" className="no-wrap">
                        {{ row.songtype_name }}
                    </field>
                    <field title="Author" key="author" filter tdclass="is-v-middle no-wrap hidelongtext" show="controller.currentTab === 'allAccessibleProjects'">
                        {{ row.author }}
                    </field>
                    <field title="Project" key="project_name" filter tdclass="is-v-middle no-wrap hidelongtext" show="controller.currentTab === 'allAccessibleProjects'">
                        {{ row.project_name }}
                    </field>
                    <field title="Sampling" key="sampling_rate" tdclass="is-v-middle" className="no-wrap" show="controller.currentTab === 'allAccessibleProjects'">
                        {{ row.sample_rate }}
                    </field>
                    <field title="Date created" key="date_created" tdclass="is-v-middle" className="no-wrap">
                        {{ row.date_created | moment: 'll' }}
                    </field>
                    <field title="Source" key="source_project_name" filter tdclass="is-v-middle no-wrap hidelongtext" show="controller.currentTab === 'showOwner'" className="source">
                        {{ row.project !== row.source_project_id && row.source_project_id !== null ? row.author + ' / ' + row.source_project_name : '-' }}
                    </field>
                    <field tdclass="is-v-middle">
                        <button class="btn btn-default"
                            ng-if="controller.currentTab === 'showOwner'"
                            ng-click="controller.deleteTemplate(row.id) | trackEvent:'Audiodata-template':'del clicked'"
                            tooltip="Delete Template"
                            tooltip-trigger="mouseenter">
                            <i class="fa fa-trash"></i>
                        </button>
                        <button class="btn btn-default"
                            ng-if="controller.currentTab === 'allAccessibleProjects'"
                            ng-click="controller.addTemplate(row) | trackEvent:'Audiodata-template':'add clicked'"
                            tooltip="Add Template"
                            tooltip-trigger="mouseenter">
                            <i class="fa fa-plus"></i>
                        </button>
                    </field>
                </a2-table>
                <div class="jumbotron" ng-show="(!controller.templates || controller.templates.length == 0) && !controller.loading">
                    <h3>
                        No templates found.
                    </h3>
                </div>
            </div>
        </div>

    </div>
</div>
