<div class="row" style="margin-top:10px;">
    <div class="col-sm-2">
        <div class="big-count">
            <span>{{ newUsers }}</span>
            New users today
        </div>
        <div class="big-count">
            <span>{{ newProjects }}</span>
            New projects today
        </div>
    </div>
    <div class="col-sm-10">
        <div style="background-color:#bbb; height:300px; margin: 10px">
            Activity on the last 7 days
            <h2 class="text-center"><br>Plot placeholder</h2>
        </div>
    </div>
    
    
</div>
<div class="row">
    <div class="col-sm-4">
        <h4>Jobs status</h4>
        <ul class="list-group">
            <li ng-repeat="jobType in Jobs" 
                class="list-group-item" 
                ng-class="{
                    'list-group-item-success': jobType.status == 'ok',
                    'list-group-item-warning': jobType.status == 'warning',
                    'list-group-item-danger':  jobType.status == 'red_alert',
                }">
                {{ jobType.name }}: 
                <span ng-show="jobType.status == 'ok'">Jobs are nominal</span>
                <span ng-show="jobType.status == 'warning'">Some jobs had problems</span>
                <span ng-show="jobType.status == 'red_alert'">Jobs are dropping like angry birds</span>
            </li>
        </ul>
    </div>
    <div class="col-sm-4">
        <h4>System settings (use with caution)</h4>
        <ul class="list-group">
            <li class="list-group-item">
                Maintenance Mode: {{ settings.maintenance_mode }} 
                <button type="button"
                    ng-click="toggleSetting('maintenance_mode')">
                    <span class="fa" ng-class="'fa-toggle-' + settings.maintenance_mode">
                    </span>
                </button>
            </li>
            <li class="list-group-item">
                Features
                <ul class="list-group">
                    <li class="list-group-item">
                        Uploads: {{ settings['feature.uploads'] }}
                        <button type="button"
                            ng-click="toggleSetting('feature.uploads')">
                            <span class="fa" ng-class="'fa-toggle-' + settings['feature.uploads']">
                            </span>
                        </button>
                    </li>
                    <li class="list-group-item">
                        Payments: {{ settings['feature.payments'] }}
                        <button type="button"
                            ng-click="toggleSetting('feature.payments')">
                            <span class="fa" ng-class="'fa-toggle-' + settings['feature.payments']">
                            </span>
                        </button>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
