<div class="row" style="margin-top:10px;">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Jobs
            </div>
            <div class="panel-body">
                <form ng-submit="findJobs()">
                        <div class="col-sm-3">
                            <ui-select multiple ng-model="params.states" theme="bootstrap">
                                <ui-select-match placeholder="Status">{{$item.name}}</ui-select-match>
                                <ui-select-choices repeat="state in states | filter:$select.search">
                                    {{ state.name }}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="col-sm-3">
                            <ui-select multiple ng-model="params.types" theme="bootstrap">
                                <ui-select-match placeholder="Type">{{ $item.name }}</ui-select-match>
                                <ui-select-choices repeat="type in job_types | filter:$select.search">
                                    {{ type.name }}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="col-sm-4">
                            <input placeholder="Search key:'value'" 
                                style="display:inline-block;"
                                class="form-control"
                                ng-model="params.search">
                        </div>
                        <div class="col-sm-2">
                            <div class="btn-group">
                                <button type="submit" class="btn btn-default">
                                    <i class="fa fa-search"></i>
                                </button>
                                <button class="btn btn-default"
                                    ng-click="initParams()">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                </form>
            </div>
            <!-- {{activeJobs}} -->
            <table class="table">
                <thead>
                    <tr>
                        <th>Project</th>
                        <th>id</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Progress</th>
                        <th>Created on</th>
                        <th>Last update</th>
                    </tr>
                <thead>
                <tbody>
                    <tr ng-repeat="job in activeJobs">
                        <td>{{job.project }} (#{{job.project_id }})</td>
                        <td>{{job.job_id }}</td>
                        <td>
                            <i class="fa fa-circle" 
                                ng-style="{color : colors[job.type]}"
                                tooltip="{{job.type}}" 
                                tooltip-append-to-body="true">
                            </i>
                            {{ job.type }}
                        </td>
                        <td>
                            <div ng-hide="job.state == 'processing' && job.percentage" 
                                ng-style="{color: states[job.state].color}" >
                                {{job.state}}
                            </div>
                        </td>
                        <td>{{ (job.progress/job.progress_steps)*100 | number }}%</td>
                        <td>{{ job.created | moment : 'lll' }}</td>
                        <td>{{ job.last_update | moment : 'lll' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- <div class="col-sm-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                JobsQueue
            </div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="(param, val) in jobsStatus">{{tr[param] || param}}: {{ val }}</li>
            </ul>
        </div>
    </div> -->
</div>
