<div class="row" style="margin-top:10px;">
    <div class="col-sm-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                Active jobs
            </div>                    
            <div class="panel-body">
                <div class="a2-filter-row">
                    <div class="a2-filter" style="width: 121px;">
                        <ui-select multiple ng-model="params.states" theme="bootstrap">
                            <ui-select-match placeholder="Status">{{$item.name}}</ui-select-match>
                            <ui-select-choices repeat="state in states | filter:$select.search">
                                {{ state.name }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="a2-filter" style="width: 186px;">
                        <ui-select multiple ng-model="params.types" theme="bootstrap">
                            <ui-select-match placeholder="Type">{{ $item.name }}</ui-select-match>
                            <ui-select-choices repeat="type in job_types | filter:$select.search">
                                {{ type.name }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="a2-filter">
                        <input placeholder="Search key:'value'" 
                            style="display:inline-block;"
                            class="form-control"
                            ng-model="params.search">
                    </div>
                    <div class="a2-filter">
                        <div class="btn-group">
                            <button class="btn btn-default"
                                ng-click="findJobs()">
                                <i class="fa fa-search"></i>
                            </button>
                            <button class="btn btn-default">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- {{activeJobs}} -->
            <table class="table">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Type</th>
                        <th>Last Update</th>
                    </tr>
                <thead>
                <tbody>
                    <tr ng-repeat="job in activeJobs" ng-show="show[job.job_type_id] && states[job.state].show">
                        <td>{{job.job_id }}</td>
                        <td>
                            <i class="fa fa-circle" 
                                ng-style="{color : colors[job.job_type_id]}"
                                tooltip="{{job.type}}" 
                                tooltip-append-to-body="true">
                            </i>
                            {{ job.name }}
                        </td>
                        <td>
                            <div ng-hide="job.state == 'processing' && job.percentage" 
                                ng-style="{color: states[job.state].color}" >
                                {{job.state}}
                            </div>
                            <div ng-show="job.state == 'processing' && job.percentage">
                                <div class="progress progress-striped active"> 
                                 <div ng-style="{'background-color':colors[job.job_type_id], width : ( job.percentage + '%' ) }" 
                                    aria-valuemax="100" 
                                    aria-valuemin="0" 
                                    aria-valuenow="{{job.percentage}}" 
                                    role="progressbar" 
                                    class="progress-bar">
                                    {{job.percentage}}%
                                 </div>
                                </div>
                            </div>
                        </td>
                        <td>{{job.type}}</td>
                        <td>{{ job.last_update | moment : 'lll' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                JobsQueue
            </div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="(param, val) in jobsStatus">{{tr[param] || param}}: {{ val }}</li>
            </ul>
        </div>
    </div>
</div>
