<div class="row" style="margin-top:10px;">
    <div class="col-sm-12">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group" role="group">
                <button class="btn btn-default">
                    <i class="fa fa-envelope"></i> 
                    Message all users
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="u in users">{{ u.username }}</li>
        </ul>
    </div>
</div>
