<div class="form-container">
    <div class="row">
        <div class="col-sm-12">
            <h4>
                Current plan
                <button class="btn btn-default"
                    type="button"
                    ng-click="changePlan()">
                    change
                </button>
            </h4>
            <div class="panel panel-default">
                <ul class="list-group">
                    <li class="list-group-item">Type: {{ project.tier }}</li>
                    <li class="list-group-item">Storage capacity: unlimited</li>
                    <li class="list-group-item">Processing capacity: unlimited</li>
                    <li class="list-group-item"
                        ng-show="project.plan_due"
                        ng-class="{ 'list-group-item-danger': (project.plan_due < today) }">
                        Plan due on: {{ project.plan_due | moment: 'll' }}
                        <span ng-show="project.plan_due < today">plan expired</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <h4>Project Info</h4>
            <form role="form" ng-submit="save()">

                <project-form ng-model="project" valid="isValid"></project-form>
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-floppy-o"></i> Save
                </button>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-danger" ng-click="deleteProject()">
                <i class="fa fa-times"></i> Delete project
            </button>
        </div>
    </div>
</div>
