<div class="row">
    <div class="col-md-7 col-lg-6">
        <div class="row">
            <div class="col-sm-6">
                <h4>
                    Project Users
                </h4>
            </div>
            <div class="col-sm-6">
                <div class="input-group">
                    <input class="form-control"
                        type="text"
                        placeholder="Search: username, email (only migrated user)"
                        ng-model="userToAdd"
                        ng-model-options="{'debounce': 500}"
                        typeahead="user as (user.firstname + ' ' + user.lastname + ' ' + '(' + user.email + ')') for user in findUser($viewValue)"
                        typeahead-loading="isSearchingUsers"
                        typeahead-min-length="3"
                        typeahead-editable="false"
                        typeahead-no-results="noResults">
                    <span class="input-group-btn">
                        <button class="btn btn-default input-btn"
                            ng-click="add()"
                            tooltip="Add user"
                            tooltip-trigger="mouseenter">
                            <i class="fa fa-plus"></i>
                        </button>
                    </span>
                    <loader style="position: absolute; top: 3px; right: 40px; z-index: 100;" ng-show="isSearchingUsers"></loader>
                </div>
                <div class="well well-sm" style="position: absolute; top: 100%; left: 15px; width: calc(100% - 30px); z-index: 100;" ng-show="noResults">
                    <span style="display: inline-block; vertical-align: middle;">No users found</span>
                    <button style="display: inline-block; vertical-align: middle; margin-left: 5px;" class="btn btn-primary btn-sm" ng-click="invite()">Invite</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-hover">
                    <tbody>
                        <tr ng-repeat="user in users">
                            <td>
                                <span class="username">{{ user.firstname }}</span>
                                <span class="username ml-1">{{ user.lastname }}</span>
                                <span class="text-dim ml-3">{{ user.email }}</span>
                            </td>
                            <td class="text-right">
                                <span ng-show="user.rolename == 'Owner'">Project Owner</span>
                                <span ng-hide="user.rolename == 'Owner'">
                                    <select ng-model="user.rolename" class="btn btn-default" ng-change="changeRole($index)">
                                        <option ng-repeat="role in roles">{{ role.name }}</option>
                                    </select>
                                    <button class="btn btn-default ml-3 py-0"
                                        ng-click="del($index)"
                                        tooltip="Remove user"
                                        tooltip-trigger="mouseenter">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Roles</h4>
            </div>
            <dl class="list-group">
                <span ng-repeat="role in roles" class="list-group-item">
                    <dt>{{ role.name }}</dt>
                    <dd>{{ role.description }}</dd>
                </span>
            </dl>
        </div>
    </div>
</div>
