# nodejs
node_modules
npm-debug.log

# gedit backup files
*~
  
# bower
bower_components

# grunt build files
public/assets

#komodo specific files
a2.komodoproject

# python virtual env
.env

# python compiled binaries
*.pyc

# docs (?)
docs

#test coverage results
coverage

#angular dependencies graph
angular-depends

#temp file cache
tmpfilecache/**
!tmpfilecache/.placeholder
