# nodejs
node_modules
node_modules-*
npm-debug.log

#mac (meh.)
.DS_Store
.idea

# gedit backup files
*~

# bower
bower_components

# grunt build files
public/includes

#komodo specific files
a2.komodoproject

# python virtual env
.env
.env.*

# python compiled binaries
*.pyc

#test coverage results
coverage

#angular dependencies graph
angular-depends

#temp file cache
tmpfilecache/**
!tmpfilecache/.placeholder

backend.png

newrelic_agent.log
