<div class="modal-header">  
    <h3 class="modal-title">Create a new soundscape</h3>  
</div>  
<div class="modal-body">

    <form role="form">
      <div class="form-group">
        <label for="modelName">Soundscape Name:</label>
        <input type="text" ng-model="datasubmit.name"  class="form-control" placeholder="Enter soundscape name"/>
        <span ng-bind="nameMsg" class="nameExistsSpan"></span>
      </div>
      <div class="form-group">
        <label for="classifier">Select Playlist:</label>
        <ui-select ng-model="datasubmit.playlist" theme="selectize" ng-disabled="disabled">
        <ui-select-match placeholder="Select or search a model...">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="playlist in playlists | filter: $select.search">
              {{playlist.name}} <span class="trainingSetRoiCountSpan"><small><em> <strong >Count:</strong>({{playlist.count}})</em></small></span> 
            </ui-select-choices>
        </ui-select>
      </div>
      <div class="row">
        <div class="col-sm-6">
            <label for="aggregation">Select Aggregation:</label>
            <div class="row">
                <a2-aggregationtypeselector on-selected="aggregationValue"></a2-aggregationtypeselector>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row container-fluid" >
                <label for="aggregation">Peak Filtering:</label>
                <a2-thresholdselector></a2-thresholdselector>
                
                <a2-banwidthselector></a2-banwidthselector>
                <!--
                <div class="row">
                    <div class="col-sm-6"  tooltip="Selects peaks with amplitude above the threshold. A 0 value selects all peaks. A 1 value select none." >Threshold: {{datasubmit.threshold}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-5"  tooltip="Selects peaks ..." >Flatness</div>
                </div>-->
                
            </div>
        </div>
      </div>
    </form>
</div>  
<div class="modal-footer">  
    <button class="btn btn-primary" ng-click="ok()"  ng-disabled="buttonEnable()">Submit</button>  
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>  
</div>  
