<div class="modal-header">  
    <h3 class="modal-title">Create a new soundscape</h3>  
</div>  
<div class="modal-body">

    <form role="form">
      <div class="form-group">
        <label for="modelName">Soundscape Name:</label>
        <input type="text" ng-model="datasubmit.name"  class="form-control" placeholder="Enter soundscape name"/>
        <span ng-bind="nameMsg" class="nameExistsSpan"></span>
      </div>
      <div class="form-group">
        <label for="classifier">Select Playlist:</label> <span ng-hide="playlists" class="red"><em>No playlists found</em></span>
        <ui-select ng-model="datasubmit.playlist" theme="selectize" ng-disabled="disabled">
        <ui-select-match placeholder="Select or search a playlist...">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="playlist in playlists | filter: $select.search">
              {{playlist.name}} <span class="trainingSetRoiCountSpan"><small><em> <strong >Count:</strong>({{playlist.count}})</em></small></span> 
            </ui-select-choices>
        </ui-select>
      </div>
      <div class="row">
        <div class="col-sm-6">
            <label for="aggregation">Select Aggregation:</label>
            <div class="row">
                 <div class="col-sm-12">
                    <a2-aggregationtypeselector on-selected="aggregationValue"></a2-aggregationtypeselector>
                 </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row container-fluid " >
                <label for="aggregation">Bin bandwidth (Hz):</label>
                <ol id="binhzlist" class="btn-group binhzpadding">
                  <li id="21" class="btn btn-default btn-xs"><span class="spacedhz">21</span></li>
                  <li id="43" class="btn btn-default btn-xs"><span class="spacedhz">43</span></li>
                  <li id="86" class="btn btn-default btn-xs"><span class="spacedhz">86</span></li>
                  <li id="172" class="btn btn-default btn-xs"><span class="spacedhz">172</span></li>
                  <li id="344" class="btn btn-default btn-xs"><span class="spacedhz">344</span></li>
                </ol>
            </div>
            <div class="row container-fluid" >
                <label for="aggregation">Peak Filtering:</label>
                <i class="fa fa-question" tooltip="Only peaks above the amplitude threshold will be considered. If the frequency difference of two successive peaks is less than the frequency threshold, then the peak of highest amplitude will be kept only." tooltip-placement="right"></i> 
                <a2-thresholdselector on-threshold="thresholdValue" on-bandwidth="banwidthValue" ></a2-thresholdselector>
                
                <!--
                <div>Flatness</div>
                -->
                
            </div>
        </div>
      </div>
    </form>
</div>  
<div class="modal-footer">  
    <button class="btn btn-primary" ng-click="ok()"  ng-disabled="buttonEnable()">Submit</button>  
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>  
</div>  
