<div class="row" >
    <div class="col-sm-12 col-lg-11 padded-view-div" >
        <h3>
            Soundscapes 
            <a class="btn btn-sm btn-default"  
                tooltip="Create New Soundscape" 
                tooltip-placement="right"  
                ng-click="createNewSoundscape()" >
                <i class="fa fa-plus" ></i>
            </a>
        </h3> 
        <loader ng-show="loading"></loader>
        <button class="btn btn-default pull-right"
            tooltip="Refresh list"
            ng-click="loadSoundscapes()">
                <i class="fa fa-refresh"></i>
        </button>
            
        <div ng-hide="loading">
            <table ng-table="tableParams" class="table table-hide-btns" show-filter="true" >
                <tr ng-repeat="soundscape in soundscapesData" >
                    <td data-title="'Date'" class="no-wrap-table-cell" data-sortable="'date'" >
                        {{soundscape.date | moment : 'lll' }} 
                    </td> 
                    <td data-title="'Name'" class="no-wrap-table-cell hidelongtext widthtd" data-sortable="'name'"  filter="{ 'name': 'text' }">
                        {{soundscape.name}}
                    </td>
                    <td data-title="'User'" class="no-wrap-table-cell" data-sortable="'user'"  filter="{ 'user': 'text' }">
                        {{soundscape.user}}
                    </td>
                    <td data-title="'Playlist'" class="no-wrap-table-cell hidelongtext widthtd" data-sortable="'playlist'"  filter="{ 'playlist': 'text' }">
                        {{soundscape.playlist}}
                    </td>
                    <td>
                        <button class="btn btn-default btn-xs" 
                            ng-click="showDetails(soundscape.soundscape_id) | trackEvent:'Analysis-Soundscapes-List':' show soundscapes details'">
                                Show details
                        </button>
                        <button class="btn btn-default btn-xs" 
                            ng-click="deleteSoundscape(soundscape.soundscape_id,soundscape.name) | trackEvent:'Analysis-Soundscapes list':'delete soundscape'">
                                Delete
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="jumbotron" ng-show="(!soundscapesOriginal || !soundscapesOriginal.length > 0) && !loading">
            <h3>
                {{ infopanedata }} 
                <a ng-click="createNewSoundscape() | trackEvent:'Analysis-Soundscapes':'Create new soundscape'" >
                    Create a soundscape
                </a>
            </h3>
        </div>
    </div>
</div>
