<div class="col-sm-8 span8 padded-view-div" >
    <div class="row">
      <div class="col-sm-3">
          <h3>Soundscapes <a class="btn btn-sm btn-default"  tooltip="Create New Soundscape" tooltip-placement="right"  ng-click="createNewSoundscape()" ><i class="fa fa-plus" ></i></a></h3> 
      </div>
      <div  ng-hide="!loading" class="col-sm-1 loading-top-padding" >
        <loader></loader>
      </div>
      <div  ng-show="(!soundscapesData || !soundscapesData.length > 0) && !loading" class="col-sm-8 loading-top-padding" >
         <span  class="font-blue-20"><i class="fa fa-arrow-left left-rigth-padding-4"></i> Create a soundscape</span>
      </div>
    </div>
    <table ng-table="tableParams" class="table" >
        <tr ng-repeat="soundscape in soundscapesData" >
            <td data-title="'Date'" class="no-wrap-table-cell">
                {{soundscape.date}} {{soundscape.time}}
            </td> 
            <td data-title="'Name'" class="no-wrap-table-cell">
                {{soundscape.name}}
            </td>
            <td data-title="'User'" class="no-wrap-table-cell">
                {{soundscape.user}}
            </td>
            <td data-title="'Playlist'" class="no-wrap-table-cell">
                {{soundscape.playlist}}
            </td>
<!--        
            <td>
                <button class="btn btn-default btn-xs" ng-click="showClassificationDetails(classification.job_id)">Show details</button>
            </td>
            <td>
                <button class="btn btn-default btn-xs" ng-click="deleteModel(model.model_id,model.mname)">Delete</button>
            </td>
            <td>
                <button class="btn btn-default btn-xs" ng-click="newClassification(model.model_id,model.mname)">New Classification</button>
            </td>
            
-->
        </tr>
    </table>
    {{ infopanedata }}
</div>
<div class="navbar navbar-inverse navbar-fixed-bottom bottom-fixed-alerts">
  <div class="alert alert-success alert-dismissible"  role="alert" id="successDiv" ng-show="showSuccess">
    <button type="button" class="close" ng-click="updateFlags()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    {{ successInfo }}
  </div>
  <div class="alert alert-danger alert-dismissible"  role="alert" id="errorDiv" ng-show="showError">
    <button type="button" class="close" ng-click="updateFlags()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    {{ errorInfo }}
  </div>
  <div class="alert alert-info alert-dismissible"  role="alert" id="infoDiv" ng-show="showInfo">
    <button type="button" class="close" ng-click="updateFlags()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    {{ infoInfo }}
  </div>
</div>