<div class="panel panel-dropdown">
    <div class="panel-heading panel-default text-muted text-center">
        Fields to include in Export
    </div>

    <ul class="list-group mb-2">
        <li class="list-group-item" ng-repeat="parameter_set in controller.parameter_set_list">
            <div ng-hide="(parameter_set.identifier === 'species' || parameter_set.identifier === 'grouped') && !controller.isSuper">
                {{parameter_set.title}}
            </div>
            <div class="pt-1" ng-init="parameter_set.index=$index" ng-if="parameter_set.identifier !== 'species' && parameter_set.identifier !== 'grouped'" ng-class="{'red-border': (controller.isDisabled() && parameter_set.identifier === 'validation') || (controller.isRecordingEmpty() && parameter_set.identifier === 'recording')}">
                <ui-select multiple ng-model="controller.selected[parameter_set.index]" on-select="controller.onSelected($item)" theme="bootstrap" style="width:300px;">
                    <ui-select-match placeholder="{{parameter_set.placeholder}}">
                        <span tooltip="{{$item.tooltip}}" tooltip-append-to-body="true">{{($item.group ? $item.group + ' / ' : '') + $item.caption}}</span>
                    </ui-select-match>
                    <ui-select-choices ui-disable-choice="controller.checkSelectedValue($select.selected)" class="has-badges" repeat="$item in controller.lists[parameter_set.index] | filter:$select.search" group-by="'group'">
                        <span tooltip="{{$item.tooltip}}" tooltip-append-to-body="true">{{$item.caption}}</span>
                        <span class="badge" ng-if="$item.badges">
                            <span ng-repeat="badge in $item.badges">
                                <span ng-if="$index"> / </span>
                                <i class="fa" ng-class="badge.icon"></i> {{ badge.value }}
                            </span>
                        </span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div v-if="parameter_set.identifier === 'recording'"><error-message ng-if="controller.isRecordingEmpty() && parameter_set.identifier === 'recording'" message="'Please select Recording Data parameters'"></error-message></div>
            <div v-if="parameter_set.identifier === 'validation'"><error-message ng-if="controller.isDisabled() && parameter_set.identifier === 'validation'" message="'Maximum 20 species/song types'"></error-message></div>
            <div class="pt-1" ng-init="parameter_set.index=$index" ng-if="(parameter_set.identifier === 'species' || parameter_set.identifier === 'grouped') && controller.isSuper">
                <ui-select ng-model="controller.selected[parameter_set.index]" on-select="controller.onSelected($item)" theme="bootstrap" style="width:300px;">
                    <ui-select-match placeholder="{{parameter_set.identifier === 'species'? 'Select species...' : 'Detections grouped by...'}}">
                        <span tooltip="{{$item.tooltip}}" tooltip-append-to-body="true">{{controller.selected[parameter_set.index].caption}}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="$item in controller.lists[parameter_set.index] | filter:$select.search">
                        {{$item.caption}}
                    </ui-select-choices>
                </ui-select>
            </div>
        </li>
    </ul>

    <div class="mx-4">
        <button class="btn btn-default mr-1" style="width: 49%;" ng-click="controller.resetFilters()" ng-disabled="controller.isLoading">
            <i class="fa fa-undo"></i>
            Reset
        </button>
        <button class="btn btn-primary" style="width: 49%;" type="download" ng-disabled="controller.isDisabled()" ng-click="controller.exportData() | trackEvent:'Audiodata-Recordings-Export':'export'">
            <i class="fa fa-send-o"></i>
            Export Data
        </button>
    </div>
</div>
