<div class="row">
    <div class="col-sm-12 toolbar">
        <span class="dropdown a2-filters-box" dropdown  dropdown-append-to-body="true" a2-auto-close-on-outside-click>
            <button class="btn btn-default" dropdown-toggle><i class="fa fa-filter"></i> Filters <i class="fa fa-caret-down"></i></button>
            <div class="dropdown-form dropdown-menu a2-filters-box-dropdown datepicker" role="menu">
                <recording-filter-parameters on-apply-filters="controller.applyFilters(filters)" on-create-playlist="controller.createPlaylist(filters)"
                    max-date="maxDate" min-date="minDate"
                ></recording-filter-parameters>
            </div>
        </span>


        <div class="btn-group padding-left" dropdown dropdown-append-to-body="true" a2-auto-close-on-outside-click>
            <button class="btn btn-default" dropdown-toggle><i class="fa fa-download"></i> Export <i class="fa fa-caret-down"></i></button>
            <div class="dropdown-form dropdown-menu" role="menu">
                <recording-data-export-parameters on-export="controller.exportRecordings(parameters)"
                ></recording-data-export-parameters>
            </div>
        </div>
        <div class="btn-group padding-leftx2">
            <button class="btn btn-danger"
            ng-click="controller.deleteRecordings()"
            ng-class="{ disabled: !checked || !checked.length }"
            tooltip="Delete recording(s)"
            tooltip-trigger="mouseenter">
                <i class="fa fa-trash"></i>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 reclist-pagination-row">
        <pagination total-items="totalRecs"
            ng-model="currentPage" ng-change="controller.setCurrentPage(currentPage)"
            class="pagination-sm"
            boundary-links="true"
            max-size="10"
            rotate="false"
            num-pages="totalPages"
            items-per-page="limitPerPage">
        </pagination>
    </div>
    <div class="col-sm-4 reclist-total text-center">{{ totalRecs }} Recordings</div>
    <div class="col-sm-4 reclist-pagelimit text-right">
        <div class="btn-group">
            <button class="btn btn-default btn-sm" ng-model="limitPerPage" ng-change="controller.setLimitPerPage(limitPerPage)" btn-radio="10">10</button>
            <button class="btn btn-default btn-sm" ng-model="limitPerPage" ng-change="controller.setLimitPerPage(limitPerPage)" btn-radio="25">25</button>
            <button class="btn btn-default btn-sm" ng-model="limitPerPage" ng-change="controller.setLimitPerPage(limitPerPage)" btn-radio="50">50</button>
            <button class="btn btn-default btn-sm" ng-model="limitPerPage" ng-change="controller.setLimitPerPage(limitPerPage)" btn-radio="100">100</button>
        </div>
        <button class="btn btn-default btn-sm" tooltip="Reload list" ng-click="controller.reloadList()">
            <i class="fa fa-refresh"></i>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <a2-table class="table-hide-btns" rows="recs" data-checked="checked" ext-sort="controller.sortRecs(sortBy, reverse)" default-sort="site" no-select>
            <field title="">
                <a class="btn btn-default btn-xs"
                    ng-href="#/visualizer/rec/{{row.id}}"
                    title="View in Visualizer">
                    <i class="fa fa-cubes"></i>
                </a>
            </field>
            <field title="Filename"   key="file"     >{{ row.file     }}</field>
            <field title="Site"       key="site"     >{{ row.site     }}</field>
            <field title="Time"       key="datetime" >{{ row.datetime | momentUtc: 'lll'}}
                <!-- <span class="on-row-hover">
                    <a ng-href="#/visualizer/rec/{{row.id}}">
                        <i tooltip-placement="right" tooltip="View in Visualizer" class="fa fa-cubes"></i>
                    </a>
                </span> -->
            </field>
            <field title="Recorder"   key="recorder" >{{ row.recorder }}</field>
            <field title="Microphone" key="mic"      >{{ row.mic      }}</field>
            <field title="Software"   key="version"  >{{ row.version  }}</field>
            <!-- <field title=""   key=""     >{{ row.file     }}</field> -->
        </a2-table>
        <loader ng-hide="!loading"></loader>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <pagination total-items="totalRecs"
            ng-model="currentPage" ng-change="controller.setCurrentPage(currentPage)"
            class="pagination-sm"
            boundary-links="true"
            max-size="10"
            rotate="false"
            num-pages="totalPages"
            items-per-page="limitPerPage">
        </pagination>
        
    </div>
</div>
