<div class="row">
    <div class="col-sm-12 col-lg-11 padded-view-div" >
        <h3>
            Models 
            <a class="btn btn-sm btn-default"  
                tooltip="Create New Model" 
                tooltip-placement="right"  
                ng-click="newModel() | trackEvent:'Analysis-Model list':'new model'" >
                <i class="fa fa-plus" ></i>
            </a>
        </h3>            
        <loader ng-show="loading"></loader>
        <button class="btn btn-default pull-right"
            tooltip="Refresh list"
            ng-click="loadModels()">
            <i class="fa fa-refresh"></i>
        </button>
        
        <div ng-hide="loading">
            <table ng-table="tableParams" class="table table-hide-btns"  show-filter="true" >
                <tr ng-repeat="model in modelsData" >
                    <td data-title="'Date'" data-sortable="'date'">
                        {{ model.date | moment : 'lll' }}
                    </td>
                    <td data-title="'Name'" class="hidelongtext widthtd" data-sortable="'mname'"  filter="{ 'mname': 'text' }">
                        {{model.mname}}
                    </td>
                    <td data-title="'Type'" data-sortable="'mtname'" filter="{ 'mtname': 'text' }">
                        {{model.mtname}}
                    </td>
                    <td data-title="'User'" data-sortable="'muser'" filter="{ 'muser': 'text' }" class="no-wrap-table-cell">
                        {{model.muser}}
                    </td>
                    <td>
                        <button class="btn btn-default btn-xs" 
                            ui-sref="analysis.modeldetails({ modelId: model.model_id })">
                            Show details
                        </button>
                        <button class="btn btn-default btn-xs" 
                            ng-click="deleteModel(model.model_id,model.mname) | trackEvent:'Analysis-Model list':'delete model'">
                            Delete
                        </button>
                    </td>
                    <!-- <td>
                        <button class="btn btn-default btn-xs" ng-click="newClassification(model.model_id,model.mname)">New Classification</button>
                    </td> -->
                    <!-- <td data-ng-hide="true">
                        {{ model.model_id }}
                    </td> -->
                </tr>
            </table>
        </div>
        <div class="jumbotron" ng-show="(!modelsDataOrig || !modelsDataOrig.length > 0) && !loading">
            <h3>{{ infopanedata }}  
                <a ng-click="newModel() | trackEvent:'Analysis-Model list':'new model'">
                    Create a model
                </a>
            </h3>
        </div>
    </div>
</div>
