<div class="modal-header">  
    <h3 class="modal-title">Model Details</h3>  
</div>  
<div class="modal-body row">
    <div class="col-sm-6">
        <table>
            <tr>
                <td >
                    Name: 
                </td> <td ng-bind="data.modelmname"></td>
            </tr>
            <tr>
                <td>
                    Type: 
                </td><td ng-bind="data.modelmtname"></td>
            </tr>
            <tr>
                <td >
                    Creation date: 
                </td><td> <span ng-bind="data.modelmdc"></span> at <span ng-bind="data.modelmtime"></span></td>
            </tr>
            <tr>
                <td >
                    Last updated on: 
                </td><td> <span ng-bind="data.lastupdate"></span> at <span ng-bind="data.lasttime "></span></td>
            </tr>
            <tr>
                <td>
                    Creator: 
                </td><td ng-bind="data.modelmuser"></td>
            </tr>
            <tr>
                <td>
                    Species: 
                </td><td> <span ng-bind="data.species"></span></td>
            </tr>
            <tr>
                <td>
                    Songtype: 
                </td><td> <span ng-bind="data.songtype"></span></td>
            </tr>
            <tr>
                <td data-ng-hide="true">
                    <span ng-bind="data.modelmodel_id"></span>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-sm-3">
        <table>
            <tr>
                <td >
                    Accuracy: 
                </td> <td ng-bind="data.accuracy"></td>
            </tr>
            <tr>
                <td>
                    Precision: 
                </td><td ng-bind="data.precision"></td>
            </tr>
            <tr ng-show="data.sensitivity != null">
                <td >
                    Sensitivity: 
                </td><td ng-bind="data.sensitivity"></td>
            </tr>
            <tr ng-show="data.specificity != null">
                <td >
                    Specificity: 
                </td><td ng-bind="data.specificity"></td>
            </tr>
        </table>
    </div>
</div>
<div class="model-details"></div>
<div class="modal-body row">
    <div class="col-sm-6">
    <h3 class="modal-title">Training Set</h3>
        <table>
            <tr>
                <td >
                    Name: 
                </td> <td ng-bind="data.trainingName"></td>
            </tr>
            <tr>
                <td>
                    Creation date:
                </td><td> <span ng-bind="data.trainingDate"></span> at <span ng-bind="data.trainingTime"></span></td>
            </tr>
            <tr>
                <td >
                    Pattern ROI Count: 
                </td><td ng-bind="data.roicount"></td>
            </tr>
            <!--
            <tr>
                <td>
                    Pattern Low Frequency: 
                </td><td><span ng-bind="data.lfreq"></span>hz</td>
            </tr>
            <tr>
                <td>
                    Pattern High Frequency: 
                </td><td><span ng-bind="data.hfreq"></span>Hz</td>
            </tr>
            -->
            <tr>
                <td >
                    Pattern Bandwidth: 
                </td><td><span ng-bind="data.bw" ></span>Hz</td>
            </tr>
        </table>
        Computed Pattern:
        <div class="row">
            <div class="col-sm-2 roiaxis" >
                <small>
                    <p>{{data.hfreq}}Hz-</p>
                    <div class="lowaxis">{{data.lfreq}}Hz-</div>
                </small>
            </div>
            <img class="col-sm-10 roiimage" ng-src="{{data.png}}" />
        </div>
        <div class="row">
            <small>
            <div class="col-sm-2"></div>
            <div class="col-sm-6">
                0s
            </div>
            <div class="col-sm-1">{{data.rlength}}s</div>
            </small>
        </div>
    </div>
    <div class="col-sm-6">
        <h3 class="modal-title">Validations</h3>

        <div class="row" >
             <div class="col-sm-12 inline">
                <strong>Total Validations Used:</strong> {{data.all}}
            </div>
        </div>
        <div class="row top-buffer" >
            <div class="col-sm-6 inline">
                <strong>Present:</strong> {{data.p}}
                <table>
                    <tr><td>In Fitting:</td><td ng-bind="data.tp"></td></tr>
                    <tr><td>In Verification:</td><td ng-bind="data.vp"></td></tr>
                </table>         
            </div>
            <div class="col-sm-6 inline">
                <strong>Not Present:</strong> {{data.np}}
                <table>
                    <tr><td>In Fitting:</td><td ng-bind="data.tnp"></td></tr>
                    <tr><td>In Verification:</td><td ng-bind="data.vnp"></td></tr>
                </table>        
            </div>
        </div>
        <div class="top-buffer" ng-show="data.tpos != null"><strong>Confusion Matrix:</strong></div>
        <div class="row top-buffer" ng-show="data.tpos != null">
            <div class="col-sm-1"></div>
            <div class="col-sm-1 rotatedtext">
                <span><b>Actual</b></span>
            </div>
            <div class="col-sm-10">
                <table >
                    <tr>
                        <th colspan="3">Predicted Values</th>
                    </tr>
                    <tr class="bottom-border">
                        <td></td>
                        <td><small><em>P</em></small></td>
                        <td><small><em>NP</em></small></td>
                    </tr>
                    <tr>
                        <td ><small><em>P</em></small></td>
                        <td class="side-border spaced-td" ng-bind="data.tpos"></td>
                        <td class="spaced-td" ng-bind="data.fneg" ></td>                
                    </tr>
                    <tr class="bottom-border">
                        <td ><small><em>NP</em></small></td>
                        <td class="side-border spaced-td" ng-bind="data.fpos" ></td>
                        <td class="spaced-td" ng-bind="data.tneg" ></td>                
                    </tr>
                </table>
                <small><em>P = Present, NP = Not Present</em></small>
            </div>
        </div> 
    </div>
</div>
<div class="modal-footer">  
    <button class="btn btn-primary" ng-click="ok()">Close</button>  
</div>  


