<div class="col-sm-10 span10 padded-view-div" >
   <div class="row">
      <div class="col-sm-2">
          <h3>Models <a class="btn btn-sm btn-default"  tooltip="Create New Model" tooltip-placement="right"  ng-click="newModel()" ><i class="fa fa-plus" ></i></a></h3>            
      </div>
      <div  ng-hide="!loading" class="col-sm-1 loading-top-padding" >
        <loader></loader>
      </div>
      <div  ng-show="(!modelsData || !modelsData.length > 0) && !loading" class="col-sm-8 loading-top-padding" >
         <span  class="font-blue-20"><i class="fa fa-arrow-left left-rigth-padding-4"></i> Create a model</span>
      </div>
   </div>
    <table ng-table="tableParams" class="table"  show-filter="true" >
        <tr ng-repeat="model in modelsData" >
            <td data-title="'Date'">
                {{model.mdc}}
            </td>
            <td data-title="'Name'" sortable="'mname'"  filter="{ 'mname': 'text' }">
                {{model.mname}}
            </td>
            <td data-title="'Type'" sortable="'mtname'" filter="{ 'mtname': 'text' }">
                {{model.mtname}}
            </td>
            <td data-title="'User'" sortable="'muser'" filter="{ 'muser': 'text' }" class="no-wrap-table-cell">
                {{model.muser}}
            </td>
            <td>
                <button class="btn btn-default btn-xs" ng-click="showModelDetails(model.model_id)">Show details</button>
            </td>
            <td>
                <button class="btn btn-default btn-xs" ng-click="deleteModel(model.model_id,model.mname)">Delete</button>
            </td>
            <!--
            <td>
                <button class="btn btn-default btn-xs" ng-click="newClassification(model.model_id,model.mname)">New Classification</button>
            </td>
            -->
            <td data-ng-hide="true">
                {{model.model_id}}
            </td>
        </tr>
    </table> 
    {{ infopanedata }} 
</div>
<div class="navbar navbar-inverse navbar-fixed-bottom bottom-fixed-alerts">
  <div class="alert alert-success alert-dismissible"  role="alert" id="successDiv" ng-show="showSuccess">
    <button type="button" class="close" ng-click="updateFlags()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    {{ successInfo }}
  </div>
  <div class="alert alert-danger alert-dismissible"  role="alert" id="errorDiv" ng-show="showError">
    <button type="button" class="close" ng-click="updateFlags()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    {{ errorInfo }}
  </div>
  <div class="alert alert-info alert-dismissible"  role="alert" id="infoDiv" ng-show="showInfo">
    <button type="button" class="close" ng-click="updateFlags()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    {{ infoInfo }}
  </div>
</div>
