<div class="modal-header">  
    <h3 class="modal-title">Create a new model</h3>  
</div>  
<div class="modal-body"> 
    <form name="modelForm" role="form">
      <div class="form-group">
        <label for="modelName">Model name:</label>
        <input name="modelName" ng-model="data.name" type="text" class="form-control" placeholder="Enter model name"/>
        <span ng-bind="nameMsg" class="nameExistsSpan"></span>
      </div>
      <div class="form-group">
        <label for="classifier">Classifier:</label>
        <ui-select ng-model="data.classifier" theme="selectize" ng-disabled="disabled">
        <ui-select-match placeholder="Select a classifier...">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="type in types | filter: $select.search" value="type.model_type_id">
              {{type.name}}
            </ui-select-choices>
        </ui-select>
      </div>
      <div class="form-group">
        <label for="trainingSet">Training Set:</label> 
        <span ng-hide="trainings.length" value="-1" class="red">Need to create training sets first</span>
        <ui-select ng-model="data.training" theme="selectize" ng-disabled="disabled">
        <ui-select-match placeholder="Select or search a training set in the list...">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="train in trainings | filter: $select.search" value="train.training_set_id">
              {{train.name}} <p><em><small><strong>Species:</strong> {{train.scientific_name}} <strong>Songtype:</strong> {{train.songtype}} <span class="trainingSetRoiCountSpan"> <strong >Count:</strong>  ({{train.count}})</span></small></em></p>
            </ui-select-choices>
        </ui-select>
      </div>
      <div class="form-group" ng-show="data.training.training_set_id" >
        <label for="trainingSet">Available Recording Validations:</label>
        <small>
            <i class="fa fa-question" tooltip="A validation tells if a species is present in a recording or not." tooltip-placement="right"></i> 
            <div class="row" >
                <div class="col-sm-8 inline">
                    <em><strong>Species:</strong> {{data.training.scientific_name}} ({{data.training.songtype}})</em>
                </div>
                 <div class="col-sm-4 inline">
                    <em><strong>Total Validations:</strong> {{data.totalValidations}}</em>
                </div>
            </div>
            <div class="row top-buffer" >
                <div class="col-sm-6 inline">
                    <em><strong>Present Validations:</strong> {{data.presentValidations}}</em>
                    <table>
                        <tr><td>Use in Fitting:</td><td><input size="10" type="text"  name="usePresentTraining" ng-model="data.usePresentTraining" /></td></tr>
                        <tr><td>Use in Verification:</td><td><input size="10" type="text" name="usePresentValidation" ng-model="data.usePresentValidation" disabled/></td></tr>
                    </table>         
                </div>
                <div class="col-sm-6 inline">
                    <em><strong>Not Present Validations:</strong> {{data.absentsValidations}}</em>
                    <table>
                        <!--<tr><td><strong>Usage In Validation:</strong></td></tr>-->
                        <tr><td>Use in Fitting:</td><td><input size="10" type="text" name="useNotPresentTraining" ng-model="data.useNotPresentTraining" /></td></tr>
                        <tr><td>Use in Verification:</td><td><input size="10" type="text" name="useNotPresentValidation" ng-model="data.useNotPresentValidation" disabled/></td></tr>
                    </table>        
                </div>
                <!--<div class="col-sm-4 inline"<em><strong>Total Validations:</strong> {{data.totalValidations}}</em></div>-->
            </div>
          </div>
      </small>
<!--
      <div class="form-group">
        <label for="validationSet">Validation Set:</label>
        <span ng-hide="validations.length" value="-1" class="red">Need to create validation sets first</span>  
        <ui-select ng-model="data.validation" theme="selectize" ng-disabled="disabled">
        <ui-select-match placeholder="Select or search a validation set in the list...">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="vali in validations | filter: $select.search" value="vali.validation_set_id">
              {{vali.name}}
            </ui-select-choices>
        </ui-select>
      </div>
  -->  

    </form>
</div>  
<div class="modal-footer">  
    <button class="btn btn-primary" ng-click="ok()" ng-disabled="buttonEnable()">Submit</button>  
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>  
</div>  
