<div>
    <a2-sidenav-bar name="analysis" enabled="('analysis' | includedByState)">
        <li ui-sref="analysis.models" ui-sref-active="active"><a>Models</a></li>
        <li ui-sref="analysis.classification" ui-sref-active="active"><a>Classifications</a></li>
        <li ui-sref="analysis.patternmatching" ui-sref-active="active" ng-if="userPermit.has('pattern_matching')"><a>Pattern Matching</a></li>
        <li ui-sref="analysis.disabled-patternmatching" ui-sref-active="active" class="disabled" ng-if="!userPermit.has('pattern_matching')"><a>Pattern Matching</a></li>
        <li ui-sref="analysis.cnn" ng-if="userPermit.has('cnn')" ng-class="{active: $state.includes('analysis.cnn-details') || $state.includes('analysis.cnn')}"><a>CNN</a></li>
        <!-- <li ui-sref="analysis.disabled-cnn" ui-sref-active="active" class="disabled" ng-if="!userPermit.has('cnn')"><a>CNN</a></li> -->
        <li ui-sref="analysis.soundscapes" ui-sref-active="active"><a>Soundscapes</a></li>
    </a2-sidenav-bar>
    <div class="container-fluid container-sidenav">
        <div class="row">
            <div class="col-sm-12">
                <div ui-view></div>
            </div>
        </div>
    </div>
    <a2-audio-bar />
</div>
