<img class="ic-close" src="/images/fi-close.svg" ng-click="ok()">
<div class="modal-header">
    Classification Details
</div>
<div class="modal-body" ng-show="loading">
    Loading <loader></loader>
</div>
<div class="modal-body" ng-hide="loading">
    <div class="row">
        <div class="col-sm-6">
            <table class="table">
                <tr>
                    <td><b>Name</b></td>
                    <td>{{classiData.name}}</td>
                </tr>
                <tr>
                    <td><b>Playlist</b></td>
                    <td><a ng-click="$close()" ng-href="/project/{{ project.url }}/visualizer/playlist/{{classiData.playlist.id}}">{{classiData.playlist.name}}</a></td>
                </tr>
            </table>
            <p class="text-warning" ng-hide="model">Model not found</p>
            <div ng-show="model">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Model used</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <img class="" ng-src="{{model.pattern.thumbnail}}" style="width:120px; height:120px;">
                    </div>
                    <div class="col-sm-8">
                        <table class="table">
                            <tr>
                                <td><b>Name</b></td>
                                <td class="hidelongtext" style="white-space:nowrap"><a title="{{model.name}}" ng-click="$close()" ng-href="/project/{{ project.url }}/analysis/random-forest-models/model/{{model.id}}">{{model.name}}</a></td>
                            </tr>
                            <tr>
                                <td><b>Species</b></td>
                                <td> {{model.species}} </td>
                            </tr>
                            <tr>
                                <td><b>Sound</b></td>
                                <td> {{model.songtype}} </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <h4>
                        Results
                        <a class="btn btn-default"
                            ng-if="showDownload"
                            target="_blank"
                            ng-href="{{csvUrl}}">
                            <i class="fa fa-download "
                                tooltip="Download CSV"
                                tooltip-placement="bottom">
                            </i>
                        </a>
                    </h4>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="row-flex flex-space-center">
                        <c3-chart data-columns="results" width="300" height="300" type="donut"></c3-chart>
                    </div>
                    <table class="table">
                        <tr>
                            <td><b>Absent</b></td>
                            <td>{{ classiData.total-classiData.present }}</td>
                        </tr>
                        <tr>
                            <td><b>Present</b></td>
                            <td> {{classiData.present}} </td>
                        </tr>
                        <tr>
                            <td><b>Total</b></td>
                            <td> {{classiData.total}} </td>
                        </tr>
                        <tr ng-show="classiData.errCount">
                            <td><b>Skipped</b></td>
                            <td> {{classiData.errCount}} </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="text-center">
        <button type="button" name="button" class="btn btn-success btn-rounded-full"
            ng-click="toggleRecDetails()">
                <i class="fa" ng-class="showMore ? 'fa-caret-up' : 'fa-caret-down'"></i>
                {{ showMore ? 'Hide' : 'Show' }} details per recording
        </button>
    </div>
    <div ng-show="showMore">
        <hr>
        <ul class="ulnodeco">
            <li ng-repeat="rec in recs" class="linodeco">
                <div class="cleardiv"></div>
                Recording: {{rec.recname}}
                <span class="horizontal-blank-space">
                    Model Presence:
                    <span ng-show="rec.present">Yes</span>
                    <span ng-hide="rec.present">No</span>
                </span>
                <span class="horizontal-blank-space" ng-show="th">
                    Threshold Presence:
                    {{htresDeci}}
                </span>
                <div class="axisWrapper">
                    <div class="yaxisWrapper">
                        <div class="yAxishighvalue">{{maxvRounded}}</div>
                        <div class="lowaxis2">0.0</div>
                    </div>
                    <div class="vectorWrapper"><a2-vectorchart  vector-data="recVect" minvect="minv" maxvect="maxv" ></a2-vectorchart></div>
                </div>
                <div class="cleardiv"></div>

                <div class="axisWrapper">
                    <div class="yaxisWrapper vertical-text2">
                        Hertz
                    </div>
                    <div class="vectorWrapper"><img class="sm-result-thumb" ng-src="{{ rec.rec_image_url }}"/></div>
                    <small>Seconds</small>
                </div>
                <div class="bordeder-empy-div"></div>
            </li>
        </ul>
        <ul class="pager">
            <li><a ng-click="gotoc('first')">First</a></li>
            <li><a ng-click="prev()">Previous</a></li>
            <li><a>{{currentPage+1}} of {{totalRecs}}</a></li>
            <li><a ng-click="next()">Next</a></li>
            <li><a ng-click="gotoc('last')">Last</a></li>
        </ul>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="ok()" ng-disabled="buttonEnable()">Cancel</button>
</div>
