<div class="modal-header">
    <h3 class="modal-title">Create a new classification</h3>
</div>
<div class="modal-body">
    <form role="form">
        <div class="form-group">
            <label for="modelName">Name</label>
            <input  class="form-control" ng-model="datas.name" placeholder="Enter classification name" type="text"/>
            <span class="nameExistsSpan" ng-bind="nameMsg"></span>
        </div>
        <div class="form-group">
            <label for="classifier">Model</label>
            <div class="mb-3 flex flex-row flex-align-middle" ng-if="data && !data.length">
                <em class="pr-2">No models found.</em>
                Go to
                <button class="btn btn-sm btn-success btn-rounded-full" ng-click="cancel('/analysis/random-forest-models/models')">
                    Create model
                </button>
                and create a model.
            </div>
            <ui-select ng-if="data && data.length" ng-disabled="disabled" ng-model="datas.classifier" theme="bootstrap">
                <ui-select-match placeholder="Select or search a model...">{{$select.selected.mname}}</ui-select-match>
                <ui-select-choices repeat="m in data | filter: $select.search" ui-disable-choice="isOldModel(m)">
                    <div
                        ng-show="isOldModel(m)"
                        tooltip="Models created before November 10, 2024, are unavailable. Please retrain your model to restore results."
                        tooltip-placement="bottom"
                    >
                        {{m.mname}} <span ng-if="!m.enabled || isOldModel(m)" class="pull-right text-danger"><i>unavailable</i></span>
                    </div>
                    <div ng-show="!isOldModel(m)">
                        {{m.mname}} <span ng-if="!m.enabled" class="pull-right text-danger"><i>unavailable</i></span>
                    </div>
                </ui-select-choices>
            </ui-select>
            <div class="text-danger" ng-show="datas.classifier && !datas.classifier.enabled">
                Currently models created of type "{{ datas.classifier.mtname }}" are unavailable, <br>
                for more info <a href="/support">contact us</a>
            </div>
        </div>
        <div class="form-group">
            <label for="classifier">Playlist</label>
            <span ng-if="playlists && playlists.length">(maximum {{ 10000 | number }} recordings)</span>
            <div class="mb-3 flex flex-row flex-align-middle" ng-if="playlists && !playlists.length">
                <em class="pr-2">No playlists found.</em>
                Go to
                <button class="btn btn-sm btn-success btn-rounded-full" ng-click="cancel('/audiodata/recordings')">
                    Recordings
                </button>
                and create a playlist.
            </div>
            <div ng-class="{'input-red-border': showPlaylistLimitWarning()}">
                <ui-select ng-disabled="disabled" ng-if="playlists && playlists.length" ng-model="datas.playlist" theme="bootstrap">
                    <ui-select-match placeholder="Select or search a playlist...">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="playlist in playlists | filter: $select.search">
                        {{playlist.name}}
                        <span class="pull-right">
                            <small>
                                <em>
                                    <strong >Count:</strong>({{playlist.count}})
                                </em>
                            </small>
                        </span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <error-message ng-if="showPlaylistLimitWarning()" message="'Please select a playlist with less than 10,000 recordings.'"></error-message>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-rounded-full" ng-click="ok()" ng-disabled="buttonEnable() || showPlaylistLimitWarning()">
        Create <i class="fa fa-cogs"></i>
    </button>
    <button class="btn btn-success btn-rounded-full" ng-click="cancel()">
        Close <i class="fa fa-times"></i>
    </button>
</div>
