<img class="ic-close" src="/images/fi-close.svg" ng-click="cancel()">
<div class="modal-icon">
    <div>
        <img src="/images/fi-delete.svg">
    </div>
</div>
<div class="modal-header">
    <h3 class="modal-title">Delete classification</h3>
</div>
<div class="modal-body">
    <span ng-hide="deletingloader">You are about to delete classification <b>{{name}}</b>.</span>
    <p>Are you sure?</p>
    <div class="centeredloder"><loader ng-show="deletingloader"></loader></div>
</div>  
<div class="modal-footer">
    <div class="row-flex flex-direction-row flex-space-between">
        <button class="btn btn-success" ng-click="cancel()">Cancel</button>
        <button class="btn btn-red" ng-click="ok()">Delete</button>
    </div>
</div>  
