<div class="row">
    <div class="mx-4 padded-view-div">
        <loader ng-show="loading"></loader>
        <button class="btn btn-default pull-right  btn-sm"
            tooltip="Refresh list"
            ng-click="loadClassifications()">
                <i class="fa fa-refresh"></i> Refresh List
        </button>

        <div ng-hide="loading">
            <a2-table rows="classificationsData" no-checkbox="true">
                <field title="Name" tdclass="hidelongtext widthtd" key="cname" filter>
                    {{row.cname}}
                </field>
                <field title="Date" key="date" tdclass="is-v-middle">
                    {{ row.date | moment : 'lll' }}
                </field>
                <field title="Model" key="modname" filter tdclass="no-wrap-table-cell">
                    {{row.modname}}
                </field>
                <field title="Playlist" key="playlist_name" filter tdclass="no-wrap-table-cell">
                    {{row.playlist_name}}
                </field>
                <field title="User" key="muser" filter tdclass="no-wrap-table-cell">
                    {{ row.muser }}
                </field>
                <field>
                    <button class="btn btn-default btn-xs"
                        ng-click="showClassificationDetails(row) | trackEvent:'Analysis-Classification-List':' show classification details'">
                            Show details
                    </button>
                    <button class="btn btn-default btn-xs"
                        ng-click="deleteClassification(row.job_id,row.cname) | trackEvent:'Analysis-Classification list':'delete classification'">
                            Delete
                    </button>
                </field>
            </a2-table>
        </div>
        <div class="jumbotron" ng-show="(!classificationsOriginal || !classificationsOriginal.length > 0) && !loading">
            <h3>
                {{ infopanedata }}
                <a ng-click="createNewClassification() | trackEvent:'Analysis-Classification-List':'Create new classification'">
                    Classify recordings
                </a>
            </h3>
        </div>
    </div>
</div>
