<div class="row">
    <div class="mx-4 padded-view-div">
        <loader ng-show="loading"></loader>
        <button class="btn btn-success pull-right btn-rounded-full"
            tooltip="Refresh list"
            ng-click="loadClassifications()">
                Refresh List
                <i class="fa fa-refresh ml-3"></i>
        </button>

        <div ng-hide="loading">
            <a2-table rows="classificationsData" no-checkbox="true">
                <field title="Name" tdclass="hidelongtext widthtd is-v-middle" key="cname" filter>
                    <span>{{row.cname}}</span>
                </field>
                <field title="Date" key="date" tdclass="is-v-middle">
                    {{ row.date | moment : 'lll' }}
                </field>
                <field title="Model" key="modname" filter tdclass="no-wrap-table-cell is-v-middle hidelongtext">
                    <span>{{row.modname}}</span>
                </field>
                <field title="Playlist" key="playlist_name" filter tdclass="is-v-middle hidelongtext widthtd">
                    <span>{{row.playlist_name}}</span>
                </field>
                <field title="User" key="muser" filter tdclass="no-wrap-table-cell is-v-middle">
                    {{ row.muser }}
                </field>
                <field>
                    <button class="btn btn-default"
                        ng-click="showClassificationDetails(row)">
                            Show details
                    </button>
                    <button class="btn btn-danger"
                        ng-click="deleteClassification(row.job_id,row.cname)"
                        tooltip="Delete"
                        tooltip-trigger="mouseenter">
                        <i class="fa fa-trash"></i>
                    </button>
                </field>
            </a2-table>
        </div>
        <div ng-show="!loading && classificationsOriginal && !classificationsOriginal.length" class="help-wrapper col-sm-12 row-flex flex-direction-column flex-space-center flex-align-middle clear-button" style="text-align: center;">
            <div>
                <a class="btn btn-sm btn-primary btn-rounded-full"
                    tooltip="Create New Classification Job"
                    tooltip-placement="top"
                    ng-click="createNewClassification()">
                    New Classification Job <img class="ml-1" src="/images/fi-plus.svg">
                </a>
            </div>
            <p class="mt-3 mb-0">Learn more:</p>
            <p class="mb-0"><a href="https://help.arbimon.org/article/236-creating-an-rfm-classification-job" target="_blank">How to create a Classification Job?<i class="ml-2 fa fa-external-link"></i></a></p>
        </div>
    </div>
</div>
