<div class="modal-header">
    <h3 class="modal-title">Delete Clustering job</h3>
</div>
<div class="modal-body">
    <div ng-hide="deletingloader">Are you sure you would like to remove the Clustering job: <br/><b>"{{controller.clusteringJob.name}}"</b></div>
    <div class="centeredloder"><loader ng-show="deletingloader"></loader></div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="ok()">Delete</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
