<div>
    <div ng-if="loading">
        Loading... <loader></loader>
    </div>
    <div class="jumbotron seconds-div-center" ng-if="infopanedata">
        <h3>{{ infopanedata }}</h3>
    </div>
    <div ng-if="job_details && showDetailsPage()" class="panel-body a2-page-header clearfix">
        <div class="row row-flex flex-align-top">
            <div class="col-sm-6 flex-self-align-top">
                <div class="row row-flex flex-align-top">
                    Job Name: {{ job_details.name }}
                    <br>User: {{ job_details.user }}
                    <br>Date: {{ job_details.timestamp | moment : 'lll' }}
                    <br>Number of audio event detected: {{ countAudioEventDetected || 'no data' }}
                    <br>Number of clusters detected: {{ countClustersDetected || 'no data' }}
                </div>
            </div>
            <div class="col-sm-6 flex-self-align-bottom panel-body">
                <div class="pull-right">
                    <div class="input-group btn-group-margin">
                        <button class="btn btn-default btn-sm col-sm-2" style="border-top-right-radius: 0; border-bottom-right-radius: 0;" type="button" ng-click="decrementClusters()">
                            <i class="fa fa-minus"></i>
                        </button>
                        <div style="padding:0;" class="col-sm-4 hide-input-arrow">
                            <input type="number" class="form-control col-sm-3" style="text-align:center;" ng-model="selectedClusters" min="1" max="layout.shapes.length">
                        </div>
                        <button class="btn btn-default btn-sm col-sm-2" style="border-top-left-radius: 0; border-bottom-left-radius: 0;" type="button" ng-click="incrementClusters()">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="pull-right">
                    <div class="btn-group btn-group-margin">
                        <button class="btn btn-sm btn-default" ng-class="audio_player.freq_filter ? 'active' : ''" ng-click="openFreqFilterModal()" ng-disabled="!clusters[0].records[0]">
                            <i class="fa fa-filter" ></i>
                            <span class="fa fa-ellipsis-h fa-concat-sub"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="plotly" style="position: relative;">
        <div ng-if="toggleMenu" class="popup-chart panel panel-default">
            <ul class="list-group">
                <li class="list-group-item"><a ng-click="showClustersInVisualizer()">Context View</a></li>
                <li class="list-group-item"><a ng-click="onGridViewSelected()">Grid View</a></li>
            </ul>
        </div>
    </div>
</div>
