<div>
    <div ng-if="job_details" class="panel-body a2-page-header clearfix">
        <div class="row row-flex flex-align-top">
            <div class="col-sm-6 flex-self-align-top pl-0">
                Job Name: {{ job_details.name }}
                <br>User: {{ job_details.user }}
                <br>Date: {{ job_details.timestamp | moment : 'lll' }}
                <br>Number of audio event clustered: {{ aedsDetected() }}
                <br>Number of clusters detected: {{ clustersDetected() }}
            </div>
            <div class="col-sm-6 row-flex flex-space-end panel-body pr-0 pb-0">
                <div class="flex-self-align-bottom btn-group-margin">
                    <div class="btn-group">
                        <button class="btn btn-default" ng-class="audio_player.freq_filter ? 'active' : ''" ng-click="openFreqFilterModal()" ng-disabled="!frequencyFilter && !frequencyFilter.min && !frequencyFilter.max"
                            title="Cluster audio frequency filter">
                            <i class="fa fa-filter" ></i>
                            <span class="fa fa-ellipsis-h fa-concat-sub"></span>
                        </button>
                    </div>
                    <button class="btn btn-default" ng-click="onGridViewSelected()">
                        View All Clusters
                    </button>
                </div>
                <div class="input-group btn-group-margin row-flex flex-self-align-bottom" title="Select one cluster">
                    <button class="btn btn-default btn-sm" style="border-top-right-radius: 0; border-bottom-right-radius: 0;" type="button" ng-click="decrementClusters()">
                        <i class="fa fa-minus"></i>
                    </button>
                    <div style="padding:0;">
                        <input type="number" class="form-control hide-input-arrow" style="text-align:center; width: 80px" ng-change="selectCluster()" ng-model="selectedCluster" min="1" max="layout.shapes.length">
                    </div>
                    <button class="btn btn-default btn-sm" style="border-top-left-radius: 0; border-bottom-left-radius: 0;" type="button" ng-click="incrementClusters()">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron seconds-div-center" ng-if="infopanedata">
        <h3>{{ infopanedata }}</h3>
    </div>
    <div ng-if="loading" class="ml-2">Loading...<loader></loader></div>
    <h4 class="seconds-div-center" ng-if="isEmpty()">No clusters found.</h4>
    <div style="position: relative;" ng-class="{'navbar-menu-hide': !infopanedata.length, 'collapse-menu-hide': infopanedata.length}">
        <div id="plotly"></div>
        <div ng-if="toggleMenu" class="popup-chart panel panel-default">
            <ul class="list-group">
                <li class="list-group-item"><a ng-click="showClustersInVisualizer()">Context View</a></li>
                <li class="list-group-item"><a ng-click="onGridViewSelected()">Grid View</a></li>
            </ul>
        </div>
    </div>
</div>
