<div class="export-form">
    <div class="row-flex justify-between">
        <h3>Export report</h3>
        <i class="fa fa-close" style="font-size: 20px; padding:6px; margin-top: 20px;"  ng-click="$dismiss()" ng-disabled="isExportingRecs"></i>
    </div>
    
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="name">Enter your email to get the report delivered to your inbox.</label><span class="text-danger small pull-right">{{errMess}}</span>
                <span>Email</span>
                <input type="text"
                    name="name"
                    id="name"
                    class="form-control"
                    ng-model="userEmail"
                    ng-change="changedUserEmail()"
                    ng-disabled="isExporting">
            </div>
        </form>
    </div>
    <div class="row-flex justify-between">
        <button class="btn btn-success btn-rounded-full" ng-click="$dismiss() | trackEvent:'Export-Clustering-rois':'dismiss clicked'" ng-disabled="isExporting">
            Cancel
        </button>
        <div>
            <i class="fa fa-spinner fa-spin" ng-if="isExporting" style="font-size: 26px; vertical-align: middle; margin-right: 5px;"></i>
            <button class="btn btn-primary btn-rounded-full" ng-click="accessExportReport(userEmail) | trackEvent:'Export-Clustering-rois':'close clicked'" ng-disabled="isExporting" style="margin-right: 5px;">
                Export
            </button>
        </div>
    </div>
</div>
