<div class="modal-header">
    Filter Audio Frequency
</div>
<div class="modal-body mt-4">
    <a2-visualizer-frequency-filter-range-control class="ml-5" ng-if="filterData.src"
        img-src="filterData.src" filter-min="frequency.min" filter-max="frequency.max" max-freq="filterData.max_freq"
    ></a2-visualizer-frequency-filter-range-control>
    <button class="btn btn-default " style="position:absolute;top: -15px;right:90px"
        ng-click="$dismiss()">
        <i class="fa fa-times-circle-o"></i>
    </button>
</div>
<div class="modal-footer">
    <div class="row-flex flex-direction-row flex-space-between">
        <button class="btn btn-success" ng-click="remove_filter()" ng-if="has_previous_filter" tooltip="Remove Frequency Filter">Cancel</button>
        <button class="btn btn-primary" ng-click="apply_filter()">Apply Filter</button>
    </div>
</div>
