<div class="modal-header">
    <h3 class="modal-title">Filter Audio Frequency</h3>
</div>
<div class="modal-body">
    <a2-visualizer-frequency-filter-range-control ng-if="filterData.src"
        img-src="filterData.src" filter-min="frequency.min" filter-max="frequency.max" max-freq="filterData.max_freq"
    ></a2-visualizer-frequency-filter-range-control>
    <button class="btn btn-success btn-rounded-full" style="position:absolute;top:0;right:0"
        ng-click="$dismiss()">
        <i class="fa fa-times-circle-o"></i>
    </button>
</div>
<div class="modal-footer" style="padding: 15px 8px;">
    <button class="btn btn-primary btn-rounded-full" ng-click="apply_filter()">
        Apply Filter <i class="fa fa-filter"></i>
    </button>
    <button class="btn btn-success btn-rounded-full" ng-click="remove_filter()" ng-if="has_previous_filter" tooltip="Remove Frequency Filter">
        Cancel <i class="fa fa-close"></i>
    </button>
</div>
