<div class="row">
    <div class="col-sm-12 padded-view-div">
        <div ng-if="loading">
            Loading... <loader></loader>
        </div>
        <div class="jumbotron seconds-div-center" ng-if="infopanedata">
            <h3>{{ infopanedata }}</h3>
        </div>
        <div
          a2-scroll="onScroll($event, $controller)"
          a2-scroll-on="window"
        >
            <a2-scroll-anchor name="header" class="a2-page-header-placeholder" ng-class="{ 'is-active': scrolledPastHeader }" />
            <div ng-if="!infopanedata && !loading" class="a2-page-header clearfix" ng-class="{ 'is-fixed': scrolledPastHeader }">
                <div class="row-flex flex-align-top clusters-filter" ng-class="{ 'panel-body': scrolledPastHeader }">
                    <div class="col-sm-4 flex-self-align-top pl-0">
                        Job Name: {{ job_details.name }}
                        <br>User: {{ job_details.user }}
                        <br>Date: {{ job_details.timestamp | moment : 'lll' }}
                        <br>Number of audio events clustered: {{ aedData.id.length || 'no data' }}
                        <br>Number of clusters detected: {{ aedData.count || 'no data' }}
                        <br>Min. Points: {{ job_details.parameters['Min. Points'] || 'no data' }}, Distance Threshold: {{ job_details.parameters['Distance Threshold'] || 'no data' }}, Max. Cluster Size: {{ job_details.parameters['Max. Cluster Size'] || 'no data' }}
                    </div>
                    <div class="col-sm-8 row-flex flex-space-end panel-body pb-0 pr-0 clusters-filter-right">
                        <div class="row-flex flex-space-between flex-self-align-bottom flex-direction-column">
                            <div class="row-flex flex-direction-row">
                                <div class="btn-group btn-group-margin input-group row-flex flex-direction-row">
                                    <span class="btn btn-default control-border not-active" title="Please select species and song type to validate ROIs" style="width: 90px;">Select:</span>
                                    <input class="form-control" style="width: 150px;"
                                        type="text"
                                        placeholder="Type Species"
                                        ng-model="selected.species"
                                        ng-disabled="!selectedRois.length || !isValidationAccessible"
                                        typeahead="species as species.scientific_name for species in searchSpecies($viewValue)"
                                        typeahead-editable="false"
                                        typeahead-min-length="3"
                                        typeahead-wait-ms="500"
                                        typeahead-no-results="noResults"
                                        typeahead-loading="speciesLoading"
                                    >
                                    <span class="input-group-btn">
                                        <button class="btn btn-default control-border" title="Please select species and song type to validate ROIs">
                                            <i ng-show="speciesLoading" class="fa fa-spinner fa-spin"></i>
                                            <i ng-show="!speciesLoading" class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                                <div class="btn-group btn-group-margin">
                                    <ui-select ng-disabled="!selected.species" ng-model="selected.songtype" style="width: 150px;" theme="bootstrap">
                                        <ui-select-match placeholder="Songtype" style="width: 150px;">
                                            {{selected.songtype.name}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="$item in songtypes | filter:$select.selected.species">
                                            {{$item.name}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="btn-group btn-group-margin">
                                    <button class="btn btn-default control-border not-active" >Validate as:</button>
                                    <ui-select ng-model="validation.status" class="btn-group-item border-left-radius control-border" theme="bootstrap">
                                        <ui-select-match  class="right-corners">
                                            <i ng-class="$select.selected.class"></i> {{$select.selected.text}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="$item in lists.validation | filter:$select.search">
                                            <i ng-class="$item.class"></i> {{$item.text}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="btn-group btn-group-margin">
                                    <button class="btn btn-primary" ng-click="setValidation()" ng-disabled="!selectedRois.length">Submit</button>
                                </div>
                            </div>
                            <div>
                                <div class="btn-group btn-group-margin row-flex flex-direction-row">
                                    <div class="btn-group row-flex flex-self-align-bottom mr-2" style="position: relative;">
                                        <button class="btn btn-default control-border" type="button" tooltip="Save to playlist" ng-click="togglePopup()">
                                            <i class="fa fa-music"></i>
                                        </button>
                                        <div class="popover right create-template" style="display: block;" ng-if="isPopupOpened">
                                            <div class="arrow"></div>
                                            <h3 class="popover-title">
                                                Create Playlist
                                            </h3>
                                            <div class="popover-content">
                                                <div class="mb-2">
                                                    <label for="name">Name</label>
                                                    <input to="name" type="text" class="form-control" ng-model="playlistData.playlistName" placeholder="Playlist name"/>
                                                </div>
                                                <button id="submit-btn" class="btn btn-sm btn-default"
                                                    ng-click="savePlaylist()" ng-disabled="!!isSavingPlaylist || !isPlaylistDataValid()">
                                                    <i class="fa text-success" ng-class="{'fa-plus' : !isSavingPlaylist , 'fa-spinner fa-spin': isSavingPlaylist }"></i>
                                                    Create Playlist
                                                </button>
                                                <button class="btn btn-sm btn-default"
                                                    ng-click="closePopup()">
                                                    <i class="fa fa-ban text-danger"></i>
                                                    Cancel
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btn-group row-flex flex-self-align-bottom mr-2">
                                        <button class="btn btn-default" type="button" tooltip="Switch to square images" ng-click="toggleBoxSize()">
                                            <i class="fa fa-th"></i>
                                        </button>
                                    </div>
                                    <div class="btn-group row-flex flex-self-align-bottom">
                                        <button class="btn btn-default not-active" ><i class="fa fa-search"></i></button>
                                        <ui-select ng-model="selectedFilterData" theme="bootstrap" class="btn-group-item border-left-radius" on-select="onSearchChanged($select.selected)">
                                            <ui-select-match class="right-corners">
                                                <i ng-class="$select.selected.class"></i>{{$select.selected.text}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="$item in lists.search | filter:$select.search">
                                                <i ng-class="$item.class"></i> {{$item.text}}
                                                <div class="item-description">{{$item.description}}</div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="export-url btn-group-margin row-flex flex-self-align-bottom">
                                        <button class="btn btn-default"
                                        ng-click="exportReport($event) | trackEvent:'Grid View':'export'"
                                        tooltip="Export Clustering ROIs Data">
                                            <i class="fa fa-download"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="!loading && isRoisLoading" class="row ng-cloak text-center" style="padding: 50px 0;" >
                <i class="fa fa-spinner fa-spin" style="font-size: 32px;"></i>
            </div>
            <div ng-if="!loading && !infopanedata && rows && rows.length" class="row panel-body">
                <span ng-repeat="row in rows">
                    <!-- Site name -->
                    <div ng-if="row.site && row.species && row.species.length" class="h3" id="site-{{row.id}}"><i class="fa fa-map-marker mr-1"></i>{{row.site}}</div>
                    <!-- Species name -->
                    <div ng-if="row.speciesName && row.speciesName && row.species.length" class="h3" id="site-{{row.id}}">{{row.speciesName}}</div>
                    <!-- Cluster name -->
                    <div ng-if="row.cluster && row.species && row.species.length" class="h3" id="cluster-{{row.cluster}}">Cluster {{row.cluster}}</div>
                    <div ng-repeat="cluster in row.species">
                        <!-- Species name -->
                        <div ng-if="row.cluster || row.site" class="h5 em row-flex flex-self-align-bottom">
                            <span>{{cluster.key}}</span>
                            <input id="inputCluster_{{row.id}}_{{cluster.key}}" type="checkbox" class="ml-3 flex-self-align-bottom" ng-model="cluster.selected" ng-click="selectCluster(cluster);"></label>
                        </div>
                        <!-- ROIs -->
                        <span ng-repeat="roi in cluster.rois"
                            class="btn btn-default roi-thumbnail {{roi.selected ? 'active' : ''}}"
                            ng-click="roi.selected = !roi.selected; toggleDetection($event)"
                            popover-html="'Frequency Max (Hz): {{(roi.frequency_max) || '(Missing)'}} <br>
                                            Frequency Min (Hz): {{(roi.frequency_min) || 0}} <br>
                                            Duration (s): {{(roi.time_max - roi.time_min).toFixed(2)}} <br>
                                            Date Created: {{ roi.date_created ? (roi.date_created | moment : 'lll') : 'Available in Sort per Date filter'}} <br>
                                            Species, songtype: {{ cluster.key ? cluster.key : roi.scientific_name? roi.scientific_name + ' - ' + roi.songtype : 'no data' }} <br>
                                            Cluster: {{ roi.cluster }} '"
                            popover-trigger="mouseenter"
                            popover-append-to-body="true"
                        >
                            <input class="roi-btn-tl" type="checkbox" ng-model="roi.selected" ng-checked="selectedRois.includes(roi.aed_id)"
                                ng-click="$event.stopPropagation(); toggleDetection($event)">
                            <div class="roi-btn-tr navbar-title" ng-if="roi.validated !== -1">
                                <i class="fa val-{{roi.validated}}"></i>
                            </div>
                            <a class="roi-btn-bl" ng-href="{{getRoiVisualizerUrl(roi)}}" ng-click="$event.stopPropagation();">
                                <i tooltip-placement="left"
                                    tooltip-append-to-body="true"
                                    tooltip="View in Visualizer"
                                    class="fa fa-cubes">
                                </i>
                            </a>
                            <a class="roi-btn-br" ng-click="playRoiAudio(roi.recording_id, roi.aed_id, $event)">
                                <i tooltip-placement="left"
                                    tooltip-append-to-body="true"
                                    tooltip="Play Audio"
                                    class="fa fa-play">
                                </i>
                            </a>
                            <img ng-src="/api/project/{{projectUrl}}/clustering-jobs/asset?path={{roi.uri}}" class="roi-img" ng-class="{ 'full-size': !isSquareSize }"/>
                        </span>
                    </div>
                </span>
            </div>
            <div ng-if="showPagination()" class="row">
                <div class="col-sm-12 text-center">
                    <pagination total-items="paginationSettings.totalItems"
                        ng-model="paginationSettings.page"
                        ng-change="setCurrentPage()"
                        class="pagination-sm"
                        boundary-links="true"
                        max-size="10"
                        rotate="false"
                        num-pages="paginationSettings.totalPages"
                        ng-disabled="loading.rows"
                        items-per-page="paginationSettings.limit">
                    </pagination>
                </div>
            </div>
        </div>
    </div>
</div>
