<div class="row">
    <div class="col-sm-12 padded-view-div" ng-if="!selectedClusteringJobId">
        <div class="row-flex flex-direction-row flex-space-between">
            <h1 class="mt-0 clear-button" style="margin-bottom: 24px;">
                Clustering Jobs
                <span class="beta-badge">BETA</span>
                <div
                    class="row-flex-inline flex-align-middle ml-3"
                    style="vertical-align: middle;"
                >
                    <a class="btn btn-primary btn-rounded-full"
                        tooltip="Create New Clustering job"
                        tooltip-placement="right"
                        ng-click="createNewClusteringJob()">
                        New Clustering Job
                        <span class="ml-3" style="width: 16px">
                            <img src="/images/fi-plus.svg">
                        </span>
                    </a>
                </div>
            </h1>
            <button ng-if="showRefreshBtn"
                class="btn btn-success btn-rounded-full pull-right btn-sm mt-4 mb-5"
                tooltip="Refresh list"
                ng-click="loadClusteringJobs()">
                    Refresh List <i class="fa fa-refresh ml-2"></i>
            </button>
        </div>
        <loader ng-if="loading"></loader>
        <div ng-show="!loading && clusteringJobsData && !clusteringJobsData.length" class="help-wrapper col-sm-12 row-flex flex-direction-column flex-space-center flex-align-middle" style="text-align: center;">
            <div>
                <a class="btn btn-sm btn-success btn-rounded-full"
                    tooltip="Create New Clustering job"
                    tooltip-placement="top"
                    ng-click="createNewClusteringJob()">
                    New Clustering Job
                    <span class="ml-2" style="width: 16px">
                        <img src="/images/fi-plus-primary.svg">
                    </span>
                </a>
            </div>
            <p class="mt-3 mb-0">Learn more:</p>
            <p class="mb-0"><a href="https://help.arbimon.org/article/222-what-is-audio-event-detection-clustering" target="_blank">1. What is a Clustering Analysis?<i class="ml-2 fa fa-external-link"></i></a></p>
            <p class="mb-0"><a href="https://help.arbimon.org/article/224-creating-a-clustering-job" target="_blank">2. How to create the Clustering Analysis?<i class="ml-2 fa fa-external-link"></i></a></p>
        </div>
        <div class="py-3">
            <span ng-if="!loading && clusteringJobsData.length > 0" class="text-left reclist-total">
                {{ clusteringJobsData ? clusteringJobsData.length : 0 }} {{clusteringJobsData.length > 1 ? "jobs" : "job"}}
            </span>
        </div>
        <div ng-if="!loading && clusteringJobsData && clusteringJobsData.length">
            <a2-table rows="clusteringJobsData" no-checkbox="true" on-select="selectItem(row)">
                <field title="Name" key="name" tdclass="hidelongtext widthtd is-v-middle">
                    <span title="{{ row.name }}">{{ row.name }}</span>
                </field>
                <field title="Timestamp" key="timestamp" tdclass="is-v-middle">
                    {{ row.timestamp | moment : 'lll' }}
                </field>
                <field title="Audio Event Detection Job" key="aed_job" filter tdclass="no-wrap-table-cell is-v-middle">
                    <div class="hidelongtext" style="width: 250px;">{{row.name_aed}}</div>
                </field>
                <field title="Parameters" key="parameters" tdclass="is-v-middle widthtd">
                    <div class="hidelongtext text-wrap">{{row.parameters | asCSV }}</div>
                </field>
                <field title="User" key="user" filter tdclass="is-v-middle">
                    {{ row.user }}
                </field>
                <field tdclass="is-v-middle">
                    <div class="pl-3 pt-2 pb-2 pr-3"
                        ng-click="deleteClusteringJob(row, $event)"
                        tooltip="Delete job"
                        tooltip-trigger="mouseenter"
                        style="cursor: pointer;">
                        <i class="fa fa-trash"></i>
                    </div>
                </field>
            </a2-table>
        </div>
    </div>
    <div class="col-sm-12 padded-view-div" ng-if="selectedClusteringJobId && !showViewGridPage">
        <a2-clustering-details clustering-job-id="selectedClusteringJobId" on-go-back="selectItem()" />
    </div>
    <div class="col-sm-12 padded-view-div" ng-if="selectedClusteringJobId && showViewGridPage">
        <a2-grid-view clustering-job-id="selectedClusteringJobId" grid-context="gridContext" on-go-back="selectItem()"/>
    </div>
</div>
