<div>
    <div ng-if="controller.loading.details">
        Loading <loader></loader>
    </div>
    <div ng-if="!controller.loading.details && controller.patternMatching"
        a2-scroll="controller.onScroll($event, $controller)"
        a2-scroll-on="window"
    >
    <a2-scroll-anchor name="header" class="a2-page-header-placeholder" ng-class="{ 'is-active': controller.scrolledPastHeader }" />
        <div class="panel-body a2-page-header" ng-class="{ 'is-fixed': controller.scrolledPastHeader, 'scroll-past-header': controller.scrolledPastHeader }">
            <div class="row row-flex flex-align-middle">
                <div class="col-sm-2 flex-self-align-top">
                    <button class="btn btn-default"
                        ng-click="onGoBack({})">
                        &lt;  Go Back
                    </button>
                </div>
                <div class="col-sm-2" style="padding-bottom:5px">
                    <div class="roi-thumbnail" >
                        <img ng-src="{{controller.patternMatching.template.uri}}" class="roi-img"/>
                        <a class="roi-btn-br" ng-click="controller.playTemplateAudio()">
                            <i tooltip-placement="left"
                                tooltip-append-to-body="true"
                                tooltip="Play Audio"
                                class="fa fa-play">
                            </i>
                        </a>
                        <a class="roi-btn-bl" ng-href="{{controller.getTemplateVisualizerUrl(controller.patternMatching.template)}}" target="visualizer" ng-click="$event.stopPropagation();">
                            <i tooltip-placement="left"
                                tooltip-append-to-body="true"
                                tooltip="View in Visualizer"
                                class="fa fa-cubes">
                            </i>
                        </a>
                        <div class="roi-btn-b outside text-sm">
                            {{controller.patternMatching.template.x2 - controller.patternMatching.template.x1 | number:2}}s
                        </div>
                        <div class="roi-btn-r outside text-sm">
                            {{(controller.patternMatching.template.y2-controller.patternMatching.template.y1) | number:0}}Hz
                        </div>
                        <div class="roi-btn-tr outside text-sm">
                            {{controller.patternMatching.template.y2 | number:0}}Hz <br>
                        </div>
                        <div class="roi-btn-br outside text-sm">
                            {{controller.patternMatching.template.y1 | number:0}}Hz
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 is-v-middle">
                    <b>{{controller.patternMatching.name}}</b><br />
                    {{controller.patternMatching.species_name }}, {{controller.patternMatching.songtype_name }}<br />
                    {{controller.patternMatching.template.name }}<br />
                    {{controller.patternMatching.timestamp | moment : 'lll' }}<br />
                    {{controller.patternMatching.playlist_name}}<br />
                    {{controller.patternMatching.parameters | asCSV}}<br />
                    {{controller.patternMatching.matches}} matches
                        ({{controller.patternMatching.expert_consensus_present || 0}} present,
                        {{controller.patternMatching.expert_consensus_absent || 0}} not present, <br/>
                        {{controller.patternMatching.cs_conflict_unresolved || 0}} conflicted,
                        {{controller.patternMatching.cs_conflict_resolved || 0}} resolved,
                        {{controller.patternMatching.matches - (controller.patternMatching.expert_consensus_present + controller.patternMatching.expert_consensus_absent + controller.patternMatching.cs_conflict_unresolved)}} unvalidated)
                </div>
                <div class="col-sm-5 flex-self-align-bottom">
                    <div class="pull-right">
                    <div class="toolbar pull-right">
                        <div class="btn-group">
                            <button class="btn btn-default" ><i class="fa fa-search"></i></button>
                            <ui-select ng-model="controller.expertSearch" theme="bootstrap" class="btn-group-item border-left-radius" on-select="controller.onExpertSearchChanged()">
                                <ui-select-match>
                                    <i ng-class="$select.selected.class"></i> {{$select.selected.text}}
                                </ui-select-match>
                                <ui-select-choices repeat="$item in controller.lists.search | filter:$select.search">
                                    <i ng-class="$item.class"></i> {{$item.text}}
                                    <div class="item-description">{{$item.description}}</div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <div class="toolbar pull-right">
                        <div class="btn-group">
                            <ui-select ng-model="controller._selection" theme="bootstrap" style="display:inline-block; width:9em;"
                                on-select="controller.onSelect($select.selected)"
                            >
                                <ui-select-match placeholder="Select">Select</ui-select-match>
                                <ui-select-choices repeat="$item in controller.lists.selection | filter:$select.search">
                                    {{$item.text}}
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="btn-group">
                            <button class="btn btn-default" >Validate as:</button>
                            <ui-select ng-model="controller.validation" theme="bootstrap" class="btn-group-item border-left-radius">
                                <ui-select-match>
                                    <i ng-class="$select.selected.class"></i> {{$select.selected.text}}
                                </ui-select-match>
                                <ui-select-choices repeat="$item in controller.lists.validation | filter:$select.search">
                                    <i ng-class="$item.class"></i> {{$item.text}}
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="btn-group">
                            <button class="btn btn-primary" ng-click="controller.validate()">Submit</button>
                        </div>
                    </div>
                    <div class="toolbar pull-right">
                        <div class="btn-group" ng-show="controller.total.pages > 1">
                            <a class="btn btn-default" ng-click="controller.prev()">Previous</a>
                            <ui-select class="btn-group-item" ng-model="controller.selected.page" theme="bootstrap" style="display:inline-block; width:7em;"
                                ng-change="controller.setPage($select.selected, true)"
                            >
                                <ui-select-match>
                                    {{$select.selected | a2PageNumberToTitle}} of {{controller.total.pages}}
                                </ui-select-match>
                                <ui-select-choices repeat="$item in controller.total.pages | a2Range | filter:($select.search | a2PageTitleToNumber)">
                                    {{$item | a2PageNumberToTitle}}
                                </ui-select-choices>
                            </ui-select>
                            <a class="btn btn-default" ng-click="controller.next()">Next</a>
                        </div>

                        <div class="btn-group">
                            <button class="btn btn-default"
                                ng-repeat="item in controller.lists.thumbnails"
                                ng-click="controller.thumbnailClass = item.value"
                                ng-class="{active: controller.thumbnailClass == item.value}"
                            ><i ng-class="item.class"></i></button>
                        </div>

                        <div class="btn-group">
                            <a class="btn btn-default"
                                ng-href="{{controller.patternMatchingExportUrl}}"
                                ng-click="true"
                                ng-disabled="!controller.patternMatchingExportUrl"
                                tooltip="Export Pattern Matching Data">
                                <i class="fa fa-download"></i>
                            </a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div ng-show="loading-rois">Loading...</div>
            <div ng-repeat="site in controller.rois">
                <div class="h3"><i class="fa fa-map-marker"></i> {{site.name}}</div>
                    <div ng-repeat="roi in site.list"
                        class="btn btn-default roi-thumbnail fixed-size {{roi.selected ? 'active' : ''}}"
                        ng-click="roi.selected = !roi.selected"
                        popover-html="'Recording: {{roi.recording}}<br>
                                 Site: {{roi.site}}<br>
                                 Time: {{roi.datetime | date:'medium':'UTC'}} <br>
                                 Score: {{(roi.score | number) || '(Missing)'}}'"
                        popover-trigger="mouseenter"
                        popover-append-to-body="true"
                    >
                        <div class="roi-img">
                            <input class="roi-btn-tl" type="checkbox" ng-model="roi.selected" ng-click="$event.stopPropagation()">
                            <div class="roi-btn-tr h1" ng-if="controller.compositeValidation(roi) !== null">
                                <i class="fa val-{{controller.compositeValidation(roi)}}"></i>
                            </div>
                            <a class="roi-btn-br" ng-click="controller.playRoiAudio(roi, $event)">
                                <i tooltip-placement="left"
                                    tooltip-append-to-body="true"
                                    tooltip="Play Audio"
                                    class="fa fa-play">
                                </i>
                            </a>
                            <a class="roi-btn-bl" ng-href="{{controller.getRoiVisualizerUrl(roi)}}" target="visualizer" ng-click="$event.stopPropagation();">
                                <i tooltip-placement="left"
                                    tooltip-append-to-body="true"
                                    tooltip="View in Visualizer"
                                    class="fa fa-cubes">
                                </i>
                            </a>
                            <img ng-src="{{ roi.uri }}" class="roi-img {{controller.thumbnailClass}}"/>
                        </div>
                        <div>
                            present: {{roi.cs_val_present}}<br />
                            not present: {{roi.cs_val_not_present}}<br />
                            consensus: {{roi.consensus_validated | pmValidation: roi.cs_val_present: roi.cs_val_not_present }}<br />
                            expert: {{roi.expert_validated | pmValidation}}
                            <div ng-if="roi.expert_validated !== null">
                                {{roi.expert_validation_user || '(Unknown)'}}
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

</div>
