<div class="row">
    <div class="col-sm-12 col-lg-11 padded-view-div" ng-if="!selectedPatternMatchingId">
        <h3>
            Pattern Matching - Expert's View
        </h3>
        <loader ng-show="loading"></loader>
        <button class="btn btn-success pull-right btn-rounded-full"
            tooltip="Refresh list"
            ng-click="loadPatternMatchings()">
                Refresh List
                <i class="fa fa-refresh ml-3"></i>
        </button>

        <div ng-hide="loading">
            <a2-table rows="patternmatchingsData" no-checkbox="true"  on-select="selectItem(row.id)">
                <field title="Name" tdclass="hidelongtext widthtd" key="name" filter>
                    <div class="roi-thumbnail" >
                        <img ng-src="{{row.template.uri}}" class="roi-img is-small"/>
                        <a class="roi-btn-br" ng-href="{{getTemplateVisualizerUrl(row.template)}}" ng-click="$event.stopPropagation();">
                            <i tooltip-placement="left"
                                tooltip-append-to-body="true"
                                tooltip="View in Visualizer"
                                class="fa fa-cubes">
                            </i>
                        </a>
                    </div>
                    {{row.name}}
                </field>
                <field title="Species" key="species_name" tdclass="is-v-middle"  filter >{{row.species_name}}</field>
                <field title="Songtype" key="songtype_name" tdclass="is-v-middle"  filter >{{row.songtype_name}}</field>
                <field title="Progress" class="is-v-middle" width="25%">
                    <a2-percentage-bars data="[row.validated, 0, row.total - row.validated]"
                            popover-html="'<span class=\'swatch val-1\'></span> Validated: {{row.validated}} ({{row.validated * 100 / row.total | number:0}}%)'"
                            popover-trigger="mouseenter"
                            popover-append-to-body="true"
                    />
                </field>
                <field title="Count" key="total" tdclass="is-v-middle" filter>
                    {{row.total}}
                </field>
                <field tdclass="is-v-middle">
                    <button class="btn btn-default btn-small"
                        ng-click="selectItem(row.id)"
                        tooltip="Show Details"
                    >
                            <i class="fa fa-list-alt"></i>
                    </button>
                </field>
            </a2-table>
        </div>
    </div>
    <div class="col-sm-12 col-lg-11 padded-view-div" ng-if="selectedPatternMatchingId">
        <a2-citizen-scientist-expert-details pattern-matching-id="selectedPatternMatchingId" on-go-back="selectItem()" />
    </div>
</div>
