<div class="a2-audio-bar" ng-class="{collapsed: !controller.expanded}">
    <button class="btn btn-default btn-sm expand-button" ng-click="controller.toggleExpanded()">
        <i class="fa" ng-class="controller.expanded ? 'fa-angle-up' : 'fa-angle-down'"></i>
    </button>
    <div class="a2-audio-bar-content">
        <div class="col-sm-8 no-pad-r mr-3">
            <div class="audio-seek-bar clickable"
                 ng-click="controller.seekPercent(($event|mouseEventContainerPercent).x)"
                 ng-show="controller.audio_player.resource"
            >
                <div class="bar"
                     ng-style="{width: ((100*controller.audio_player.getCurrentTime()/controller.audio_player.resource.duration) | round)+'%'}"></div>
            </div>
            <div class="text-center" ng-show="!controller.audio_player.resource">
                <div ng-if="controller.loading">
                    <loader hide-text="yes"></loader>
                    Loading Audio...
                </div>
                <div ng-if="!controller.loading && controller.error">
                    <i class="fa fa-exclamation-triangle"></i> Error Loading Audio.
                </div>
                <div ng-if="!controller.loading && !controller.error">
                    No Audio Loaded.
                </div>
            </div>
            <div class="col-sm-12 center-block">
                <div class="btn-toolbar row-flex flex-align-middle">
                    <div class="btn-group">
                        <button class="btn btn-default btn-xs control-btn"
                                style="padding: 5px 10px"
                                ng-disabled="!controller.audio_player.has_recording"
                                ng-click="controller[controller.audio_player.is_playing ? 'pause' : 'play']()">
                            <i class="fa"
                               ng-class="{'fa-play':!controller.audio_player.is_playing, 'fa-pause':controller.audio_player.is_playing}"></i>
                        </button>
                        <button class="btn btn-default btn-xs control-btn"
                                style="padding: 5px 10px"
                                ng-disabled="!controller.audio_player.has_recording"
                                ng-click="controller.stop()">

                            <i class="fa fa-stop"></i>
                        </button>
                    </div>
                    <div class="btn-group">
                        <div class="btn-group dropup" dropdown role="group">
                            <button class="btn btn-sm btn-default dropdown-toggle control-btn" dropdown-toggle
                                    ng-disabled="!controller.audio_player.has_recording">
                                <i class="fa fa-fw-1"
                                   ng-class="controller.audio_player.resource.audio.volume > .75 ? 'fa-volume-up' : controller.audio_player.resource.audio.volume > .25 ? 'fa-volume-down' : 'fa-volume-off'"></i>
                                <span class="fa-concat-sup" ng-if="controller.audio_player.gain > 1">x{{controller.audio_player.gain}}</span>
                                <span class="fa fa-caret-down fa-concat-sub"></span>
                            </button>
                            <div class="dropdown-menu min-pad" role="menu">
                                <div class="no-margin" range-slider min="0" max="1" step="0.01" decimal-places="2"
                                     model-max="controller.audio_player.resource.audio.volume" pin-handle="min"
                                     show-values="false"
                                     attach-handle-values="true"
                                ></div>
                                <div class="btn-group btn-group-xs">
                                    <span class="btn btn-default">Gain</span>
                                    <span class="btn btn-default"
                                          ng-click="controller.setGain(gain_level)"
                                          ng-repeat="gain_level in controller.audio_player.gain_levels"
                                          ng-class="controller.audio_player.gain == gain_level ? 'active' :''"
                                    >x{{gain_level}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-flex flex-direction-row">
        <div class="row-flex flex-direction-column pr-3" ng-if="controller.audio_player.resource">
            {{ controller.audio_player.getCurrentTime() | number:2 }} s
            <div class="text-center">
                <i class="fa fa-sm fa-play"></i>
            </div>
        </div>
        <div><i ng-if="controller.audio_player.getCurrentTime() === 0" class="fa fa-spinner fa-spin" style="font-size: 18px"></i></div>
    </div>
</div>
