<!DOCTYPE html>
<html>

<head>
    <% include head %>
        <title>ARBIMON II - Account Activation</title>
</head>

<body>
    <div class="login-top">
        <div class="container">
            <a href="/"><img src="/images/logo.svg"></a>
        </div>
    </div>
    <div class="login-banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6 registration">
                    <div class="panel-body">
                        <h3>Activating your Arbimon Account</h3>
                        <p class="activation-text"><%- status %></p>
                        
                        <% if(login) { %>
                            <a class="btn btn-primary" href="/login">Login now</a>
                        <% } %>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
