<!DOCTYPE html>
<html >

<head>
    <% include head %>
    <title>ARBIMON II - Account Activation</title>
</head>

<body>    
    <div class="container" >
        <div class="login-top">
            <img src="/images/logo.svg">
        </div>
    </div>
    <div class="jumbotron login-banner">
      <div class="container" >
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        <div class="panel panel-default" style="height:250px;">
          <div class="panel-heading">
            <h3 class="panel-title">Activating your Arbimon Account</h3>
          </div>
          <div class="panel-body">
            <%= data.status %>
          </div>
          <div style="text-align:center;">
            <% if(data.login == 1) { %>
                <a href="/login">Login now</a>
            <% } %>
          </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</body>

</html>
