<!DOCTYPE html>
<html ng-app="admin">

<head>
    <% include head %>
    <title>Arbimon 2 - Admin</title>
</head>

<body>
    <% include home-nav %>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs">
                    <li ui-sref-active="active" >
                        <a ui-sref="projects">Projects</a>
                    </li>
                    <li ui-sref-active="active" >
                        <a ui-sref="users">Users</a>
                    </li>
                    <li ui-sref-active="active" >
                        <a ui-sref="jobs">Jobs</a>
                    </li>
                </ul>
            </div>
        </div>
        <div ui-view></div>
    </div>
</body>

</html>
