<!DOCTYPE html>
<html ng-app="arbimon2">
    <% include head %>    
    <title>Arbimon 2 - <%= project.name %></title>
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button data-target="#navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/home" class="navbar-brand">
                    <img src="/images/logo.svg">
                </a>
            </div>
        
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li ui-sref-active="active"><a ui-sref="dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                    <li ui-sref-active="active"><a ui-sref="audiodata"><i class="fa fa-cloud-upload"></i> Data</a></li>
                    <li ui-sref-active="active"><a ui-sref="visualizer"><i class="fa fa-cubes"></i> Visualizer</a></li>
                    <li ui-sref-active="active"><a ui-sref="analysis"><i class="fa fa-send-o"></i> Analysis</a></li>
                </ul>
                <ul class="nav navbar-nav" ng-controller="StatusBarNavIndexController">
                    <li ng-hide="jobslength">
                        <a><i class="fa fa-cog"></i> No Active Jobs</a>
                    </li>
                    <li ng-show="jobslength" ui-sref-active="active">
                        <a ui-sref="jobs"><i class="fa fa-cog"></i> Active Jobs <span class="badge" ng-bind="jobslength"></span></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class=""><a><i class="fa fa-cubes"></i> <%=  project.name  %></a></li>
                    <li class=""><a><% if(user.isSuper) { %>Super<% } %> <i class="fa fa-user"></i> <%= user.username %></a></li>
                    <li class=""><a href="/user-settings" tooltip-placement="bottom" tooltip='User settings'><i class="fa fa-wrench"></i></a></li>
                    <li class=""><a href="/logout" tooltip-placement="bottom" tooltip='Log out'><i class="fa fa-sign-out"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="page">
        <div ui-view></div>
    </div>

</body>
</html>
