<!DOCTYPE html>
<html ng-app="arbimon2">
    <% include head %>    
    <title>Arbimon 2 - <%= project.name %></title>
</head>
<body ng-controller="MainCtrl">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button data-target="#navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/home" class="navbar-brand">
                    <img src="/images/logo.svg">
                </a>
            </div>
        
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav hide-tooltip-lg">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard" tooltip="Dashboard" tooltip-placement="bottom">
                            <i class="fa fa-dashboard"></i> 
                            <span class="visible-lg-inline">Dashboard</span>
                        </a>
                    </li>
                    <li ui-sref-active="active" tooltip="Data" tooltip-placement="bottom">
                        <a ui-sref="audiodata">
                            <i class="fa fa-cloud-upload"></i> 
                            <span class="visible-lg-inline">Data</span>
                        </a>
                    </li>
                    <li ui-sref-active="active" tooltip="Visualizer" tooltip-placement="bottom">
                        <a ui-sref="visualizer">
                            <i class="fa fa-cubes"></i> 
                            <span class="visible-lg-inline">Visualizer</span>
                        </a>
                    </li>
                    <li ui-sref-active="active" tooltip="Analysis" tooltip-placement="bottom">
                        <a ui-sref="analysis">
                            <i class="fa fa-send-o"></i> 
                            <span class="visible-lg-inline">Analysis</span>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav hide-tooltip-lg" ng-controller="StatusBarNavIndexController">
                    <li ui-sref-active="active">
                        <a ui-sref="jobs" tooltip="Active Jobs" tooltip-placement="bottom">
                            <i class="fa fa-cogs"></i> 
                            <span class="visible-lg-inline">Jobs</span> 
                            <span ng-show="jobslength" class="badge"> {{ jobslength }}</span>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class=""><a><i class="fa fa-sitemap"></i> <%=  project.name  %></a></li>
                    <li class=""><a><% if(user.isSuper) { %>Super<% } %> <i class="fa fa-user"></i> <%= user.username %></a></li>
                    <li class=""><a href="/user-settings" tooltip-placement="bottom" tooltip='User settings'><i class="fa fa-wrench"></i></a></li>
                    <li class=""><a href="/logout" tooltip-placement="bottom" tooltip='Log out'><i class="fa fa-sign-out"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="page">
        <div ui-view="dashboard" ng-show="$state.includes('dashboard')"></div>
        <div ui-view="audiodata" ng-show="$state.includes('audiodata')"></div>
        <div ui-view="visualizer" ng-show="$state.includes('visualizer')"></div>
        <div ui-view="analysis" ng-show="$state.includes('analysis')"></div>
        <div ui-view></div>
    </div>

</body>
</html>
