<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <% include navigation %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>CREATE A NEW PROJECT</p>
    <p>IN HERE YOU SHOULD BE ABLE TO CREATE A PROJECT AND SAVE IT</p>
    <p>AFTER SAVING THE PROJECT YOU SHOULD BE ABLE TO GO TO THE <a href="create-project"> PROJECT DASHBOARD</a></p>
  </body>
</html>
