<h1><%= message %></h1>
<% if(error.stack) { %> 
<pre><%= error.stack %></pre>
<% } else { %> 
<p> please contact: <a href="mailto:support@sieve-analytics.com">support@sieve-analytics.com</p>
<% } %>
