<li class="dropdown" dropdown>
    <a class="dropdown-toggle" dropdown-toggle>
        <i class="fa fa-question-circle"></i> 
        Help 
        <i class="fa fa-caret-down"></i> 
    </a>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a target="_blank" href="/support">
                <i class="fa fa-life-ring"></i> Support
            </a>
        </li>
        <li>
            <a target="_blank" href="https://forum.sieve-analytics.com/arbimon/">
                <i class="fa fa-comments-o"></i> Forum
            </a>
        </li>
    </ul>
</li>
