<li class="hide-tooltip-lg" tooltip-placement="bottom" tooltip="Help">
    <a target="_blank" href="/support">
        <i class="fa fa-question-circle"></i>
        <span class="visible-lg-inline visible-xs-inline">Help</span>
    </a>
</li>
