<!DOCTYPE html>
<html ng-app="a2.home">

<head>
    <% include head %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Arbimon 2 - <%= title %></title>
</head>

<body ng-controller="HomeCtrl">
<% include home-nav %>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-6">
                    <h3>
                        Projects 
                        <button class="btn btn-default" 
                            tooltip="Create a project"
                            tooltip-trigger="mouseenter"
                            ng-click="createProject() | trackEvent:'Home':'createProject'">
                            <i class="fa fa-plus"></i>
                        </button>
                    </h3>
                </div>
                <div class="col-md-6">
                    <h3>
                        <input type="search" class="form-control" ng-model="search" placeholder="Search projects">
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="list-group">
                        <dl>
                            <a ng-class="{'disabled': !project.is_enabled }" 
                               ng-href="/project/{{ project.url }}/" 
                               class="list-group-item" 
                               ng-repeat="project in results = ( projects | orderBy: 'name' | filter: search ) | paginate: currentPage : 10">
                               
                                <dt>
                                    {{ project.name }} 
                                    <i class="fa" ng-class="project.is_private ? 'fa-lock' :'fa-globe'"></i>
                                </dt>
                                <dd>{{ project.description }}</dd>
                            </a>
                        </dl>
                    </div>
                    <pagination ng-show="results.length > 10" total-items="results.length" ng-model="currentPage"></pagination>
                </div>
            </div>
        </div>
        <div class="col-md-7" ng-show="newsFeed.length">
            <h3>Projects feed <i class="fa fa-newspaper-o"></i></h3>
            <div class="list-group">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="news in newsFeed track by $index">
                        <p>
                            <img ng-src="{{ news.imageUrl }}"> 
                            <strong>{{ news.username }}</strong>
                            {{ news.message }} 
                        </p>
                        <p>{{ displayTime(news.timestamp) }}</p>
                    </li>
                </ul>
            </div>
            <button class="btn btn-default btn-block more-btn" ng-click="loadNewsPage() | trackEvent:'Home':'loadNewsPage'">More</button>
        </div>
    </div>
</div>

</body>

</html>
