<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button ng-init="collapsedMenu = true" ng-click="collapsedMenu = !collapsedMenu" type="button" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/home" class="navbar-brand">
                <img src="/images/logo.svg">
            </a>
        </div>
        <div class="navbar-collapse" ng-class="{'collapse': collapsedMenu }">
            <% if(user.isSuper) { %>
                <ul class="nav navbar-nav">
                    <li><a href="/admin/"><i class="fa fa-cogs"></i> Admin</a></li>
                </ul>
            <% } %>
            <ul class="nav navbar-nav navbar-right">
                <li><a target="_blank" href="/support"><i class="fa fa-life-ring"></i> Support</a></li>
                <li class="dropdown" dropdown>
                    <a class="dropdown-toggle" dropdown-toggle>
                        <% if(user.isSuper) { %>Super<% } %> 
                        <i class="fa fa-user"></i> <%= user.username %> 
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="">
                            <a href="/user-settings">
                                <i class="fa fa-wrench"></i> Settings
                            </a>
                        </li>
                        <li class="">
                            <a href="/logout">
                                <i class="fa fa-sign-out"></i> Log out
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
