<!DOCTYPE html>
<html ng-app="home">

<head>
    <% include head %>
	<title><%= title %></title>
</head>

<body ng-controller="HomeCtrl">
<% include home-nav %>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h3>Projects <button class="btn btn-default" ng-click="createProject()"><i class="fa fa-plus"></i></button></h3>
            <div class="list-group">
                <dl>
                    <a ng-class="{'disabled': !project.is_enabled }" 
                       ng-href="/project/{{ project.url }}/" 
                       class="list-group-item" 
                       ng-repeat="project in projects">
                       
                        <dt>
                            {{ project.name }} 
                            <i class="fa" ng-class="project.is_private ? 'fa-lock' :'fa-globe'"></i>
                        </dt>
                        <dd>{{ project.description }}</dd>
                    </a>
                </dl>
            </div>
        </div>
        <!-- <div class="col-sm-5">
            <h3>Project feed <i class="fa fa-newspaper-o"></i></h3>
            <div class="list-group">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="news in feed track by $index">{{ news }}</li>
                </ul>
            </div>
        </div> -->
    </div>
</div>

</body>

</html>
