    <title>Arbimon 2 - <%= title %></title>
    <link rel='stylesheet' href='/components/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/components/font-awesome/font-awesome.min.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/js/jquery-1.9.1.js" ></script>
    <script src="/js/bootstrap.min.js" ></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
