<a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>
<!-- Docs master nav -->
<header class="navbar navbar-default navbar-static-top" id="top" role="banner">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="../" class="navbar-brand">
                <img src="/images/logo.png" width="32" />
                <span class="logo-text">Arbimon
                    <span class="undertext">II</span>
                </span>
            </a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li><a onclick="">
                    <img class="img-circle" src="http://www.gravatar.com/avatar/83ecb9456aa701423c176174d2900734?s=32" />
                    User
                </a></li>
                <li><a onclick=""><span class="fa fa-lg fa-home"></span></a></li>
                <li><a onclick=""><span class="fa fa-lg fa-question"></span></a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li>
                    <a href="dashboard"><i class="fa fa-dashboard"></i> Dashboard</a>
                </li>
                <li class="active">
                    <a href="audio-data"><i class="fa fa-cloud"></i> Audio Data</a>
                </li>
                <li class="active">
                    <a href="training-validation"><i class="fa fa-cubes"></i> Taining &amp; Validation</a>
                </li>
                <li>
                    <a href="models"><i class="fa fa-send-o"></i> Models</a>
                </li>
                <li>
                    <a href="classification"><i class="fa fa-meh-o"></i> Classification</a>
                </li>
            </ul>
        </nav>
    </div>
</header>