<a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>
<!-- Docs master nav -->
<header class="navbar navbar-default navbar-static-top" id="top" role="banner">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="../" class="navbar-brand">
                <img src="/images/logo.png" width="32" />
                <span style="position:relative;">Arbimon
                    <span style="position: absolute; left: 0px; right: 0px; text-align: center; font-family: serif; z-index: -100; bottom: 0px; top: 0px; font-size: 190%; color: rgb(144, 207, 176);">II</span>
                </span>
            </a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li><a onclick="">
                    <img class="img-circle" src="http://www.gravatar.com/avatar/83ecb9456aa701423c176174d2900734?s=32" />
                    User
                </a></li>
                <li><a onclick=""><span class="fa fa-lg fa-home"></span></a></li>
                <li><a onclick=""><span class="fa fa-lg fa-question"></span></a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li>
                    <a href="/manage">Manage</a>
                </li>
                <li class="active">
                    <a href="/analyze">Analyze</a>
                </li>
                <li>
                    <a href="/reports">View Reports</a>
                </li>
                <li>
                    <a href="/settings">Settings</a>
                </li>
            </ul>
        </nav>
    </div>
</header>