<!DOCTYPE html>
<html ng-app="a2.login">

<head>
    <% include head %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ARBIMON II</title>
</head>

<body ng-controller="LoginCtrl">
    <div class="login-top">
        <div class="container">
            <a href="/"><img src="/images/logo.svg"></a>
            <button class="btn btn-default pull-right visible-xs-block visible-sm-block" ng-click="switchMode()">{{ mode }}</button>
        </div>
    </div>
    <div class="jumbotron login-banner">
        <div class="container">
            <div class="row">
                <!--  visible-md-block visible-lg-block hide only on small and x-small screens -->
                <div class="col-sm-12 col-md-7 col-lg-7" ng-class="mode === 'Sign up' ? 'visible-md-block visible-lg-block' : '' ">
                    <h1>Arbimon II</h1>
                    <p>
                        Bio-acoustics analyzer
                    </p>
                     <a href="/register" class="btn btn-success btn-lg">Sign up today</a> 
                </div>
                
                <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-1 col-md-4 col-lg-offset-2 col-lg-3" ng-class="mode === 'Login' ? 'visible-md-block visible-lg-block' : '' ">
                    <div class="login-form">
                        <h3>Already a user?</h3>
                        <form role="form" ng-submit="login()">
                            <div class="form-group">
                                <label class="sr-only" for="user">Username</label>
                                <input id="user"
                                    class="form-control" 
                                    name="username" 
                                    type="text" 
                                    placeholder="Username" 
                                    ng-model="username"
                                    required />
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="pass">Password</label>
                                <input id="pass" 
                                    class="form-control" 
                                    name="password" 
                                    type="password" 
                                    placeholder="Password" 
                                    ng-model="password"
                                    required />
                            </div>
                            <div ng-show="showCaptcha" g-recaptcha
                                sitekey="6LffYQETAAAAAAeEN-dJHFMHxlVVSGsL-tlWWFpE"
                                response="captchaResp"
                                reset-widget="resetCaptcha">
                            </div>
                            <button class="btn btn-primary btn-block" type="submit"><i class="fa fa-sign-in"></i> log in</button>
                            <div class="text-right"><a href="/forgot_request" class="forgot-text">forgot password?</a></div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
    
    <% include footer %>
</body>

</html>
