<!-- Docs master nav -->
<header class="navbar navbar-default navbar-static-top" id="top" role="banner">
    <div class="container-fluid">
        <nav class="collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/"> Home</a>
                </li>
                <li class="active">
                    <a href="login"> Login</a>
                </li>
                <li class="active">
                    <a href="logout"> Logout</a>
                </li>
                <li>
                    <a href="forgot"> Forgot</a>
                </li>
                <li>
                    <a href="register"> Register</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
