<!DOCTYPE html>
<html>

<head>
    <% include head %>
    <title>Arbimon 2 - Support
    </title>
</head>

<body>
    <div class="login-top">
        <div class="container">
            <a href="/"><img src="/images/logo.svg"></a>
        </div>
    </div>
    <div class="container">
        <div class="page-header">
            <h1>Support</h1>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <dl class="support-list">
                    <dt>Do you have any problem with Arbimon II or just need some guidance? </dt>
                    <dd>Send your questions to: <a href="mailto:support@sieve-analytics.com">support@sieve-analytics.com</a></dd>
                    <dt>Do you got any suggestions or want more information about our services?</dt>
                    <dd>Please contact us: <a href="mailto:info@sieve-analytics.com">info@sieve-analytics.com</a></dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>Video Tutorial</h3>
                <iframe width="853" height="480" src="https://www.youtube.com/embed/KJ9AG3VjPww?showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</body>

</html>
