<!DOCTYPE html>
<html>

<head>
    <% include head %>
    <title>ARBIMON II - Terms</title>
</head>

<body>
    <div class="container">
        <div class="login-top">
            <img src="/images/logo.svg">
        </div>
    </div>
    <div class="jumbotron login-banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Arbimon II Terms of Service</h3>
                        </div>
                        <div class="panel-body">
                            <% include terms_text %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
