<li class="dropdown" dropdown>
    <a class="dropdown-toggle" dropdown-toggle>
        <% if(user.isSuper) { %>Super<% } %> 
        <i class="fa fa-user"></i> <%= user.username %> 
        <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li class="">
            <a href="/user-settings">
                <i class="fa fa-wrench"></i> Account Settings
            </a>
        </li>
        <li class="">
            <a href="/logout">
                <i class="fa fa-sign-out"></i> Log out
            </a>
        </li>
    </ul>
</li>
