<!DOCTYPE html>
<html ng-app="a2.user-settings">

<head>
    <% include head %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Arbimon II - <%= title %>
    </title>
</head>

<body ng-controller="UserSettingsCtrl">
    <% include home-nav %>
    <div class="container">
        <div class="page-header">
            <h1>User settings</h1>
        </div>
        <div class="col-sm-6">
            <div class="well">
                <h5><strong>Avatar</strong></h5>
                <img src="<%- user.imageUrl %>" alt="gravatar">
                <p>Change your avatar at <a href="https://gravatar.com" target="_blank">gravatar.com</a></p>
            </div>
            <div class="well">
                <form name="fullname">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" 
                            class="form-control" 
                            id="name" 
                            name="name" 
                            placeholder="Name"
                            ng-model="user.name">
                    </div>
                    <div class="form-group">
                        <label for="lastname">Lastname</label>
                        <input type="text" 
                            class="form-control" 
                            id="lastname" 
                            name="lastname" 
                            placeholder="Lastname"
                            ng-model="user.lastname">
                    </div>
                    
                    <button class="btn btn-primary" ng-click="saveName() | trackEvent:'User Settings':'saveName'">
                        <i class="fa fa-floppy-o"></i> Save
                    </button>
                </form>
            </div>
            <div class="well">
                <form name="pass">
                    <password-input ng-model="newPass" user-inputs="[user.username, user.name, user.lastname]" validation="passResult"></password-input>
                    <button class="btn btn-primary" ng-click="changePass() | trackEvent:'User Settings':'changePass'">
                        <i class="fa fa-key"></i> change password
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
