<!DOCTYPE html>
<html>

<head>
    <% include head %>
    <title><%= title %></title>
</head>

<body ng-controller="HomeCtrl">
<% include home-nav %>

<div class="container">
</div>

</body>

</html>
