<div class="modal-header">  
    <h3 class="modal-title">Classification Details</h3>  
</div>  
<div class="modal-body">
    <div class="row">
        <div class="col-sm-11"><strong>Presence in recordings:</strong></div>
        <div class="col-sm-1"><a class="btn btn-xs btn-default" ng-href="/api/project/classification/csv/{{id}}"><i class="fa fa-download " tooltip="Download CSV" tooltip-placement="bottom"  ></i></a></div>
    </div>
    <div class="spacing-details-classification"></div>
    <table class="table">
        <tr>
            <th>Species</th>
            <th>Songtype</th>
            <th>Present/Total</th>
            <th>Percentage</th>
        </tr>
        <tr ng-repeat="species in data" >
            <td class="no-wrap-table-cell">
                {{species.species}}
            </td>
             <td class="no-wrap-table-cell">
                {{species.songtype}}
            </td>           
            <td>
                {{species.data}} / {{species.total}}
            </td>
            <td>
                {{species.percentage}}%
            </td>
        </tr>
    </table>
    <div>
        
    </div>
    <div ng-hide="showMore" class="text-centered-bordered">
        <h2><i class="fa fa-caret-down" tooltip="More Details" tooltip-placement="bottom"  ng-click="more()"></i></h2>
    </div>
    <div  ng-show="showMore" class="text-centered-bordered">
        <h2><i class="fa fa-caret-up" tooltip="Less Details" tooltip-placement="bottom"  ng-click="less()"></i></h2>
        <ul class="ulnodeco">
            <li ng-repeat="rec in recs" class="linodeco">
                <div class="cleardiv"></div>
                Recording: {{rec.recname}}
                <span class="horizontal-blank-space">
                    Presence:
                    <span ng-show="rec.present">Yes</span>
                    <span ng-hide="rec.present">No</span>
                </span>

                <div class="axisWrapper">
                    <div class="yaxisWrapper">
                        1.0
                        <div class="lowaxis2">0.0</div>
                    </div>
                    <div class="vectorWrapper"><a2-vectorchart  minvect="minv" maxvect="maxv" vurl="rec.vect"></a2-vectorchart></div>
                </div>
                <div class="cleardiv"></div>

                <div class="axisWrapper">
                    <div class="yaxisWrapper vertical-text2">
                        Hertz
                    </div>
                    <div class="vectorWrapper"><img class="sm-result-thumb" ng-src="https://s3.amazonaws.com/arbimon2/{{rec.uri}}"/> </a2-vectorchart></div>
                    <small>Seconds</small>
                </div>
                <div class="bordeder-empy-div"></div>
            </li>
        </ul>
        <ul class="pager">
            <li><a ng-click="prev()">Previous</a></li>
            <li><a>{{currentPage+1}} of {{totalRecs}}</a></li>
            <li><a ng-click="next()">Next</a></li>
        </ul>
    </div>
</div>
<div class="modal-footer">  
    <button class="btn btn-primary" ng-click="ok()"  ng-disabled="buttonEnable()">Close</button>  
</div>  
