<div class="input-source"
    ng-style="{height: layout.spectrogram.height, width: layout.spectrogram.width}"
    a2-visualizer-fit-spectrogram ng-show="selection.layer == layer" ng-click="controller.add_point(pointer)">
    <a2-visualizer-spectrogram-affixed>
        Click to add training data to this recording.
    </a2-visualizer-spectrogram-affixed>
    <div class="roi" ng-repeat="roi in controller.data"
        ng-style="{left:layout.sec2x(roi.x1, 1) + 'px', top:layout.hz2y(roi.y2, 1) + 'px', width:layout.dsec2width(roi.x2, roi.x1, 1) + 'px', height:layout.dhz2height(roi.y2, roi.y1) + 'px'}"
    >
        {{controller.current_roi | json}}
    </div>
    <div class="roi roi-current"
        ng-style="{left:layout.sec2x(controller.current_roi.x1, 1) + 'px', top:layout.hz2y(controller.current_roi.y2, 1) + 'px', width:layout.dsec2width(controller.current_roi.x2, controller.current_roi.x1, 1) + 'px', height:layout.dhz2height(controller.current_roi.y2, controller.current_roi.y1) + 'px'}"
    >
        {{controller.current_roi | json}}
    </div>
</div>