.btn-google-login{
    font-family:Roboto;
    > i.icon{
        float: left;
        vertical-align: middle;
    }
    > .text {
        line-height: 2em;
    }
}

.icon-google {
    background-image: url("/images/brand/google-signin-icon.png");
    background-size: 2em 2em;
    display: inline-block;
    height: 2em;
    width: 2em;
}

.btn-facebook-login{
    // font-family:Roboto;
    > i.icon{
        float: left;
        vertical-align: middle;
    }
    > .text {
        line-height: 2em;
    }
}

.icon-facebook {
    background-image: url("/images/brand/facebook-signin-icon.png");
    background-size: 2em 2em;
    display: inline-block;
    height: 2em;
    width: 2em;
    &.inlined{
        background-size: 1.5em 1.5em;
        background-repeat: no-repeat;
    }
}