
// ui-bootstrap no href fix
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


.navbar {
    border-radius: 0px;
    -webkit-box-shadow: 0px 1px 8px #888;
    -moz-box-shadow: 0px 1px 8px #888;
    box-shadow: 0px 1px 8px #888;
}

// class for 
.no-gutter > [class*='col-'] {
    &:not(:first-child){
        padding-left:0;
    }
    &:not(:last-child){
        padding-right:0;
    }
}

.row.row-pad-bottom{
    padding-bottom: 7px;
}

// for some reasong bottom left tooltips dont have the proper margin
.tooltip.bottom-left { 
    margin-top: 3px; 
    padding: @tooltip-arrow-width 0;
}

// .tooltip .tooltip-inner {
//     max-width: 25em !important;
// }
// eof

.no-pad-r {
    padding-right: 0;
}

.dropdown-menu{
    > .header, > :first-child > .header{
        margin:-5px;
        padding:5px 10px;
    }
}

.btn-group-margin {
	margin-top: 5px;
	margin-left: 3px;
	margin-right: 1px;
	.btn {
        height: 36px;
    }
}

.btn-group-item{
    float:left;
}

.export-url {
	display:inline-block; 
	margin-top: 5px; 
	margin-left: 5px; 
}

.border-left-radius{
	.btn, input{
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
		display:inline-block; 
		width:9em;
	}
}

.border-radius{
	.btn, input{
		border-radius: 0;
		display:inline-block; 
		width:7em;
	}
}
