
.fa-concat-sub {
    font-size: 70%;
    position: relative;
    transform: translate(-.4em, .2em);
    width: 0;
    display:inline-block;
    vertical-align: sub;
}

.fa-concat-sup {
    font-size: 70%;
    position: relative;
    transform: translate(-.1em, -.2em);
    width: 0;
    vertical-align: super;
    display:inline-block;
}

.fa-fw-1{
    text-align: center;
    width: 1em;
}

.add-swag(@swag; @content; @color; @shadow; @fontsize:inherit; @bottom:0; @right:0){
    &.swag-@{swag}::after {
        bottom: @bottom;
        color: @color;
        font-size: @fontsize;
        content: @content;
        position: absolute;
        right: @right;
        text-shadow: 1px 1px 3px @shadow, 1px 1px 3px @shadow, 1px 1px 3px @shadow, 1px 1px 3px @shadow, 1px 1px 3px @shadow, 1px 1px 3px @shadow;
    }
}

.user-avatar{
    border-radius: 25%;
}

.fa.user-avatar {
    background-size: 30px 30px;
    height: 30px;
    margin-bottom: -30px;
    transform: translateY(-19px);
    width: 30px;

    .add-swag(super; "\f13b"; purple; white);
    .add-swag(admin; "A"; lightsalmon; black);
}

.fa.xsmall{
    font-size: .5em;
}

.fa.has-swag {
    position: relative;
    > .fa{
        .add-swag(download; "\f019"; inherit; white; @fontsize:.5em; @bottom:-2px; @right:-3px);
    }
}
