.flex-align-middle {
    align-items: center;
}

.flex-self-align-top {
    align-self: flex-start;
}

.flex-self-align-bottom {
    align-self: flex-end;
}

.row-flex{
    display:flex;
    display: -webkit-flex;
}

.flex-direction-row {
    flex-direction: row
}

.flex-direction-column {
    flex-direction: column;
}

.flex-space-evenly{
    justify-content: space-evenly;
}

.flex-space-between {
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.flex-space-center{
    justify-content: center;
}

.flex-space-end {
    justify-content: end;
    -webkit-justify-content: flex-end;
}

.flex-space-start {
    justify-content: start;
}

.self-center {
    align-self: center;
}

.items-start {
    align-items: flex-start;
}
