.flex-align-middle {
    align-items: center;
}

.flex-self-align-top {
    align-self: flex-start;
}

.flex-self-align-bottom {
    align-self: flex-end;
}

.row-flex{
    display:flex;
    display: -webkit-flex;
}

.row-flex-inline {
  display:inline-flex;
  display: -webkit-inline-flex;
}

.flex-direction-row {
    flex-direction: row
}

.flex-direction-column {
    flex-direction: column;
}

.flex-space-evenly{
    justify-content: space-evenly;
}

.flex-space-between {
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.flex-space-center{
    justify-content: center;
}

.flex-space-end {
    justify-content: end;
    -webkit-justify-content: flex-end;
}

.flex-space-start {
    justify-content: start;
}

.self-center {
    align-self: center;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

.gap-x-2 {
  -webkit-column-gap: 8px;
  -moz-column-gap: 8px;
  grid-column-gap: 8px;
  column-gap: 8px;
}

.gap-x-3 {
  column-gap: 12px;
}

.gap-x-2 {
  column-gap: 8px;
}

.gap-y-8 {
  row-gap: 32px;
}
