/*
 * Bootstrap variables
*/
@import "variables.less";
// @import "../../bower_components/bootstrap/less/mixins.less";
/**
 * app variables
 */
@roi-border-color: #268f4b;
@roi-bg-color: rgba(0, 255, 0, 0.1);
@roi-current-border-color: blue;
@roi-current-bg-color: rgba(0, 0, 255, 0.2);
@roi-selected-border-color: rgb(0, 255, 166);
@roi-selected-bg-color: rgba(0, 255, 174, 0.2);

@roi-set-border-color: fade(@brand-present, 50%);
@roi-set-bg-color: fade(@brand-present, 10%);
@roi-audio-event-border-color: fade(@brand-danger, 30%);
@roi-audio-event-color: fade(@brand-danger, 20%);
@roi-species-border-color: fade(@brand-present, 40%);
@roi-species-color: fade(@brand-present, 20%);
@roi-annotation-border-color: rgb(255, 166, 0);
@roi-annotation-bg-color: rgba(255, 174, 0, 0.2);
@roi-annotation-red-border-color: rgb(255, 83, 64);
@roi-annotation-red-bg-color: rgba(255, 83, 64, 0.2);
@roi-annotation-blue-border-color: rgb(83, 64, 255);
@roi-annotation-blue-bg-color: rgba(83, 64, 255, 0.2);
@roi-annotation-green-border-color: rgb(83, 255, 64);
@roi-annotation-green-bg-color: rgba(83, 255, 64, 0.2);

@selbox-border-color: #fff;
@selbox-bg-color: rgba(0, 0, 0, 0.3);
@rect-color: #fff;
@rect-border-color: #080035;
@rect-bg-color: rgba(0, 0, 0, 0.3);
@rect-select-color: #4f0;
@rect-select-border-color: #4f0;
@rect-select-bg-color: rgba(10, 30, 4, 0.36);

@thumbnail-viewer-width: 351px;
@thumbnail-viewer-height: 128px;
@thumbnail-viewer-axis-width: 20px;
@thumbnail-viewer-axis-height: 20px;
@roi-div-thumbnail-viewer-height: 150px;

/*
 * additions to bootstrap styles
*/
@import "bs-additions.less";
@import "fa-additions.less";
@import "flex.less";
@import "spacing.less";
/*
 * app modules styles
*/
@import "a2-components/visualizer.less";
@import "a2-components/dashboard.less";
@import "a2-components/audiodata.less";
@import "a2-components/yearpick.less";
@import "a2-components/line-chart.less";
@import "a2-components/loader.less";
@import "a2-components/a2-audio-bar.less";
@import "a2-components/analysis.less";
@import "a2-components/notifications.less";
@import "a2-components/orders.less";
@import "a2-components/projects-list.less";
@import "a2-components/stackedbars.less";
@import "a2-icons.less";
@import "a2-tags.less";
@import "a2-map-marker.less";
@import "cards.less";
@import "a2-components/a2-page.less";
@import "a2-components/a2-table.less";
/*
 * general styles
*/
@import "branding.less";

b, strong {
  font-weight: 900;
}

// ui-bootstrap no href fix
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
  outline: none;
}

.navbar {
  border-radius: 0px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
}

.alert-bar {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;
  text-align: center;
}

.alert-info {
  background-color: #3498db;
  border-color: #3498db;
}

.alert-dismissable .close {
  opacity: 0.4;
}

.alert .alert-link {
  color: #fff;
  font-weight: 900;
}

.alert-link-color {
  color: #152a6a;
  font-weight: 900;
  &:hover {
    color: #152a6a;
  }
}

.alert-text-color {
  color: #684e24;
}

.alert-line-height {
  line-height: 1;
}

.alert-border-radius {
  border-radius: 8px
}

.alert-close-color {
  color: #684f24;
  opacity: 1;
  &:hover {
    color: #684f24;
    opacity: 0.8;
  }
}

.exclamation-triangle {
  color: #ecb82d;
  font-size: 18px;
}

// .inline -> newmodel.html, frequency-adjust-layer.html
// .a2-block-inline -> (directive)a2TrainingSetDataImage
// .ib -> new_roi_set_tset_partial.html
// .inline-block -> browser/recordings-by
.inline,
.a2-block-inline,
.ib,
.inline-block {
  display: inline-block;
}

// -> frequency-adjust-layer.html
.w5em {
  width: 6em;
}

// -> new_roi_set_tset_partial.html
.w12em {
  width: 12em;
}

@banner-padding: 40px;

// -> register.ejs
.banner {
  height: 500px;
}

// -> login.ejs, activate.ejs, forgot.ejs, not-found.ejs, project_diasabled.ejs,
//    reset-password.ejs, terms.ejs
.login-banner {
  .banner();
  padding-top: @banner-padding;
  padding-bottom: @banner-padding;
}

// adds transparent white background to div

// ->  activate.ejs, forgot-request.ejs, register.ejs, reset-password.ejs
.card-container {
  border-radius: 6px;
  background-color: @gray-dark;
  padding: 40px;
  box-shadow: 0px 10px 20px 3px rgba(0, 0, 0, 0.7);
  @media (max-width: @screen-sm-min) {
    padding: 20px 20px 30px 20px;
  }
}

// -> validator-main.html, recordings-by-playlist.html, recordings-by-site.html,
//    browser/soundscapes.html, training-data.html, add_tset.html,
//    edit_soundscape_visual_scale.html, new_roi_set_tset_partial.html
.dropdown-height-7 {
  overflow-y: auto;
  max-height: 7 * (2 * @nav-link-padding-v + 14);
}

.dropdown-menu {
  border: 1px solid @gray;
}

// -> recordings-by-site.html
.dropdown-menu.datepicker {
  min-width: 290px;
  padding: 5px;
  box-shadow: 0px 6px 6px 3px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

// -> modelinfo.html, newmodel.html
.top-buffer {
  margin-top: 8px;
}

// -> createnewclassification.html
.scrollul {
  height: 160px;
  width: 94%;
  overflow: hidden;
  overflow-y: scroll;
  list-style-type: none;
}

// -> classinfo.html
.ulnodeco {
  list-style-type: none;
}

// -> classinfo.html, createnewclassification.html
.linodeco {
  text-decoration: none;
  &:hover {
    color: inherit;
  }
}

//    spectrogram.js, visualizer/main.html, soundscape-info-layer.html,
//    soundscape-regions-layer.html, roi_set.html
.bg {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 0;
  background-color: @well-bg;
  border: 1px solid @well-border;
  border-radius: @border-radius-base;
  // bootstrap-depend
  // .box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
  blockquote {
    border-color: #ddd;
    border-color: rgba(0, 0, 0, 0.15);
  }
}

/*
    sidebar for bootstrap
*/
.sidenav {
  width: 125px;
  height: 100%;
  float: left;
  border-radius: 0 6px 6px 0;
  background-color: @gray-dark;

  li {
    padding: 0;
    list-style-type: none;
  }

  ul {
    padding: 0;
  }

  >li:first-child {
    a {
      border-radius: 0 6px 0px 0;
    }
  }

  >li:last-child {
    a {
      border-radius: 0 0px 6px 0;
    }
  }

  a {
    display: block;
    padding-left: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: @text-color;
    cursor: pointer;
  }

  a:hover,
  a:active {
    background-color: @gray;
  }

  a.active, li.active > a {
    background-color: @gray;
	  border-right: 4px solid @brand-primary;
  }

  @media (max-width: @grid-float-breakpoint) {
    display: none;
  }

  .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    min-width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;

    > li > a,
    .dropdown-header {
      padding: 5px 15px 5px 25px;
    }

    > li > a {
      line-height: @line-height-computed;

      &:hover,
      &:focus {
        background-image: none;
      }
    }
  }
}

.container-sidenav {
  margin-left: 130px;
  @media (max-width: @grid-float-breakpoint) {
    margin-left: 0;
  }
}

.navbar-hide-collapsed,
.open > .dropdown-menu.navbar-hide-collapsed {
  @media (min-width: @grid-float-breakpoint) {
    display: none;
  }
}

// duplicated bootstrap class
.has-error {
  @text-color: @state-danger-text;
  @border-color: @state-danger-text;
  @background-color: @state-danger-bg;
  // Set validation states also for addons
  .dropdown > .btn {
    color: @text-color;
    border-color: @border-color;
  }
}

// -> project-form.html
textarea.fixed-width {
  max-width: 100%;
  min-width: 100%;
  min-height: 3em;
}

// -> visualizer-spectrogram.html
.vertical-text {
  display: inline-block;
  transform: rotate(-90deg);
  white-space: nowrap;
  width: 0;

  &.w-8 {
    transform: translateX(-25%) rotate(-90deg);
  }
}

.w-8 {
  min-width: 8em;
}

// -> visualizer-spectrogram.html
.no-wrap {
  white-space: nowrap;
}

// classinfo.html
.text-centered-bordered {
  text-align: center;
  border-top: 1px solid #ddd;
}

// recording-tags-layer.html, recording-layer.html, templates.html, zoom-input-layer.html, roi_set.html
.text-dark-gray {
  font-weight: 600;
  color:@gray-dark
}
.text-dim {
  color: @gray-light;
}

.border{
  padding: 5px;
  border-top: 1px solid @gray;
  border-bottom: 1px solid @gray;
}

// classinfo.html, modelinfo.html
.sm-result-thumb {
  height: 100px;
  width: 100%;
}

// vectorchart.html
.vector-chart {
  height: 50px;
  border: 1px solid #9e9e9e;
  width: 100%;
}

.popup-chart {
  position: absolute;
  top: 30px;
  right: 5px;
  z-index: 100;
  a {
    text-decoration: none;
    cursor: pointer;
  }
}

.migration-modal {
  .modal-body {
    font-size: 16px;
  }
  @media (max-width: @screen-phone) {
    .modal-title {
      font-size: 18px;
    }
    .modal-body {
      font-size: 14px;
    }
  }
}

// -> classification.js
.details-modal-window .modal-dialog {
  min-width: 800px;
}

// classinfo.html, modelinfo.html
.axisWrapper {
  width: 100%;
  margin: auto;
}

// classinfo.html, modelinfo.html
.yaxisWrapper {
  width: 20px;
  font-size: x-small;
  float: left;
}

// classinfo.html, modelinfo.html
.vectorWrapper {
  margin-left: 20px;
}

// classinfo.html, modelinfo.html
.lowaxis2 {
  line-height: 50px;
  vertical-align: bottom;
  margin-left: -10px;
}

// classinfo.html, modelinfo.html
.vertical-text2 {
  line-height: 110px;
  transform: rotate(-90deg);
  vertical-align: bottom;
  font-size: small;
}

// classinfo.html, modelinfo.html
.cleardiv {
  clear: both;
}

// classinfo.html
.horizontal-blank-space {
  padding-left: 30px;
}

// training-sets.html, classinfo.html
.bordeder-empy-div {
  border-top: 1px solid #ddd;
  width: 100%;
  height: 1px;
  padding: 2px;
}

// classinfo.html
.spacing-details-classification {
  margin-top: 4px;
}

// vectorchart.html
.vector-loader-pos {
  padding-top: 10px;
  text-align: center;
}

// -> validator-main.html
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// a2-table directive style
.a2-table {
  & > tbody > tr.active > td {
    background-color: @gray;
  }

  & th:first-child,
  & td:first-child {
    width: 10px;
  }

  & td {
    .no-select;
    white-space: nowrap;
  }
}

.pm-list .a2-table {
    cursor: pointer;
}

.templates .a2-table,
.sites .a2-table {
  table-layout: fixed;
  td, th {
    width: 10%;
  }

  td.spectrogram-img,
  th.spectrogram-img {
    width: 80px;
  }

  td.name,
  th.name {
    width: 25%;
  }

  td.source,
  th.source{
    width: 25%;
  }
}

.sites .a2-table {
  margin-left: 15px;
  margin-right: 15px;
  td.name,
  th.name {
    width: 25%;
  }
  td.timezone,
  th.timezone {
    width: 15%;
  }
  td.date,
  th.date {
    width: 20%;
  }
}

.a2-badge {
  background-color: @gray-darker;
  color: #6e6f7e;
  padding: 2px 8px;
  font-size: smaller;
  border-radius: 10px;
  margin-left: 2px;
}

.smaller {
  font-size: smaller;
}

.page-selector {
    text-align:left;
    display:inline-block;
    width:6em;
    height:2em;
    border-radius: 4px;
}

.row-disabled {
  cursor: not-allowed;
  background-color: transparent;
  opacity: 0.5;
  pointer-events: none;
}

// for BETA badge
.beta-badge {
    vertical-align: super;
    font-size: 10pt;
    font-weight: 700;
    background-color: green;
    padding: 2px 6px;
    border-radius: 100px;
}

.templates .a2-table {
  th {
    cursor: pointer;
    &:first-child,
    &:nth-child(2) {
      cursor: default;
    }
  }
  td.name {
    p {
      max-width: ~"calc(100% - 56px)";
      display: inline-block;
    }
    a {
      cursor: pointer;
      color: @gray;
      text-decoration: none;
    }
  }
  & > tbody > tr.active > td {
    background-color: transparent;
  }
}

.table-upload {
  table-layout: fixed;
  .progress {
    max-width: 80%;
  }
}

// -> recordings.html, sites.html, training-sets.html
.toolbar {
  // top row
  padding-bottom: 10px;
}

// -> recordings-by-playlist.html, recordings-by-site.html,
//    soundscapes.html, edit_soundscape_visual_scale.html
.ui-select-container.has-badges
  .dropdown-menu
  > li.ui-select-choices-group
  > div.ui-select-choices-row
  > a,
.dropdown-menu.has-badges > li {
  position: relative;

  div {
    position: relative;
  }

  > a {
    padding-right: 50px;
  }

  .badge {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translate(0px, -50%);
  }
}

// -> audiodata/training-sets.html
.spacer-gallery {
  margin-bottom: 15px;
}

// -> audiodata/training-sets.html
.trainingSetLoader {
  width: 10%;
  line-height: 100px;
  margin: 0 auto;
  height: 200px;
}

// -> home.ejs
.more-btn {
  margin-bottom: 15px;
}

#aggregationlist .ui-selected {
  background: #d5d5d5;
  font-weight: bold;
}

// directive a2DrawAggregation
.aggregationaxis {
  path,
  line {
    fill: none;
    stroke: @text-color;
    shape-rendering: crispEdges;
  }

  text {
    font-family: @font-family-sans-serif;
    font-size: 11px;
    fill: @text-color;
  }
}

// use as .text-danger on -> createnewclassification.html,
//                           newmodel.html, createnewsoundscape.html
.red,
.nameExistsSpan,
.text-danger {
  color: @brand-danger;
  font-size: small;
}

.red-border,
.input-red-border .ui-select-toggle {
  border: solid 1px @brand-danger;
  border-radius: 4px;
  &:focus {
    border: solid 1px @brand-danger;
    border-radius: 4px;
  }
}

.brand-warning {
  color: @brand-warning;
  font-size: small;
}

// directive a2DrawPeakThreshold
a2-draw-peak-threshold {
  text {
    font-family: @font-family-sans-serif;
    font-size: 11px;
    fill: @text-color;
  }
}

.thresholdaxis {
  path,
  line {
    fill: none;
    stroke: @text-color;
    shape-rendering: crispEdges;
  }

  text {
    font-family: @font-family-sans-serif;
    font-size: 11px;
    fill: @text-color;
  }
}

// directive a2ThresholdSelector
.thresholdtext {
  font-family: @font-family-sans-serif;
  font-size: 12px;
}

.thresslider {
  height: 70px;

  .ngrs-range-slider {
    padding: 0 0 4px;

    &.ngrs-vertical {
      width: 20px;
      margin: 0 auto;

      .ngrs-runner {
        margin: 0;
        height: 70px;
      }
    }
  }
}

.margin-left-8 {
  margin-left: -8px;
}

.bandwidthslider {
  margin-top: -4px;

  .ngrs-range-slider {
    margin: 0;
    width: 220px;
    padding: 0;
    margin-left: 40px;
  }
}

// -> createnewsoundscape.html
.spacedhz {
  padding-left: 11px;
  padding-right: 11px;
}

// -> createnewsoundscape.html
.binhzpadding {
  padding-left: 0;
  padding-bottom: 10px;
  margin-left: 0;
}

// models/list, classification/list, soundscapes/list
.padded-view-div {
  padding-bottom: 40px;
}

// not sure
.label > .btn.btn-close {
  &:last-child {
    margin-right: -0.5em;
  }
}

.label.a2-tag {
  display: inline-block;

  > .badge {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
  }
}

// -> training-sets.html, classification/list, jobs/index, models/list,
//    modelinfo, soundscapes/list
.hidelongtext {
  text-overflow: ellipsis;
  overflow: hidden;
}

// -> classification/list, models/list, modelinfo, soundscapes/list
.widthtd {
  max-width: 300px;
}

// -> zoom-input-layer
.text-shadow {
  text-shadow: 1px 1px rgba(255, 255, 255, 0.5);

  &.inverted {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  }
}

// -> visualizer-spectrogram
.ghost-like {
  opacity: 0.5;
  // pointer-events:none;
  // * {
  //     pointer-events:auto;
  // }
  &:hover {
    opacity: 1;
  }
}

.default-borders {
  border-radius: 3px !important;
}

// -> visualizer-spectrogram
.fa-xs {
  font-size: 0.5em;
}

.font-size-base {
  font-size: @font-size-base;
}

.fa-check-font {
  font-size: 22px;
  font-weight: bold;
}

.summary-font-size {
  font-size: 36px;
  @media (min-width: @screen-sm) and (max-width: @screen-md) {
    font-size: 28px;
  }
  @media (max-width: @screen-xs) {
    font-size: 22px;
  }
}

// -> deleteclassification.html
.centeredloder {
  width: 100%;
  margin-left: 50%;
}

// -> modelinfo.html
.inlineh3 {
  display: inline;
}

// -> modelinfo
.seconds-div-center {
  text-align: center;
}

// -> classinfo, modelinfo
.yAxishighvalue {
  margin-left: -10px;
}

// hides tooltips on large screens
@media (min-width: 1231px) {
  .hide-tooltip-lg .tooltip,
  .hide-tooltip-lg.tooltip {
    display: none !important;
  }
}

// -> support.ejs
.support-list {
  & > dt {
    font-size: 20px;
  }

  & > dd {
    font-size: 16px;
    padding-bottom: 14px;
  }

  & > li {
    font-size: 16px;
  }
}

// add icon in the inner right part of an input
// -> register.ejs, password-input
.right-inner-icon {
  position: relative;

  input {
    padding-right: 30px;
  }

  i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
    top: 0;
    right: 0;
  }
}

// -> activate.ejs, forgot-request.ejs, register.ejs
.activation-text {
  font-size: 1.2em;
}

// login.ejs, landing-page.ejs
.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .9;
  &:before {
    content: '';
    background: #fff;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    padding: 0 .5em;
    line-height: 1.5em;
    color: #fff;
    background-color: @gray-dark;
  }
}

// -> login.ejs
.forgot-text {
  font-size: 0.85em;
  color: #151515;
}

// use click icon
// -> upload.html
.clickable {
  cursor: pointer;
  color: @gray-lighter;
  text-decoration: none;
  &:hover,
  &:focus,
  &:active {
    color: @gray-lighter;
    text-decoration: none;
  }
}

.big-count {
  position: relative;
  width: 100%;
  padding-bottom: 100%; // makes it squared
  text-align: center;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: @val-color-default;
  color: @text-color;
  font-weight: bold;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  @media (max-width: 991px) {
    display: inline-block;
    width: 33%;
    padding-bottom: 33%;
  }
  .number,
  .fa,
  .text {
    display: block;
    position: absolute;
    text-align: center;
  }
  .fa {
    font-size: 28px;
    top: ~"calc(40% - 14px)";
    left: ~"calc(50% - 14px)";
  }
  .number {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px; // fallback
    font-size: 3vw;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    @media (max-width: @screen-desktop) {
      font-size: 10vw;
    }
  }
  .text {
    left: 0;
    bottom: 10px;
    width: 100%;
  }
}

.capacity-slider {
  position: relative;
  height: 50px;
  width: 210px;
  display: inline-block;
  vertical-align: middle;

  input[type="range"] {
    -webkit-appearance: none;
    position: absolute;
    z-index: 2;
    right: 5;
    bottom: 18px;
    background-color: transparent;

    &:focus {
      outline: none;
    }

    .slider-track(@rules) {
      &::-moz-range-track {
        @rules();
      }
      &::-ms-track {
        @rules();
      }
      &::-webkit-slider-runnable-track {
        @rules();
      }
    }

    .slider-track({
      background-color: transparent;
      cursor: pointer;
    });
  }

  svg {
    position: absolute;
    bottom: 25px;
    right: 10px;
    z-index: 0;
  }
}

.feature-padding {
    padding-inline-start: 15px !important;
    li {
        padding: 10px 0px;
    }
}

.fa-circle:before {
    margin: 10px;
}

.oauth-buttons {
  padding-top: 15px;
  margin: 0;

  > * {
    display: block;

    &:not(:first-child) {
      margin-top: 8px;
    }
  }
}

.v-center > * {
  vertical-align: middle;
}

input[type="number"] {
  text-align: right;
}

div.inlined {
  display: inline-block;
}

label.normal {
  font-weight: normal;
}

.explainer {
  float: right;
  font-size: 0.9em;
  font-weight: normal;

  ::before {
    content: "(";
  }

  ::after {
    content: ")";
  }
}

.word-wrap {
  word-wrap: break-word;
}

label.no-bold {
  font-weight: normal !important;
}

.padding-left {
  padding-left: 20px;
}

.padding-leftx2 {
  padding-left: 40px;
}

.panel.panel-dropdown {
  min-width: 300px;
  margin-bottom: 0;

  > .panel-heading {
    padding-top: 0;
    padding-bottom: 0;
  }

  > .list-group > .list-group-item {
    padding-top: 5px;
    padding-bottom: 5px;
    border-width: 0px;
    &.active {
      background: @gray-darker;
    }
  }
}

.accordion-group {
  > .panel-group,
  table.table {
    margin-bottom: 0;
  }
}

.list-group-item.btn-block + .list-group-item.btn-block {
  margin-top: 0;
}

.btn.text-left {
  text-align: left;
}

.last-accessed {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.9em;
  padding-right: 4px;
  color: gray;
}

body .ngrs-range-slider {
  margin: 0;
}

input,
select,
textarea {
  color: #fff;
}

label.row {
  display: block;
}

.btn.disabled,
.btn[disabled],
.btn-group.disabled,
fieldset[disabled] .btn {
  opacity: 0.5;
  pointer-events: none;
  cursor: @cursor-disabled !important;
}

.em {
  font-style: italic;
}

.help-wrapper {
  position: relative;
  min-height: 65vh;
}

.is-v-middle {
  vertical-align: middle !important;
}

.ui-select-6em {
  .ui-select-toggle,
  .ui-select-search {
    height: 6em;
  }
}

.edit-site-dropdown {
  .ui-select-toggle {
    border-radius: 4px !important;
  }
}

.text-overflow {
  display:block;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-wrap {
  white-space: normal;
  word-wrap: break-word;
}

.no-text-wrap {
  white-space: nowrap;
}

.item-description {
  font-size: 0.75em;
  white-space: normal;
  word-break: break-word;
  color: @text-color;
}

a.ui-select-choices-row-inner {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.subnav > li > a {
  @media (max-width: @screen-tablet) {
    padding-left: 40px !important;
  }
}

.jumbotron {
  background: transparent;
  p {
    font-size: 18px;
  }
  li {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .button-group {
    margin: 18px 0;
  }
  .container {
    max-width: 27%;
    border: dashed 1px @gray-light;
    @media (max-width: @screen-lg-desktop) {
      max-width: 50%;
    }
  }
}

.input-group-addon {
  color: #fff;
}

.pager li > a,
.pager li > span {
  color: @text-color;
  cursor: pointer;
}

.row.gutter-4 {
  margin-left: -2px;
  margin-right: -2px;

  [class*="col-"] {
    padding-left: 2px;
    padding-right: 2px;
  }
}

/* START: Override ui-select style */
.ui-select-bootstrap {
  .ui-select-choices-row {
    > a {
      color: @text-color !important;
      background-color: transparent !important;
      &:focus,
      &:hover {
        background-color: @gray !important;
      }
    }
  }

  .ui-select-choices-row.active {
    > a {
      background-color: @gray !important;
    }
  }
}

.custom-select-ui {
  .ui-select-choices {
    width: auto !important;
  }

  .select-ui-option {
    padding-right: 50px;
  }

  .ui-select-match-text {
    width: 90% !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

:focus {
  outline: none;
}

.right-corners .btn {
  border-radius: 0 4px 4px 0 !important;
}

.left-corners .btn {
  border-radius: 4px 0 0 4px !important;
}

.prev-right {
  border-radius: 0 4px 4px 0;
}

.next-all {
  border-radius: 4px;
}

.all-corners .btn {
  border-radius: 4px !important;
}

.ui-select-match {
  &.btn-default-focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 255, 255, 0.3);
    outline: none;
    background-color: unset;
    position: relative;
    z-index: 1;
  }
}

.not-active {
  cursor: default;
  &:hover,
  &:active {
    background-color: @gray;
    border-color: @gray;
  }
}

.ui-select-match-text {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui-select-match-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 280px;
}

/* END: Override ui-select style */

/* START: Override c3 chart style */
.c3 {
  line,
  path {
    stroke: @text-color !important;
  }

  text {
    fill: @text-color;
  }
}

/* END: Override c3 chart style */

/* START: Override plotly-plot chart style */
.js-plotly-plot .plotly .modebar {
  background: transparent !important;
  //border-radius: 6px;
}

.js-plotly-plot .plotly .modebar-btn {
  path {
    fill: @gray-light !important;
  }
  &.active {
    path {
      fill: @text-color !important;
    }
  }
}

/* END: Override plotly-plot chart style */

/* START: Override ng-table style */
.ng-table {
  th.sortable.sort-desc,
  th.sortable.sort-asc {
    background-color: @val-color-default !important;
    text-shadow: unset !important;
  }
}

/* END: Override ng-table style */
.border-default {
  border: 1px solid @gray-light;

  &:hover,
  &.active {
    border: 1px solid @text-color;
  }
}

.form-control:focus {
  border-color: #65698a;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(255, 255, 255, 0.3);
}

::placeholder {
  color: #999 !important;
}

.panel-body {
  &_combined {
    padding-top: 60px;
  }
}

.pattern-matching-site {
  display: inline;
  font-size: 0; // a hack to remove empty space between spans
  &_block {
    display: block;
  }
  .roi-thumbnail {
    font-size: 14px; // set font-size back to previous after reset
  }
}

.section-header {
  font-size: 10px;
  line-height: 18px;
  letter-spacing: 0.1em;
  opacity: 0.8;
}

.section-sub-header {
  font-weight: normal;
  font-size: 14px;
  opacity: 0.8;
}
.section-header-title {
  font-weight: bold;
  font-size: 16px;
}

.loading {
  text-align: center;
}

.roi-thumbnail {
  background-color: @gray-lighter;
  border-color: @gray-lighter;
  color: @gray;
  &:hover,
  &:active,
  &:focus {
      background-color: @gray-medium;
      border-color: @gray-medium;
      color: @text-color;
  }
}

img.outlined {
  border: 3px solid @gray-light;
}

.ui-select-match-text {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.panel-body {
  &_combined {
    padding-top: 60px;
  }
}

.pattern-matching-site {
  display: inline;
  font-size: 0; // a hack to remove empty space between spans
  &_block {
    display: block;
  }
  .roi-thumbnail {
    font-size: 14px; // set font-size back to previous after reset
  }
}

//set cursor mouse
.cs-pointer {
  cursor: pointer;
}

.loading {
  text-align: center;
}

.homepage {
  margin-top: 50px;
  & > .row {
    & > .col-md-12 {
      max-width: 1280px;
      margin: 0 auto;
      @media (min-width: 1200px) {
        padding: 0;
      }
    }
  }
  @media (max-width: @screen-tablet) {
    .form-control[type="search"] {
      display: inline-block;
      vertical-align: middle;
      max-width: 100px;
    }
  }
}

//set footer

.container-page{
  position: relative;
  min-height: 100vh;
}

.content-wrap{
  padding-bottom: 100px;
}

.hr-line{
  margin: 20px 100px 20px 100px;
  border: 0;
  border-top: 1px solid #45485d;
}

.footer-page {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
.hide-input-arrow > input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.hide-input-arrow {
  -moz-appearance: textfield;
}

.visualizer-page {
  #beacon-container,
  #footer {
    display: none;
  }

  .container-page {
    position: sticky;
    min-height: 100vh;
  }

  .content-wrap {
    padding-bottom: 0px;
  }
}

// Navigation new version
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.open>a {
  background: transparent;

  &:after {
    content: " ";
    background: @val-color-1;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.navbar-tab-bottom-hide a{
    &:after {
      background: transparent !important;
    }
  }

.navbar-default .navbar-nav .open .dropdown-menu>.active>a {
  @media (max-width: @screen-tablet) {
    background-color: @gray-darker;

    &:hover,
    &:focus,
    &:active {
      background-color: @gray-darker;
    }
  }
}

.nav > li > a {
  @media (min-width: 767px) {
    padding: 15px 10px;
  }
}

.search-input {
  position: relative;
  padding: 11px 15px 9px;
  input {
    width: 150px;
  }
  @media (max-width: 767px) {
    display: none !important;
  }
  @media (max-width: @container-md) {
    padding: 11px 13px 9px 5px;
  }
}

search-bar {
  .dropdown-menu {
    > li > a {
      text-overflow: ellipsis;
      overflow: hidden;
      cursor: pointer;
    }
    min-width: 300px;
    max-width: 350px;
    width: 100%;
    max-height: 275px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 10000;
    left: auto !important;
    right: 14px !important;
  }
}
search-bar {
  .dropdown-menu {
    @media (max-width: 767px) {
      min-width: 250px;
      max-width: 250px;
      left: 15px !important;
    }
  }
}

.search-input-mobile {
  @media (min-width: 767px) {
    display: none !important;
  }
}

.search-nav-mobile {
  position: absolute;
  right: 60px;
  top: 13px;
  cursor: pointer;
  @media (min-width: 767px) {
    display: none !important;
  }
}

.search-nav-mobile-offset {
  right: 95px;
}

.input-search-desc {
  font-size: 12px;
}

.navbar-toggle {
  border: none;

  &:hover,&:focus {
    background-color: transparent !important;
  }
}

.navbar-link {
  @media (min-width: 767px) and (max-width: 780px) {
    padding: 15px 5px !important;
    max-width: 114px !important;
  }
  @media (min-width: 780px) and (max-width: 1230px) {
    padding: 15px 5px !important;
    max-width: 125px !important;
  }
  @media (min-width: 1231px) and (max-width: 1372px) {
    padding: 15px 5px !important;
    max-width: 118px !important;
  }
  @media (min-width: 1373px) and (max-width: 1353px) {
    max-width: 280px;
  }
}

.navbar-brand {
  @media (min-width: 767px) and (max-width: 1345px)  {
    padding-right: 5px !important;
  }
}

.hide-for-tablet {
  @media (min-width: 767px) and (max-width: 1345px)  {
    display: none !important;
  }
}

.navbar-toggle-right {
  float: right;
  margin: 8px 14px !important;
}

.navbar-toggle-left {
  float: left;
  margin: 8px 8px !important;
}

.navbar-brand {
  padding: 8px 15px;
  font-size: 16px;

  img {
    height: 3.5rem;
  }
}

.navbar-title {
  font-size: 16px;
  font-weight: 700;
}

.replace-icon {
  span {
    display: none;
  }

  img {
    display: block;
  }
}

.navbar-rfcx-link-m {
  margin-left: 15px !important;
}

.navbar-mrd {
  margin-right: -30px !important;
}

.dropdown-right {
  float: right;
}

.navbar-divider {
  display: block;
  padding: 0;
  margin: 5px 0;
}

.collapse-menu-hide {
  display: none;
}

.navbar-link-pd {
  padding: 10 15px !important;
}

.dropdown-menu-wd {
  min-width: 0px;

  a {
    padding: 5px 15px !important;
  }
}

.navbar-divider-collapse {
  display: none;
}

@media (max-width:767px) {

  .navbar-tab-bottom-hide a{
    &:after {
      background: @val-color-1 !important;
    }
  }

  .navbar-brand-center {
    position: absolute;
    left: 50%;
    margin-left: -70px !important;
    display: block;
  }

  .replace-icon {
    span {
      display: block;
    }

    img {
      display: none;
    }
  }

  .navbar-divider-collapse {
    display: block;
    padding: 0;
    margin: 10px 0;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
  }

  .navbar-divider {
    border: 0.5px solid rgba(255, 255, 255, 0.1);
  }

  .navbar-collapse-menu-rfcx {
    padding: 10px 0 !important;

    ul {
      margin: 0 !important;
      padding: 0 !important;
    }

    a {
      margin: 0 !important;
      padding: 10px auto !important;

    }
  }

  .navbar-link-pd {
    padding: 10px 15px 10px 15px !important;
  }

  .navbar-default .navbar-nav>.active>a,
  .navbar-default .navbar-nav>.open>a {
    background: transparent;

    &:after {
      width: 15px;
      height: 100%;
      right: 99%;
      top: 0%;
      bottom: auto;
      left: auto;

    }
  }

  .navbar-link-rfcx {
    a {
      padding: 10px 15px 10px 25px !important;
    }
  }

  .collapse-menu-hide {
    display: block
  }

  .navbar-menu-hide {
    display: none;
  }

}

.tree {
  display: flex;
  padding: 0px 0px 25px; ;
  flex-wrap: wrap;

  li {
      list-style: none;
      padding: 0px 5px 25px;
  }
}

.center-cropped {
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
}

.species-typeahead .dropdown-menu {
  max-height: 200px;
  overflow: auto;
}

.clusters-filter {
  @media (min-width: 320px) and (max-width: 1150px)  {
    flex-direction: column;
  }
}

.clusters-filter-right {
  @media (min-width: 320px) and (max-width: 1150px)  {
    width: 100%;
    justify-content: start;
    padding-left: 0;
    flex-wrap: wrap;
  }
}
