<div>
    <div class="clearfix">
        {{ visobj.caption || visobj.name }}
        <span ng-show="visobj.caption2" class="pull-right">{{visobj.caption2}}</span>
    </div>
    <div class="thumbnail-viewer" ng-class="{'has-vaxis': visobj.vaxis, 'muted-layer': visobj.isDisabled, 'muted-layer-thumbnail': visobj.isDisabled}">
        <div ng-if="visobj.isDisabled" class="muted-layer-message">
            <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
            <span class="pl-2">Unavailable</span>
        </div>
        <axis type="v" class="v-axis" data="visobj.vaxis" ng-if="visobj.vaxis"></axis>
        <div class="img-holder" ng-class="'visobj-'+browser.lovo.object_type"><img ng-src="{{visobj.thumbnail | a2UpdatedUrl}}"></div>
    </div>
</div>
