<form name="uploadInfo" role="form">
<div class="modal-header">
    <h2>Recording batch information</h2>
</div>

<div class="modal-body">
        <div class="form-group">
            <ui-select ng-model="info.site" theme="bootstrap">
                <ui-select-match placeholder="Site name">{{ $select.selected.name }}</ui-select-match>
                <ui-select-choices class="has-badges" repeat="site in sites | filter:$select.search">
                    {{ site.name }}
                    <span class="a2-badge" title="ARBIMON ONLY" ng-if="!site.external_id">ARBIMON ONLY</span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <label class="control-label" for="format" >
                Filename time format:
            </label>
                <i tooltip="The system gets the recording's date and time from
                    the filename by searching one of the patterns below"
                    class="fa fa-info-circle"></i>
            <ui-select ng-model="info.format" theme="bootstrap">
                <ui-select-match placeholder="format (pattern)">
                    {{ $select.selected.name }} {{ $select.selected.format }}
                </ui-select-match>
                <ui-select-choices repeat="item in formats | filter:$select.search">
                    {{ item.name }} {{ item.format }}
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <label class="control-label" for="recorder">Recorder: </label>
            <input class="form-control" name="recorder" id="recorder" type="text"
                ng-model="info.recorder"
                required>
        </div>
        <div class="form-group">
            <label class="control-label" for="mic">Microphone: </label>
            <input class="form-control" name="mic" id="mic" type="text"
                ng-model="info.mic"
                required>
        </div>
        <div class="form-group">
            <label class="control-label" for="sver">Software version: </label>
            <input class="form-control" name="sver" id="sver" type="text"  ng-model="info.sver"
                required>
        </div>
        <div ng-if="sites && !sites.length" class="alert alert-danger" role="alert">
            You need to <a ng-href="/project/{{projectUrl}}/audiodata/sites" class="alert-link" ng-click="$dismiss()">create a site
            </a> first
        </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary"
        type="submit"
        ng-click="close() | trackEvent:'Audiodata-Batchinfo':'Save clicked'">
            <i class="fa fa-floppy-o"></i> Select
    </button>
    <button class="btn btn-default"
        type="button"
        ng-click="$dismiss() | trackEvent:'Audiodata-Batchinfo':'Close clicked'">
            <i class="fa fa-times"></i> Cancel
    </button>
</div>
</form>
