<img class="ic-close" src="/images/fi-close.svg" ng-click="$dismiss()">
<div class="modal-header">
    Create playlist
</div>

<div class="modal-body">
    <form>
        <div class="form-group">
            <label for="name">Playlist name</label><span class="text-danger small pull-right">{{errMess}}</span>
            <input type="text"
                name="name"
                id="name"
                class="form-control"
                ng-model="pname"
                ng-change="changePlaylistName()"
                ng-disabled="isSavingPlaylist">
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="row-flex flex-direction-row flex-space-between">
        <button class="btn btn-success" ng-click="$dismiss()" ng-disabled="isSavingPlaylist">Cancel</button>
        <button class="btn btn-primary" ng-click="savePlaylist(pname)" ng-disabled="isSavingPlaylist">
            <i class="fa fa-spinner fa-spin" ng-if="isSavingPlaylist" style="font-size: 16px; vertical-align: middle; margin-right: 5px;"></i>
            Save
        </button>
    </div>
</div>
