<div class="modal-header">
    <h3>Rename playlist</h3>
</div>

<div class="modal-body">
    <form>
        <div class="form-group">
            <label for="name">Playlist name</label>
            <input type="text"
                name="name"
                id="name"
                class="form-control"
                ng-model="pname">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-rounded-full" ng-click="$close(pname)">Save &amp; Close <i class="fa fa-floppy-o"></i></button>
    <button class="btn btn-success btn-rounded-full" ng-click="$dismiss()">Close <i class="fa fa-times"></i></button>
</div>
