<div class="export-form">
    <div class="modal-header">
        <h3>Export report</h3>
    </div>
    
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="name">Enter your email to get the report delivered to your inbox.</label><span class="text-danger small pull-right">{{errMess}}</span>
                <span>Email</span>
                <input type="text"
                    name="name"
                    id="name"
                    class="form-control"
                    ng-model="userEmail"
                    ng-change="changeUserEmail()"
                    ng-disabled="isExportingRecs">
            </div>
        </form>
    </div>
    <div class="row-flex justify-between">
        <i class="fa fa-spinner fa-spin" ng-if="isExportingRecs" style="font-size: 26px; vertical-align: middle; margin-right: 5px;"></i>
        <button class="btn btn-success btn-rounded-full" ng-click="$dismiss() | trackEvent:'Export-Recordings':'dismiss clicked'" ng-disabled="isExportingRecs">
            Cancel
        </button>
        <button class="btn btn-primary btn-rounded-full" ng-click="exportRecordings(userEmail) | trackEvent:'Export-Recordings':'close clicked'" ng-disabled="isExportingRecs">
            Export
        </button>
    </div>
</div>
