<img class="ic-close" src="/images/fi-close.svg" ng-click="$dismiss()" ng-disabled="isExportingRecs">
<div class="modal-header">
    Export report
</div>
<div class="modal-body">
    <form>
        <span for="name">Enter your email to get the report delivered to your inbox.</span><span class="text-danger small pull-right">{{errMess}}</span>
        <p class="mt-2">Email</p>
        <input type="text"
            name="name"
            id="name"
            class="form-control mt-1"
            ng-model="userEmail"
            ng-change="changeUserEmail()"
            ng-disabled="isExportingRecs">
    </form>
</div>
<div class="modal-footer">
    <div class="row-flex flex-direction-row flex-space-between">
        <button class="btn btn-success btn-rounded-full" ng-click="$dismiss()" ng-disabled="isExportingRecs">Cancel</button>
        <button class="btn btn-primary btn-rounded-full" ng-click="exportRecordings(userEmail)" ng-disabled="isExportingRecs">Export</button>
    </div>
</div>
