<div class="modal-header">
    <span>Import site</span>
  </div>
  <div class="modal-body">
   <span>To import a list of sites, please provide a CSV file in the following format below. You must include a header in your file and coordinates must be in decimal degree format.</span>
   <pre class="mt-4">
name,lat,lon,alt
Site_1,16.09887,100.9392,0
Site_2,13.13304,110.9452,0
Site_3,49.09308,90.3492,0
Site_4,56.09887,150.9252,0
Site_5,33.00309,10.7892,0</pre>
   
  </div>
  <div class="modal-footer">
    <div class="row-flex flex-direction-row flex-space-between">
      <button class="btn btn-success" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary btn-file">Select file
        <input accept=".csv" file-change="handler($event,files)" type="file" ng-model="files">
      </button>
    </div>
  </div>
