<div class="row">
    <div class="col-sm-10 col-md-8">
        <div class="row">
            <div class="col-sm-8">
                <button class="btn btn-default" 
                    ng-click="edit() | trackEvent:'Audiodata-playlists':'edit clicked'"
                    tooltip="Edit Name"
                    tooltip-trigger="mouseenter">
                    <i class="fa fa-pencil"></i>
                </button>
                <button class="btn btn-danger"
                    ng-click="del() | trackEvent:'Audiodata-playlists':'del clicked'"
                    tooltip="Delete"
                    tooltip-trigger="mouseenter">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
            <div class="col-sm-4">
                <input class="form-control" type="text" placeholder="Search" ng-model="search.name">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <a2-table rows="playlists" data-checked="checked" search="search" selected="selected">
                    <field title="Name" key="name">
                        {{ row.name }}
                    </field>
                    <field title="No. of recordings" key="count">
                        {{ row.count }}
                    </field>
                </a2-table>
                <div class="jumbotron" ng-show="(!playlists || !playlists.length > 0) && !loading">
                    <h3>
                        No playlists found. <a href="#/audiodata/recordings" ui-sref="audiodata.recordings">Filter recordings and create a playlist.</a>
                    </h3>
                </div>
                <loader ng-hide="!loading"></loader>
            </div>
        </div>
    </div>
</div>
