<div class="modal-header">
    <h3>
        Species Library
    </h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-6">
            <div class="input-group">
                <input class="form-control" type="search" placeholder="Search species by name, family or alias" ng-model="search" ng-keyup="searchSpecies()">
                <span class="input-group-btn">
                    <button class="btn btn-default input-btn" type="button" ng-click="searchSpecies() | trackEvent:'Dashboard-species':'search species'"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 species-lib">
            <a2-table rows="species" data-selected="selected.species" no-checkbox>
                <field title="Species" key="scientific_name">
                    {{ row.scientific_name }}
                </field>
                <field title="Family" key="family">
                    {{ row.family }}
                </field>
                <field title="Taxon" key="taxon">
                    {{ row.taxon }}
                </field>
            </a2-table>
            <div class="jumbotron" ng-hide="species.length">
                <h4>Select a species, then select a sound type</h4>
            </div>
        </div>
        <div class="col-sm-4 species-lib" ng-show="selected.species">
            <a2-table rows="songtypes" selected="selected.song" no-checkbox>
                <field title="Sound" key="name">
                    {{ row.name }}
                </field>
            </a2-table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="!selected.species || !selected.song" ng-click="$close(selected)">Select</button>
    <button class="btn btn-default" ng-click="$dismiss()">Close</button>
</div>
