<img class="ic-close" src="/images/fi-close.svg" ng-click="$dismiss()">
<div class="modal-header">
    Species Library
</div>
<div class="modal-body">
    <div class="row">
        <div class="mt-1 ml-3 search">
            <div class="form-element">
                <i class="fa fa-search mt-3"></i>
                <input class="form-control" style="height: 36px; width: 450px;" type="search" placeholder="Search species by name, family or alias" ng-model="search" ng-keyup="searchSpecies()">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 species-lib mt-3">
            <a2-table rows="species" data-selected="selected.species" no-checkbox>
                <field title="Species" key="scientific_name">
                    {{ row.scientific_name }}
                </field>
                <field title="Family" key="family">
                    {{ row.family }}
                </field>
                <field title="Taxon" key="taxon">
                    {{ row.taxon }}
                </field>
            </a2-table>
            <div class="jumbotron" ng-hide="species.length">
                <span>Select a species, then select a sound type</span>
            </div>
        </div>
        <div class="col-sm-4 species-lib mt-3">
            <a2-table ng-show="!selected.species" selected="selected.song" no-checkbox>
                <field title="Sound" key="name"></field>
            </a2-table>
            <a2-table rows="songtypes" ng-show="selected.species" selected="selected.song" no-checkbox>
                <field title="Sound" key="name">
                    {{ row.name }}
                </field>
            </a2-table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row-flex flex-direction-row flex-space-between">
        <button class="btn btn-success" ng-click="$dismiss()">Cancel</button>
        <button class="btn btn-primary" ng-disabled="!selected.species || !selected.song" ng-click="$close(selected)">Select</button>
    </div>
</div>
