<div class="row">
    <h1 class="navbar-rfcx-link-m mt-0">
        Sites
    </h1>
    <div class="col-md-7 mt-4">
    <div class="row" a2-scroll="onScroll($event, $controller)" a2-scroll-on="window">
        <div class="col-md-push-6 col-md-6 toolbar">
            <input class="form-control" type="text" placeholder="Search by name" ng-model="search" ng-change="onFilterChanged()">
        </div>
        <div class="col-md-6 col-md-pull-6 toolbar">
            <button class="btn btn-default mr-1 mb-1"
                ng-click="create()">
                Create
            </button>
            <button class="btn btn-default mr-1 mb-1"
                ng-click="edit()"
                ng-disabled="!selected || selected.imported">
                Edit
            </button>
            <button class="btn btn-default btn-file mr-1 mb-1" ng-click="importSite()">
                Import
            </button>
            <button class="btn btn-default btn-file mr-1 mb-1" ng-click="exportSites()">
                Export Sites
            </button>
            <div class="btn-group mr-1 mb-1" dropdown dropdown-append-to-body="true" a2-auto-close-on-outside-click>
                <button class="btn btn-default" dropdown-toggle>
                    <i class="fa fa-trash"></i>
                    Delete
                    <i class="fa fa-caret-down"></i></button>
                </button>
                <ul class="dropdown-form dropdown-menu" role="menu">
                    <li class="cs-pointer" ng-disabled="!selected">
                        <a ng-click="del()">
                            Delete selected site
                        </a>
                    </li>
                    <li class="cs-pointer">
                        <a ng-click="delAllEmptySites()">
                            Delete all empty sites
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row sites">
        <div ng-class="editing || creating ? 'visible-md-block visible-lg-block' : '' ">
            <a2-table rows="sites" on-select="sel(row)" data-checked="checked" no-checkbox>
                <field title="Name" key="name" tdclass="name hidelongtext">
                    <div class="row-flex flex-direction-row flex-align-middle">
                        <div class="hidelongtext" id="site-{{row.id}}" data-external-id="{{ row.external_id }}" title="{{ row.name }}">{{ row.name }}</div>
                        <span ng-if="!row.external_id" class="hidelongtext a2-badge ml-2" title="LEGACY">LEGACY</span>
                        <div class="row-flex-inline flex-space-center ml-2">
                            <img ng-if="row.hidden" style="width: 14px; opacity: 0.75" title="Excluded site from analyses and Insights" src="/images/fi-eye-off.svg">
                        </div>
                    </div>
                </field>
                <ng-container ng-if="!row.imported && (row.has_logs || row.token_created_on)">
                    <field>
                        <i ng-if="row.has_logs" class="fa fa-book" title="Has status logs"></i>
                        <i ng-if="row.token_created_on" class="fa fa-link" title="Has a Token"></i>
                    </field>
                </ng-container>
                <field title="No. of recordings" key="rec_count" tooltip="Total # of 1min recording segments">
                    {{ row.rec_count }}
                </field>
                <field title="Latitude" key="lat">
                    {{ row.hidden || isLocationEmpty(row.lat, row.lon) ? '-' : row.lat ? (row.lat | number:3) : 0 }}
                </field>
                <field title="Longitude" key="lon">
                    {{ row.hidden || isLocationEmpty(row.lat, row.lon) ? '-' : row.lon ? (row.lon | number:3) : 0 }}
                </field>
                <field title="Elevation" key="alt">
                    {{ row.hidden || isLocationEmpty(row.lat, row.lon) ? '-' : row.alt ? (row.alt | number:0) : 0 }}
                </field>
                <field title="Current Timezone" key="timezone" tdclass="timezone hidelongtext">
                    <span title="{{ row.hidden ? 'Excluded site from analyses and Insights' : row.timezone }}">{{ row.hidden || isLocationEmpty(row.lat, row.lon) ? '-' : row.utc }}</span>
                </field>
                <field title="Updated" key="date" tdclass="date hidelongtext">
                    <span title="{{ row.updated_at | momentTz : 'lll' : row.timezone }}">
                        {{ row.updated_at | momentTz : 'lll' : row.timezone }}
                    </span>
                </field>
                <field title="Deployed" key="deployment" tdclass="date hidelongtext">
                    <span title="{{ row.deployment ? (row.deployment | momentTz : 'lll' : row.timezone) : 'no data' }}">
                        {{ row.deployment ? (row.deployment | momentTz : 'lll' : row.timezone) : 'no data' }}
                    </span>
                </field>
            </a2-table>
            <div class="jumbotron" ng-show="(!sites || !sites.length > 0) && !loading">
                <h3 class="text-center">
                    This project does not have any <i class="fa fa-map-marker"></i> sites
                </h3>
            </div>
            <div class="col-xs-10 col-md-6">
                <loader ng-hide="!loading"></loader>
            </div>
        </div>
    </div>
</div>
<div class="col-md-5 mt-4 sites-settings">
    <ul class="nav nav-tabs">
        <li class="ng-isolate-scope" ng-class="{active:show.map}">
            <a id="mapHeader" ng-click="set_show('map')" href="">
                <i ng-class="editing ? 'fa fa-pencil' : (creating ? 'fa fa-plus' : 'fa fa-map')"></i>
                {{editing ? 'Edit Site' : (creating ? 'New Site' : 'Location')}}
            </a>
        </li>
    </ul>
    <div ng-show="editing || creating" class="panel panel-default bg-echo border-util-gray-03">
        <div class="panel-body">
            <form class="form" ng-submit="save()" name="siteForm">
                <div class="row-flex flex-direction-column gap-y-8">
                    <div>
                        <div class="form-group">
                            <label>Site name:</label>
                            <input class="form-control bg-moss border-gray-600 rounded-lg" type="text" ng-model="temp.name" placeholder="Site name" required>
                        </div>
                        <div class="row-flex flex-direction-row flex-align-middle gap-x-3">
                            <input type="checkbox" class="m-0" ng-model="temp.hidden">
                            Exclude this site from Arbimon Insights
                            <a id="popoverSitePage"
                                class="btn p-0"
                                style="border:none;outline:none;"
                                role="button"
                                popover-html="'Hide test sites or sites for <br /> importing external templates. <br /> <a href=\'https://help.arbimon.org/article/206-adding-a-site\' class=\'text-frequency cursor-pointer\'>Learn more</a>'"
                                popover-trigger="focus"
                                popover-append-to-body="true"
                                data-placement="right"
                                tabindex="0"
                            >
                                <img src="/images/fi-info.svg">
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="mb-2">
                            <label>Location:</label>
                            <div class="input-group">
                                <span class="input-group-addon edit-site-label bg-moss border-gray-600 rounded-lg" ng-disabled="temp.hidden === true">Lat</span>
                                <input class="form-control bg-moss border-gray-600 rounded-lg"
                                    style="height: 34px"
                                    name="lat"
                                    type="text"
                                    ng-model="temp.lat"
                                    placeholder="Latitude"
                                    pattern="^-?\d+\.?\d*(\s*)$"
                                    ng-disabled="temp.hidden === true"
                                >
                            </div>
                        </div>
                        <div class="input-group mb-2">
                            <span class="input-group-addon edit-site-label bg-moss border-gray-600 rounded-lg" ng-disabled="temp.hidden === true">Lon</span>
                            <input class="form-control bg-moss border-gray-600 rounded-lg"
                                style="height: 34px"
                                name="lon"
                                type="text"
                                ng-model="temp.lon"
                                placeholder="Longitude"
                                pattern="^-?\d+\.?\d*(\s*)$"
                                ng-disabled="temp.hidden === true"
                            >
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon edit-site-label bg-moss border-gray-600 rounded-lg" ng-disabled="temp.hidden === true">El</span>
                            <input class="form-control bg-moss border-gray-600 rounded-lg"
                                style="height: 34px"
                                name="alt"
                                type="text"
                                ng-model="temp.alt"
                                placeholder="Elevation (optional)"
                                pattern="^-?\d+\.?\d*(\s*)$"
                                ng-disabled="temp.hidden === true"
                            >
                        </div>
                    </div>
                    <div ng-if="editing">
                        <div class="input-group" style="width: 100%;">
                            <label>Project:</label>
                            <ui-select ng-model="temp.project" theme="bootstrap" on-select="onSelect($select.selected)">
                                <ui-select-match class="edit-site-dropdown" placeholder="Project">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="project in projects | filter:$select.search">
                                    {{project.name}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="row-flex flex-direction-row justify-between">
                        <button class="btn btn-success btn-rounded-full"
                            type="button"
                            ng-click="close()">
                            Close
                            <i class="fa fa-times ml-3"></i>
                        </button>
                        <button class="btn btn-primary btn-rounded-full">
                            Save
                            <i class="fa fa-floppy-o ml-3"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="a2-filter-row" ng-show="show.status">
        <div class="a2-filter a2-filter-text toolbar">
            <div class="col-sm-4">
                <ui-select ng-model="status_controller.selected.series" theme="bootstrap" style="width: 150px;" append-to-body="true"
                ng-change="status_controller.set_series(status_controller.selected.series)" >
                    <ui-select-match placeholder="Series">
                        <i ng-class="$select.selected.icon"></i>
                        {{$select.selected.name}}
                    </ui-select-match>
                    <ui-select-choices repeat="series in status_controller.data.series | filter:$select.search" group-by="status_controller.itemGroup">
                        <i ng-class="series.icon"></i>
                        {{series.name}}
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-sm-4">
                <ui-select ng-model="status_controller.selected.time_range" theme="bootstrap" style="width: 150px;" append-to-body="true"
                ng-change="status_controller.set_time_range(status_controller.selected.time_range)" >
                    <ui-select-match placeholder="View">
                        <i class="fa fa-clock-o"></i>
                        {{$select.selected.text}}
                    </ui-select-match>
                    <ui-select-choices repeat="time_range in status_controller.data.time_ranges | filter:$select.search" group-by="status_controller.itemGroup">
                        {{time_range.text}}
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-sm-4">
                <ui-select ng-model="status_controller.selected.period" theme="bootstrap" style="width: 150px;" append-to-body="true"
                ng-change="status_controller.set_period(status_controller.selected.period)" >
                    <ui-select-match placeholder="Detail">
                        <i class="fa fa-hourglass-3"></i>
                        {{$select.selected.text}}
                    </ui-select-match>
                    <ui-select-choices repeat="period in status_controller.data.periods | filter:$select.search" group-by="status_controller.itemGroup">
                        {{period.text}}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="chart-container">
            <loader class="block" ng-hide="!status_controller.loading.data" text="Loading {{status_controller.selected.series.name}} Data"></loader>
            <c3-chart-display data="status_controller.chart.data" axes="status_controller.chart.axes"></c3-chart-display>
        </div>
    </div>
    <div ng-show="show.map" class="panel" ng-class="{'map-position': scrollMap(), 'map-position-static': scrolledPastHeader}" ng-style="{top: getMapHeaderTop()}">
        <div class="map" id="mapSite"></div>
    </div>
    <div ng-if="images && images.length">
        <ul class="tree">
            <li ng-repeat="image in images track by image.src" ng-click="showCarousel(image.id)"
                data-toggle="modal" data-target="#carouselModal"
                class="btn btn-default roi-thumbnail img-holder"
                popover-html="'{{image.label}}'" data-placement="bottom" popover-trigger="mouseenter" popover-append-to-body="true"
            >
                <img style="width: 100px; height: 100px;" ng-src="{{image.src | a2UpdatedUrl}}" on-error-src="https://rfcx-web-static.s3.eu-west-1.amazonaws.com/arbimon/unavailable-square.png" />
            </li>
        </ul>
        <!-- Carousel -->
        <div class="modal fade" id="carouselModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document" style="height: 80%; max-height: 600px;">
                <div class="modal-content" style="background: transparent; height: 100%;">
                    <div id="carouselId" class="carousel slide" data-ride="carousel" data-interval="0"
                        style="width: 100%; max-width: 800px; height: 100%; max-height: 600px; margin: 0 auto;">
                        <ol class="carousel-indicators">
                            <li ng-repeat="image in images track by $index" data-target="#carouselId{{$index}}" data-slide-to="{{$index}}" ng-class="image.active ? 'active' : ''"></li>
                        </ol>
                        <div class="carousel-inner" style="width: 100%; height: 100%;" role="listbox">
                            <div ng-repeat="image in images track by image.id" class="item" style="width: 100%; height: 100%;"
                                ng-class="image.active ? 'active' : ''">
                                <h3 class="popover-title">{{image.label}}</h3>
                                <img class="d-block w-100" style="display: block; max-width: 100%; max-height: 100%; margin: 0 auto;" src="{{image.src}}" on-error-src="https://rfcx-web-static.s3.eu-west-1.amazonaws.com/arbimon/unavaliable.png" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carouselId" role="button" ng-non-bindable data-slide="prev"
                            style="background: none;">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carouselId" role="button" ng-non-bindable data-slide="next"
                            style="background: none;">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
