<div class="row">
    <div class="col-xs-10 col-md-6">
        <loader ng-if="controller.loading"></loader>
        <div>
            <div ng-repeat="classGroup in controller.classes">
                <div class="mb-1">
                    {{classGroup.type}}
                </div>
                <div class="list-group">
                    <div class="list-group-item" ng-repeat="scClass in classGroup.list">
                        {{scClass.name}}
                        <div class="pull-right col-sm-1">
                            <span class="badge">{{scClass.tally || 0}}</span>
                        </div>
                        <div class="pull-right" ng-if="!scClass.system && controller.canManageClasses">
                            <button class="btn btn-default" ng-click="controller.removeClass(scClass)"><i class="fa fa-trash"></i></button>
                        </div>
                    </div>
                    <form class="input-group" ng-submit="controller.addNewClass(classGroup)" ng-if="controller.canManageClasses">
                        <input class="form-control" style="height: 36px;" placeholder="New Class" ng-model="controller.newClass[classGroup.typeId]">
                        <span class="input-group-btn">
                            <button type="submit" style="height: 36px;" class="btn btn-default input-btn">
                                <i class="fa fa-plus"></i>
                            </button>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
