<div class="row">
    <h1 class="mt-0 ml-0">
        Species
    </h1>
    <div class="col-12 mt-4">
        <button class="btn btn-default"
            ng-click="add() | trackEvent:'Dashboard-species':'add species'"
            tooltip="Select a species sound"
            tooltip-trigger="mouseenter">
            <i class="fa fa-plus mr-2"></i> New species
        </button>
        <button class="btn btn-default ml-3"
            ng-disabled="!checked || !checked.length"
            ng-click="removeSpecies() | trackEvent:'Dashboard-species':'delete species'"
            tooltip="Remove species sound"
            tooltip-trigger="mouseenter">
            <i class="fa fa-trash mr-2"></i> Remove species
        </button>
        <div class="row-flex flex-direction-row flex-space-start flex-align-middle mt-4 mb-3">
            <input ng-if="classes.length" type="text" class="form-control" ng-model="searchSpecies.q" style="width: 380px;" placeholder="Search species by name" ng-change="onFilterChanged()">
            <div class="ml-3 self-center"><loader ng-if="loading"></loader></div>
        </div>
        <div ng-hide="loading">
            <a2-table rows="classes" data-checked="checked" no-select class="species-table">
                <field title="Species" key="species_name" tdclass="is-v-middle width-20">
                    <span title="{{row.species_name}}" class="em hidelongtext">{{ row.species_name }}</span>
                </field>
                <field title="Taxon" key="taxon" tdclass="is-v-middle width-15">
                    <span class="hidelongtext" title="{{ row.taxon }}">{{ row.taxon }}</span>
                </field>
                <field title="Sound" key="songtype_name" tdclass="is-v-middle width-18">
                    <span class="hidelongtext" title="{{ row.songtype_name }}">{{ row.songtype_name }}</span>
                </field>
                <field title="Project Templates" tdclass="is-v-middle width-35">
                    <div class="row-flex flex-direction-column flex-space-start">
                        <div class="row-flex flex-direction-row flex-align-middle">
                            <div ng-repeat="template in row.templates" class="roi-thumbnail mr-3"
                                ng-style="{'opacity': template.disabled ? 0.6 : 1}" style="border-color: transparent;background-color:transparent">
                                <div ng-if="template.disabled" class="muted-layer-message" style="left: 10%; top: 30%"
                                    tooltip="Unable to visualize your template due to corrupted data"
                                >
                                    <span class="glyphicon glyphicon-ban-circle fa-xs" style="color: white;" aria-hidden="true"></span>
                                    <span class="pl-1 fa-xs" style="color: white;">Unavailable</span>
                                </div>
                                <img ng-src="{{template.uri}}" class="roi-img is-middle" style="border-radius: 4px;"/>
                                <a class="roi-btn-bl cs-pointer" ng-click="playTemplateAudio(template, $event)"
                                    ng-class="{'row-disabled': template.disabled}" title="Play sound"
                                >
                                    <i tooltip-placement="left"
                                        tooltip-append-to-body="true"
                                        class="fa fa-play cs-pointer"
                                        style="font-size: 16px;">
                                    </i>
                                </a>
                                <a class="roi-btn-br cs-pointer" ng-click="showExtraTemplates(row.species_name, row.redirectLink)"
                                    title="View template"
                                >
                                    <i tooltip-placement="left"
                                        tooltip-append-to-body="true"
                                        class="fa fa-external-link cs-pointer"
                                        style="font-size: 16px;"></i>
                                    </i>
                                </a>
                                <a class="btn roi-btn-tr" ng-click="deleteTemplate(template)" style="right:0"
                                    title="Delete template" ng-disabled="isRemoving === true || checkDeleteTemplatePermissions(template)"
                                    ng-style="{'row-disabled': isRemoving === true || checkDeleteTemplatePermissions(template)}"
                                >
                                    <i ng-if="template.isRemovingTemplate" style="font-size: 16px;" class="fa fa-spinner fa-spin"></i>
                                    <i ng-if="!template.isRemovingTemplate" style="font-size: 16px;" class="fa fa-minus"></i>
                                </a>
                            </div>
                        </div>
                        <p ng-if="row.extraTemplatesLink" class="row-flex flex-direction-column mt-4 mb-0">
                            <span>More templates in <a ng-click="showExtraTemplates(row.species_name, row.extraTemplatesLink)" style="color: #ADFF2C; cursor:pointer;">Project Templates</a></span>
                        </p>
                        <p ng-if="!row.templates" class="mb-0 hidelongtext">
                            No templates available for this species
                            <a id="popoverTemplates-{{row.id}}"
                                class="btn ml-1"
                                style="border:none;outline:none;"
                                role="button"
                                popover-html="'There are no project templates for this species.<br />
                                <a class=\'text-frequency\' href={{supportLink}}>Learn how to create a template</a>'"
                                popover-trigger="focus"
                                popover-append-to-body="true"
                                data-placement="right"
                                tabindex="0"
                            >
                                <img src="/images/fi-info.svg">
                            </a>
                        </p>
                    </div>
                </field>
                <field title="Public Templates" tdclass="is-v-middle width-35">
                    <div class="row-flex flex-direction-column flex-space-start">
    
                        <div class="row-flex flex-direction-row flex-align-middle">
                            <div ng-repeat="template in row.publicTemplates" class="roi-thumbnail mr-3"
                                ng-style="{'opacity': template.disabled ? 0.6 : 1}" style="border-color: transparent;background-color:transparent">
                                <div ng-if="template.disabled" class="muted-layer-message" style="left: 10%; top: 30%"
                                    tooltip="Unable to visualize your template due to corrupted data"
                                >
                                    <span class="glyphicon glyphicon-ban-circle fa-xs" style="color: white;" aria-hidden="true"></span>
                                    <span class="pl-1 fa-xs" style="color: white;">Unavailable</span>
                                </div>
                                <img ng-src="{{template.uri}}" class="roi-img is-middle" style="border-radius: 4px;"/>
                                <a class="roi-btn-bl cs-pointer" ng-click="playTemplateAudio(template, $event)"
                                    ng-class="{'row-disabled': template.disabled}" title="Play sound"
                                >
                                    <i tooltip-placement="left"
                                        tooltip-append-to-body="true"
                                        class="fa fa-play cs-pointer"
                                        style="font-size: 16px;">
                                    </i>
                                </a>
                                <a class="roi-btn-br cs-pointer" ng-click="showExtraTemplates(row.species_name, row.redirectPublicLink)"
                                    title="View template"
                                >
                                    <i tooltip-placement="left"
                                        tooltip-append-to-body="true"
                                        class="fa fa-external-link cs-pointer"
                                        style="font-size: 16px;">
                                    </i>
                                </a>
                                <a class="btn roi-btn-tr" ng-click="addTemplate(template)" style="right:0"
                                    title="Add templates to project" ng-disabled="isAdding === true || checkUserPermissions(template)"
                                    ng-style="{'row-disabled': isAdding === true || checkUserPermissions(template)}"
                                >
                                    <i ng-if="template.isAddingTemplate" style="font-size: 16px;" class="fa fa-spinner fa-spin"></i>
                                    <i ng-if="!template.isAddingTemplate" style="font-size: 16px;" class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                        <p ng-if="row.extraPublicTemplatesLink" class="row-flex flex-direction-column mb-0 mt-4">
                            <span>More templates in <a ng-click="showExtraTemplates(row.species_name, row.extraPublicTemplatesLink)" style="color: #ADFF2C; cursor:pointer;">Public Templates</a></span>
                        </p>
                        <p ng-if="!row.publicTemplates" class="mb-0 hidelongtext">
                            No templates available for this species
                            <a id="popoverPublicTemplates-{{row.id}}"
                                class="btn ml-1"
                                style="border:none;outline:none;"
                                role="button"
                                popover-html="'There are no public templates for this species.'"
                                popover-trigger="focus"
                                popover-append-to-body="true"
                                data-placement="right"
                                tabindex="0"
                            >
                                <img src="/images/fi-info.svg">
                            </a>
                        </p>
                    </div>
                </field>
            </a2-table>
        </div>
        <div class="jumbotron" ng-show="(!classes || !classes.length > 0) && !loading">
            <h3 class="text-center">
                This project does not have any species assigned
            </h3>
        </div>
    </div>
    <div ng-if="!loading && classes && (pagination.totalItems > pagination.limit)" class="row">
        <div class="col-sm-12">
            <pagination total-items="pagination.totalItems"
                ng-model="pagination.page"
                ng-change="setCurrentPage()"
                class="pagination-sm"
                boundary-links="true"
                max-size="10"
                rotate="false"
                num-pages="pagination.totalPages"
                ng-disabled="loading"
                items-per-page="pagination.limit">
            </pagination>
        </div>
    </div>
</div>
