<div class="row">
    <div class="col-xs-10 col-md-6">
        <h4>
            Project Species
            <button class="btn btn-default ml-3"
                ng-click="add() | trackEvent:'Dashboard-species':'add species'"
                tooltip="Select a species sound"
                tooltip-trigger="mouseenter">
                <i class="fa fa-plus"></i> New Species
            </button>
            <button class="btn btn-default ml-3"
                ng-disabled="!checked || !checked.length"
                ng-click="del() | trackEvent:'Dashboard-species':'delete species'"
                tooltip="Remove species sound"
                tooltip-trigger="mouseenter">
                <i class="fa fa-trash"></i> Remove Species
            </button>

        </h4>
        <a2-table rows="classes" data-checked="checked" no-select>
            <field title="Species" key="species_name">
                {{ row.species_name }}
            </field>
            <field title="Taxon" key="taxon">
                {{ row.taxon }}
            </field>
            <field title="Sound" key="songtype_name">
                {{ row.songtype_name }}
            </field>
        </a2-table>
        <div class="jumbotron" ng-show="(!classes || !classes.length > 0) && !loading">
            <h3 class="text-center">
                This project does not have any species assigned
            </h3>
        </div>
        <loader ng-hide="!loading"></loader>
    </div>

</div>
