<img class="ic-close cursor-pointer" src="/images/fi-close.svg" ng-click="$dismiss()">
<h2 class="modal-header bg-surface m-0 pt-4">
    Import Species
</h2>
<div class="modal-body m-0 bg-surface">
    <div class="row-flex flex-direction-row flex-space-between flex-align-middle pt-4">
        <div class="rounded-md p-3 text-fog" ng-class="{'active-stepper':isSelectStepper()}">
            <img class="mr-2" ng-src="{{isReviewStepper() || isUploadStepper()? '/images/fi-check-circle.svg' : '/images/fi-circle-black.svg'}}" style="height: 18px;">
            <span ng-class="{'text-frequency':isReviewStepper() || isUploadStepper()}">1. Select file</span>
        </div>
        <div class="border-t-1 border-util-gray-02 border-line" style="width:20%"></div>
        <div class="rounded-md p-3 text-fog" ng-class="{'active-stepper':isReviewStepper()}">
            <img class="mr-2" ng-src="{{isUploadStepper() ? '/images/fi-check-circle.svg' : '/images/fi-circle-black.svg'}}" style="height: 18px;">
            <span ng-class="{'text-frequency':isUploadStepper()}">2. Review</span>
        </div>
        <div class="border-t-1 border-util-gray-02 border-line" style="width:20%"></div>
        <div class="rounded-md p-3 text-fog" ng-class="{'active-stepper':isUploadStepper()}">
            <img class="mr-2" src="/images/fi-circle-black.svg" style="height: 18px;">
            <span ng-class="{'text-frequency':isPercentageFinished()}">3. Upload</span>
        </div>
    </div>
    <div class="row px-4">
        <div>
            <div class="mt-5">
                <div>
                    <h4 ng-if="isSelectStepper()" class="mt-0 pt-0">Upload file</h4>
                    <h4 ng-if="isUploadStepper()" class="mt-0 pt-0">Import</h4>
                    <h4 ng-if="isReviewStepper()" class="mt-0 pt-0">Review species data</h4>
                    <span ng-if="isSelectStepper()">Upload a CSV or MS Excel containing a list of species names and sounds.  <br> See an example of the data we expect under the input file.</span>
                    <span ng-if="isReviewStepper()">Our system matches the row value with our species database. Review the following species before uploading. </span>
                    <div class="row-flex flex-space-start">
                        <div ng-if="isActiveStepper !== 'Upload' && errorSpecies" class="row-flex flex-space-start bg-insight rounded-lg mt-5 p-4 note-info-border" ng-class="{'bg-spoonbill-2 note-error-border': errorSpecies}">
                            <div ng-if="errorSpecies || existedSpecies">
                                <img src="/images/fi-alert-triangle.svg">
                                <span class="text-pitch mx-3">Error</span>
                            </div>
                            <span class="text-pitch">{{infoMessage}}</span>
                        </div>
                    </div>
                    <div ng-if="(errorSpecies || existedSpecies) && isReviewStepper()" class="row-flex flex-direction-row flex-space-between flex-align-middle mt-5">
                        <a class="text-link cursor-pointer" style="text-decoration:underline;" ng-click="downloadUnrecognizedSpecies()">Download unrecognized species  (csv.)</a>
                        <div class="row-flex flex-align-middle">
                            <switch name="toggleErrorSpecies" ng-click="toggleShowErrorOnly()" ng-model="toggleErrorSpecies" ng-disabled="disableToggle()"></switch>
                            <span class="ml-2 text-sm">Show errors only</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div>
        <div>
            <div ng-if="files && files.length && isActiveStepper !== 'Upload'" class="mt-5 overflow-y-auto" style="height: 300px">
                <a2-table rows="files" class="species-table" no-checkbox>
                    <field key="position" tdclass="is-v-middle width-2 text-s">
                        <span>{{ row.position }}</span>
                    </field>
                    <field title="Species" key="species" tdclass="is-v-middle width-20 text-s">
                        <span title="{{row.species}}" class="hidelongtext">{{ row.species }}</span>
                    </field>
                    <field title="Sound" key="sound" tdclass="is-v-middle width-15 text-s">
                        <span class="hidelongtext" title="{{ row.sound }}">{{ row.sound }}</span>
                    </field>
                    <field title="Status" key="status" tdclass="is-v-middle width-10 text-s">
                        <div class="row-flex flex-direction-row flex-align-middle">
                            <span class="hidelongtext" style="width: 67px;" title="{{ row.status }}">{{ row.status }}</span>
                            <img ng-if="row.status === 'Success' || row.status === 'Failed'" ng-src="{{row.status === 'Success' ? '/images/fi-green-circle.svg' : '/images/fi-red-circle.svg'}}" class="ml-2">
                        </div>
                    </field>
                    <field key="error" tdclass="is-v-middle width-20 text-s">
                        <span class="hidelongtext" title="{{ row.error }}">{{ row.error }}</span>
                    </field>
                </a2-table>
            </div>

            <div ng-if="isUploadStepper()" class="jumbotron text-center py-5">
                <div class="container-species bg-moss rounded-lg" style="height: 350px;position:relative;border-style: solid;">
                    <div class="row-flex flex-align-middle flex-direction-column mt-5 gap-y-5">
                        <img ng-if="isPercentageFinished()" src="/images/fi-check-circle-primary.svg">
                        <img ng-if="isSpeciesBulkError" src="/images/fi-red-circle.svg" style="width:80px;">
                        <div ng-if="isSpeciesBulkError">A Server Error Occurred. We encountered some issues while importing the species.</div>
                        <div>{{isPercentageFinished() ? 'Successfully imported ' + successFiles.length + ' species.' : percentage >= 80 ? 'Finishing up...' : 'Importing ' + successFiles.length + ' species...'}}</div>
                        <span ng-if="isSpeciesBulkLoading" class="text-sm">{{percentage}} %</span>
                        <div ng-if="isSpeciesBulkLoading" class="progress progress-striped active my-2" style="width: 300px; height: 10px;">
                            <div ng-style="{ 'background-color': '#ADFF2C', width : percentage + '%' }"
                                aria-valuemax="100"
                                aria-valuemin="0"
                                aria-valuenow="{{percentage}}"
                                role="progressbar"
                                class="progress-bar">
                            </div>
                        </div>
                        <button ng-if="isPercentageFinished() || isSpeciesBulkError" class="btn btn-primary rounded-full" ng-click="$dismiss()">Back to Species</button>
                    </div>
                </div>
            </div>

            <div ng-if="!(files && files.length)" class="jumbotron text-center pt-5">
                <div file-drop file-content="fileContent" class="container-species bg-moss rounded-lg" style="height: 350px;position:relative;">
                    <div ng-if="isSpeciesReading" style="position:absolute;z-index:10;left:45%;top: 45%">
                        <i class="fa fa-spinner fa-spin" style="font-size: 32px;"></i>
                    </div>
                    <div ng-if="!isSpeciesReading">
                        <img src="/images/cloud-upload.svg" style="height: 100px;">
                        <div class="row-flex items-start flex-direction-column mt-5">
                            <h4 class="mt-0 ml-0 font-poppins">Drag and drop or upload file</h4>
                            <div class="input-group" style="width:100%">
                                <input type="text" class="form-control bg-util-gray-04 border-util-gray-03 rounded-lg"
                                    placeholder="Upload a batch species file (csv. xlsx.)" aria-label="Upload a batch species file (csv. xlsx.)"
                                    aria-describedby="basic-addon2"
                                    ng-model="fileName"
                                >
                                <span class="input-group-btn">
                                    <button class="btn btn-primary rounded-lg btn-file">
                                        <span class="text-pitch">Choose file</span>
                                        <input accept=".csv,.xlsx,.xls" file-change="handler($event,files)" type="file" ng-model="files">
                                    </button>
                                </span>
                            </div>
                            <a class="text-link cursor-pointer font-size-small mt-3" style="text-decoration:underline;" ng-click="downloadSpeciesExample()">Use our sample batch species file</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="isActiveStepper !== 'Upload'" class="modal-footer bg-surface">
    <div class="row-flex flex-direction-row flex-space-between">
        <button class="btn btn-success btn-sm" ng-click="$dismiss()">Cancel</button>
        <button class="btn btn-primary btn-sm" ng-class="{'btn-default': disableUpload()}" ng-disabled="disableUpload()" ng-click="uploadSpecies()">
            <span ng-if="isReviewStepper() || isUploadStepper()">Next: Upload</span>
            <span ng-if="isSelectStepper()">Next: Review</span>
            <i class="fa fa-arrow-right ml-2 text-sm"></i>
        </button>
    </div>
</div>
