<img class="ic-close" src="/images/fi-close.svg" ng-click="cancel()">
<div class="modal-header">
    Share Training Sets
</div>
<div class="modal-body">
    <div class="mb-3">Share to another project to be able to create training set in other projects using training sets from this project.</div>
    <div class="form-group">
        <label for="trainingSetName">Training set</label>
        <span ng-if="isTrainingSetEmpty" class="text-danger small mb-1 ml-3">Please select a training set.</span>
        <ui-select ng-if="trainingSets && trainingSets.length" ng-model="selectedData.trainingSet" theme="bootstrap" ng-disabled="disabled">
            <ui-select-match placeholder="Select or search a training set...">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="trainingSet in trainingSets | filter: $select.search" value="trainingSet.id">
                {{trainingSet.name}}
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="form-group">
        <div class="row-flex flex-direction-row flex-align-middle gap-x-3">
            <label for="projectName">
                Copy to project
            </label>
            <span style="width: 16px" class="mb-2">
                <img style="width: 16px" tooltip="You can share a training set to any project that you are a member with the Expert or Administrator role." src="/images/fi-info.svg">
            </span>
            <span ng-if="isProjectEmpty" class="text-danger small mb-1">Please select a project to copy to.</span>
        </div>
        <ui-select ng-if="projects && projects.length" ng-model="selectedData.project" theme="bootstrap" ng-disabled="disabled">
            <ui-select-match placeholder="Select or search a project...">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="project in projects | filter: $select.search" value="project.project_id">
                {{project.name}}
            </ui-select-choices>
        </ui-select>
    </div>
</div>
<div class="modal-footer">
    <div class="row-flex flex-direction-row flex-space-between">
        <button class="btn btn-success btn-rounded-full bg-moss" style="padding: 8px 24px;" ng-click="cancel()">Cancel</button>
        <div class="row-flex flex-direction-row flex-space-center">
            <i class="fa fa-spinner fa-spin" ng-if="isShareTrainingSet" style="font-size: 26px; vertical-align: middle; margin-right: 5px;"></i>
            <button class="btn btn-primary btn-rounded-full" style="padding: 8px 24px;" ng-disabled="isShareTrainingSet" ng-click="ok()">Share</button>
        </div>
    </div>
</div>
