<div class="layer">
    <div class="btn-group">
        <div class="btn-group">
            <div class="dropdown">
                <button class="btn btn-sm btn-block btn-default" role="button" data-toggle="dropdown">
                    <span class="fa fa-cubes" ></span>
                    {{ layer.training_data.tset.name || "[No Training Set Selected]"}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-height-7" role="menu" aria-labelledby="dLabel">
                    <li ng-repeat="tset in layer.training_data.tset_list">
                        <a ng-click="layer.training_data.tset = tset">{{tset.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <button class="btn btn-sm btn-default" tooltip="Make New Training Set" tooltip-placement="right" ng-click="layer.training_data.add_new_tset()">
            <i class="fa fa-plus"></i>
        </button>
    </div>
    
    <div ng-show="layer.training_data.tset">
        <div ng-hide="layer.training_data.data">
            No training data for this recording.
        </div>
        <ul class="dropdown-menu dropdown-height-7" role="menu" aria-labelledby="dLabel">
            <li ng-repeat="data in layer.training_data.data">
                {{data | json}}
            </li>
        </ul>
    </div>
</div>