<div>
    <div ng-repeat="roi in layer.training_data.data.rois">
        <div
            ng-class="{'roi-selected':layer.training_data.data.selected == roi}"
            ng-click="$event.stopPropagation(); layer.training_data.data.selected = roi"
            ng-style="{
                left:layout.sec2x(roi.x1, 1) + 'px',
                top:layout.hz2y(roi.y2, 1) + 'px',
                width:layout.dsec2width(roi.x2, roi.x1, 1) + 'px',
                height:layout.dhz2height(roi.y2, roi.y1) + 'px'
            }"
            id="popoverTrainingSet-{{roi.id}}"
            class="roi set input-source cursor-pointer"
            popover-html="'Training set<br /><br />Name: {{roi.name}}<br />Species: {{roi.species_name}} - {{roi.songtype_name}}'"
            popover-trigger="mouseenter"
            popover-append-to-body="true"
            data-placement="top"
            tabindex="0"
        >

        </div>
    </div>
</div>

<div class="input-source cursor-crosshair"
    ng-style="{height: layout.spectrogram.height, width: layout.spectrogram.width}"
    a2-visualizer-fit-spectrogram ng-show="selection.layer == layer"
    ng-mousedown="($event.which == 1) && layer.training_data.data.editor.add_point(pointer)"
    ng-mousemove="($event.buttons == 1) && layer.training_data.data.editor.add_tracer_point(pointer)"
    ng-mouseup  ="($event.which == 1) && layer.training_data.data.editor.add_point(pointer)">

    <div a2-visualizer-spectrogram-affixed data-affix-top="24" class="text-dark-gray pl-5">
        Click to add training data to this recording.
        <div ng-show="layer.training_data.data.editor.roi && !layer.training_data.data.editor.roi.id"
            a2-global-keyup="($event.which == 27) && layer.training_data.data.editor.reset()">
            Press <kbd>esc</kbd> to cancel training data addition.
        </div>
    </div>
    <div class="roi roi-current" ng-show="layer.training_data.data.editor.roi"
        ng-style="{
            left: layout.sec2x(layer.training_data.data.editor.roi.x1, 1) + 'px',
            top:layout.hz2y(layer.training_data.data.editor.roi.y2, 1) + 'px',
            width:layout.dsec2width(layer.training_data.data.editor.roi.x2,
            layer.training_data.data.editor.roi.x1, 1) + 'px',
            height:layout.dhz2height(layer.training_data.data.editor.roi.y2, layer.training_data.data.editor.roi.y1) + 'px'
        }">

        <i class="fa fa-circle-o control-point cp-resize-tl" style="position:absolute;    top:-7px;  left:-6px" ></i>
        <i class="fa fa-circle-o control-point cp-resize-tr" style="position:absolute;    top:-7px; right:-6px" ></i>
        <i class="fa fa-circle-o control-point cp-resize-bl" style="position:absolute; bottom:-7px;  left:-6px" ></i>
        <i class="fa fa-circle-o control-point cp-resize-br" style="position:absolute; bottom:-7px; right:-6px" ></i>
    </div>
    <div a2-insert-in=".visualizer-root">
        <div class="popover confirm-roi"
            ng-class="getXSide(layer.training_data.data.editor.roi.x1, layer.training_data.data.editor.roi.x2)"
            ng-style="{
                display: layer.training_data.data.editor.valid ? 'block' : 'none',
                left:(layout.viewport.left + layout.sec2x(getXCoord(layer.training_data.data.editor.roi.x1, layer.training_data.data.editor.roi.x2), 1)) + 'px',
                top:(layout.spectrogram.top + layout.hz2y((layer.training_data.data.editor.roi.y1 + layer.training_data.data.editor.roi.y2)/2, 1)) + 'px',
                transform: getTransform(layer.training_data.data.editor.roi.x1, layer.training_data.data.editor.roi.x2, layer.training_data.data.editor.roi.y1, layer.training_data.data.editor.roi.y2)
            }">
            <div class="arrow"></div>
            <h3 class="popover-title">
                <a2-species species="layer.training_data.tset.species"></a2-species>
                <small>
                    <a2-songtype songtype="layer.training_data.tset.songtype"></a2-songtype>
                </small>
            </h3>
            <div class="popover-content">
                <button class="btn btn-sm btn-default"
                    ng-click=" $event.stopPropagation(); layer.training_data.data.editor.submit()">
                    <i ng-if="isAddingTS" class="fa fa-spinner fa-spin"></i>
                    <i ng-if="!isAddingTS" class="fa fa-plus text-success"></i> Add Data
                </button>
                <button class="btn btn-sm btn-default"
                    ng-click=" $event.stopPropagation(); layer.training_data.data.editor.reset()">
                    <i class="fa fa-ban text-danger"></i> Cancel
                </button>
            </div>
        </div>
    </div>
</div>
