Hello <%= fullName %>,<br>
<br>
Your Arbimon II account for <b><%= username %></b> is almost ready to use!<br>
<br>
Follow this link to activate your account:<br><br>
https://arbimon.sieve-analytics.com/activate/<%= hash %>
</p>
