Hello <%= fullName %>,<br>
<br>
Your Arbimon account for <b><%= username %></b> is almost ready to use!<br>
<br>
Follow this link to activate your account:<br><br>
<%= host %>/activate/<%= hash %>
</p>
