Hello <b><%= fullName %></b>,<br>
<br>
your username is <b><%= username %></b><br>
Follow this link to reset your password: <a href="https://<%= host %>/reset_password/<%= hash %>">Reset Password Here</a>
