<div class="layer">
    <h5 class="collapse-title" ng-click="layer.is_open = !layer.is_open  | trackEvent:'Visualizer-Training-Data':'open training data layer'">
        <i class="fa" ng-class="layer.is_open ? 'fa-chevron-down' : 'fa-chevron-right'"></i>
        Training Sets
    </h5>
    <div class="btn-group" ng-show="layer.is_open">
        <div class="btn-group">
            <div class="dropdown">
                <button class="btn btn-sm btn-block btn-default" role="button" data-toggle="dropdown">
                    <span class="fa fa-cubes" ></span>
                    {{ layer.training_data.tset.name || "[No Training Set Selected]"}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-height-7" role="menu" aria-labelledby="dLabel">
                    <li ng-repeat="tset in layer.training_data.tset_list">
                        <a ng-click="layer.training_data.tset = tset | trackEvent:'Visualizer-Training-Data':'select training set from list'">{{tset.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <button class="btn btn-sm btn-default" tooltip="Make New Training Set" tooltip-placement="right" ng-click="layer.training_data.add_new_tset() | trackEvent:'Visualizer-Training-Data':'add new training set'">
            <i class="fa fa-plus"></i>
        </button>
    </div>
    <div ng-show="layer.is_open && layer.is_open">
        <div ng-include="layer.training_data.data.typedef.templates.layer_item" ></div>
    </div>
</div>
