<form>
    <div class="modal-header">
        <h3 class="modal-title">Enter password:</h3>
    </div>
<div class="modal-body">
    <p>
        Enter your password to confirm the changes to your profile.
    </p>
    <div class="form-group">
        <input class="form-control" 
            id="password"
            type="password" 
            ng-model="password"
            placeholder="current password">
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-click="$close(password) | trackEvent:'Settings-Confirm with password':'ok'">OK</button>
    <button class="btn btn-default" ng-click="$dismiss() | trackEvent:'Settings-Confirm with password':'cancel'">Cancel</button>
</div>
</form>
