<div class="modal-body">
    <div class="form-group">
        <label class="control-label" for="password">Confirm with password:</label>
        <input class="form-control" 
            id="password"
            type="password" 
            ng-model="password"
            placeholder="current password">
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="$close(password)">OK</button>
    <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
</div>
