<div class="row">
    <div class="col-md-7 col-lg-6">
        <div class="row">
            <div class="col-sm-6">
                <h4>
                    Project Users 
                </h4>
            </div>
            <div class="col-sm-6">
                <div class="input-group">
                    <input class="form-control" 
                        type="text" 
                        placeholder="Search: username, email"
                        ng-model="userToAdd"
                        typeahead="user as user.username for user in findUser($viewValue)"
                        typeahead-editable="false">
                    <span class="input-group-btn">
                        <button class="btn btn-default"
                            ng-click="add() | trackEvent:'Dashboard-users':'add user'"
                            tooltip="Add user"
                            tooltip-trigger="mouseenter">
                            <i class="fa fa-plus"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-hover">
                    <tbody>
                        <tr ng-repeat="user in users">
                            <td>
                                <img ng-src="{{ user.imageUrl }}"> 
                                <span class="username">{{ user.username }}</span>
                            </td>
                            <td class="text-right">
                                <span ng-show="user.rolename == 'Owner'">Project Owner</span>
                                <span ng-hide="user.rolename == 'Owner'">
                                    <select ng-model="user.rolename" class="btn btn-default" ng-change="changeRole($index)">
                                        <option ng-repeat="role in roles">{{ role.name }}</option>
                                    </select>
                                    <button class="btn btn-danger"
                                        ng-click="del($index) | trackEvent:'Dashboard-users':'delete user'" 
                                        tooltip="Remove user"
                                        tooltip-trigger="mouseenter">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Roles</h4>
            </div>
            <dl class="list-group">
                <span ng-repeat="role in roles" class="list-group-item">
                    <dt>{{ role.name }}</dt>
                    <dd>{{ role.description }}</dd>
                </span>
            </dl>
        </div>
    </div>
</div>
