<div class="modal-header" ng-bind="popup.title"></div>
<div class="modal-body">
    <p ng-repeat="msg in popup.messages" >{{msg}}</p>
    <form role="form" ng-submit="popup.enterCredentials()">
        <div class="form-group">
            <label>
                <input ng-model="popup.data.authorized" type="checkbox" /> 
                {{popup.authorizeMessage}}
            </label>
        </div>
        <div class="form-group">
            <label class="sr-only" for="user">Username</label>
            <input id="user"
                class="form-control" 
                name="username" 
                type="text" 
                placeholder="Username" 
                ng-model="popup.data.username"
                required />
        </div>
        <div class="form-group">
            <label class="sr-only" for="pass">Password</label>
            <input id="pass" 
                class="form-control" 
                name="password" 
                type="password" 
                placeholder="Password" 
                ng-model="popup.data.password"
                required />
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="$close(true)">{{ popup.btnOk }}</button>
    <button class="btn btn-default" ng-click="$dismiss()">{{ popup.btnCancel }}</button>
</div>
