<div class="dropdown" dropdown>
    <button class="btn-a2-validate btn btn-default btn-xs btn-block " role="button" dropdown-toggle>
        <i class="fa"  ng-class="'val-' + val"></i>
        {{ label || "---"}}
        <i class="fa fa-caret-down"></i>
    </button>
    <ul class="dropdown-menu dropdown-height-7" role="menu">
        <li ng-repeat="option in options">
            <a ng-click="select(option.val)">
                <i class="fa" ng-class="'val-'+option.val"></i> 
                {{ option.label }}
            </a>
        </li>
    </ul>
</div>
