<div class="row">
    <h4>Uploaded Recordings Processing Info <span class="badge">{{controller.count}}</span></h4>
</div>
<!-- <div class="row">
    <div class="col-sm-12">
        <div class="reclist-pagination-row">
            <pagination total-items="totalRecs" 
                ng-model="currentPage" ng-change="controller.setCurrentPage(currentPage)"
                class="pagination-sm" 
                boundary-links="true" 
                max-size="10" 
                rotate="false"
                num-pages="totalPages"
                items-per-page="limitPerPage">
            </pagination> 
        </div>
        <div class="reclist-total">{{ totalRecs }} Recordings</div>
        <div class="reclist-pagelimit">
            <div class="btn-group">
                <button class="btn btn-default btn-sm" ng-model="limitPerPage" ng-change="controller.setLimitPerPage(limitPerPage)" btn-radio="10">10</button>
                <button class="btn btn-default btn-sm" ng-model="limitPerPage" ng-change="controller.setLimitPerPage(limitPerPage)" btn-radio="25">25</button>
                <button class="btn btn-default btn-sm" ng-model="limitPerPage" ng-change="controller.setLimitPerPage(limitPerPage)" btn-radio="50">50</button>
                <button class="btn btn-default btn-sm" ng-model="limitPerPage" ng-change="controller.setLimitPerPage(limitPerPage)" btn-radio="100">100</button>
            </div>
            <button class="btn btn-default btn-sm" tooltip="Reload list" ng-click="reloadList()">
                <i class="fa fa-refresh"></i>
            </button>
        </div>
    </div>
</div> -->
<div class="row">
    <div class="col-sm-12">
        <a2-table class="table-hide-btns" rows="controller.list" no-checkbox="true" ext-sort="sortRecs(sortBy, reverse)" default-sort="site" no-select>
            <field title="Filename"   key="filename" >{{ row.filename  }}</field>
            <field title="Site"       key="site"     >{{ row.site     }}</field>
            <field title="Time"       key="datetime" >{{ (row.datetime | momentUtc: 'lll') || '(Empty)'}}</field>
            <field title="State"      key="state"    >{{ (row.state    ) || '(Empty)'}}</field>
        </a2-table>
        <loader ng-hide="!loading"></loader>
    </div>
</div>
<!-- <div class="row">
    <div class="col-sm-12">
        <pagination total-items="totalRecs" 
            ng-model="currentPage" ng-change="controller.setCurrentPage(currentPage)"
            class="pagination-sm" 
            boundary-links="true" 
            max-size="10" 
            rotate="false"
            num-pages="totalPages"
            items-per-page="limitPerPage">
        </pagination> 
        
    </div>
</div> -->