<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default uploads info-panel">
            <div class="panel-body">
                <div class="btn uploads title btn-default">
                    <a class="clickable" ng-click="batchInfo() | trackEvent:'Audiodata-Upload':'batchInfo'">
                        <i class="fa fa-pencil-square-o"></i>
                        Batch Info
                    </a>
                </div>
                <p ng-hide="info"><small>You need to fill the batch info before you can start uploading</small></p>
                <div ng-show="info">
                    <div class="uploads info">Site: <span class="label label-info">{{ info.site.name }}</span></div>
                    <div class="uploads info">Recorder: <span class="label label-info">{{ info.recorder }}</span></div>
                    <div class="uploads info">Microphone: <span class="label label-info">{{ info.mic }} </span></div>
                    <div class="uploads info">Software version: <span class="label label-info">{{ info.sver }} </span></div>
                    <div class="uploads info">Filename format: <span class="label label-info">{{ info.format.name }}</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="btn btn-primary btn-file">
            <i class="fa fa-plus"></i> Add files
            <input accept="audio/*,.flac"
                nv-file-select uploader="uploader" type="file" multiple>
        </div>
        <button type="button" class="btn btn-success"
            ng-click="verifyAndUpload() | trackEvent:'Audiodata-Upload':'verifyAndUpload'"
            ng-disabled="!uploader.getNotUploadedItems().length || !info || uploading">
            <i class="fa fa-cloud-upload"></i> Start
        </button>
        <button type="button" class="btn btn-warning"
            ng-click="stopQueue() | trackEvent:'Audiodata-Upload':'uploader.cancelAll'"
            ng-disabled="!uploading">
            <i class="fa fa-ban"></i> Stop all
        </button>
        <div class="btn-group" dropdown>
            <button type="button" class="btn btn-default dropdown-toggle"
                dropdown-toggle>
                <i class="fa fa-trash"></i> Remove
                <i class="fa fa-caret-down"></i>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a ng-click="uploader.clearQueue() | trackEvent:'Audiodata-Upload':'uploader.clearQueue'">All</a></li>
                <li><a ng-click="removeCompleted()">Completed</a></li>
            </ul>
        </div>
        <button ng-click="controller.displayHelp() | trackEvent:'Audiodata-Upload':'help'"
            class="btn btn-default">
            Help
        </button>
        <div class="btn-group pull-right" dropdown ng-if="controller.uploaderAppListing.length">
            <button type="button" class="btn btn-primary dropdown-toggle"
                dropdown-toggle>
                <i class="fa fa-download"></i> Desktop App
                <i class="fa fa-caret-down"></i>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="listing in controller.uploaderAppListing"><a ng-href="{{listing.url}}">
                    <i class="fa" ng-class="'fa-' + listing.type"></i>
                    {{listing.type | caps:'title-case'}}
                </a></li>
            </ul>
        </div>
    </div>
</div>
<div class="uploads list">
    <div class="row">
        <div class="col-sm-12" ng-show="uploader.queue.length">
            <h4>Total uploaded: {{ uploaded }}/{{ uploader.queue.length }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" nv-file-over  nv-file-drop  uploader="uploader" over-class="drophere">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Size</th>
                        <th>Progress</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody >
                    <tr ng-repeat="item in uploader.queue">
                        <td><strong>{{ item.file.name }}</strong></td>
                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size | prettyBytes }}</td>
                        <td ng-show="uploader.isHTML5">
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td>
                            <span ng-show="item.isUploading"><i class="fa fa-cloud-upload"></i> Uploading</span>
                            <span ng-show="item.isSuccess"><i class="fa fa-check"></i> Success</span>
                            <span ng-show="item.isError">
                                Error
                                <i ng-show="item.errorMsg"
                                    class="fa fa-exclamation-circle"
                                    tooltip="{{ item.errorMsg }}"></i>
                            </span>
                            <span ng-show="item.isDuplicate">
                                <i class="fa fa-files-o"></i> Duplicate
                                <i class="fa fa-info-circle"
                                    tooltip="A file with the same name have already been uploaded to this site">
                                </i>
                            </span>
                        </td>
                        <td nowrap>
                            <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel() | trackEvent:'Audiodata-Upload':'item.cancel'" ng-disabled="!item.isUploading">
                                <i class="fa fa-ban"></i> Stop
                            </button>
                            <button type="button" class="btn btn-default btn-xs" ng-click="item.remove() | trackEvent:'Audiodata-Upload':'item.remove'">
                                <i class="fa fa-trash"></i> Remove
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="jumbotron" ng-show="!uploader.queue.length">
            <h3 class="text-center">Drop files here <i class="fa fa-hand-o-down"></i></h3>
        </div>
        </div>
    </div>
</div>
