<div class="row">
    <div class="col-md-8">
        <h3>
            Audio uploads
            <div class="btn btn-default btn-sm ml-3"  ng-click="batchInfo() | trackEvent:'Audiodata-Upload':'batchInfo'">
                Choose site
            </div>
        </h3>
        <p ng-hide="info"><small>Please choose a site before starting uploads</small></p>
        <div ng-show="info">
            Site: <span class="label label-default mr-2">{{ info.site.name }}</span>
            Recorder: <span class="label label-default mr-2">{{ info.recorder }}</span>
            Microphone: <span class="label label-default mr-2">{{ info.mic }}</span>
            Software version: <span class="label label-default mr-2">{{ info.sver }}</span>
            Filename format: <span class="label label-default">{{ info.format.name }}</span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default upload-info-panel">
            <div class="panel-body">
                <p>Looking for a faster alternative?</p>
                <p>Try the Ingest App for fast, resumable uploads.</p>
                <div>Download for:
                    <a ng-href="{{controller.uploaderApps.mac}}">Mac</a>,
                    <a ng-href="{{controller.uploaderApps.windows}}">Windows</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="btn btn-default btn-file">
            <i class="fa fa-plus"></i> Add files
            <input accept="audio/*,.flac"
                nv-file-select uploader="uploader" type="file" multiple>
        </div>
        <button type="button" class="btn btn-default"
            ng-click="verifyAndUpload() | trackEvent:'Audiodata-Upload':'verifyAndUpload'"
            ng-disabled="!uploader.getNotUploadedItems().length || !info || uploading">
            <i class="fa fa-cloud-upload"></i> Start
        </button>
        <button type="button" class="btn btn-default"
            ng-click="stopQueue() | trackEvent:'Audiodata-Upload':'uploader.cancelAll'"
            ng-disabled="!uploading">
            <i class="fa fa-ban"></i> Stop all
        </button>
        <div class="btn-group" dropdown>
            <button type="button" class="btn btn-default dropdown-toggle"
                dropdown-toggle>
                <i class="fa fa-trash"></i> Remove
                <i class="fa fa-caret-down"></i>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a ng-click="uploader.clearQueue() | trackEvent:'Audiodata-Upload':'uploader.clearQueue'">All</a></li>
                <li><a ng-click="removeCompleted()">Completed</a></li>
            </ul>
        </div>
        <button ng-click="controller.displayHelp() | trackEvent:'Audiodata-Upload':'help'"
            class="btn btn-default">
            Help
        </button>
    </div>
</div>
<div class="mt-4">
    <div class="row">
        <div class="col-sm-12" ng-show="uploader.queue.length">
            <h4>Total uploaded: {{ uploaded }}/{{ uploader.queue.length }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" nv-file-over  nv-file-drop  uploader="uploader" over-class="drophere">
            <table class="table table-upload">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Size</th>
                        <th>Progress</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody >
                    <tr ng-repeat="item in uploader.queue">
                        <td><strong>{{ item.file.name }}</strong></td>
                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size | prettyBytes }}</td>
                        <td ng-show="uploader.isHTML5">
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td>
                            <span ng-if="item.isUploading"><i class="fa fa-cloud-upload"></i> Uploading</span>
                            <span ng-if="item.isSuccess"><i class="fa fa-check"></i> Success</span>
                            <span ng-if="item.isError">
                                Error
                                <i ng-if="item.errorMsg"
                                    class="fa fa-exclamation-circle"
                                    tooltip="{{ item.errorMsg }}"></i>
                            </span>
                            <span ng-if="item.isDuplicate">
                                <i class="fa fa-files-o"></i> Duplicate
                                <i class="fa fa-info-circle"
                                    tooltip="A file with the same name have already been uploaded to this site">
                                </i>
                            </span>
                        </td>
                        <td nowrap>
                            <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel() | trackEvent:'Audiodata-Upload':'item.cancel'" ng-disabled="!item.isUploading">
                                <i class="fa fa-ban"></i> Stop
                            </button>
                            <button type="button" class="btn btn-default btn-xs" ng-click="item.remove() | trackEvent:'Audiodata-Upload':'item.remove'">
                                <i class="fa fa-trash"></i> Remove
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="jumbotron" ng-show="!uploader.queue.length">
            <h3 class="text-center">Drop files here <i class="fa fa-hand-o-down"></i></h3>
        </div>
        </div>
    </div>
</div>
