<div class="modal-header">
    <div class="row">
        <div class="col-sm-11"><h3 class="modal-title">Create New Training Set</h3></div>
        <div class="col-sm-1"><loader ng-show="loadingClasses || loadingTypes"></loader></div>
    </div>
</div>
<div class="modal-body" ng-form>
    <div class="form form-horizontal">
        <div class="form-group" ng-class="{'has-error': validation.name}" >
            <label class="col-sm-2 control-label">Name: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="New training set" ng-model="data.name" required>
                <div class="pull-right text-danger" ng-show="validation.name">{{ validation.name }}</div>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': validation.type}">
            <label class="col-sm-2 control-label">Type: </label>
            <div class="col-sm-3">
                <div class="dropdown">
                    <button class="btn btn-block btn-default control-border text-insight" role="button" dropdown>
                        {{data.type.name}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-height-7" role="menu" aria-labelledby="dLabel">
                        <li ng-repeat="type in tset_types">
                            <a ng-click="data.type = type | trackEvent:'Visualizer-Add-Training-Set':'setting data-type'">{{type.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-7">
                {{data.type.description}}
            </div>
            <div class="pull-right text-danger" ng-show="validation.type">{{validation.type}}</div>
        </div>
        <div class="form-group" ng-class="{'has-error': validation.class}">
            <label class="col-sm-2 control-label">Sound: </label>
            <span class="col-sm-10 nameExistsSpan small" ng-if="!loadingClasses && project_classes && !project_classes.length">
                <em>No species sounds found.<a class="ml-1" ng-style="{'cursor': 'pointer'}" ng-click="goToSpeciesPage(); $dismiss()">Create one.</a></em>
            </span>
            <div class="col-sm-10">
                <ui-select ng-model="data.class" theme="bootstrap">
                    <ui-select-match placeholder="Select a species sound">
                        {{ $select.selected.species_name }} {{ $select.selected.songtype_name }}
                    </ui-select-match>
                    <ui-select-choices repeat="class in project_classes | filter:$select.search">
                        {{ class.species_name }}, {{ class.songtype_name }}
                    </ui-select-choices>
                </ui-select>
                <div class="pull-right text-danger" ng-show="validation.class">{{ validation.class }}</div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary"
        ng-click="ok()| trackEvent:'Visualizer-Add-Training-Set':'Ok'"
        ng-disabled="creating">
        {{ creating ? 'Creating...' : 'Create' }}
    </button>
    <button class="btn btn-default" ng-click="$dismiss() | trackEvent:'Visualizer-Add-Training-Set':'Cancel'">Close</button>
</div>
