<div class="row">
    <div class="col-sm-12 col-lg-11 padded-view-div">
        <h3>
            Audio Event Detections
            <a class="btn btn-sm btn-default"
                tooltip="Create Audio Event Detection"
                tooltip-placement="right"
                ng-click="createNewClusteringModel() | trackEvent:'Analysis-ClusteringModel-List':'Create new Audio Event Detection'" >
                <i class="fa fa-plus" ></i>
            </a>
        </h3>
        <loader ng-if="loading"></loader>
        <button class="btn btn-default pull-right"
            tooltip="Refresh list"
            ng-click="loadAudioEventDetections()">
                <i class="fa fa-refresh"></i>
        </button>
        <div ng-if="!loading">
            <a2-table rows="audioEventDetectionsData" no-checkbox="true" on-select="selectItem(row.id) | trackEvent:'Analysis-Audio-Event-Detections-Clustering-Data-List':' show audio event detection details'">
                <field title="Name" key="name" class="is-v-middle">
                    {{row.name}}
                </field>
                <field title="Timestamp" key="timestamp" class="is-v-middle">
                    {{ row.timestamp | moment : 'lll' }}
                </field>
                <field title="Playlist" key="playlist_name" filter class="no-wrap-table-cell is-v-middle">
                    {{row.playlist_name}}
                </field>
                <field title="Parameters" key="parameters" filter="parameters.$" class="no-wrap-table-cell is-v-middle">
                    {{row.parameters | asCSV }}
                </field>
                <field title="User" key="user" filter class="is-v-middle">
                    {{ row.user }}
                </field>
                <field class="is-v-middle">
                    <a class="btn btn-default btn-xs"
                        ng-href="/project/{{projectUrl}}/visualizer/playlist/{{row.playlist_id}}"
                        title="View in Visualizer">
                        <i class="fa fa-cubes"></i>
                    </a>
                </field>
            </a2-table>
            <div class="jumbotron seconds-div-center" ng-show="(!audioEventDetectionsOriginal || !audioEventDetectionsOriginal.length > 0) && !loading">
                <h3>{{ infopanedata }}</h3>
            </div>
        </div>
    </div>
</div>
