<div class="row">
    <div class="col-sm-12 col-lg-11 padded-view-div">
        <h1 class="mt-0" style="margin-bottom: 24px;">
            Audio Event Detections
            <span class="beta-badge">BETA</span>
            <a class="btn btn-sm btn-default ml-3"
                tooltip="Create New Audio Event Detection job"
                tooltip-placement="right"
                ng-click="createNewClusteringModel() | trackEvent:'Analysis-ClusteringModel-List':'Create new Audio Event Detection'">
                <i class="fa fa-plus"></i> New Job
            </a>
        </h1>
        <button ng-if="showRefreshBtn"
            class="btn btn-default pull-right btn-sm"
            tooltip="Refresh list"
            ng-click="loadAudioEventDetections()">
                <i class="fa fa-refresh"></i> Refresh List
        </button>
        <loader ng-if="loading"></loader>
        <div ng-show="!loading && audioEventDetectionsData && !audioEventDetectionsData.length" class="help-wrapper col-sm-12 row-flex flex-direction-column flex-space-center flex-align-middle" style="text-align: center;">
            <a class="btn btn-sm btn-default"
                tooltip="Create New Audio Event Detection job"
                tooltip-placement="top"
                ng-click="createNewClusteringModel() | trackEvent:'Analysis-ClusteringModel-List':'Create new Audio Event Detection'">
                <i class="fa fa-plus mr-1" ></i> New Job
            </a>
            <p class="mt-3 mb-0">Learn more:</p>
            <p class="mb-0"><a href="https://support.rfcx.org/article/157-audio-event-detection-aed-and-clustering-analysis" target="_blank">1. What is  Audio Event Detection?<i class="ml-2 fa fa-external-link"></i></a></p>
        </div>
        <div ng-if="!loading && audioEventDetectionsData && audioEventDetectionsData.length" class="aed">
            <a2-table rows="audioEventDetectionsData" no-checkbox="true" on-select="selectItem(row.id) | trackEvent:'Analysis-Audio-Event-Detections-Clustering-Data-List':' show audio event detection details'">
                <field title="Name" key="name" tdclass="hidelongtext widthtd is-v-middle">
                    <span title="{{ row.name }}">{{ row.name }}</span>
                </field>
                <field title="Timestamp" key="timestamp" tdclass="is-v-middle">
                    {{ row.timestamp | moment : 'lll' }}
                </field>
                <field title="Playlist" key="playlist_name" filter tdclass="no-wrap-table-cell is-v-middle">
                    {{row.playlist_name}}
                </field>
                <field title="Parameters" key="parameters" filter="parameters.$" tdclass="widthtd is-v-middle">
                    <span title="{{row.parameters | asCSV }}">{{row.parameters | asCSV }}</span>
                </field>
                <field title="User" key="user" filter tdclass="is-v-middle">
                    {{ row.user }}
                </field>
                <field title="Detected AEDs" key="count" filter tdclass="is-v-middle">
                    {{ row.aed_count }}
                </field>
                <field tdclass="is-v-middle">
                    <a class="btn btn-default btn-xs"
                        ng-click="onSelectedJob(row.playlist_id, row.job_id, row.first_playlist_recording)"
                        title="View in Visualizer">
                        <i class="fa fa-cubes"></i>
                    </a>
                    <button class="btn btn-default btn-xs"
                        ng-click="deleteAedJob(row, $event) | trackEvent:'Analysis-Audio-Event-Detection-List':'delete aed job'"
                        tooltip="Delete"
                        tooltip-trigger="mouseenter">
                        <i class="fa fa-trash"></i>
                    </button>
                </field>
            </a2-table>
        </div>
    </div>
</div>
