<div class="row">
    <div class="col-sm-12 padded-view-div">
        <div class="row-flex flex-direction-row flex-space-between">
            <h1 class="mt-0 clear-button" style="margin-bottom: 24px;">
                Audio Event Detections
                <span class="beta-badge">BETA</span>
                <project-state-badge></project-state-badge>
                <div style="display: inline-flex; align-items: center;">
                    <a2-button 
                        label="New AED Job"
                        icon-src="/images/fi-plus.svg"
                        icon-size="16px"
                        btn-class="btn-primary"
                        tooltip-text="Create New Audio Event Detection job"
                        is-view-only="tieringGuard.isViewOnly"
                        loading="tieringGuard.loading"
                        action="createNewClusteringModel()">
                    </a2-button>
                </div>
            </h1>
            <div class="pull-right mt-4 mb-5" ng-if="showRefreshBtn">
                <a2-button 
                    label="Refresh List"
                    icon-fa="fa-refresh"
                    btn-class="btn-success btn-sm"
                    tooltip-text="Refresh list"
                    action="loadAudioEventDetections()">
                </a2-button>
            </div>
        </div>
        <loader ng-if="loading"></loader>
        <div ng-show="!loading && audioEventDetectionsData && !audioEventDetectionsData.length" class="help-wrapper col-sm-12 row-flex flex-direction-column flex-space-center flex-align-middle clear-button" style="text-align: center;">
            <a2-button 
                label="New AED Job"
                icon-src="/images/fi-plus.svg"
                icon-size="16px"
                btn-class="btn-primary btn-sm"
                tooltip-text="Create New Audio Event Detection job"
                is-view-only="tieringGuard.isViewOnly"
                loading="tieringGuard.loading"
                action="createNewClusteringModel()">
            </a2-button>
            <p class="mt-3 mb-0">Learn more:</p>
            <p class="mb-0"><a href="https://help.arbimon.org/article/222-what-is-audio-event-detection-clustering" target="_blank">1. What is an Audio Event Detection?<i class="ml-2 fa fa-external-link"></i></a></p>
            <p class="mb-0"><a href="https://help.arbimon.org/article/223-creating-an-audio-event-detection-job" target="_blank">2. How to create the Audio Event Detection?<i class="ml-2 fa fa-external-link"></i></a></p>
        </div>
        <div class="py-3">
            <span ng-if="!loading && audioEventDetectionsData.length > 0" class="text-left reclist-total">
                {{ audioEventDetectionsData ? audioEventDetectionsData.length : 0 }} {{audioEventDetectionsData.length > 1 ? "jobs" : "job"}}
            </span>
        </div>
        <div ng-if="!loading && audioEventDetectionsData && audioEventDetectionsData.length" class="aed">
            <a2-table rows="audioEventDetectionsData" no-checkbox="true" on-select="selectItem(row.id)">
                <field title="Name" key="name" tdclass="hidelongtext widthtd-sm is-v-middle">
                    <span title="{{ row.name }}">{{ row.name }}</span>
                </field>
                <field title="Timestamp" key="timestamp" tdclass="is-v-middle">
                    {{ row.timestamp | moment : 'lll' }}
                </field>
                <field title="Playlist" key="playlist_name" filter tdclass="hidelongtext is-v-middle widthtd-sm">
                    <span title="{{ row.playlist_name }}">{{ row.playlist_name }}</span>
                </field>
                <field title="Parameters" key="parameters" tdclass="widthtd-sm is-v-middle">
                    <span title="{{row.parameters | asCSV }}">{{row.parameters | asCSV }}</span>
                </field>
                <field title="User" key="user" filter tdclass="is-v-middle">
                    {{ row.user }}
                </field>
                <field title="Detected AEDs" key="count" tdclass="is-v-middle item-center">
                    {{ row.aed_count }}
                </field>
                <field tdclass="is-v-middle">
                    <div class="row-flex flex-space-end">
                        <a class="pl-3 pt-2 pb-2 pr-3"
                            ng-click="onSelectedJob(row.playlist_id, row.job_id, row.first_playlist_recording)"
                            tooltip-trigger="mouseenter"
                            tooltip="View in Visualizer"
                            style="cursor: pointer;">
                            <i class="fa fa-cubes"></i>
                        </a>
                        <div 
                            ng-if="!tieringGuard.isViewOnly && tieringGuard.loading"
                            class="pl-3 pt-2 pb-2 pr-3"
                            ng-click="deleteAedJob(row, $event)"
                            tooltip="Delete job"
                            tooltip-trigger="mouseenter"
                            style="cursor: pointer;">
                            <i class="fa fa-trash"></i>
                        </div>
                    </div>
                </field>
            </a2-table>
        </div>
    </div>
</div>
