<img class="ic-close" src="/images/fi-close.svg" ng-click="$dismiss()">
<div class="modal-header">
    Create a new audio event detection job
</div>
<div class="modal-body">
    <form role="form">
        <div class="form-group">
            <label for="modelName">Job Name</label>
            <input id="modelName" class="form-control form-group" ng-class="{'red-border': controller.showNameWarning()}" ng-model="controller.data.name" type="text"/>
            <error-message ng-if="controller.showNameWarning()" message="'Please enter in the job name more than 3 letters.'"></error-message>
        </div>
        <div class="form-group">
            <label class="mr-1">Playlist</label>
            <span ng-if="!controller.isRfcxUser && controller.list.playlists && controller.list.playlists.length && !controller.isProjectHasAccess()">(maximum {{ 2000 | number }} recordings)</span>
            <div class="ml-3 flex flex-row flex-align-middle" ng-if="controller.list.playlists && !controller.list.playlists.length">
                <em class="pr-2">No playlists found.</em>
                Go to
                <button class="btn btn-sm btn-success btn-rounded-full" ng-click="controller.cancel('/audiodata/recordings')">
                    Recordings
                </button>
                and create a playlist.
            </div>
            <div ng-class="{'input-red-border': controller.showPlaylistLimitWarning()}">
                <ui-select ng-disabled="disabled" ng-if="controller.list.playlists && controller.list.playlists.length" ng-model="controller.data.playlist">
                    <ui-select-match placeholder="Select or search a playlist..."> {{ $select.selected.name }} </ui-select-match>
                    <ui-select-choices repeat="playlist in controller.list.playlists | filter: $select.search">
                        <div>
                            {{ playlist.name }}
                            <span class="pull-right">
                                <small>
                                    <em>
                                        <strong class="mr-1">{{ playlist.count | number }}</strong>recordings
                                    </em>
                                </small>
                            </span>
                        </div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <error-message ng-if="controller.showPlaylistLimitWarning()" message="'Please select a playlist with less than 2,000 recordings.'"></error-message>
            <error-message ng-if="controller.errorJobLimit" message="'The maximum total of recordings is 10,000 in the last 24 hours.'"></error-message>
        </div>
        <div class="form-group">
            <label for="amplitude">Amplitude Threshold</label>
            <img class="icon-info" src="/images/fi-info.svg"
                tooltip="Minimum amplitude of detected events (number of standard deviations from the mean of the filter spectrogram)">
            </img>
            <input id="amplitude" class="form-control" style="text-align:left;" min="0.5" step="0.1" ng-model="controller.data.params.amplitudeThreshold" type="number"/>
        </div>
        <div class="form-group">
            <div>
                <label for="frequency">Frequency</label>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label for="minFrequency">min</label>
                    <img class="icon-info" src="/images/fi-info.svg"
                        tooltip-append-to-body="true"
                        tooltip="The minimum frequency of sound events to detect (kHz)">
                    </img>
                    <input id="minFrequency" class="form-control" ng-class="{'red-border': controller.showFrequencyWarning() || controller.isNotDefined(controller.data.params.minFrequency)}" style="text-align:left;" min="0" step="1" max="23" ng-model="controller.data.params.minFrequency" type="number"/>
                </div>
                <div class="col-sm-6">
                    <label for="maxFrequency">max</label>
                    <img class="icon-info" src="/images/fi-info.svg"
                        tooltip="The maximum frequency of sound events to detect (kHz)">
                    </img>
                    <input id="maxFrequency" class="form-control" ng-class="{'red-border': controller.showFrequencyWarning() || controller.isNotDefined(controller.data.params.maxFrequency)}" style="text-align:left;" min="0" step="1" max="24" ng-model="controller.data.params.maxFrequency" type="number"/>
                </div>
            </div>
            <error-message ng-if="controller.isNotDefined(controller.data.params.minFrequency)" message="'The minimum frequency must be in a range from 0 to 23 kHz.'"></error-message>
            <error-message ng-if="controller.isNotDefined(controller.data.params.maxFrequency)" message="'The maximum frequency must be in a range from 1 to 24 kHz.'"></error-message>
            <error-message ng-if="controller.showFrequencyWarning()" message="'The maximum frequency must be greater than the minimum frequency.'"></error-message>
        </div>
        <div>
            <button type="button" name="button" class="btn btn-default btn-rounded-full"
                ng-click="controller.toggleDetails()">
                    <i class="fa" ng-class="controller.details.show ? 'fa-caret-up' : 'fa-caret-down'"></i>
                    Advanced Parameters
            </button>
        </div>
        <div ng-show="controller.details.show">
            <hr>
            <div class="form-group">
                <label for="duration">Duration Threshold</label>
                <img class="icon-info" src="/images/fi-info.svg"
                    tooltip="Minimum duration size (seconds)">
                </img>
                <input id="size" class="form-control" style="text-align:left;" min="0.1" step="0.1" ng-model="controller.data.params.durationThreshold" type="number"/>
            </div>
            <div class="form-group">
                <label for="bandwidth">Bandwidth Threshold</label>
                <img class="icon-info" src="/images/fi-info.svg"
                    tooltip="Minimum frequency bandwidth (kHz)">
                </img>
                <input id="size" class="form-control" style="text-align:left;" min="0.1" step="0.1" ng-model="controller.data.params.bandwidthThreshold" type="number"/>
            </div>
            <div class="form-group">
              <label for="amplitude">Area Threshold</label>
              <img class="icon-info" src="/images/fi-info.svg"
                  tooltip="The minimum area of an audio event in (kHz * seconds)">
              </img>
              <input id="area" class="form-control" style="text-align:left;" min="0.1" step="0.1" ng-model="controller.data.params.areaThreshold" type="number"/>
            </div>
            <div class="form-group">
                <label for="filterSize">Filter Size</label>
                <img class="icon-info" src="/images/fi-info.svg"
                    tooltip="The size of the filter used to denoise the spectrogram (pixels)">
                </img>
                <input id="filterSize" class="form-control" style="text-align:left;" min="0.1" step="0.1" ng-model="controller.data.params.filterSize" type="number"/>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="row-flex flex-direction-row flex-space-between">
        <button class="btn btn-success" ng-click="$dismiss()">Cancel</button>
        <button class="btn btn-primary" ng-click="controller.create()" ng-disabled="!controller.isJobValid()">
            Start Job
        </button>
    </div>
</div>
