<div class="modal-header">
    <h3 class="modal-title">Create a new audio event detection job</h3>
</div>
<div class="modal-body">
    <form role="form">
        <div class="form-group">
            <label for="modelName">Job Name</label>
            <input id="modelName" class="form-control" ng-model="controller.data.name" type="text"/>
        </div>
        <div class="form-group">
            <label for="playlist">Playlist</label>
            <span ng-hide="controller.loading.playlists || controller.list.playlists.length">
                <em>No playlists found.
                    <a ng-click="controller.cancel('/audiodata/playlists') | trackEvent:'Analysis-Audio-Event-Detection-new audio event detection clustering model':'Cancel-Go to playlists'">
                        Create one.
                    </a>
                </em>
            </span>
            <ui-select ng-disabled="disabled" ng-model="controller.data.playlist" theme="/common/templates/a2-ui-select">
                <ui-select-match placeholder="Select or search a playlist...">
                    {{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices repeat="playlist in controller.list.playlists | filter: $select.search">
                    {{playlist.name}}
                    <span class="pull-right">
                        <small>
                            <em>
                                <strong >Count:</strong>({{playlist.count}})
                            </em>
                        </small>
                    </span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <label for="amplitude">Amplitude Threshold</label>
            <i class="fa fa-info-circle ml-2"
                tooltip="Minimum amplitude of detected events (number of standard deviations from the median of the filter spectrogram)">
            </i>
            <input id="amplitude" class="form-control" style="text-align:left;" min="0.5" step="0.1" ng-model="controller.data.params.amplitudeThreshold" type="number"/>
        </div>
        <div class="form-group">
            <label for="duration">Duration Threshold</label>
            <i class="fa fa-info-circle ml-2"
                tooltip="Minimum duration size (seconds)">
            </i>
            <input id="size" class="form-control" style="text-align:left;" min="0.1" step="0.1" ng-model="controller.data.params.durationThreshold" type="number"/>
        </div>
        <div class="form-group">
            <label for="bandwidth">Bandwidth Threshold</label>
            <i class="fa fa-info-circle ml-2"
                tooltip="Minimum frequency bandwidth (kHz)">
            </i>
            <input id="size" class="form-control" style="text-align:left;" min="0.1" step="0.1" ng-model="controller.data.params.bandwidthThreshold" type="number"/>
        </div>
        <div class="form-group">
          <label for="amplitude">Area Threshold</label>
          <i class="fa fa-info-circle ml-2"
              tooltip="The minimum area of an audio event in (kHz * seconds)">
          </i>
          <input id="area" class="form-control" style="text-align:left;" min="0.1" step="0.1" ng-model="controller.data.params.areaThreshold" type="number"/>
        </div>
        <div class="form-group">
            <label for="filterSize">Filter Size</label>
            <i class="fa fa-info-circle ml-2"
                tooltip="The size of the filter used to denoise the spectrogram (pixels)">
            </i>
            <input id="filterSize" class="form-control" style="text-align:left;" min="0.1" step="0.1" ng-model="controller.data.params.filterSize" type="number"/>
        </div>
        <div class="form-group">
            <div>
                <label for="frequency">Frequency</label>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label for="minFrequency">Min</label>
                    <i class="fa fa-info-circle ml-2"
                        tooltip="The minimum frequency of sound events to detect (kHz)">
                    </i>
                    <input id="minFrequency" class="form-control" style="text-align:left;" min="0" step="1" max="24" ng-model="controller.data.params.minFrequency" type="number"/>
                </div>
                <div class="col-sm-6">
                    <label for="maxFrequency">Max</label>
                    <i class="fa fa-info-circle ml-2"
                        tooltip="The maximum frequency of sound events to detect (kHz)">
                    </i>
                    <input id="maxFrequency" class="form-control" style="text-align:left;" min="0" step="1" max="24" ng-model="controller.data.params.maxFrequency" type="number"/>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="controller.create() | trackEvent:'Analysis-Audio-Event-Detection-new audio event detection clustering model':'Submit'" ng-disabled="!controller.isJobValid()">
        Run
    </button>
</div>
