<div ng-controller="StatusBarNavController" data-ng-init="init()">
    <div class="row">
        <div class="col-sm-12 col-lg-11 padded-view-div">
            <h3>Active Jobs</h3>
            <div><loader ng-show="loading.jobs"></loader></div>
            <div ng-show="jobs.length && !loading.jobs">
                <a2-table rows="jobs" search="search" selected="selected" no-checkbox>
                    <field title="Name" key="name" tdclass="widthtd hidelongtext">
                        <span title="{{ row.name }}">{{ row.name }}</span>
                    </field>
                    <field title="Type" key="type">
                        <i class="fa fa-circle mr-2" ng-style="{ color: job_types.for[row.job_type_id].color}"></i>
                        {{ row.type }}
                    </field>
                    <field title="Last update" key="last_update">
                        {{ row.last_update | moment: 'lll' }}
                    </field>
                    <field title="State" key="state">
                        <span ng-hide="row.state === 'processing'">{{ row.state }}</span>
                        <div ng-show="row.state === 'processing'" class="progress progress-striped active mb-0" ng-style="{ 'max-width': 80 + '%' }">
                            <div ng-style="{ 'background-color': 'gray', width : row.percentage + '%' }"
                                aria-valuemax="100"
                                aria-valuemin="0"
                                aria-valuenow="{{row.percentage}}"
                                role="progressbar"
                                class="progress-bar">
                                {{ row.percentage }}%
                            </div>
                        </div>
                    </field>
                    <field>
                        <button ng-if="!isCompleted(row)" class="btn btn-default btn-xs" style="width: 70px;" ng-click="hide(row) | trackEvent:'Jobs':'hide job'">
                            <span>{{ row.state === 'waiting' || row.state === 'processing' ? 'Cancel' : 'Hide' }}</span>
                        </button>
                        <button ng-if="isCompleted(row)" class="btn btn-default btn-xs" style="width: 70px;" ng-click="openJob(row)">
                            <span>Open</span>
                        </button>
                    </field>
                </a2-table>
            </div>
        </div>
    </div>
</div>
