<form name="projectForm" 
    role="form" 
    ng-submit="create()">

    <div class="modal-header">
        <h2 class="modal-title">Create project</h2>
    </div>

    <div class="modal-body">
        <project-form ng-model="project" valid="isValid"></project-form>
        <plan-select project="project" plan="project.plan" auto-payments-enabled="autoPaymentsEnabled" orders-contact="ordersContact" recorder-qty="recorderQty"></plan-select>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">
            Create project
        </button>
        <button class="btn btn-default" type="button" 
            ng-click="$dismiss()">
            Cancel
        </button>
    </div>
</form>
