<div>
    <h4 style="padding-top: 10px;">
        Project tier:
        <div class="btn-group">
            <button type="button" 
                class="btn btn-success btn-sm" 
                ng-model="tier" 
                ng-disabled="disableFree"
                btn-radio="'free'">
                Free
            </button>
            <button type="button" 
                class="btn btn-success btn-sm"
                ng-model="tier" 
                btn-radio="'paid'">
                Paid
            </button>
        </div>
    </h4>
</div>
