<div ng-controller="StatusBarNavController" data-ng-init="init()">
    <div class="container-fluid padded-view-div" ng-controller="JobTypesController as job_types">
        <div ng-show="jobs.length">
            <h3>Active Jobs</h3>
            <div class="row">
                Show : 
                <label ng-repeat="job_type in job_types.types" style="padding-left:25px; display:inline-block;">
                    <input type="checkbox" class="hidden"  ng-model="shows[job_type.id]" /> 
                    <i class="fa" ng-class="shows[job_type.id] ? 'fa-circle' : 'fa-circle-o'"
                        ng-style="{color : job_type.color}"
                    ></i>
                    {{job_type.name}}
                </label>
            </div>
            <div class="row">
                <div class="bordered"></div>
                <div class="col-sm-2 hidelongtext">Name</div>
                <div class="col-sm-2 hidelongtext">Type</div>
                <div class="col-sm-3">Status</div>
            </div>
            <div data-ng-repeat="o in jobs" >
                <div class="row" ng-show="shows[o.job_type_id]" >
                    <div class="bordered"></div>
                    <div class="col-sm-2 hidelongtext">
                        <i class="fa fa-circle" ng-style="{color : job_types.for[o.job_type_id].color}"></i>
                        {{o.name}}
                    </div>
                    <div class="col-sm-2 hidelongtext">{{o.type}}</div>
                    <div class="col-sm-3 " ng-hide="o.state == 'processing' && o.percentage" >{{o.state}}</div>
                    <div class="col-sm-1" ng-show="o.state == 'processing' && o.percentage"><span ng-show="o.percentage">{{o.percentage}}%</span></div>
                    <div class="col-sm-2" ng-show="o.state == 'processing' && o.percentage">
                        <div class="progress progress-striped active"> 
                         <div ng-style="{'background-color':job_types.for[o.job_type_id].color, width : ( o.percentage + '%' ) }" aria-valuemax="100" aria-valuemin="0" aria-valuenow="{{o.percentage}}" role="progressbar" class="progress-bar">
                            {{o.percentage}}%
                         </div>
                        </div>
                    </div>
                    <div class="col-sm-1" >
                        <button class="btn btn-default btn-xs" ng-click="hideJob(o.job_id) | trackEvent:'Jobs':'hide job'">Hide</button>
                    </div>
                </div>
            </div>
        </div>
        <div ng-hide="jobs.length">
            <h3>No Active Jobs</h3>
        </div>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-bottom bottom-fixed-alerts">
      <div class="alert alert-success alert-dismissible"  role="alert" id="successDiv" ng-show="showSuccess">
        <button type="button" class="close" ng-click="updateFlags() | trackEvent:'Jobs':'alert-success closed'"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        {{ successInfo }}
      </div>
      <div class="alert alert-danger alert-dismissible"  role="alert" id="errorDiv" ng-show="showError">
        <button type="button" class="close" ng-click="updateFlags() | trackEvent:'Jobs':'alert-danger closed'"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        {{ errorInfo }}
      </div>
      <div class="alert alert-info alert-dismissible"  role="alert" id="infoDiv" ng-show="showInfo">
        <button type="button" class="close" ng-click="updateFlags() | trackEvent:'Jobs':'alert-info closed'"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        {{ infoInfo }}
      </div>
    </div>
</div>
