<div ng-controller="StatusBarNavController" data-ng-init="init()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10">
                <div ng-show="jobs.length">
                    <h3>Active Jobs</h3>
                    <div class="row">
                        <div class="col-sm-12">
                            Show : 
                            <ul class="list-inline">
                                <li ng-repeat="job_type in job_types.types">
                                    <label  style="padding-left:25px; display:inline-block;">
                                        <input type="checkbox" class="hidden"  ng-model="show[job_type.id]"/> 
                                        <i class="fa" 
                                            ng-class="show[job_type.id] ? 'fa-check-circle' : 'fa-circle-o'"
                                            ng-style="{color : job_type.color}"></i>
                                        {{ job_type.name }}
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="hidelongtext">Name</th>
                                <th>Type</th>
                                <th>Last update</th>
                                <th width="30%">Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="job in jobs" ng-show="show[job.job_type_id]">
                                <td class="hidelongtext">
                                    <i class="fa fa-circle" ng-style="{ color: job_types.for[job.job_type_id].color}"></i>
                                    {{ job.name }}
                                </td>
                                <td>
                                    {{ job.type }}
                                </td>
                                <td>
                                    {{ job.last_update | moment: 'lll' }}
                                </td>
                                <td>
                                    <span ng-hide="job.state === 'processing'">{{ job.state }}</span>
                                    <div ng-show="job.state === 'processing'" class="progress progress-striped active"> 
                                        <div ng-style="{ 'background-color': job_types.for[job.job_type_id].color, width : job.percentage + '%' }" 
                                            aria-valuemax="100" 
                                            aria-valuemin="0" 
                                            aria-valuenow="{{job.percentage}}" 
                                            role="progressbar"
                                            class="progress-bar">
                                            {{ job.percentage }}%
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button class="btn btn-default btn-xs" ng-click="hide(job) | trackEvent:'Jobs':'hide job'">Hide</button>
                                </td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-hide="jobs.length">
                    <h3>No Active Jobs</h3>
                </div>
            </div>
        </div>
    </div>
</div>
