<div class="content">
    <p ng-hide="classes.length">
        You need to add species sounds <a ui-sref="audiodata.species">here</a>
    </p>
    <accordion close-others="false" class="accordion-group">
        <accordion-group is-open="byTaxon[taxon].open" ng-repeat="taxon in taxons" class="accordion-table">
            <accordion-heading>
                <i class="fa" ng-class="byTaxon[taxon].open ? 'fa-chevron-down' : 'fa-chevron-right'"></i>
                {{ taxon }}
            </accordion-heading>
            <table class="table table-condensed">
                <tr>
                    <th>Species</th>
                    <th>Sound</th>
                    <th>Annotation</th>
                </tr>
                <tr ng-repeat="cls in byTaxon[taxon]" 
                    ng-click="select(taxon, cls, $event) | trackEvent:'Visualizer-Validator-Main':'Select'" 
                    ng-class="is_selected[cls.id] ? 'active' : ''">
                        <td class="no-select"> {{ cls.species_name }}</td>
                        <td class="no-select"> {{ cls.songtype_name }} </td>
                        <td class="no-select">
                            <div class="dropdown" dropdown>
                                <div ng-show="val_state(cls.id).showDropdown" >
                                    <i class="fa"  ng-class="'val-'+val_state(cls.id).val"></i>
                                    {{val_state(cls.id).label}}
                                </div>
                                <button class="btn-a2-validate btn btn-default btn-xs btn-block text-insight" role="button" dropdown-toggle ng-show="!val_state(cls.id).showDropdown">
                                    <i class="fa"  ng-class="'val-'+val_state(cls.id).val"></i>
                                    {{ val_state(cls.id).label || "---"}}
                                    <i class="fa fa-caret-down" ng-show = "!val_state(cls.id).label"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-height-7" role="menu">
                                    <li ng-repeat="option in val_options">
                                        <a ng-click="validate(option.val) | trackEvent:'Visualizer-Validator-Main':'Validate'">
                                            <i class="fa" ng-class="'val-'+option.val"></i> 
                                            {{ option.label }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                </tr>
            </table>
        </accordion-group>
    </accordion>
</div>
