<div class="visualizer-root show-spectrogram" a2-scroll="onScrolling()" ng-mousemove="onMouseMove($event)">
    <div a2-visualizer-spectrogram-affixed="{'align-h':.5, 'align-v':.5, container:'viewport'}"
        ng-show="loading_visobject || !visobject"
    >
        <div class="on-empty" ng-if="!loading_visobject">
            Please select a {{visobject_type}}.
        </div>
        <div class="loader" ng-if="loading_visobject">
            <loader class="blocky big" 
            text="Loading {{loading_visobject}}"
            ></loader>        
        </div>
    </div>
    
    <div class="zoom-control-group ghost-like" 
        a2-visualizer-spectrogram-affixed="{top:3, right:3, container:'viewport'}" 
        ng-if="visobject && visobject.zoomable"
    >
        <a2-zoom-control level="layout.scale.zoom.x" horizontal="true"></a2-zoom-control>
        <a2-zoom-control level="layout.scale.zoom.y"></a2-zoom-control>
        <div class="btns">
            <button class="btn btn-default btn-xs" 
                ng-class="click2zoom.active ? 'active' : ''"
                a2-global-keyup="($event.which == 90) && visobject.zoomable && click2zoom.toggle_active()"
                ng-click="click2zoom.toggle_active('in')">
                    <i class="fa fa-search-plus"></i>
            </button>                
            <button class="btn btn-default btn-xs top-right-2" 
                ng-click="click2zoom.zoom_out()">
                    <i class="fa fa-search-minus"></i>
            </button>
            <button class="btn btn-default btn-xs top-right-2" 
                a2-global-keyup="($event.which == 82) && visobject.zoomable && click2zoom.reset()"
                ng-click="click2zoom.zoom_reset()">
                <span class="fa-stack fa-xs">
                    <i class="fa fa-search fa-stack-2x"></i>
                    <i class="fa fa-remove fa-stack-1x"></i>
                </span>
            </button>
        </div>
    </div>
    
    <div class="spectrogram-container" ng-show="visobject" >
        <a2-visualizer-spectrogram-layer 
            ng-repeat="layer in layers | filter: canDisplayInSpectrogram" 
            ng-show="isSpectrogramVisible(layer)" 
        ></a2-visualizer-spectrogram-layer>
        
        <div ng-show="visobject.type=='recording'"
            class="spectrogram-layer playback-head" 
            ng-style="{left:((audio_player.getCurrentTime() * layout.scale.sec2px) | round)+'px'}"
        ></div>
        
    </div>

    <div class="mask-panel" a2-visualizer-spectrogram-affixed="{container:'root', right :0, }" ng-style="{width  : layout.root.width - (layout.viewport.left + layout.viewport.width ), top  : layout.spectrogram.top  , height : layout.root.height}"></div>
    <div class="mask-panel" a2-visualizer-spectrogram-affixed="{container:'root', bottom:0, }" ng-style="{height : layout.root.height - (layout.viewport.top + layout.viewport.height), left : layout.spectrogram.left , width  : layout.root.width }"></div>

    
    <svg class="axis-y" ng-show="visobject.domain.y" ></svg>
    <svg class="axis-x" ng-show="visobject.domain.x" ></svg>
    <svg class="legend" ng-show="visobject && has_legend" ></svg>

    <div a2-visualizer-spectrogram-affixed="{bottom:20, 'align-h':.5}" ng-show="visobject.domain.x || visobject.data_selection.x" class="no-wrap">
        <div ng-if="visobject.domain.x">
            {{ visobject.domain.x.unit || 'Time ( s )'}}
        </div>
        <div class="dropup" dropdown ng-if="visobject.data_selection.x">
            <button class="btn btn-block btn-default w-8 dropdown-toggle" dropdown-toggle>
                {{ visobject.data_selection.current.x.title }}
                <i class="fa fa-caret-down"></i>
            </button>
            <ul class="dropdown-menu dropup" role="menu">
                <li ng-show="visobject.data_selection.loading.x">
                    <a><i class="fa fa-spinner fa-spin"></i> Loading</a>
                </li>
                <li ng-hide="visobject.data_selection.loading.x" 
                    ng-repeat="x in visobject.data_selection.x" 
                    ng-class="{active: visobject.data_selection.current.x == x}">
                    <a ng-click="visobject.selectData({x:x})">
                        {{ x.title }}
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div a2-visualizer-spectrogram-affixed="{left:10, 'align-v':.5}" ng-show="visobject.domain.y || visobject.data_selection.y">
        <div ng-if="visobject.domain.y" class="vertical-text">
            {{ visobject.domain.y.unit || 'Frequency ( kHz )'}}
        </div>
        <div class="dropup" dropdown ng-if="visobject.data_selection.y">
            <button class="btn btn-block btn-default dropdown-toggle w-8 vertical-text" dropdown-toggle>
                {{ visobject.data_selection.current.y.title }}
                <i class="fa fa-caret-down"></i>
            </button>
            <ul class="dropdown-menu dropup" role="menu">
                <li ng-show="visobject.data_selection.loading.y">
                    <a><i class="fa fa-spinner fa-spin"></i> Loading</a>
                </li>
                <li ng-hide="visobject.data_selection.loading.y" 
                    ng-repeat="y in visobject.data_selection.y" 
                    ng-class="{active: visobject.data_selection.current.y == y}">
                    <a ng-click="visobject.selectData({y:y})">
                        {{ y.title }}
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div a2-visualizer-spectrogram-affixed="{top:60, 'align-h':1}" ng-show="visobject.data_selection.z">
        <div class="dropu" dropdown>
            <button class="btn btn-block btn-default w-8 dropdown-toggle" dropdown-toggle>
                {{ visobject.data_selection.current.z.title }}
                <i class="fa fa-caret-down"></i>
            </button>
            <ul class="dropdown-menu dropdown-right dropup" role="menu">
                <li ng-show="visobject.data_selection.loading.z">
                    <a><i class="fa fa-spinner fa-spin"></i> Loading</a>
                </li>
                <li ng-hide="visobject.data_selection.loading.z" 
                    ng-repeat="z in visobject.data_selection.z" 
                    ng-class="{active: visobject.data_selection.current.z == z}">
                    <a ng-click="visobject.selectData({z:z})">
                        {{ z.title }}
                    </a>
                </li>
            </ul>
        </div>
    </div>



</div>
