<div class="visualizer-root show-spectrogram" a2-scroll="onScrolling()" ng-mousemove="onMouseMove($event)">
    <div a2-visualizer-spectrogram-affixed="{'align-h':.5, 'align-v':.5, container:'viewport'}"
        ng-show="loading_visobject || !visobject"
    >
        <div class="on-empty" ng-if="!loading_visobject">
            Please select a {{visobject_type}}.
        </div>
        <div class="loader" ng-if="loading_visobject">
            <loader class="blocky big"
            text="Loading {{loading_visobject}}"
            ></loader>
        </div>
    </div>

    <div a2-visualizer-spectrogram-affixed="{'align-h':.5, 'align-v':.5, container:'viewport'}"
        ng-show="visobject.isDisabled"
    >
        <span class="glyphicon glyphicon-ban-circle fa-check-font" aria-hidden="true"></span>
        <span class="pl-2 fa-check-font">Unavailable</span>
    </div>

    <div class="zoom-control-group ghost-like"
        a2-visualizer-spectrogram-affixed="{top:3, right:3, container:'viewport'}"
        ng-if="visobject && visobject.zoomable"
    >
        <a2-zoom-control level="layout.scale.zoom.x" horizontal="true"></a2-zoom-control>
        <a2-zoom-control level="layout.scale.zoom.y"></a2-zoom-control>
        <div class="btns">
            <button class="btn btn-default btn-xs"
                ng-class="click2zoom.active ? 'active' : ''"
                a2-global-keyup="($event.which == 90) && visobject.zoomable && click2zoom.toggle_active()"
                ng-click="click2zoom.toggle_active('in')">
                    <i class="fa fa-search-plus"></i>
            </button>
            <button class="btn btn-default btn-xs top-right-2"
                ng-click="click2zoom.zoom_out()">
                    <i class="fa fa-search-minus"></i>
            </button>
            <button class="btn btn-default btn-xs top-right-2"
                a2-global-keyup="($event.which == 82) && visobject.zoomable && click2zoom.reset()"
                ng-click="click2zoom.zoom_reset()">
                <span class="fa-stack fa-xs">
                    <i class="fa fa-search fa-stack-2x"></i>
                    <i class="fa fa-remove fa-stack-1x"></i>
                </span>
            </button>
        </div>
    </div>

    <div class="spectrogram-container" ng-show="visobject" ng-class="{'container-color': convertedScale < 24, 'muted-layer': visobject.isDisabled}">
        <a2-visualizer-spectrogram-layer
            ng-repeat="layer in layers | filter: canDisplayInSpectrogram"
            ng-show="isSpectrogramVisible(layer)"
        ></a2-visualizer-spectrogram-layer>

        <div ng-show="visobject.type=='recording'"
            class="spectrogram-layer playback-head"
            ng-style="{left:((audio_player.getCurrentTime() * layout.scale.sec2px) | round)+'px'}"
        ></div>

    </div>

    <div class="mask-panel" a2-visualizer-spectrogram-affixed="{container:'root', bottom:0, }" ng-style="{height : layout.root.height - (layout.viewport.top + layout.viewport.height), left : layout.spectrogram.left , width  : layout.root.width }"></div>
    <div class="btn-group btn-group-xs pt-1 pl-1" role="group" aria-label="Option to resize the y-axis" ng-show="visobject.domain.y" ng-style="{top: layout.spectrogram.top, left : layout.spectrogram.left }" style="position: absolute; z-index: 100;">
        <button class="btn btn-sm btn-default" ng-repeat="item in yAxisOptions" ng-show="convertedScale >= 24 ? item.active : item"
            ng-class="{'active': item.active, 'default-borders': convertedScale >= 24}" ng-click="resizeYScale(item)">
            {{ item.title }}
        </button>
    </div>
    <svg class="axis-y" ng-show="visobject.domain.y" ></svg>
    <svg class="axis-x" ng-show="visobject.domain.x" ></svg>
    <svg class="legend" ng-show="visobject && has_legend" ></svg>

    <div a2-visualizer-spectrogram-affixed="{bottom:20, 'align-h':.5}" ng-show="visobject.domain.x" class="no-wrap">
        <div ng-if="visobject.domain.x">
            {{ visobject.domain.x.unit || 'Time ( s )'}}
        </div>
    </div>

    <div a2-visualizer-spectrogram-affixed="{left:10, 'align-v':.5}" ng-show="visobject.domain.y">
        <div ng-if="visobject.domain.y" class="vertical-text">
            {{ visobject.domain.y.unit || 'Frequency ( kHz )'}}
        </div>
    </div>




</div>
