<div class="row">
    <div class="col-sm-6">
        <div class="form-group right-inner-icon"
            ng-class="">
            <input ng-model="password" type="password" class="form-control"  placeholder="Password"  ng-change="testPass()" required />
            <i ng-show="validation.result.pass.score >= requiredScore" class="fa fa-check text-success"></i>
            <i ng-show="validation.result.pass.score < requiredScore" class="fa fa-times text-danger"></i>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group right-inner-icon">
            <input ng-model="validation.confirm" type="password" class="form-control"  placeholder="Confirm Password"  ng-change="testPass()" required />
            <i ng-show="validation.result.confirm.ok" class="fa fa-check text-success"></i>
            <i ng-show="validation.result.confirm.err" class="fa fa-times text-danger"></i>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <p ng-show="validation.result.pass" ng-style="{ 'color': validation.result.pass.color }">
            <i ng-repeat="i in validation.result.pass.shields track by $index" 
            class="fa fa-shield fa-lg">&nbsp;</i>
            {{ validation.result.pass.msg }}
        </p>
    </div>
    <div class="col-sm-6">
        <p ng-show="validation.result.confirm.err" class="text-danger">
            {{ validation.result.confirm.err }}
        </p>
    </div>
</div>
