<div class="row">
    <div class="col-sm-6">
        <div class="form-group right-inner-icon"
            ng-class="">
            <input ng-model="password" 
                type="password" 
                name="password" 
                id="password" 
                class="form-control" 
                placeholder="Password" 
                ng-change="testPass()"
                required />
            <i ng-show="passResult.score >= requiredScore" class="fa fa-check text-success"></i>
            <i ng-show="passResult.score < requiredScore" class="fa fa-times text-danger"></i>
        </div>
    </div>
    <div class="col-sm-6">
        <p ng-show="passResult" ng-style="{ 'color': passResult.color }">
            <i ng-repeat="i in passResult.shields track by $index" 
                class="fa fa-shield fa-lg">&nbsp;</i>
            {{ passResult.msg }}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group right-inner-icon">
            <input ng-model="confirm" 
                type="password" 
                name="confirm" 
                id="confirm" 
                class="form-control" 
                placeholder="Confirm Password" 
                ng-change="testConfirm()"
                required />
            <i ng-show="confirmOk" class="fa fa-check text-success"></i>
            <i ng-show="confirmErr" class="fa fa-times text-danger"></i>
        </div>
    </div>
    <div  class="col-sm-6">
        <p ng-show="confirmErr" class="text-danger">
            {{ confirmErr }}
        </p>
    </div>
</div>
