<ng-form name="a2projForm">
    <div class="form-group" 
        ng-class="{'has-error': errorName }">
        <label class="control-label" for="name" >Name:</label>
        <input class="form-control" 
            id="name" 
            name="name" 
            type="text" 
            ng-model="project.name"
            ng-change="verify()"
            placeholder="Project Name" required>
    </div>
    <div class="form-group" >
        <p ng-show="errorName" class="text-danger">
            {{ errorName }}
        </p>
    </div>
    <div class="form-group" ng-class="{'has-error': errorUrl }">
        <label class="control-label" for="url">URL: </label> 
        <input class="form-control" 
            id="url" 
            name="url" 
            type="text" 
            ng-model="project.url"
            ng-change="verify()"
            placeholder="examples: project_url, project-url, projecturl" required>
    </div>
    <div class="form-group" >
        <p ng-show="errorUrl" class="text-danger">
            {{ errorUrl }}
        </p>
        <p ng-hide="errorUrl || !project.url" class="text-info">
            https://arbimon.sieve-analytics.com/project/{{ project.url }}
        </p>
    </div>
    <div class="form-group" ng-class="{'has-error': errorDesc }">
        <label class="control-label" for="description">Description:</label>
        <textarea class="form-control fixed-width" 
            id="description" 
            name="description" 
            ng-model="project.description"
            ng-change="verify()"
            placeholder="this project is about... (mininum 50 characters)" required>
        </textarea>
    </div>
    <div class="form-group" >
        <p ng-show="errorDesc" class="text-danger">
            {{ errorDesc }}
        </p>
    </div>
    <div class="radio">
        <label class="control-label" for="public">
            <input id="public" type="radio" ng-model="project.is_private" value="0" ng-checked="true">
            <i class="fa fa-globe"></i> Public project - anyone can view it as a guest
        </label>
    </div>
    <div class="radio">
        <label class="control-label" for="private">
            <input id="private" type="radio" ng-model="project.is_private" value="1">
            <i class="fa fa-lock"></i> Private project - only you and user you authorize can see it
        </label>
    </div>
</ng-form>
