<a class="learn-more-element help mt-3" href="https://help.arbimon.org/article/230-pattern-matching-best-practices" target="_blank">Learn more<i class="ml-1 fa fa-external-link"></i></a>
<div class="modal-header row-flex flex-space-between">
    Create a new pattern matching
</div>
<div class="modal-body">
    <form role="form">
        <div class="form-group">
            <label for="modelName">Job Name</label>
            <input id-"modelName" class="form-control" ng-model="controller.data.name" placeholder="Enter pattern matching name" type="text"/>
        </div>
        <div class="form-group">
            <label for="template">Template</label>
            <i class="fa fa-info-circle ml-2"
                tooltip="What to search for">
            </i>
            <div class="mb-3 flex row-flex flex-align-middle" ng-if="controller.list.templates && !controller.list.templates.length">
                <em class="pr-2">No templates found.</em>
                Go to
                <button class="btn btn-sm btn-default ml-2 mr-2" ng-click="controller.cancel('/visualizer')">
                    Visualizer
                </button>
                and create a template.
            </div>
            <ui-select ng-if="controller.list.templates && controller.list.templates.length" class="ui-select-6em" ng-disabled="disabled" ng-model="controller.data.template">
                <ui-select-match placeholder="Select or search a template...">
                    <div class="roi-thumbnail" >
                        <img ng-src="{{$select.selected.uri}}" class="roi-img is-small"/>
                    </div>
                    {{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices repeat="template in controller.list.templates | filter: $select.search">
                    <div class="flex row-flex flex-align-middle">
                        <div class="roi-thumbnail mr-3">
                            <img ng-src="{{template.uri}}" class="roi-img is-small"/>
                        </div>
                        <div>
                            <div title="Species, song type">{{template.species_name}}, {{template.songtype_name}}</div>
                            <div title="Template name" class="text-dim">{{template.name}}</div>
                        </div>
                    </div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <label for="template">Playlist</label>
            <i class="fa fa-info-circle ml-2"
                tooltip="Which recordings to perform the search on">
            </i>
            <div class="mb-3 flex row-flex flex-align-middle" ng-if="controller.list.playlists && !controller.list.playlists.length">
                <em class="pr-2">No playlists found.</em>
                Go to
                <button class="btn btn-sm btn-default ml-2 mr-2" ng-click="controller.cancel('/audiodata/recordings')">
                    Recordings
                </button>
                and create a playlist.
            </div>
            <span class="pl-1 brand-warning" ng-if="controller.isWarningMessage()">
                <em>{{ controller.warningMessage }}</em>
            </span>
            <ui-select ng-disabled="disabled" ng-if="controller.list.playlists && controller.list.playlists.length" ng-model="controller.data.playlist">
                <ui-select-match placeholder="Select or search a playlist...">
                    {{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices repeat="playlist in controller.list.playlists | filter: $select.search">
                    {{playlist.name}}
                    <span class="pull-right">
                        <small>
                            <em>
                                <strong >Count:</strong>({{playlist.count}})
                            </em>
                        </small>
                    </span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <label for="param-N">Matches per recording</label>
            <i class="fa fa-info-circle ml-2"
                tooltip="Maximum number of detections/matches in a single recording">
            </i>
            <input id="param-N" class="form-control" ng-model="controller.data.params.N" placeholder="1" type="text"/>
        </div>
        <div class="form-group">
            <label for="param-persite">Matches per site</label>
            <i class="fa fa-info-circle ml-2"
                tooltip="Maximum number of detections/matches in a site">
            </i>
            <input id="param-persite" class="form-control" style="text-align:left;" min="0" step="1" placeholder="(no limit)" ng-model="controller.data.params.persite" type="number"/>
        </div>
        <div class="form-group">
            <label for="param-th">Threshold</label>
            <i class="fa fa-info-circle ml-2"
                tooltip="Minimum confidence value of detection/match">
            </i>
            <input id="param-th" class="form-control" ng-model="controller.data.params.threshold" placeholder="0.1" type="text"/>
        </div>
        <div class="form-group" ng-if="userPermit.has('citizen_scientist')">
            <label for="param-cs"><input id="param-cs" ng-model="controller.data.params.citizen_scientist" type="checkbox"/> Allow citizen scientist validations </label>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="row-flex flex-direction-row flex-space-between">
        <button class="btn btn-success" ng-click="controller.cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="controller.ok()" ng-disabled="controller.isSaving || !controller.isJobValid()">Create</button>
    </div>
</div>
