<div class="modal-header">
    <h3 class="modal-title">Delete pattern matching</h3>
</div>
<div class="modal-body">
    <span ng-hide="deletingloader">You are about to delete pattern matching <b>{{name}}</b>. Are you sure?</span>
    <div class="centeredloder"><loader ng-show="deletingloader"></loader></div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="ok() | trackEvent:'Analysis-pattern-matching delete confirm':'yes'">Yes</button>
    <button class="btn btn-default" ng-click="cancel() | trackEvent:'Analysis-pattern-matching delete confirm':'no'">No</button>  
</div>
