<img class="ic-close" src="/images/fi-close.svg" ng-click="$dismiss()">
<div class="modal-icon">
    <div>
        <img src="/images/fi-delete.svg">
    </div>
</div>
<div class="modal-header">
    Delete pattern matching
</div>
<div class="modal-body">
    <div ng-hide="deletingloader">You are about to delete the pattern matching <b>{{controller.patternMatching.name}}</b>.</div>
    <br />
    <div class="row row-flex flex-align-middle">
        <div class="col-sm-4" style="padding-bottom:5px">
            <div class="roi-thumbnail" >
                <img ng-src="{{controller.patternMatching.template.uri}}" class="roi-img"/>
                <div class="roi-btn-b outside text-sm">
                    {{controller.patternMatching.template.x2 - controller.patternMatching.template.x1 | number:2}}s
                </div>
                <div class="roi-btn-r outside text-sm">
                    {{(controller.patternMatching.template.y2-controller.patternMatching.template.y1) | number:0}}Hz
                </div>
                <div class="roi-btn-tr outside text-sm">
                    {{controller.patternMatching.template.y2 | number:0}}Hz <br>
                </div>
                <div class="roi-btn-br outside text-sm">
                    {{controller.patternMatching.template.y1 | number:0}}Hz
                </div>
            </div>
        </div>
        <div class="col-sm-6 is-v-middle">
            <b>{{controller.patternMatching.name}}</b><br />
            {{controller.patternMatching.template.name }}<br />
            {{controller.patternMatching.timestamp | moment : 'lll' }}<br />
            {{controller.patternMatching.playlist_name}}<br />
            {{controller.patternMatching.parameters | asCSV}}
        </div>
    </div>
    <br />
    <div>Are you sure?</div>
    <div class="centeredloder"><loader ng-show="deletingloader"></loader></div>
</div>
<div class="modal-footer">
    <div class="row-flex flex-direction-row flex-space-between">
        <button class="btn btn-success" ng-click="cancel()">Cancel</button>
        <button class="btn btn-red" ng-click="ok()">Delete</button>
    </div>
</div>
