<div>
    <div ng-if="controller.loading.details">
        Loading <loader></loader>
    </div>
    <div ng-if="!controller.loading.details && controller.patternMatching"
        a2-scroll="controller.onScroll($event, $controller)"
        a2-scroll-on="window"
    >
        <div class="cs-pointer mb-2" ui-sref="analysis.patternmatching">
            < Back to Pattern Matching results
        </div>
        <a2-scroll-anchor name="header" class="a2-page-header-placeholder" ng-class="{ 'is-active': controller.scrolledPastHeader }" />
        <div class="panel-body a2-page-header" ng-class="{ 'is-fixed': controller.scrolledPastHeader, 'scroll-past-header': controller.scrolledPastHeader }">
            <div class="row row-flex flex-self-align-top">
                <div class="col-sm-3" style="padding-bottom:5px">
                    <div class="text-util-gray-02 roi-thumbnail" >
                        <img ng-src="{{controller.patternMatching.template.uri}}" class="roi-img"/>
                        <a class="roi-btn-bl" ng-href="{{controller.getTemplateVisualizerUrl(controller.patternMatching.template)}}" ng-click="$event.stopPropagation();"
                            tooltip="View in Visualizer"
                        >
                            <i tooltip-placement="left"
                                tooltip-append-to-body="true"
                                class="fa fa-cubes">
                            </i>
                        </a>
                        <a class="roi-btn-br" ng-click="controller.playTemplateAudio();$event.stopPropagation();"
                            tooltip="Play Audio"
                        >
                            <i tooltip-placement="left"
                                tooltip-append-to-body="true"
                                class="fa fa-play cs-pointer">
                            </i>
                        </a>
                        <div class="roi-btn-b outside text-sm">
                            {{controller.patternMatching.template.x2 - controller.patternMatching.template.x1 | number:2}}s
                        </div>
                        <div class="roi-btn-r outside text-sm">
                            {{(controller.patternMatching.template.y2-controller.patternMatching.template.y1) | number:0}}Hz
                        </div>
                        <div class="roi-btn-tr outside text-sm">
                            {{controller.patternMatching.template.y2 | number:0}}Hz <br>
                        </div>
                        <div class="roi-btn-br outside text-sm">
                            {{controller.patternMatching.template.y1 | number:0}}Hz
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 is-v-middle">
                    <div class="mb-3">
                        <p class="section-header mb-1">{{controller.patternMatching.timestamp | moment : 'lll' }}</p>
                        <div class="row-flex flex-align-middle flex-direction-row flex-space-start">
                            <span title="{{controller.patternMatching.name}}" class="section-header-title mr-3 hidelongtext">{{controller.patternMatching.name}}</span>
                            <button class="btn btn-default btn-xs"
                                ng-click="controller.update(controller.patternMatching, $event)"
                                tooltip="Edit Name"
                                tooltip-trigger="mouseenter">
                                <i class="fa fa-pencil"></i>
                            </button>
                        </div>
                        <p class="section-sub-header mb-0">{{controller.patternMatching.species_name }}, {{controller.patternMatching.songtype_name }}</p>
                    </div>
                    <div class="mb-3">
                        <div class="section-header text-uppercase mb-1" ng-style="{'cursor': 'pointer'}" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" ng-click="collapsed=!collapsed">
                            Input
                            <i class="fa" ng-style="{'cursor': 'pointer'}" ng-class="collapsed ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                        </div>
                        <div class="collapse" id="collapseExample">
                            <p tooltip-placement="left" tooltip="Template Name" class="text mb-0"><img class="mr-3" src="/images/ic-template.svg">{{controller.patternMatching.template.name }}</p>
                            <p tooltip-placement="left" tooltip="Playlist Name" class="text mb-0"><img class="mr-3" src="/images/ic-playlist.svg">{{controller.patternMatching.playlist_name}} ({{controller.patternMatching.playlist_count | number}} recordings)</p>
                            <p tooltip-placement="left" tooltip="Template Parameters" class="text mb-0"><img class="mr-3" src="/images/ic-parameters.svg">{{controller.patternMatching.templateParameters | asCSV}}</p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <p class="section-header text-uppercase mb-1">
                            Output
                        </p>
                        <p class="section-header-title mb-0">{{controller.patternMatching.matches | number}} Matches</p>
                        <div>
                            <span class="mr-4"><i class="fa val-1 mr-3"></i>{{controller.patternMatching.present || 0 | number }} present</span>
                            <span class="mr-4"><i class="fa val-0 mr-3"></i>{{controller.patternMatching.absent || 0 | number}} not present</span>
                            <span><i class="fa val-null mr-3"></i>{{controller.patternMatching.matches - (controller.patternMatching.present + controller.patternMatching.absent) | number}} unvalidated</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 row-flex flex-direction-column flex-self-align-top">
                    <div>
                        <div class="btn-group btn-group-margin">
                            <button class="btn btn-default not-active" ><i class="fa fa-search"></i></button>
                            <ui-select ng-model="controller.search" theme="bootstrap" class="btn-group-item border-left-radius" on-select="controller.onSearchChanged()" style="width: 150px">
                                <ui-select-match class="right-corners">
                                    <i ng-class="$select.selected.class"></i> {{$select.selected.text}}
                                </ui-select-match>
                                <ui-select-choices repeat="$item in controller.lists.search | filter:$select.search">
                                    <i ng-class="$item.class"></i> {{$item.text}}
                                    <div class="item-description">{{$item.description}}</div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="btn-group btn-group-margin">
                            <ui-select class="btn-group-item" ng-model="controller.selected.siteBookmark" theme="bootstrap" style="display:inline-block; width:4em;"
                                ng-change="controller.setSiteBookmark($select.selected)">
                                <ui-select-match class="a2-uism-btn-icon icon-site"> </ui-select-match>
                                <ui-select-choices repeat="$item in controller.sitesList | filter:$select.search">
                                    <span class="text-wrap"><i class="fa fa-map-marker"></i> {{$item.site}}</span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="row-flex flex-direction-row flex-self-align-bottom">
                        <div class="btn-group btn-group-margin">
                            <ui-select ng-model="controller._selection" theme="bootstrap" style="display:inline-block; width:9em;"
                                on-select="controller.onSelect($select.selected)"
                            >
                                <ui-select-match placeholder="Select">Select</ui-select-match>
                                <ui-select-choices repeat="$item in controller.lists.selection | filter:$select.search">
                                    {{$item.text}}
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="btn-group btn-group-margin row-flex flex-direction-row">
                            <button class="btn btn-default  not-active" >Validate as:</button>
                            <ui-select ng-model="controller.validation" class="btn-group-item border-left-radius" theme="bootstrap" style="width: 150px">
                                <ui-select-match  class="right-corners">
                                    <i ng-class="$select.selected.class"></i> {{$select.selected.text}}
                                </ui-select-match>
                                <ui-select-choices repeat="$item in controller.lists.validation | filter:$select.search">
                                    <i ng-class="$item.class"></i> {{$item.text}}
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="btn-group btn-group-margin">
                            <button class="btn btn-primary" style="width:80px" ng-click="controller.validate(patternMatchingId)" ng-disabled="controller.isValidating.disableBtn === true">
                                <i ng-if="controller.isValidating.disableBtn === true" class="fa fa-spinner fa-spin" style="font-size: 16px;"></i>
                                <span ng-if="controller.isValidating.disableBtn === false">Submit</span>
                            </button>
                        </div>
                    </div>
                    <div>
                        <div class="btn-group btn-group-margin">
                            <button class="btn btn-default"
                                ng-repeat="item in controller.lists.thumbnails"
                                ng-click="controller.thumbnailClass = item.value"
                                ng-class="{active: controller.thumbnailClass == item.value}"
                            ><i ng-class="item.class"></i></button>
                        </div>

                        <div class="export-url pull-right">
                                <a class="btn btn-default"
                                ng-href="{{controller.patternMatchingExportUrl}}"
                                ng-click="controller.exportPmReport($event) | trackEvent:'Pattern Matching Details':'export'"
                                tooltip="Export Pattern Matching Data">
                                <i class="fa fa-download"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body" ng-class="{ 'panel-body_combined': controller.splitAllSites }">
            <div ng-if="controller.loading.rois" class="loading">Loading <loader></loader></div>
            <div class="row panel-body" style="text-align: center;" ng-if="!controller.loading.rois && !controller.rois.length && !controller.shouldGetPerSite()">
                No results found.
            </div>
            <span class="pattern-matching-site" ng-repeat="site in controller.rois" ng-class="{ 'pattern-matching-site_block': !controller.splitAllSites }">
                <div ng-if="!controller.splitAllSites && site.name" class="h3" id="site-{{site.id}}"><i class="fa fa-map-marker"></i> {{site.name}}</div>

                <span ng-repeat="roi in site.list"
                    class="btn btn-default roi-thumbnail {{roi.selected ? 'active' : ''}}"
                    ng-click="roi.selected = !roi.selected"
                    popover-html="'Recording: {{roi.recording}}<br>
                                Site: {{roi.site}}<br>
                                Time: {{roi.datetime | date:'medium':'UTC'}} <br>
                                Score: {{(roi.score | number) || '(Missing)'}}'"
                    popover-trigger="mouseenter"
                    popover-append-to-body="true"
                >
                    <input class="roi-btn-tl" type="checkbox" ng-model="roi.selected" ng-click="$event.stopPropagation()">
                    <div class="roi-btn-tr h1" ng-if="roi.validated !== null">
                        <i class="fa val-{{roi.validated}}"></i>
                    </div>
                    <a class="roi-btn-bl" ng-href="{{controller.getRoiVisualizerUrl(roi)}}" ng-click="$event.stopPropagation();"
                        title="View in Visualizer"
                    >
                        <i tooltip-placement="left"
                            tooltip-append-to-body="true"
                            class="fa fa-cubes">
                        </i>
                    </a>
                    <a class="roi-btn-br" ng-click="controller.playRoiAudio(roi, $event)"
                        title="Play Audio"
                    >
                        <i tooltip-placement="left"
                            tooltip-append-to-body="true"
                            class="fa fa-play">
                        </i>
                    </a>
                    <img ng-src="{{ roi.uri }}" class="roi-img {{controller.thumbnailClass}}"/>
                </span>
            </span>
        </div>
        <div class="row panel-body" style="text-align: center;" ng-if="!controller.loading.rois && !controller.rois.length && controller.shouldGetPerSite()">
            No results found per selected site.
        </div>
        <div class="row" ng-if="controller.patternMatching && controller.paginationTotal && controller.paginationTotal > 100 && !controller.shouldGetPerSite()">
            <div class="col-sm-12 text-center">
                <pagination
                    total-items="controller.paginationTotal"
                    ng-model="controller.selected.page"
                    ng-change="controller.setPage(controller.selected.page, true)"
                    class="pagination-sm"
                    boundary-links="true"
                    max-size="5"
                    rotate="false"
                    ng-disabled="controller.loading.rois"
                    items-per-page="100">
                </pagination>
            </div>
        </div>
        <div class="row" ng-if="controller.sitesList && controller.shouldGetPerSite()">
            <div class="col-sm-12 text-center">
                <pagination
                    total-items="controller.sitesList.length"
                    ng-model="controller.selected.page"
                    ng-change="controller.setPage(controller.selected.page, true)"
                    class="pagination-sm"
                    boundary-links="true"
                    max-size="5"
                    rotate="false"
                    ng-disabled="controller.loading.rois"
                    items-per-page="controller.sitesListBatchSize">
                </pagination>
            </div>
        </div>
    </div>

</div>
