<img class="ic-close" src="/images/fi-close.svg" ng-click="$dismiss()">
<div class="modal-header">
    Rename pattern matching job
</div>

<div class="modal-body">
    <form>
        <div class="form-group">
            <label for="name">Pattern matching name</label>
            <input type="text"
                name="name"
                id="name"
                class="form-control"
                ng-model="pmName">
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="row-flex flex-direction-row flex-space-between">
        <button class="btn btn-success" ng-click="$dismiss()">Cancel</button>
        <button class="btn btn-primary" ng-click="$close(pmName)">Save</button>
    </div>
</div>
