<div class="row">
    <div class="col-sm-12 col-lg-11 padded-view-div" ng-if="!selectedPatternMatchingId">
        <h3>
            Pattern Matching
            <a class="btn btn-sm btn-default"
                tooltip="Create New Pattern Matching job"
                tooltip-placement="right"
                ng-click="createNewPatternMatching() | trackEvent:'Analysis-Pattern-Matching-List':'Create new pattern matching'"
                ng-class="{'row-disabled': isProjectDisabled }">
                <i class="fa fa-plus mr-1" ></i> New Job
            </a>
        </h3>
        <div>
          <input ng-if="isShowSearch()" type="text" class="form-control pull-left" ng-model="search.q" style="width: 325px;" placeholder="Search jobs by name, template, species, song type" ng-change="onFilterChanged()">
          <button ng-if="loading.showRefreshBtn" class="btn btn-default pull-right"
              tooltip="Refresh list"
              ng-click="loadPatternMatchings()">
                  <i class="fa fa-refresh"></i>
          </button>
        </div>
        <div class="ml-2"><loader ng-show="loading.rows"></loader></div>
        <div ng-show="!loading.rows && patternmatchingsData && !patternmatchingsData.length" class="help-wrapper col-sm-12 row-flex flex-direction-column flex-space-center flex-align-middle" style="text-align: center;">
            <a class="btn btn-sm btn-default"
                tooltip="Create New Pattern Matching job"
                tooltip-placement="top"
                ng-click="createNewPatternMatching() | trackEvent:'Analysis-Pattern-Matching-List':'Create new pattern matching'"
                ng-class="{'row-disabled': isProjectDisabled }">
                <i class="fa fa-plus mr-1" ></i> New Job
            </a>
            <p class="mt-3 mb-0">Learn more:</p>
            <p class="mb-0"><a href="https://support.rfcx.org/article/99-what-is-pattern-matching-pm-in-arbimon" target="_blank">1. What is Pattern Matching?<i class="ml-2 fa fa-external-link"></i></a></p>
            <p class="mb-0"><a href="https://support.rfcx.org/article/135-pattern-matching-best-practices" target="_blank">2. Pattern Matching best practices<i class="ml-2 fa fa-external-link"></i></a></p>
        </div>
        <div ng-if="!loading.rows && patternmatchingsData && patternmatchingsData.length" class="pm-list">
            <a2-table rows="patternmatchingsData" no-checkbox="true" on-select="selectItem(row.id) | trackEvent:'Analysis-Pattern-Matching-List':' show pattern matching details'">
                <field title="Name" tdclass="is-v-middle hidelongtext widthtd" key="name">
                    <div class="row-flex flex-align-middle flex-direction-row flex-space-start">
                        <div class="roi-thumbnail mr-3">
                            <img ng-src="{{row.template.uri}}" class="roi-img is-small"/>
                            <a class="roi-btn-br" ng-href="{{getTemplateVisualizerUrl(row.template)}}">
                                <i tooltip-placement="left"
                                    tooltip-append-to-body="true"
                                    tooltip="View in Visualizer"
                                    class="fa fa-cubes">
                                </i>
                            </a>
                        </div>
                        <span class="mr-3 hidelongtext" title="{{ row.name }}">{{ row.name }}</span>
                        <button class="btn btn-default btn-xs"
                            ng-click="update(row, $event)"
                            tooltip="Edit Name"
                            tooltip-trigger="mouseenter">
                            <i class="fa fa-pencil"></i>
                        </button>
                    </div>
                </field>
                <field title="Timestamp" key="timestamp" tdclass="is-v-middle">
                    {{ row.timestamp | moment : 'lll' }}
                </field>
                <field title="Playlist" key="playlist_name" tdclass="hidelongtext no-wrap-table-cell is-v-middle">
                    <span title="{{row.playlist_name}}">{{row.playlist_name}}</span>
                </field>
                <field title="Template" key="template" tdclass="species is-v-middle hidelongtext">
                    <div> {{row.template.species_name}}, {{row.template.songtype_name}}</div>
                    <div class="text-dim" title="Template name">{{row.template.name}}</div>
                </field>
                <field title="Parameters" key="parameters" tdclass="hidelongtext no-wrap-table-cell is-v-middle">
                    <span class="mr-1" title="{{row.parameters | asCSV }}">{{row.parameters | asCSV }}</span>
                </field>
                <field title="User" key="user" tdclass="is-v-middle">
                    {{ row.user }}
                </field>
                <field tdclass="is-v-middle">
                    <button class="btn btn-default btn-xs"
                        ng-click="deletePatternMatching(row, $event) | trackEvent:'Analysis-Pattern-Matching-list':'delete pattern matching'"
                        tooltip="Delete"
                        tooltip-trigger="mouseenter">
                        <i class="fa fa-trash"></i>
                    </button>
                </field>
            </a2-table>
        </div>
    </div>
    <div ng-if="paginationSettings.totalJobs && (paginationSettings.totalJobs > paginationSettings.limit)" class="row">
        <div class="col-sm-12">
            <pagination total-items="paginationSettings.totalJobs"
                ng-model="paginationSettings.page"
                ng-change="setCurrentPage()"
                class="pagination-sm"
                boundary-links="true"
                max-size="10"
                rotate="false"
                num-pages="paginationSettings.totalPages"
                ng-disabled="loading.rows"
                items-per-page="paginationSettings.limit">
            </pagination>
        </div>
    </div>
    <div class="col-sm-12 col-lg-11 padded-view-div" ng-if="selectedPatternMatchingId">
        <a2-pattern-matching-details pattern-matching-id="selectedPatternMatchingId" on-go-back="selectItem()" />
    </div>
</div>
