<div class="row">
    <div class="col-sm-12 col-lg-11 padded-view-div" ng-if="!selectedPatternMatchingId">
        <h3>
            Pattern Matching
            <a class="btn btn-sm btn-default"
                tooltip="Create New Pattern Matching"
                tooltip-placement="right"
                ng-click="createNewPatternMatching() | trackEvent:'Analysis-Pattern-Matching-List':'Create new pattern matching'" >
                <i class="fa fa-plus" ></i>
            </a>
        </h3>
        <loader ng-show="loading.rows"></loader>
        <button class="btn btn-default pull-right"
            tooltip="Refresh list"
            ng-click="loadPatternMatchings()">
                <i class="fa fa-refresh"></i>
        </button>

        <div ng-hide="loading.rows">
            <a2-table rows="patternmatchingsData" no-checkbox="true" on-select="selectItem(row.id) | trackEvent:'Analysis-Pattern-Matching-List':' show pattern matching details'">
                <field title="Name" class="hidelongtext widthtd" key="name" filter>
                    <div class="roi-thumbnail" >
                        <img ng-src="{{row.template.uri}}" class="roi-img is-small"/>
                        <a class="roi-btn-br" ng-href="{{getTemplateVisualizerUrl(row.template)}}">
                            <i tooltip-placement="left"
                                tooltip-append-to-body="true"
                                tooltip="View in Visualizer"
                                class="fa fa-cubes">
                            </i>
                        </a>
                    </div>
                    {{row.name}}
                </field>
                <field title="Timestamp" key="timestamp" class="is-v-middle">
                    {{ row.timestamp | moment : 'lll' }}
                </field>
                <field title="Playlist" key="playlist_name" filter class="no-wrap-table-cell is-v-middle">
                    {{row.playlist_name}}
                </field>
                <field title="Template" key="template.name" filter class="no-wrap-table-cell is-v-middle">
                    {{row.template.name}}
                </field>
                <field title="Parameters" key="parameters" filter="parameters.$" class="no-wrap-table-cell is-v-middle">
                    {{row.parameters | asCSV }}
                </field>
                <field title="User" key="user" filter class="is-v-middle">
                    {{ row.user }}
                </field>
                <field class="is-v-middle">
                    <button class="btn btn-default btn-xs"
                        ng-click="selectItem(row.id) | trackEvent:'Analysis-Pattern-Matching-List':' show pattern matching details'"
                    >
                            Show Details
                    </button>
                    <button class="btn btn-default btn-xs"
                        ng-click="deletePatternMatching(row, $event) | trackEvent:'Analysis-Pattern-Matching-list':'delete pattern matching'"
                        tooltip="Delete"
                        tooltip-trigger="mouseenter">
                        <i class="fa fa-trash"></i>
                    </button>
                </field>
            </a2-table>
            <div class="jumbotron seconds-div-center" ng-show="patternmatchingsOriginal && !patternmatchingsOriginal.length && !loading.rows">
                <h3>{{ infopanedata }}</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-11 padded-view-div" ng-if="selectedPatternMatchingId">
        <a2-pattern-matching-details pattern-matching-id="selectedPatternMatchingId" on-go-back="selectItem()" />
    </div>
</div>
