<div class="mt-1">
    <ui-select ng-model="browser.$type.playlist" theme="bootstrap"
        class="has-badges"
        on-select="browser.$type.set_playlist($select.selected)"
        append-to-body="true"
    >
        <ui-select-match class="a2-uism-btn-icon {{browser.$type.loading.playlists ? 'icon-loader' : 'icon-playlist'}}"
            placeholder="{{browser.$type.loading.playlists ? 'Loading playlists' : 'Select playlist'}}"
        >
            {{ browser.$type.playlist.name }}
        </ui-select-match>
        <ui-select-choices repeat="playlist in browser.$type.playlists | filter:$select.search">
            <i class="fa fa-list" ></i>
            {{ playlist.name }}
            <span class="badge">{{playlist.count}}</span>
        </ui-select-choices>
    </ui-select>
</div>

<div class="col-sm-12">
    <div class="btn-toolbar text-center" ng-show="browser.lovo.paging && browser.lovo.paging.last_page > 0">
        <div class="pull-left btn-group">
            <button class="btn btn-default btn-xs"
                ng-disabled="browser.lovo.paging.is_at_first_page"
                ng-click="browser.lovo.paging.set_page('first')">
                    <i class="fa fa-angle-double-left"></i>
            </button>
            <button class="btn btn-default btn-xs"
                ng-disabled="browser.lovo.paging.is_at_first_page"
                ng-click="browser.lovo.paging.set_page('previous')">
                    <i class="fa fa-angle-left"></i>
            </button>
        </div>
        <div class="inline-block">
            <div class="btn-group">
                <button class="btn btn-default btn-xs fa"
                    ng-repeat="page in browser.lovo.paging.block"
                    ng-class="browser.lovo.paging.current_page == page ? 'active' : ''"
                    ng-click="browser.lovo.paging.set_page(page)"
                >{{page + 1}}</button>
            </div>
        </div>
        <div class="pull-right btn-group">
            <button class="btn btn-default btn-xs"
                ng-disabled="browser.lovo.paging.is_at_last_page"
                ng-click="browser.lovo.paging.set_page('next')"
            ><i class="fa fa-angle-right"></i></button>
            <button class="btn btn-default btn-xs"
                ng-disabled="browser.lovo.paging.is_at_last_page"
                ng-click="browser.lovo.paging.set_page('last')"
            ><i class="fa fa-angle-double-right"></i></button>
        </div>
    </div>
</div>
