<div class="dash-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <loader ng-hide="!loading"></loader>
                <div ng-hide="loading">
                    <div class="row">
                        <div class="col-sm-12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        {{ project.name }}
                                        <span ng-show="project.is_private"> <i class="fa fa-lock"></i></span>
                                        <span ng-hide="project.is_private"> <i class="fa fa-globe"></i></span>
                                    </h3>
                                    
                                </div>
                                <div class="panel-body">
                                    <p>{{ project.description }}</p>
                                </div>
                            </div>        
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        Summary
                                    </h3>
                                    
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="project-progress">
                                            <ul>
                                                Project progress:&nbsp; 
                                                <li class="project-progress-level1 full"
                                                    tooltip="Create Project"
                                                    tooltip-trigger="mouseenter">
                                                </li>
                                                
                                                <li class="project-progress-level1"
                                                    ng-class="{ full: sites.length }"
                                                    tooltip="Add sites"
                                                    tooltip-trigger="mouseenter">
                                                </li>
                                                
                                                <li class="project-progress-level1"
                                                    ng-class="{ full: recsQty }"
                                                    tooltip="Upload recordings"
                                                    tooltip-trigger="mouseenter">
                                                </li>
                                                
                                                <li class="project-progress-level1"
                                                    ng-class="{ full: species.length }"
                                                    tooltip="Add species"
                                                    tooltip-trigger="mouseenter">
                                                </li>
                                                
                                                <li class="project-progress-level2"
                                                    ng-class="{ full: valsQty }"
                                                    tooltip="Validate recordings"
                                                    tooltip-trigger="mouseenter">
                                                </li>
                                                
                                                <li class="project-progress-level2"
                                                    ng-class="{ full: trainingSetsQty }"
                                                    tooltip="Create training sets"
                                                    tooltip-trigger="mouseenter">
                                                </li>
                                                
                                                <li class="project-progress-level3"
                                                    ng-class="{ full: modelsQty }"
                                                    tooltip="Create models"
                                                    tooltip-trigger="mouseenter">
                                                </li>
                                                
                                                <li class="project-progress-level3"
                                                    ng-class="{ full: classiQty }"
                                                    tooltip="Run Clasification"
                                                    tooltip-trigger="mouseenter">
                                                </li>
                                            </ul>
                                        </div>
                                    </li>  
                                    <li class="list-group-item">Sites: {{ sites.length }}</li>
                                    <li class="list-group-item" ng-class="{ 'list-group-item-warning': recsQty >= project.recording_limit }">
                                        Recordings: {{ recsQty }} / {{ project.recording_limit }}
                                        <em class="text-warning pull-right" ng-show="recsQty >= project.recording_limit">
                                            Recordings limit has been reached
                                        </em>
                                    </li>
                                    <li class="list-group-item">
                                        Species:
                                        <ul>
                                            <li ng-repeat="s in species | limitTo: 5">
                                                {{ s.species_name }}
                                            </li>
                                            <p ng-show="species.length > 5">...</p>
                                        </ul>
                                    </li>
                                </ul>
                            </div>        
                        </div>
                        <div class="col-md-6">
                            <div class="map" id="map-summary"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
