<div class="dash-body">
    <div class="sidenav">
        <a ui-sref="dashboard.summary"  ui-sref-active="active">Summary</a>
        <a ui-sref="dashboard.sites"    ui-sref-active="active">Sites</a>
        <a ui-sref="dashboard.species"  ui-sref-active="active">Species</a>
        <a ui-sref="dashboard.settings" ui-sref-active="active">Settings</a>
        <a ui-sref="dashboard.users"    ui-sref-active="active">Users</a>
    </div>
    <div class="container-fluid container-sidenav">
        <div class="row">
            <div class="col-sm-12">
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>
