<div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>Project Info</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <form role="form" ng-submit="save() | trackEvent:'Dashboard-project-settings':'save info'">
                                
                                <project-form ng-model="project" valid="isValid"></project-form>
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-floppy-o"></i> Save
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
