<div class="form-container">
    <div class="row">
        <div class="col-sm-12">
            <h4>Project Info</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form role="form">
                <div class="form-group">
                    <label class="control-label" for="name" >Name:</label>
                    <input class="form-control" 
                        id="name" 
                        type="text" 
                        ng-model="project.name"
                        placeholder="Project Name">
                    
                </div>
                <div class="form-group">
                    <label class="control-label" for="url">URL: </label>
                    <input class="form-control" 
                        id="url"
                        type="text" 
                        ng-model="project.url" 
                        placeholder="example: project_url, project-url, projecturl">
                </div>
                <div class="form-group" ng-class="{'has-error': error_description }">
                    <label class="control-label" for="description">Description:</label>
                    <textarea class="form-control fixed-width" 
                        id="description" 
                        ng-model="project.description" 
                        placeholder="this project is about... (mininum 80 characters)"></textarea>
                    
                </div>
                <div class="radio">
                    <label class="control-label" for="public">
                        <input id="public" type="radio" ng-model="project.is_private" value="0">
                        <i class="fa fa-globe"></i> Public project - anyone can view it as a guest
                    </label>
                </div>
                <div class="radio">
                    <label class="control-label" for="private">
                        <input id="private" type="radio" ng-model="project.is_private" value="1">
                        <i class="fa fa-lock"></i> Private project - only you and user you authorize can see it
                    </label>
                </div>
                
                <button class="btn btn-primary"
                    ng-click="save()">
                    <i class="fa fa-floppy-o"></i> Save
                </button>
            </form>
        </div>
    </div>
</div>
