<div class="input-source" ng-show="selection.layer == layer" ng-click="audio_player.setCurrentTime(pointer.sec) | trackEvent:'Visualizer-Recordings-Layer':'audio setcurrenttime'">
    <div a2-visualizer-spectrogram-affixed data-affix-top="20">
        Click to set current play time to {{pointer.sec | number}}s <br/>
    </div>
</div>

<div class="filter-band" style="top:0px" 
    ng-style="{height: Math.ceil((visobj.max_freq - audio_player.freq_filter.max)*layout.scale.hz2px)+'px', width: layout.spectrogram.width +'px'}"
    ng-if="audio_player.freq_filter"
></div>
<div class="filter-band" 
    ng-style="{top: (layout.spectrogram.height - Math.ceil(audio_player.freq_filter.min*layout.scale.hz2px))+'px', height: Math.ceil((audio_player.freq_filter.min                     )*layout.scale.hz2px)+'px', width: layout.spectrogram.width +'px'}"
></div>
