<a2-img
    ng-repeat="tile in recording.tiles.set track by $index" 
    a2-src="/api/project/test1/recordings/tiles/{{recording.id}}/{{tile.i}}/{{tile.j}}" 
    style="position:absolute;z-index:-1"
    ng-style="{left:tile.s * layout.scale.sec2px + 'px', top: (layout.spectrogram.height - tile.hz * layout.scale.hz2px) + 'px', height: tile.dhz * layout.scale.hz2px + 'px', width: tile.ds * layout.scale.sec2px + 'px'}"
></a2-img>
<div a2-visualizer-spectrogram-affixed>
    {{recording.file}}
</div>

<div class="input-source" ng-show="selection.layer == layer" ng-click="audio_player.setCurrentTime(pointer.sec)">
    <div a2-visualizer-spectrogram-affixed data-affix-top="20">
        Click to set current play time to {{pointer.sec | number}}s <br/>
    </div>
</div>
