<div class="modal-header">
    <h3 class="modal-title">Edit {{soundscape.name}} Visualization</h3>
</div>
<div class="modal-body" ng-form>
    <div class="form form-horizontal">
        <div class="form-group" ng-class="{'has-error': validation.name, 'disabled':data.normalized}" >
            <label class="col-sm-3 control-label">Scale: </label>
            <div class="col-sm-9">
                0
                -
                <input type="number" min="1" ng-model="data.visual_max" style="width:4em" ng-disabled="data.normalized" />
                (default: {{soundscape.max_value}})
            </div>
            <label class="col-sm-7 control-label" style="font-weight: normal">
                <input type="checkbox" ng-model="data.normalized" />
                Normalize data along columns
                <a2-info tooltip="If checked, then each column in the soundscape will be normalized using the number of recordings in the playlist that fall in that column. Note: This disables the scale parameter." tooltip-placement="bottom" tooltip-append-to-body="true"/>
            </label>
        </div>
        <div class="form-group" ng-class="{'has-error': validation.name}" >
            <label class="col-sm-3 control-label">Colors: </label>
            <div class="col-sm-9">
                <div class="dropdown">
                    <button class="btn btn-default" role="button" data-toggle="dropdown">
                        <a2-palette-drawer style="height:16px; width:256px;" palette="palettes[data.palette]" ></a2-palette-drawer>
                        <span class="caret"></span>                        
                    </button>
                    <ul class="dropdown-menu has-badges dropdown-height-7" role="menu" aria-labelledby="dLabel">
                        <li ng-repeat="palette in palettes" ng-class="{active: data.palette == $index}" ng-click="data.palette = $index">
                            <a><a2-palette-drawer style="height:16px; width:256px; margin:5px;" palette="palette" ></a2-palette-drawer></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <a2-soundscape-drawer class="crisp-image" style="width:100%; height:300px; padding:0px 50px" soundscape="soundscape" visual-max="data.visual_max" palette="palettes[data.palette]" normalized="data.normalized">
        </a2-soundscape-drawer>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" 
        ng-click="ok() | trackEvent:'Visualizer-Sample-Soundscape-Region':'Ok'">
            <i class="fa fa-floppy"></i> Save & close
    </button>
    <button class="btn btn-default" 
        ng-click="$dismiss() | trackEvent:'Visualizer-Sample-Soundscape-Region':'Cancel'">
        Close
    </button>
</div>
