<div class="row">
    <div class="col-xs-12">
        <a class="btn btn-primary" ui-sref="analysis.random-forest-models.models" ui-sref-active="active">
            <i class="fa fa-arrow-left"></i>
            back
        </a>
    </div>
</div>
<div ng-show="loading">
    <h3><loader></loader> Searching model</h3>
</div>
<div ng-show="notFound">
    <h4>Model not found</h4>
</div>
<div ng-show="model && !loading">
    <div class="row">
        <div class="col-xs-12" >
            <div class="model-info-column">
                <h3>Model details</h3>
                <div class="model-info-column">
                    <table class="table">
                        <tr>
                            <td><strong>Name:</strong></td>
                            <td class="hidelongtext widthtd"> {{ model.name }}</td>
                        </tr>
                        <tr>
                            <td><strong>Type:</strong></td>
                            <td> {{ model.type }}</td>
                        </tr>
                        <tr>
                            <td><strong>Creation date:</strong> </td>
                            <td>{{ model.createdOn | moment: 'lll' }}</td>
                        </tr>
                        <tr>
                            <td><strong>Last updated:</strong></td>
                            <td> {{ model.lastUpdate | moment: 'lll' }}</td>
                        </tr>
                        <tr>
                            <td><strong>Creator:</strong></td>
                            <td> {{ model.user.fullname }}</td>
                        </tr>
                        <tr>
                            <td><strong>Species:</strong></td>
                            <td> {{ model.species }}</td>
                        </tr>
                        <tr>
                            <td><strong>Sound:</strong></td>
                            <td> {{ model.songtype }}</td>
                        </tr>
                    </table>
                    <div data-ng-hide="true">
                        {{ model.id }}
                    </div>
                </div>
            </div>
            <div class="model-info-column" >
                <div class="model-info-column">
                    <h3>Training set</h3>
                    <table class="table">
                        <tr>
                            <td><strong>Name:</strong></td>
                            <td class="hidelongtext widthtd"> {{ model.trainingSet.name }}</td>
                        </tr>
                        <tr>
                            <td><strong>Creation date:</strong></td>
                            <td>{{ model.trainingSet.createdOn | moment: 'lll' }}</td>
                        </tr>
                         <tr>
                            <td><strong>Pattern ROI Count:</strong></td>
                            <td>{{ model.trainingSet.roiCount }}</td>
                        </tr>
                        <!--
                        <tr>
                            <td>
                                Pattern Low Frequency:
                            </td><td><span ng-bind="data.lfreq"></span>hz</td>
                        </tr>
                        <tr>
                            <td>
                                Pattern High Frequency:
                            </td><td><span ng-bind="data.hfreq"></span>Hz</td>
                        </tr>
                        -->
                        <tr>
                            <td><strong>Pattern Bandwidth:</strong></td>
                            <td>{{ model.pattern.highfreq - model.pattern.lowfreq | number }}Hz</td>
                        </tr>
                    </table>
                </div>
                <div class="model-info-column">
                    <h4>Training set pattern:</h4>
                    <div id="zoomDiv" class="zoomDivClass">
                        <b>Zoom</b>:
                        <button ng-click="zoomout()" class="btn btn-default btn-xs">
                            <i class="fa fa-search-minus" ></i>
                        </button>
                        <button ng-click="zoomin()" class="btn btn-default btn-xs">
                            <i class="fa fa-search-plus" ></i>
                        </button>
                    </div>
                    <div class="model-pattern">
                        <div id="patternDivMain" class="patternDiv">
                            <div class="yaxiscontainer" >
                                <div id="yaxis" class="yaxisrelative">
                                    <div>{{ model.pattern.highfreq | number }}Hz-</div>
                                    <div class="lowfreq">{{ model.pattern.lowfreq | number }}Hz-</div>
                                </div>
                            </div>
                            <div class="patternWidth">
                                <img id="paternImage" ng-src="{{ model.pattern.thumbnail }}"  class="patternImg"/> <!-- margin-left:16px;width:100%;height:auto;min-height:0px;/> -->
                            </div>
                            <div class="patternWidthAxis">
                                <div class="secs0axis">0s</div>
                                <div class="secslaxis">{{ model.pattern.duration | number }}s</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <h3>Model validation details</h3>
            <div class="model-info-column">

                <div class="">
                    <strong>Total validations used:</strong>
                    {{ model.validations.use_in_training.present +
                        model.validations.use_in_training.notPresent +
                       model.validations.use_in_validation.present +
                       model.validations.use_in_validation.notPresent
                    }}
                </div>
                <div class="" >
                    <div class="model-info-column">
                        <table class="table">
                            <tr>
                                <td><strong>Present:</strong></td>
                                <td>{{ model.validations.use_in_training.present + model.validations.use_in_validation.present }}</td>
                            </tr>
                            <tr>
                                <td>In fitting:</td>
                                <td>{{ model.validations.use_in_training.present }}</td>
                            </tr>
                            <tr>
                                <td>In verification:</td>
                                <td>{{ model.validations.use_in_validation.present }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="model-info-column">
                        <table class="table">
                            <tr>
                                <td><strong>Absent:</strong></td>
                                <td>{{ model.validations.use_in_training.notPresent + model.validations.use_in_validation.notPresent }}</td>
                            </tr>
                            <tr>
                                <td>In fitting:</td>
                                <td>{{ model.validations.use_in_training.notPresent }}</td>
                            </tr>
                            <tr>
                                <td>In verification:</td>
                                <td>{{ model.validations.use_in_validation.notPresent }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="model-info-column">
                <strong>Statistics</strong>
                <table class="table">
                    <tr>
                        <td><strong>Accuracy:</strong></td>
                        <td>{{ model.validations.stats.accuracy }}</td>
                    </tr>
                    <tr>
                        <td><strong>Precision:</strong></td>
                        <td>{{ model.validations.stats.precision }}</td>
                    </tr>
                    <tr ng-show="data.sensitivity != null">
                        <td><strong>Sensitivity:</strong></td>
                        <td>{{ model.validations.stats.sensitivity }}</td>
                    </tr>
                    <tr ng-show="data.specificity != null">
                        <td><strong>Specificity:</strong></td>
                        <td>{{ model.validations.stats.specificity }}</td>
                    </tr>
                </table>
            </div>
            <div class="model-info-column">
                <div class="top-buffer" ng-show="data.tpos != null">
                    <strong>Confusion matrix:</strong>
                </div>
                <div class="confusion-matrix" ng-show="data.tpos !== null">
                    <table>
                        <tbody>
                            <tr>
                                <td></td>
                                <td colspan="2"><strong>Predicted</strong></td>
                            </tr>
                            <tr>
                                <td><strong>Actual</strong></td>
                                <td><small><em>P</em></small></td>
                                <td><small><em>A</em></small></td>
                            </tr>
                            <tr>
                                <td ><small><em>P</em></small></td>
                                <td class=""> {{ model.validations.stats.tp }}</td>
                                <td class="">{{ model.validations.stats.fn }}</td>
                            </tr>
                            <tr class="">
                                <td ><small><em>A</em></small></td>
                                <td class="">{{ model.validations.stats.fp }}</td>
                                <td class="">{{ model.validations.stats.tn }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <small><em>P = Present, A = Absent</em></small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12" ng-show="currentThreshold >= 0.0">
            <h3>Threshold details</h3>
            <div class="model-info-column" >
                <strong>Current threshold:</strong> {{ currentThreshold | number }}
                <div class="newthersholddiv">
                    <label>New threshold:</label>
                    <input type="text"
                        ng-model="newthres"
                        class="form-control input-sm"
                        aria-describedby="enter new threshold"
                        style="width:50px; display:inline-block;">
                </div>
                <button class="btn btn-default" ng-click="recalculate()">
                    Recalculate
                </button>
                <button class="btn btn-default" ng-click="saveThreshold()">
                    Save current threshold
                </button>
                <p><small>{{messageSaved}}</small></p>
            </div>
            <div class="model-info-column" >
                <strong>Statistics</strong>
                <table class="table">
                    <tr>
                        <td><strong>Accuracy:</strong></td>
                        <td>{{ thres.accuracy }}</td>
                    </tr>
                    <tr>
                        <td><strong>Precision:</strong></td>
                        <td>{{ thres.precision }}</td>
                    </tr>
                    <tr ng-show="data.sensitivity != null">
                        <td><strong>Sensitivity:</strong></td>
                        <td>{{ thres.sensitivity }}</td>
                    </tr>
                    <tr ng-show="data.specificity != null">
                        <td><strong>Specificity:</strong></td>
                        <td>{{ thres.specificity }}</td>
                    </tr>
                </table>
            </div>
            <div class="model-info-column" >
                <div class="top-buffer" ng-show="data.tpos != null">
                    <strong>Confusion matrix:</strong>
                </div>
                <div class="confusion-matrix" ng-show="data.tpos !== null">
                    <table>
                        <tbody>
                            <tr>
                                <td></td>
                                <td colspan="2"><strong>Predicted</strong></td>
                            </tr>
                            <tr>
                                <td><strong>Actual</strong></td>
                                <td><small><em>P</em></small></td>
                                <td><small><em>A</em></small></td>
                            </tr>
                            <tr>
                                <td ><small><em>P</em></small></td>
                                <td class=""> {{ thres.tpos }}</td>
                                <td class="">{{ thres.fneg }}</td>
                            </tr>
                            <tr class="">
                                <td ><small><em>A</em></small></td>
                                <td class="">{{ thres.fpos }}</td>
                                <td class="">{{ thres.tneg }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <small><em>P = Present, A = Absent</em></small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="showModelValidations">
        <div class="col-sm-12 col-lg-8" ng-hide="showModelValidations">
            <h4>
                The validation list is not available.
            </h4>
        </div>
        <div class="col-sm-12 col-lg-8" ng-show="loadingValidations">
            <h3><loader></loader>Loading validations</h3>
        </div>
        <div class="col-sm-12 col-lg-8" ng-show="!loadingValidations && showValidationsTable">
            <h3>
                Validations
                <div ng-if="isExport()"
                    class="btn btn-default"
                    ng-csv="getValidations()"
                    filename="matrixValues.csv"
                    csv-header="['Site', 'Recording', 'Date', 'User presence','Model presence','Threshold presence' ,'Threshold value']">
                    <i class="fa fa-download"
                        tooltip="Download Values in CSV"
                        tooltip-placement="bottom">
                    </i>
                </div>
            <small>(Click in the row to view recording details)</small>
            </h3>
            <a2-table rows="validations" no-checkbox on-select="recDetails(row)">
                <field title="Date"  key="date">{{ row.date | moment: 'lll' }}</field>
                <field title="Site"  key="site">{{ row.site }}</field>
                <field title="User presence"  key="presence">{{ row.presence }}</field>
                <field title="Model presence"  key="model">{{ row.model }}</field>
                <field title="Threshold presence"  key="threshold">{{ row.threshold }}</field>
            </a2-table>
        </div>
        <div class="col-sm-12 col-lg-8" ng-hide="showValidationsTable">
            <div>
                <h3>
                    Validation Recording Detail
                    <div class="btn-group">
                        <button class="btn btn-default"
                            ng-click="closeRecValidationsDetails()" >
                             <i class="fa fa-arrow-left"></i>
                            Back
                        </button>
                        <button class="btn btn-default"
                            ng-click="gotoRec()" >
                             <i class="fa fa-cubes"></i>
                            Open in Visualizer
                        </button>
                    </div>
                </h3>
                <div class="row">
                    <div class="col-sm-4">
                        <p><b>Date:</b> {{ selected.date | moment: 'lll'}}</p>
                    </div>
                    <div class="col-sm-2">
                        <p><b>Site:</b> {{ selected.site}}</p>
                    </div>
                    <div class="col-sm-2">
                        <p><b>User:</b> {{ selected.presence }}</p>
                    </div>
                    <div class="col-sm-2">
                        <p><b>Model:</b> {{ selected.model }}</p>
                    </div>
                    <div class="col-sm-2">
                        <p><b>Threshold:</b> {{ selected.threshold }}</p>
                    </div>
                </div>
            </div>
            <div class="axisWrapper">
                <div class="yaxisWrapper">
                    <div class="yAxishighvalue">{{ model.maxv | number}}</div>
                    <div class="lowaxis2">{{ model.minv | number}}</div>
                </div>
                <div class="vectorWrapper"><a2-vectorchart minvect="model.minv" maxvect="model.maxv" vector-data="selected.vector"></a2-vectorchart></div>
            </div>
            <div class="cleardiv"></div>
            <div class="axisWrapper">
                <div class="yaxisWrapper vertical-text2">
                    Hertz
                </div>
                <div class="vectorWrapper"><img class="sm-result-thumb" ng-src="{{selected.url}}"/></div>
                <div class="seconds-div-center"><small>Seconds</small></div>
            </div>
        </div>
    </div>
</div>
