<form name="modelForm" role="form">
    <div class="modal-header">
        <h3 class="modal-title">{{ isRetrain ? 'Retrain the model' : 'Create a new model' }}</h3>
    </div>
    <div class="modal-body">
        <p ng-show="jobDisabled && !isRetrain" class="text-danger">
            Model training is disable at the moment, please try again later
        </p> 
        <div class="form-group">
            <label for="modelName">Model name</label>
            <input name="modelName" ng-model="data.name" type="text" class="form-control" placeholder="Enter model name" ng-disabled="isRetrain"/>
            <span ng-bind="nameMsg" class="nameExistsSpan"></span>
        </div>
        <div class="form-group">
            <label for="classifier">Classifier</label>
            <ui-select ng-model="data.classifier" theme="bootstrap" ng-disabled="isRetrain">
                <ui-select-match placeholder="Select a classifier">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="type in types | filter: $select.search" value="type.model_type_id">
                    <strong>{{type.name}}</strong>
                    <p  class="hide-end-text">
                        <em>
                            <small>{{type.description}}</small>
                        </em>
                    </p>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <label for="trainingSet">Training Set</label>
            <div class="mb-3 flex flex-row flex-align-middle" ng-if="trainings && !trainings.length">
                <em class="pr-2">No training sets found.</em>
                Go to
                <button class="btn btn-sm btn-default" ng-click="cancel('/audiodata/training-sets')">
                    Training sets
                </button>
                and create a training set.
            </div>
            <ui-select ng-if="trainings && trainings.length" ng-model="data.training" theme="bootstrap" ng-disabled="isRetrain">
                <ui-select-match placeholder="Search and select a training set">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="train in trainings | filter: $select.search" value="train.training_set_id">
                    {{train.name}}
                    <p><small>
                        <strong>Species:</strong> {{train.scientific_name}} 
                        <strong>Sound:</strong> {{train.songtype}} 
                        <span class="pull-right"><strong>Count:</strong> ({{train.count}}) </span>
                    </small></p>
                </ui-select-choices>
            </ui-select>
        </div>
        <div ng-show="data.training.training_set_id">
            <p>
                <b>Validated recordings available</b>
                <i class="fa fa-question-circle" 
                    tooltip="A validation tells if a species is present or not in a recording." 
                    tooltip-placement="right"></i>
            </p>
                <div class="row">
                    <div class="col-xs-12">
                        <b>for:</b> {{data.training.scientific_name}} ({{data.training.songtype}})
                    </div>
                </div>
                <div class="row top-buffer">
                    <div class="col-xs-12">
                        <table class="table form-inline">
                                <tr>
                                    <td class="text-right">Total: </td>
                                    <td>{{data.totalValidations}}</td>
                                    <td><b>Use in fitting:</b></td>
                                    <td><b>Use in validation:</b></td>
                                </tr>
                                <tr>
                                    <td class="text-right">Present: </td>
                                    <td>{{data.presentValidations}}</td>
                                    <td>
                                        <input class="form-control" size="10" type="text" name="usePresentTraining" ng-model="data.usePresentTraining" ng-disabled="isRetrain" />
                                    </td>
                                    <td>
                                        <input class="form-control" size="10" type="text" name="usePresentValidation" ng-model="data.usePresentValidation" ng-disabled="isRetrain" />/{{totalPresentValidation}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right">Absent: </td>
                                    <td>{{data.absentsValidations}}</td>
                                    <td>
                                        <input class="form-control" size="10" type="text" name="usePresentTraining" ng-model="data.useNotPresentTraining" ng-disabled="isRetrain" />
                                    </td>
                                    <td>
                                        <input class="form-control" size="10" type="text" name="usePresentValidation" ng-model="data.useNotPresentValidation" ng-disabled="isRetrain" />/{{totalNotPresentValidation}}
                                    </td>
                                </tr>
                        </table>
                    </div>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()" ng-disabled="disableCreateButton()">
            <i class="fa fa-cogs"></i> {{ isRetrain ? 'Retrain' : 'Create' }}
        </button>
        <button class="btn btn-default" ng-click="cancel()">
            <i class="fa fa-times"></i> Close
        </button>
    </div>
</form>
