<div class="content">
    <div class="row row-pad-bottom">
        <div class="col-sm-12 btn-toolbar">
            <div class="btn-group" ng-repeat="type_group in browser.types">
                <button ng-repeat="type in type_group" class="btn btn-default"
                    ng-class="browser.type == type ? 'active' : ''" ng-click="browser.type = type"
                    tooltip="{{type.tooltip}}" tooltip-append-to-body="true" tooltip-placement="bottom-left"
                ><i ng-class="type.icon"></i></button>
            </div>
        </div>
    </div>
    <ng-include src="browser.type ? browser.type.template : ''"></ng-include>
    <div class="row">
        <div class="col-sm-12">
            <div class="nav nav-pills nav-stacked visobj-list" role="menu" aria-labelledby="dLabel">
                <div class="visobj-list-item" ng-show="browser.loading.times">
                    <i class="fa fa-spinner fa-spin"></i> Loading {{browser.type.vobject_type | plural}}
                </div>
                <div class="visobj-list-item" ng-show="!browser.loading.times && !browser.lovo.list.length ">
                    (No {{browser.type.vobject_type | plural}} in list)
                </div>
                <div class="visobj-list-item"
                    ng-hide="browser.loading.times"
                    ng-repeat="visobj in browser.lovo.list | orderBy: 'datetime'"
                    ng-class=" (browser.visobj == visobj ? 'active ' : ' ') + 'visobj-'+browser.lovo.object_type"
                    ng-click="browser.visobj = visobj">
                    <div class="clearfix">
                        {{visobj.datetime | moment : 'hh:mm A'}}
                        <div class="pull-right">
                            {{visobj.name || visobj.file}}
                        </div>
                    </div>
                    <div class="thumbnail-viewer">
                        <img ng-src="{{visobj.thumbnail}}"
                            ng-class="'visobj-'+browser.lovo.object_type"
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
