<!-- <div class="row no-gutter">
    <div class="col-sm-12">
        <div class="dropdown">
            <button class="btn btn-block btn-default" role="button" dropdown>
                <span class="fa" ng-class="{'fa-list' : !browser.$type.loading.soundscapes, 'fa-spinner fa-spin': browser.$type.loading.soundscapes}"></span>
                {{browser.$type.soundscape.name || "[Soundscape]"}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu has-badges dropdown-height-7" role="menu" aria-labelledby="dLabel">
                <li ng-show="browser.$type.loading.soundscapes">
                    <a><i class="fa fa-spinner fa-spin"></i> Loading Soundscapes</a>
                </li>
                <li ng-hide="browser.$type.loading.soundscapes || browser.$type.soundscapes">
                    <a>No Soundscapes in Project</a>
                </li>
                <li ng-hide="browser.$type.loading.soundscapes" ng-repeat="soundscape in browser.$type.soundscapes" ng-class="{active: browser.$type.soundscape == soundscape}">
                    <a ng-click="browser.$type.soundscape = soundscape">{{soundscape.name}}</a>
                    <span class="badge">{{soundscape.count}}</span>
                </li>
            </ul>
        </div>
    </div>
</div> -->
