<div class="modal-header">
    <h3 class="modal-title">Create a new CNN</h3>
</div>
<div class="modal-body">
    <form role="form">
        <div class="form-group">
            <label for="modelName">Name:</label>
            <input id-"modelName" class="form-control" ng-model="controller.data.name" placeholder="Enter CNN name" type="text"/>
        </div>
        <div class="form-group">
            <label for="template">Model:</label>
            <span class="red" ng-hide="controller.loading.models || controller.list.models.length">
                <em>No models found.
                    <a class="red cs-pointer linodeco" ng-click="controller.cancel('/audiodata/random-forest-models/models')">Create one.</a>
                </em>
            </span>
            <ui-select ng-disabled="disabled" ng-model="controller.data.model" theme="/common/templates/a2-ui-select">
                <ui-select-match placeholder="Select or search a model...">
                    {{$select.selected.name}}
                    [{{$select.search}}]
                </ui-select-match>
                <ui-select-choices repeat="model in controller.list.models | filter: $select.search">
                    {{model.name}}
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <label for="template">Select Playlist:</label>
            <div class="mb-3 flex flex-row flex-align-middle" ng-if="!controller.loading || (controller.list.playlists && !controller.list.playlists.length)">
                <em class="pr-2">No playlists found.</em>
                Go to
                <button class="btn btn-sm btn-default" ng-click="controller.cancel('/audiodata/recordings')">
                    Recordings
                </button>
                and create a playlist.
            </div>
            <ui-select ng-disabled="disabled" ng-if="controller.list.playlists && controller.list.playlists.length" ng-model="controller.data.playlist" theme="/common/templates/a2-ui-select">
                <ui-select-match placeholder="Select or search a playlist...">
                    {{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices repeat="playlist in controller.list.playlists | filter: $select.search">
                    {{playlist.name}}
                    <span class="pull-right">
                        <small>
                            <em>
                                <strong >Count:</strong>({{playlist.count}})
                            </em>
                        </small>
                    </span>
                </ui-select-choices>
            </ui-select>
        </div>
        <!-- <div class="form-group">
            <label for="template">Select Lambda Function:</label>
            <ui-select ng-model="controller.data.lambda" theme="/common/templates/a2-ui-select">
                <ui-select-match placeholder="Select a lambda...">
                    {{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices repeat="lambda in controller.list.lambdas">
                    {{lambda.name}}
                </ui-select-choices>
            </ui-select>
        </div> -->
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="controller.ok()" ng-disabled="buttonEnable()">
        <i class="fa fa-cogs"></i>
        Create
    </button>
    <button class="btn btn-default" ng-click="controller.cancel()">
        <i class="fa fa-times"></i>
        Close
    </button>
</div>
