<div>
    <div ng-if="controller.loading.details">
        Loading <loader></loader>
    </div>
    <div ng-if="!controller.loading.details"
        a2-scroll="controller.onScroll($event, $controller)"
        a2-scroll-on="window"
    >
        <a2-scroll-anchor name="header" class="a2-page-header-placeholder" ng-class="{ 'is-active': controller.scrolledPastHeader }" />
        <div class="panel-body a2-page-header" ng-class="{ 'is-fixed': controller.scrolledPastHeader }">
            <div class="row row-flex flex-align-top">
                <div class="col-sm-4 flex-self-align-top">
                    <div class="row row-flex flex-align-top">
                        <h3>
                            {{ job_details.name }}
                        </h3>
                    </div>
                    <div class="row row-flex flex-align-middle">
                        <button class="btn btn-default"
                            style="transition: 0.5s all;"
                            onclick="this.blur();"
                            ng-click="onGoBack({}) | trackEvent:'Analysis-CNN-List':' go back'">
                            &lt;  Go Back
                        </button>
                        <button class="btn btn-default"
                            style="transition: 0.5s all;"
                            onclick="this.blur();"
                            ng-class="viewType=='all' ? 'btn-lg' : 'btn-md'"
                            ng-click="switchView('all')">
                            All
                        </button>
                        <button class="btn btn-default"
                            style="transition: 0.5s all;"
                            onclick="this.blur();"
                            ng-class="viewType=='species' ? 'btn-lg' : 'btn-md'"
                            ng-click="switchView('species')">
                            Species
                        </button>
                        <button class="btn btn-default"
                            style="transition: 0.5s all;"
                            onclick="this.blur();"
                            ng-class="viewType=='recordings' ? 'btn-lg' : 'btn-md'"
                            ng-click="switchView('recordings')">
                            Recordings
                        </button>
                    </div>
                </div>
                <div class="col-sm-8 flex-self-align-top">
                    <div class="row row-flex flex-align-top">
                        <h3>
                            CNN ID: {{ job_details.job_id }}
                        </h3>
                    </div>
                    <div class="row row-flex flex-align-middle">
                        <h4>
                            Playlist ID: {{ job_details.playlist_id }} / Timestamp: {{ job_details.timestamp }}
                            </br>
                            Parameters: {{ job_details.parameters }}
                        </h4>
                    </div>
                </div>
                <!--{"job_id":11906,"name":"switchTest1-fake","cnn_id":1,"playlist_id":8406,"project_id":1,"timestamp":"2019-08-02T23:06:19.000Z","parameters":{}}-->

            </div>
        </div>
        <div class="panel-body" ng-show="viewType=='species'">
            <div class="row row-flex flex-align-middle">
                <div class="col-sm-2">
                    <button ng-click="showHist('all')">All</button>
                </div>
                <div class="col-sm-10">
                    <div id="speciesHist"></div>
                </div>
                <div class="col-sm-2">
                    Species: {{ speciesInfo.name }}
                    <br>
                    Total found: {{ speciesInfo.count }}
                </div>
            </div>
            <table ng-table="tableParams" class="table" show-filter="true" >
                <tr ng-repeat="specie in species">
                    <td data-title="'Species'" class="hidelongtext widthtd" data-sortable="'scientific_name'" filter="{ 'scientific_name': 'text' }">
                        {{ specie.scientific_name }}
                    </td>
                    <td data-title="'Count'" data-sortable="'count'" class="is-v-middle">
                        {{ specie.count }}
                    </td>
                    <td class="is-v-middle">
                        <button class="btn btn-default"
                            ng-click="showHist(specie.species_id)"
                        >
                                Show Details
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel-body" ng-show="viewType=='recordings'">
                {{ counts.recordings }}
                <table ng-table="tableParams" class="table" show-filter="true" >
                    <tr ng-repeat="recording in recordings">
                        <td data-title="'Recording'" class="hidelongtext widthtd" data-sortable="'recording_id'" filter="{ 'recording_id': 'text' }">
                        <div class="roi-thumbnail" >
                            <img ng-src="{{recording.thumbnail}}" class="roi-img is-small"/>
                            <a class="roi-btn-br" ng-href="{{getRecordingVisualizerUrl(recording.recording_id)}}">
                                <i tooltip-placement="left"
                                    tooltip-append-to-body="true"
                                    tooltip="View in Visualizer"
                                    class="fa fa-cubes">
                                </i>
                            </a>
                        </div>
                            {{ recording.recording_id }}
                        </td>
                        <td data-title="'Total'" data-sortable="'total'" class="is-v-middle">
                            {{ recording.total }}
                        </td>
                        <td data-title="'Species'" data-sortable="'species_list'" filter="{'species_list': 'text'}" class="is-v-middle">
                            <span ng-repeat="specie in recording.species" ng-show="specie.count > 0">{{ specie.scientific_name }}({{ specie.count }}) </span>
                        </td>
                        <td class="is-v-middle">
                            <a class="btn btn-default" ng-href="{{getRecordingVisualizerUrl(recording.recording_id)}}">
                                Show In Visualizer
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel-body" ng-show="viewType=='all'">
                <table ng-table="tableParams" class="table" show-filter="true" >
                    <tr ng-repeat="result in mainResults">
                        <td data-title="'CNN Presence ID'" data-sortable="'cnn_presence_id'" filter="{ 'cnn_presence_id': 'text' }" class="hidelongtext widthtd">
                            {{ result.cnn_presence_id }}
                        </td>
                        <td data-title="'Recording'" data-sortable="'recording_id'" filter="{ 'recording_id': 'text' }" class="hidelongtext widthtd is-v-middle">
                        <div class="roi-thumbnail" >
                            <img ng-src="{{result.thumbnail}}" class="roi-img is-small"/>
                            <a class="roi-btn-br" ng-href="{{getRecordingVisualizerUrl(result.recording_id)}}">
                                <i tooltip-placement="left"
                                    tooltip-append-to-body="true"
                                    tooltip="View in Visualizer"
                                    class="fa fa-cubes">
                                </i>
                            </a>
                        </div>
                            {{ result.recording_id }}
                        </td>
                        <td data-title="'Species'" data-sortable="'scientific_name'" class="is-v-middle" filter="{ 'scientific_name': 'text' }">
                            <button class="btn btn-default"
                            ng-click="switchView('species', result.species_id)"
                            >
                                {{ result.scientific_name }}
                            </button>
                        </td>
                        <td data-title="'Song Type'" data-sortable="'songtype'" class="is-v-middle" filter="{ 'songtype': 'text' }">
                            {{ result.songtype }}
                        </td>
                        <td data-title="'Present'" data-sortable="'present'" class="is-v-middle">
                            <i class="fa" ng-class="(result.present==1)?'fa-check':'fa-times'"></i> 
                        </td>
                        <td data-title="'Max Score'" data-sortable="'max_score'" class="is-v-middle">
                            {{ result.max_score }}
                        </td>
                        <td class="is-v-middle">
                            <td class="is-v-middle">
                                <a class="btn btn-default" ng-href="{{getRecordingVisualizerUrl(recording.recording_id)}}">
                                    Show In Visualizer
                                </a>
                            </td>
                        </td>
                    </tr>
                </table>
            </div>

        <div class="panel-body">
            <div class="row" ng-repeat="result in resultsDisplayed | orderBy:'max_score'">
                {{ result }}<br>
                <div class="progress progress-striped active"> 
                    <div ng-style="{ 'background-color': 'blue', width : result.max_score*100 + '%' }" 
                        aria-valuemax="1" 
                        aria-valuemin="0" 
                        aria-valuenow="{{result.max_score}}" 
                        role="progressbar"
                        class="progress-bar">
                        {{ result.max_score }}%
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>