<div class="row">
    <div class="col-sm-12 col-lg-11 padded-view-div" ng-if="!selectedCNNId">
        <h3>
            Convolutional Neural Networks
            <span class="beta-badge">BETA</span>
            <a class="btn btn-sm btn-default ml-2"
                tooltip="Create CNN"
                tooltip-placement="right"
                ng-click="createNewCNN()">
                <i class="fa fa-plus mr-1" ></i> New CNN Analysis
            </a>
        </h3>

        <loader ng-show="loading"></loader>

        <button class="btn btn-default pull-right btn-sm"
            tooltip="Refresh list"
            ng-click="loadCNNs()">
                <i class="fa fa-refresh"></i> Refresh List
        </button>

        <div ng-hide="loading">
            <a2-table rows="cnnsData" no-checkbox="true">
                <field title="Name" tdclass="is-v-middle hidelongtext widthtd" key="name" filter>
                    <span title="{{ row.name }}">{{ row.name }}</span>
                </field>
                <field title="ID" key="job_id" tdclass="no-wrap-table-cell is-v-middle" filter>
                    {{ row.job_id }}
                </field>
                <field title="Timestamp" key="timestamp" tdclass="no-wrap-table-cell is-v-middle">
                    {{ row.timestamp | moment : 'lll' }}
                </field>
                <field title="CNN Model" key="cnn_model_name" filter tdclass="no-wrap-table-cell is-v-middle">
                    {{row.cnn_model_name}}
                </field>
                <field title="Playlist" key="playlist_name" filter tdclass="no-wrap-table-cell is-v-middle">
                    {{row.playlist_name}}
                </field>
                <field title="Recordings" key="playlist_count" filter tdclass="no-wrap-table-cell is-v-middle">
                    {{row.playlist_count}}
                </field>
                <field title="User" key="user" filter tdclass="no-wrap-table-cell is-v-middle">
                    {{ row.user }}
                </field>
                <field tdclass="is-v-middle">
                    <button class="btn btn-default"
                    ng-click="selectItem(row.job_id)"
                    >
                        Show Details
                    </button>
                    <button class="btn btn-danger"
                        ng-click="deleteCNN(row, $event)"
                        tooltip="Delete"
                        tooltip-trigger="mouseenter">
                        <i class="fa fa-trash"></i>
                    </button>
                </field>
            </a2-table>

            <div class="jumbotron" ng-show="(!cnnOriginal || !cnnOriginal.length > 0) && !loading">
                <h3>{{ infopanedata }}
                    <a ng-click="createNewCNN()">
                        Create a cnn
                    </a>
                </h3>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-11 padded-view-div" ng-if="selectedCNNId">
        <a2-cnn-details cnn-id="selectedCNNId" on-go-back="selectItem()" />
    </div>
</div>
