<div class="row">
    <div class="col-sm-12 col-lg-11 padded-view-div" ng-if="!selectedCNNId">
        <h3>
            Convolutional Neural Networks
            <a class="btn btn-sm btn-default"
                tooltip="Create CNN"
                tooltip-placement="right"
                ng-click="createNewCNN() | trackEvent:'Analysis-CNN-List':'Create new CNN'" >
                <i class="fa fa-plus" ></i>
            </a>
        </h3>

        <loader ng-show="loading"></loader>

        <button class="btn btn-default pull-right"
            tooltip="Refresh list"
            ng-click="loadCNNs()">
                <i class="fa fa-refresh"></i>
        </button>

        <div ng-hide="loading">
            <table ng-table="tableParams" class="table" show-filter="true" >
                <tr ng-repeat="cnn in cnnsData">
                    <td data-title="'Name'" data-sortable="'name'" filter="{ 'name': 'text' }" class="hidelongtext widthtd" >
                        {{ cnn.name }}
                    </td>
                    <td data-title="'ID'" data-sortable="'job_id'" filter="{ 'job_id': 'text' }" class="no-wrap-table-cell is-v-middle">
                        {{ cnn.job_id }}
                    </td>
                    <td data-title="'Timestamp'" data-sortable="'timestamp'" class="no-wrap-table-cell is-v-middle">
                        {{ cnn.timestamp | moment : 'lll' }}
                    </td>
                    <td data-title="'CNN Model'" data-sortable="'cnn_model_name'" filter="{ 'cnn_model_name': 'text' }"  class="no-wrap-table-cell is-v-middle">
                        {{ cnn.cnn_model_name }}
                    </td>
                    <td data-title="'Playlist'" data-sortable="'playlist_name'" filter="{ 'playlist_name': 'text' }" class="no-wrap-table-cell is-v-middle">
                        {{ cnn.playlist_name }}
                    </td>
                    <td data-title="'Recordings'" data-sortable="'playlist_count'" filter="{ 'playlist_count': 'text' }" class="no-wrap-table-cell is-v-middle">
                        {{ cnn.playlist_count }}
                    </td>
                    <td data-title="'User'" data-sortable="'user'" filter="{ 'user': 'text' }" class="no-wrap-table-cell is-v-middle">
                        {{ cnn.user }}
                    </td>
                    <td class="is-v-middle">
                        <button class="btn btn-default"
                            ng-click="selectItem(cnn.job_id) | trackEvent:'Analysis-CNN-List':' show cnn details'"
                        >
                                Show Details
                        </button>
                        <button class="btn btn-danger"
                            ng-click="deleteCNN(cnn, $event) | trackEvent:'Analysis-CNN-list':'delete cnn'"
                            tooltip="Delete"
                            tooltip-trigger="mouseenter">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </table>
            <div class="jumbotron" ng-show="(!cnnOriginal || !cnnOriginal.length > 0) && !loading">
                <h3>{{ infopanedata }}  
                    <a ng-click="createNewCNN()">
                        Create a cnn
                    </a>
                </h3>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-11 padded-view-div" ng-if="selectedCNNId">
        <a2-cnn-details cnn-id="selectedCNNId" on-go-back="selectItem()" />
    </div>
</div>
