<div class="row">
    <div class="col-sm-12 col-lg-11 padded-view-div" ng-if="!cNNId">
        <h3>
            Convolutional Neural Networks
            <a class="btn btn-sm btn-default"
                tooltip="Create CNN"
                tooltip-placement="right"
                ng-click="createNewCNN() | trackEvent:'Analysis-CNN-List':'Create new CNN'" >
                <i class="fa fa-plus" ></i>
            </a>
        </h3>
        <loader ng-show="loading"></loader>
        <button class="btn btn-default pull-right"
            tooltip="Refresh list"
            ng-click="loadCNNs()">
                <i class="fa fa-refresh"></i>
        </button>

        <div ng-hide="loading">
            <table ng-table="tableParams" class="table" show-filter="true" >
                <tr ng-repeat="cnn in cnnsData">
                    <td data-title="'Name'" class="hidelongtext widthtd" data-sortable="'name'" filter="{ 'name': 'text' }">
                        <div class="roi-thumbnail" >
                            <img ng-src="{{cnn.template.uri}}" class="roi-img is-small"/>
                            <a class="roi-btn-br" ng-href="{{getTemplateVisualizerUrl(cnn.template)}}">
                                <i tooltip-placement="left"
                                    tooltip-append-to-body="true"
                                    tooltip="View in Visualizer"
                                    class="fa fa-cubes">
                                </i>
                            </a>
                        </div>
                        {{cnn.name}}
                    </td>
                    <td data-title="'Timestamp'" data-sortable="'timestamp'" class="is-v-middle">
                        {{ cnn.timestamp | moment : 'lll' }}
                    </td>
                    <td data-title="'model'" data-sortable="'model'" class="no-wrap-table-cell is-v-middle">
                        {{cnn.model}}
                    </td>
                    <td data-title="'Playlist'" data-sortable="'playlist_name'" filter="{ 'playlist_name': 'text' }" class="no-wrap-table-cell is-v-middle">
                        {{cnn.playlist_name}}
                    </td>
                    <td data-title="'User'" data-sortable="'user'" filter="{ 'user': 'text' }" class="is-v-middle">
                        {{ cnn.user }}
                    </td>
                    <td class="is-v-middle">
                        <button class="btn btn-default"
                            ng-click="selectItem(cnn.id) | trackEvent:'Analysis-CNN-List':' show cnn details'"
                        >
                                Show Details
                        </button>
                        <button class="btn btn-danger"
                            ng-click="deleteCNN(cnn.id) | trackEvent:'Analysis-CNN-list':'delete cnn'"
                            tooltip="Delete"
                            tooltip-trigger="mouseenter">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-sm-12 col-lg-11 padded-view-div" ng-if="selectedCNNId">
        <a2-cnn-details cnn-id="selectedCNNId" detailed-view="detailedView" on-set-detailed-view="setDetailedView(value)" on-go-back="selectItem()" />
    </div>
</div>
