<div ng-controller="StatusBarNavController" data-ng-init="init()">
    <div class="row row-flex container-sidenav">
        <div class="col-sm-12 col-lg-11 padded-view-div">
            <h1 class="mt-0">
                Active Jobs
            </h1>
            <h3 ng-show="showEmptyList()">No jobs in the last 90 day</h3>
            <div><loader ng-show="showLoader()"></loader></div>
            <div ng-show="showActiveJobs()">
                <a2-table rows="jobs" search="search" selected="selected" no-checkbox>
                    <field title="Name" key="name" tdclass="widthtd hidelongtext selectable">
                        <a class="cs-pointer" ng-click="openJob(row)" title="{{ row.name }}">{{ row.name }}</a>
                    </field>
                    <field title="Type" key="type">
                        <i class="fa fa-circle mr-2" ng-style="{ color: job_types.for[row.job_type_id].color}"></i>
                        {{ row.type }}
                    </field>
                    <field title="Last update" key="last_update">
                        {{ row.last_update | moment: 'lll' }}
                    </field>
                    <field title="State" key="state">
                        <span ng-hide="isProcessing(row)">{{ row.state }}</span>
                        <div ng-show="isProcessing(row)" class="progress progress-striped active mb-0" ng-style="{ 'max-width': 80 + '%' }">
                            <div ng-style="{ 'background-color': 'gray', width : row.percentage + '%' }"
                                aria-valuemax="100"
                                aria-valuemin="0"
                                aria-valuenow="{{row.percentage}}"
                                role="progressbar"
                                class="progress-bar">
                                {{ row.percentage }}%
                            </div>
                        </div>
                    </field>
                    <field>
                        <button ng-if="!isCompleted(row)" class="btn btn-success btn-rounded-full btn-xs" style="width: 90px;" ng-click="hide(row)">
                            <span>{{ isWaiting(row) || isProcessing(row) ? 'Cancel' : 'Hide' }}</span>
                        </button>
                        <button ng-if="isCompleted(row)" class="btn btn-success btn-rounded-full btn-xs" style="width: 90px;" ng-click="openJob(row)">
                            <span>Open</span>
                        </button>
                    </field>
                    <expand-select>
                        <div class="row">
                            <div>
                                <ul class="pl-4">
                                    <li ng-repeat="(k, v) in selected.parameters">
                                        <div class="row-flex flex-direction-row">
                                            <div class="col-sm-1 pl-0">{{ k }}:</div>
                                            <div class="col-sm-6">
                                                <div ng-if="v.threshold && v.threshold !== undefined" class="pt-2 ml-2">Threshold: {{ v.threshold }}, N: {{v.N}}</div>
                                                <div ng-if="v['Amplitude Threshold'] || v['Distance Threshold']" ng-repeat="(key, value) in v track by $index" class="pt-2 ml-2">
                                                    <span>{{key}}:</span><span class="ml-2">{{value}}</span>
                                                </div>
                                                <div ng-if="!v.threshold && !v['Amplitude Threshold'] && !v['Distance Threshold']" class="pt-2 ml-2">{{ v }}</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </expand-select>
                </a2-table>
            </div>
        </div>
    </div>
</div>
