<div id="footer" class="container hidden-print footer-page">
    <hr class="hr-line">
  <ul class="list-inline text-center">
    <li><a href="https://www.rfcx.org/terms-of-service" target="_blank">Terms</a></li>
    <li><a href="https://www.rfcx.org/privacy-policy" target="_blank">Privacy</a></li>
    <li><a href="http://help.arbimon.org/"  target="_blank">Support</a></li>
    <li><a href="http://status.rfcx.org" target="_blank">System Status</a></li>
    <li><i class="fa fa-copyright"></i> <%= new Date().getFullYear(); %>
      <a href="https://www.rfcx.org" target="_blank">Rainforest Connection</a>
    </li>
  </ul>
</div>

<% include survey %>
