<div id="footer" class="container hidden-print footer-page">
    <hr class="hr-line">
	<ul class="list-inline text-center">
		<li><a href="https://www.rfcx.org/terms-of-service">Terms</a></li>
		<li><a href="https://www.rfcx.org/privacy-policy">Privacy</a></li>
		<li><a href="https://rfcx.helpscoutdocs.com/">Support</a></li>
		<li><i class="fa fa-copyright"></i> 2020
			<a href="https://www.rfcx.org">Rainforest Connection</a>
		</li>
	</ul>
</div>

<% include chat-helpscout %>
