<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button ng-init="collapsedMenu = true" ng-click="collapsedMenu = !collapsedMenu" type="button" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        <% if (!user || user.isAnonymousGuest) { %>
            <a href="/" class="navbar-brand">
                <img src="/images/rfcx-logo.png">Arbimon
            </a>
        <% } else { %>
            <a href="/home" class="navbar-brand">
                <img src="/images/rfcx-logo.png">
                Arbimon
            </a>
        <% } %>
        </div>
        <div class="navbar-collapse" ng-class="{'collapse': collapsedMenu }">
            <ul class="nav navbar-nav">
                <% if (user && !user.isAnonymousGuest) { %>
                    <li class="<%- state === 'home.my'? 'active' : '' %>"><a href="/home" >My projects</a></li>
                    <li class="<%- state === 'home.all'? 'active' : '' %>"><a href="/home/all">All projects</a></li>
                <% } %>
                <% if (user && user.isSuper) { %>
                <li><a href="/admin/"><i class="fa fa-cogs"></i> Admin</a></li>
                <% } %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% include user-dropdown %>
            </ul>
        </div>
    </div>
</nav>
