<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button ng-init="collapsedMenu = true" ng-click="collapsedMenu = !collapsedMenu" type="button"
                class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">
                <img src="/images/rfcx-logo.png">Arbimon
            </a>
        </div>
        <div class="navbar-collapse" ng-class="{'collapse': collapsedMenu }">
            <ul class="nav navbar-nav">
                <li><a href="/home">Public projects</a></li>
            </ul>
        </div>
    </div>
</nav>