<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button ng-init="collapsedMenu = true" ng-click="collapsedMenu = !collapsedMenu" type="button"
                class="navbar-toggle navbar-toggle-left collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand navbar-brand-center">
                <img src="/images/rfcx-logo.png">
                <span class=navbar-title>Arbimon</span>
            </a>
        </div>
        <div class="navbar-collapse navbar-collapse-menu-rfcx" ng-class="{'collapse': collapsedMenu }">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/home">Public projects</a></li>
            </ul>
            <hr class="navbar-divider-collapse">
            <ul class="nav navbar-nav navbar-right">
                <% include other-rfcx-apps %>
            </ul>
        </div>
    </div>
</nav>