<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button ng-init="collapsedMenu = true" ng-click="collapsedMenu = !collapsedMenu" type="button"
                class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">
                <img src="/images/rfcx-logo.png">
                <span class="navbar-title ml-2">Arbimon</span>
            </a>
            <button ng-init="collapsedMenu = true" ng-click="collapsedMenu2 = !collapsedMenu2" type="button"
            class="navbar-toggle navbar-end collapsed">
            <img src="/images/ic-app-menu.svg">
        </button>
        </div>

        <div class="navbar-start navbar-collapse" ng-class="{'collapse': collapsedMenu }">
            <ul class="nav navbar-nav">
                <li><a href="/home">Public projects</a></li>
            </ul>
        </div>

        <div class="navbar-right navbar-collapse" ng-class="{'collapse': !collapsedMenu2 }">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown open" dropdown="">
                    <a class="dropdown-toggle" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                        <img src="/images/ic-app-menu.svg">
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="https://explorer.rfcx.org">Explorer</a></li>
                        <li><a href="https://arbimon.rfcx.org">Arbimon</a></li>
                        <li><a href="https://rfcx-training.web.app">AI Hub</a></li>
                        <hr class="navbar-divider">
                        <li><a href="https://rfcx.org/">RFCx.org</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>