<% if (!user || user.isAnonymousGuest) { %>
<li>
    <div>
        <a class="navbar-btn btn btn-primary navbar-rfcx-link-m collapsed" href="/login">
            Sign In
        </a>
    </div>
</li>
<% } else { %>
<li class="dropdown" dropdown>
    <a class="dropdown-toggle navbar-mrd" dropdown-toggle>
        <i class="fa user-avatar<% if(user.isSuper) { %> swag-super<% } %>"
            style="background-image:url('<%- user.imageUrl %>')"></i>
    </a>
    <ul class="dropdown-menu navbar-mrd dropdown-menu-wd" role="menu">
        <li>
            <a href="/user-settings">
                <i class="fa fa-wrench"></i> Account Settings
            </a>
        </li>
        <li>
            <a href="/logout">
                <i class="fa fa-sign-out"></i> Sign out
            </a>
        </li>
    </ul>
</li>
<% } %>