<% if (!user || user.isAnonymousGuest) { %>
<li>
    <div>
        <a class="navbar-btn btn btn-primary navbar-rfcx-link-m collapsed" href="<%- auth0UniversalLoginUrl %>">
            Sign In
        </a>
    </div>
</li>
<% } else { %>
<li class="dropdown navbar-tab-bottom-hide" dropdown>
    <a class="dropdown-toggle" style="padding-right: 10px;" dropdown-toggle>
        <i class="fa user-avatar<% if(user.isSuper) { %> swag-super<% } %>"
            style="background-image:url('<%- user.imageUrl %>');background-color: #808080;"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-wd" role="menu">
        <li>
            <a href="/user-settings">
                <i class="fa fa-wrench"></i> Account Settings
            </a>
        </li>
        <li>
            <a href="/logout">
                <i class="fa fa-sign-out"></i> Sign out
            </a>
        </li>
    </ul>
</li>
<% } %>
