<div class="row">
    <h1 class="navbar-rfcx-link-m mt-0">
        Playlists
        <button class="btn btn-primary btn-rounded-full"
            ng-click="create()"
            tooltip="Create New Playlist"
            tooltip-trigger="mouseenter" ng-disabled="loading">
            New Playlist <img class="ml-1" src="/images/fi-plus.svg">
        </button>
    </h1>
    <div class="col-sm-12 toolbar mt-4 flex row-flex-inline">
        <div>
            <span class="dropdown" dropdown dropdown-append-to-body="true" a2-auto-close-on-outside-click>
                <button class="btn btn-success btn-rounded-full" ng-disabled="playlists && !playlists.length" dropdown-toggle>Combine Playlists <img src="/images/fi-chevron-down-primary.svg" class="ml-1"></button>
                <div class="dropdown-form dropdown-menu a2-filters-box-dropdown datepicker" role="menu" style="background-color: #1e1c13 !important;">
                    <playlist-arithmetic on-expression-selected="controller.operate(expression)"></playlist-arithmetic>
                </div>
            </span>
        </div>
        <div class="ml-2" tooltip="Select Playlists">
            <button class="btn btn-success btn-rounded-full"
                ng-click="del()"
                ng-disabled="!checked || !checked.length"
                tooltip-trigger="mouseenter">
                Delete Playlist
            </button>
        </div>
        <div class="ml-2 search">
            <div class="form-element">
                <i class="fa fa-search mt-3"></i>
                <input class="form-control" type="text" placeholder="Search by playlist name" ng-model="search" style="width: 320px;">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <loader ng-if="loading"></loader>
        <div class="py-3">
            <span ng-if="!loading" class="text-left reclist-total">
                {{ totalPlaylists }} {{totalPlaylists > 1 ? "playlists" : "playlist"}}
            </span>
        </div>
        <a2-table search="search" rows="playlists" data-checked="checked" selected="selected" default-sort="site">
            <field title="Name" key="name">
                {{ row.name }}
            </field>
            <field title="No. of recordings" key="count" tdclass="seconds-div-center">
                {{ row.count }}
            </field>
            <expand-select>
                <div class="flex row-flex-inline">
                    <div>
                        <h4 class="padding: 0px;">{{selected.name}}
                            <button class="btn btn-default btn-xs ml-3"
                                ng-click="controller.edit(selected)"
                                tooltip="Edit Name"
                                tooltip-trigger="mouseenter">
                                <i class="fa fa-pencil"></i>
                            </button>
                        </h4>
                        <span>
                            Type : {{selected.type}}
                        </span>
                        <div ng-if="selected.soundscape">
                            <a class="btn btn-primary btn-rounded-full mt-4" ng-href="{{'/visualizer/soundscape/' + selected.soundscape + '/' + selected.region | projectUrl}}">View Region</a>
                        </div>
                    </div>
                    <div class="ml-3" ng-if="selected.soundscape">
                        <img ng-src="{{selected.soundscape_thumbnail}}" alt=""
                        class="crisp-image"
                        width="300"
                        height="154"
                        /> <br>
                    </div>
                    <div class="mt-4 ml-3"  ng-if="selected.term1 || selected.term1">
                        <div ng-if="selected.term1">
                            Playlist 1 : {{selected.term1.name}}
                        </div>
                        <div ng-if="selected.term1">
                            Playlist 2 : {{selected.term2.name}}
                        </div>
                    </div>
                </div>
            </expand-select>
        </a2-table>
        <div ng-if="!loading && playlists && !playlists.length" class="help-wrapper col-sm-12 row-flex flex-direction-column flex-space-center flex-align-middle" style="text-align: center;">
            <a class="btn btn-sm btn-default"
                tooltip="Create New Playlist"
                tooltip-placement="top"
                ng-click="create()" >
                <i class="fa fa-plus mr-1" ></i> New Playlist
            </a>
            <p class="mt-3 mb-0">Learn more:</p>
            <p class="mb-0"><a href="https://help.arbimon.org/article/214-creating-a-playlist" target="_blank">1. How to create a new playlist?<i class="ml-2 fa fa-external-link"></i></a></p>
        </div>
    </div>
</div>
