<div class="layer">
    <h5 class="collapse-title" ng-init="layer.is_open = layer.audio_events.isHighlightTitle()" ng-click="layer.is_open = !layer.is_open">
        <i class="fa" ng-class="layer.is_open ? 'fa-chevron-down' : 'fa-chevron-right'"></i>
        Audio Events
    </h5>
    <div ng-show="layer.is_open">
        <div ng-if="layer.audio_events.audioEvents || layer.audio_events.clusteringEvents">
            <div>
                <strong>Detection Jobs</strong>
                <div ng-if="!layer.audio_events.audioEvents" class="row ng-cloak text-center py-2">
                    <i class="fa fa-spinner fa-spin" style="font-size: 16px;"></i>
                </div>
                <div class="row-flex flex-direction-row">
                    <ul ng-if="layer.audio_events.audioEvents && layer.audio_events.audioEvents.length" class="ulnodeco px-2" style="width: 90%">
                        <li ng-repeat="job in layer.audio_events.audioEventJobs" class="my-3">
                            <div class="row-flex flex-direction-row no-text-wrap" style="position: relative">
                                <span class="hidelongtext" style="width: 90%;" title="{{ row.name }}">
                                    {{ job.name }}
                                </span>
                            </div>
                            <div class="mt-1 item-description" style="width: 90%;">{{ job.parameters | asCSV }}</div>
                        </li>
                    </ul>
                    <ul ng-if="layer.audio_events.audioEvents && layer.audio_events.audioEvents.length" class="row-flex flex-space-evenly flex-direction-column ulnodeco px-2" style="width: 10%" ng-class="{'exclamation-border': layer.audio_events.isHighlightTitle()}">
                        <li ng-repeat="job in layer.audio_events.audioEventJobs">
                            <button class="layer-btn" ng-click="job.visible = !job.visible; layer.audio_events.toggleAudioEvents(true, job.job_id, job.visible)" style="border: 0; background: transparent;"
                                ng-class="{'layer-btn_active': job.visible && job.count}">
                                <i class="fa" ng-class="{'fa-eye': job.visible, 'fa-eye-slash': !job.visible}"></i>
                            </button>
                        </li>
                    </ul>
                </div>
                <div ng-if="layer.audio_events.audioEvents && !layer.audio_events.audioEvents.length">
                    There are no audio events in this recording.
                </div>
            </div>
            <div class="pt-2">
                <strong>Cluster Playlists</strong>
                <div ng-if="!layer.audio_events.clusteringEvents" class="row ng-cloak text-center py-2">
                    <i class="fa fa-spinner fa-spin" style="font-size: 16px;"></i>
                </div>
                <ul ng-if="layer.audio_events.clusteringEvents && layer.audio_events.clusteringEvents.length" class="ulnodeco px-2">
                    <li ng-repeat="row in layer.audio_events.clusterPlaylists" class="my-3" style="display: flex; flex-direction: row; justify-content: flex-start; align-items: baseline; position: relative; white-space: nowrap;">
                        <span class="hidelongtext" style="width: 90%;" title="{{ row.playlist_name }}">
                            {{ row.playlist_name }}
                        </span>
                        <button class="layer-btn" ng-click="row.visible = !row.visible; layer.audio_events.toggleAudioEvents(false, row.playlist_id, row.visible)" style="border: 0; background: transparent; position: absolute; top: -1; right: 0px;"
                            ng-class="{'layer-btn_active': row.visible}">
                            <i class="fa" ng-class="{'fa-eye': row.visible, 'fa-eye-slash': !row.visible}"></i>
                        </button>
                    </li>
                </ul>
                <div ng-if="layer.audio_events.clusteringEvents && !layer.audio_events.clusteringEvents.length">
                    There are no related clustering playlists to this recording.
                </div>
            </div>
        </div>
    </div>
</div>
