<div class="layer">
    <span ng-init="layer.is_open=true"></span>
    <h5 class="collapse-title" ng-click="layer.is_open = !layer.is_open">
        <i class="fa" ng-class="layer.is_open ? 'fa-chevron-down' : 'fa-chevron-right'"></i> Recording Tags
    </h5>
    <div class="" ng-show="layer.is_open">
		<h6 class="border">{{visobject.file}}</h6>
        <ui-select multiple ng-model="layer.controller.tags" ng-change="layer.controller.onTagListChanged()" theme="bootstrap">
            <ui-select-match placeholder="Add new tag to recording or annotate spectrogram">
                <a2-tag tag="$item"></a2-tag>
            </ui-select-match>
            <ui-select-choices repeat="$item in layer.controller.searchedTags"
                     refresh="layer.controller.searchTags($select.search)"
                     refresh-delay="300">
                     <a2-tag tag="$item"></a2-tag>
            </ui-select-choices>
        </ui-select>
    </div>
</div>
