<div class="layer">
    <h5  class="collapse-title"  ng-click="layer.is_open = !layer.is_open">
        <i class="fa" ng-class="layer.is_open ? 'fa-chevron-down' : 'fa-chevron-right'"></i>
        {{layer.ctrl.soundscape.name}}, {{layer.ctrl.region.name}} Tags
        <span class="badge pull-right">{{layer.ctrl.tags.length}}</span>
    </h5>
    <div ng-show="layer.is_open">
        <div>
            <span ng-repeat="tag in layer.ctrl.tags" style="display:inline-block">
                <a2-soundscape-region-tag tag="tag" 
                    show-count="false" 
                    closeable="true" on-close="layer.ctrl.tag.remove(tag)"
                ></a2-soundscape-region-tag>
            </span>
        </div>
        <div class="input-group input-group-sm" style="width:50%">
            <input type="text" class="form-control" ng-model="layer.ctrl.tag.name" ng-keypress="($event.which == 13) && layer.ctrl.tag.add()" />
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm input-btn" ng-click="layer.ctrl.tag.add()"><i class="fa fa-plus"></i></button>
            </span>
        </div>
    </div>
</div>
