<div class="layer">
    <span ng-init="layer.is_open=true"></span>
    <h5 class="collapse-title" 
        ng-attr-tooltip="{{ tieringGuard.isViewOnly ? 'This project is currently view-only' : '' }}" 
        ng-click="!(tieringGuard.isViewOnly || tieringGuard.loading) && (layer.is_open = !layer.is_open)"
        ng-style="(tieringGuard.isViewOnly || tieringGuard.loading) && {'cursor': 'not-allowed', 'opacity': '0.7'}">
        
        <i class="fa fa-circle-o-notch fa-spin mr-1" ng-if="tieringGuard.loading"></i>

        <i class="fa" 
        ng-if="!tieringGuard.isViewOnly && !tieringGuard.loading"
        ng-class="layer.is_open ? 'fa-chevron-down' : 'fa-chevron-right'"></i>
        
        <i class="fa fa-lock mr-1" ng-if="tieringGuard.isViewOnly && !tieringGuard.loading"></i>

        Recording Tags
    </h5>
    <div class="" ng-show="layer.is_open && !tieringGuard.isViewOnly">
		<h6 class="border">{{visobject.file}}</h6>
        <ui-select multiple ng-model="layer.controller.tags" ng-change="layer.controller.onTagListChanged()" theme="bootstrap">
            <ui-select-match placeholder="Add new tag to recording or annotate spectrogram">
                <a2-tag tag="$item"></a2-tag>
            </ui-select-match>
            <ui-select-choices repeat="$item in layer.controller.searchedTags"
                     refresh="layer.controller.searchTags($select.search)"
                     refresh-delay="300">
                     <a2-tag tag="$item"></a2-tag>
            </ui-select-choices>
        </ui-select>
    </div>
</div>
