<div class="layer">
    <div class="row">
        <div class="col-sm-9" style="width: 76%;">
            <div class="audio-seek-bar clickable" ng-click="audio_player.setCurrentTime(($event|consoleLog|mouseEventContainerPercent|consoleLog).x * visobject.duration)">
                <div class="bar" ng-style="{width: ((100*audio_player.getCurrentTime()/visobject.duration) | round)+'%'}"></div>
            </div>
            <div class="center-block">
                <div class="btn-toolbar" ng-class="{'row-disabled': visobject.isDisabled }">
                    <div class="btn-group ml-1">
                        <button class="btn btn-default btn-sm control-border"
                            ng-disabled="!audio_player.has_recording"
                            ng-click="audio_player.prev_recording()" >

                            <i class="fa fa-step-backward" ></i>
                        </button>
                    </div>
                    <div class="btn-group ml-1">
                        <button class="btn btn-default btn-sm control-border"
                            ng-disabled="!audio_player.has_recording"
                            ng-click="audio_player[audio_player.is_playing ? 'pause' : 'play']()" >

                            <i class="fa" ng-class="{'fa-play':!audio_player.is_playing, 'fa-pause':audio_player.is_playing}"></i>
                        </button>
                        <button class="btn btn-default btn-sm control-border"
                            ng-disabled="!audio_player.has_recording"
                            ng-click="audio_player.stop()" >

                            <i class="fa fa-stop"></i>
                        </button>
                    </div>
                    <div class="btn-group ml-1">
                        <button class="btn btn-default btn-sm control-border"
                            ng-disabled="!audio_player.has_recording"
                            ng-click="audio_player.next_recording()" >

                            <i class="fa fa-step-forward" ></i>
                        </button>
                    </div>
                    <div class="btn-group">
                        <div class="btn-group dropdown" dropdown dropdown-append-to-body role="group">
                            <button class="btn btn-sm btn-default dropdown-toggle control-border" dropdown-toggle ng-disabled="!audio_player.has_recording" >
                                <i class="fa fa-fw-1" ng-class="audio_player.resource.audio.volume > .75 ? 'fa-volume-up' : audio_player.resource.audio.volume > .25 ? 'fa-volume-down' : 'fa-volume-off'" ></i>
                                <span class="fa-concat-sup" ng-if="audio_player.gain > 1">x{{audio_player.gain}}</span>
                                <span class="fa fa-caret-down fa-concat-sub"></span>
                            </button>
                            <div class="dropdown-menu min-pad" role="menu">
                                <div class="no-margin" range-slider min="0" max="1" step="0.01" decimal-places="2"
                                    model-max="audio_player.resource.audio.volume" pin-handle="min" show-values="false"
                                    attach-handle-values="true"
                                ></div>
                                <div class="btn-group btn-group-xs">
                                    <span class="btn btn-default">Gain</span>
                                    <span class="btn btn-default"
                                        ng-click="layer.controller.setGain(gain_level)"
                                        ng-repeat="gain_level in audio_player.gain_levels" ng-class="audio_player.gain == gain_level ? 'active' :''"
                                    >x{{gain_level}}</span>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-sm btn-default control-border" ng-class="audio_player.freq_filter ? 'active' : ''" ng-click="layer.controller.openFreqFilterModal()" ng-disabled="!audio_player.has_recording"
                            tooltip="Frequency filter"
                        >
                            <i class="fa fa-filter" ></i>
                            <span class="fa fa-ellipsis-h fa-concat-sub"></span>
                        </button>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-default btn-sm control-border"
                            ng-disabled="!audio_player.has_recording"
                            ng-click="audio_player.download(visobject)"
                            tooltip="Download recording" >
                            <i class="fa fa-download"></i>
                        </button>
                    </div>
                    <div class="btn-group ml-1" style="position: relative;">
                        <button class="btn btn-default btn-sm control-border"
                            ng-disabled="!audio_player.has_recording"
                            ng-click="audio_player.toggleSpectroColor()"
                            tooltip="Toggle color spectrogram">
                            <i class="fa fa-paint-brush"></i>
                        </button>
                        <ul
                            ng-if="audio_player.isToggled === true"
                            class="spectro-dropdown py-2 px-0 bg-echo border-util-gray-02 gap-y-1 row-flex flex-direction-column"
                        >
                            <li
                                ng-repeat="state in audio_player.spectroStates track by $index"
                                class="row-flex flex-align-middle flex-space-start px-2"
                                ng-click="audio_player.setSpectroColor($index)"
                                ng-class="{'active': audio_player.getActiveColor($index)}"
                            >
                                <div class="roi-thumbnail mr-3">
                                    <img ng-src="{{state.uri}}" style="height: 30px; width: 70px;"/>
                                </div>
                                <div class="text-xs">{{ state.name }}</div>
                            </li>
                        </ul>
                    </div>
                    <div ng-show="audio_player.clustersData" class="btn-group ml-1" style="position: relative;">
                        <button class="btn btn-default btn-sm control-border"
                            tooltip="Save to playlist"
                            ng-click="audio_player.togglePopup()" >
                            <i class="fa fa-plus"></i>
                        </button>
                        <div class="popover left" style="display: block; transform: translateX(-100%); min-width: 16em;" ng-if="audio_player.isPopupOpened">
                            <div class="arrow" style="top: 12%;"></div>
                            <h3 class="popover-title">
                                Create Playlist
                            </h3>
                            <div class="popover-content">
                                <div class="mb-2">
                                    <label for="name">Name</label>
                                    <input to="name" type="text" class="form-control" ng-model="audio_player.playlistData.playlistName" placeholder="Playlist name"/>
                                </div>
                                <button id="submit-btn" class="btn btn-sm btn-default"
                                    ng-click="audio_player.savePlaylist()" ng-disabled="!!audio_player.isSavingPlaylist || !audio_player.isPlaylistDataValid()">
                                    <i class="fa text-success" ng-class="{'fa-plus' : !audio_player.isSavingPlaylist , 'fa-spinner fa-spin': audio_player.isSavingPlaylist }"></i>
                                    Create Playlist
                                </button>
                                <button class="btn btn-sm btn-default"
                                    ng-click="audio_player.closePopup()">
                                    <i class="fa fa-ban text-danger"></i>
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pl-0 pr-1 no-pad-r" style="width: 85px" ng-class="{'col-sm-3': !visobject.explorerUrl, 'col-sm-2': visobject.explorerUrl}">
            <div class="nowrap">
                <i class="fa fa-sm fa-play"></i>
                {{ audio_player.getCurrentTime() | number:2 }} s
            </div>
            <div class="nowrap">
                {{pointer.sec | number:2}} s,
                {{pointer.hz / 1000 | number:1}} kHz
            </div>
        </div>
    </div>
</div>
