<div>
    <h5 class="collapse-title"  ng-click="layer.is_closed = !layer.is_closed">
        <i class="fa" ng-class="(!layer.is_closed) ? 'fa-chevron-down' : 'fa-chevron-right'"></i>
        {{visobject.name}}
    </h5>
    <div ng-hide="layer.is_closed">
        <table class="bg table table-condensed">
            <tr><td>Aggregation</td><td colspan="2">{{visobject.aggregation | worded | wordCaps}}</td></tr>
            <tr><td>Bin Size   </td><td colspan="2">{{visobject.bin_size}} Hz</td></tr>
            <tr><td>Frequency  </td><td colspan="2">{{visobject.domain.y.unit_format(visobject.domain.y.from)}} - {{visobject.domain.y.unit_format(visobject.domain.y.to)}}</td></tr>
            <tr><td>Visualization Scale</td><td>
                {{
                    visobject.normalized ? "Normalized" : (
                        "0 - " + (
                            visobject.visual_max_value != null ? visobject.visual_max_value : (visobject.max_value + ' (auto)')
                        )
                    )
                }}
            </td><td rowspan="2" style="vertical-align: middle; text-align: center">
                <button class="btn btn-default btn-sm" ng-click="layer.info.edit_visual_scale(visobject)" tooltip="Edit Visualization Options">
                    <i class="fa fa-wrench"></i>
                </button>
            </td></tr>
            <tr><td>Amplitude Threshold</td><td>
                {{visobject.threshold}} <br />
                {{layer.info.amplitudeReferences[visobject.threshold_type].caption}}
            </td></tr>
        </table>
    </div>
</div>
