<div class="layer">
    <h5 class="collapse-title"  ng-click="layer.is_open = !layer.is_open">
        <i class="fa" ng-class="layer.is_open ? 'fa-chevron-down' : 'fa-chevron-right'"></i>
        Soundscape Composition
    </h5>
    <div class="content" ng-show="layer.is_open">
        <div class="classType-container" ng-repeat="classType in layer.controller.classTypes">
            <div class="row">
                <div class="col-sm-12">
                    <b>{{ classType.type }}</b>
                </div>
            </div>
            <div class="row no-gutter classType-row" ng-repeat="cls in classType.list" >
                    <div class="no-select col-sm-8">
                        {{ cls.name }}
                    </div>
                    <div class="col-sm-4 text-right btn-toolbar">
                        <div class="btn-group btn-group-xs" ng-repeat="btnGroup in layer.controller.annotationToolbar">
                            <button class="btn btn-default btn-fade-inactive" ng-repeat="btn in btnGroup"
                            ng-class="layer.controller.annotations[cls.id] == btn.value ? 'active': ''"
                            ng-click="layer.controller.annotate(btn.value, cls.id)"
                            title="{{btn.caption}}"
                            ><i class="fa" ng-class="'val-' + btn.value"></i></button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
