<div class="layer">
    <h5 class="collapse-title" 
        ng-click="!(tieringGuard.isViewOnly || tieringGuard.loading) && (layer.is_open = !layer.is_open)"
        
        ng-style="(tieringGuard.isViewOnly || tieringGuard.loading) && {'cursor': 'not-allowed', 'opacity': '0.7'}"
        ng-attr-tooltip="{{ tieringGuard.isViewOnly ? 'This project is currently view-only' : '' }}"
    >
        <i class="fa fa-circle-o-notch fa-spin mr-1" ng-if="tieringGuard.loading"></i>

        <i class="fa" 
        ng-if="!tieringGuard.loading"
        ng-class="tieringGuard.isViewOnly ? 'fa-lock mr-1' : (layer.is_open ? 'fa-chevron-down' : 'fa-chevron-right')">
        </i>

        Species Presence Validation

        <span class="pull-right badge">
                <i class="fa val-1"></i>
                {{ visobject.validations | filterPresentCount }}
                /
                <i class="fa val-0"></i>
                {{ visobject.validations | filterAbsentCount }}
        </span>
    </h5>
    <a2-species-validator recording="visobject" layer="layer" ng-show="layer.is_open"></a2-species-validator>
</div>
