<div class="layer">
    <h5 class="collapse-title"  tooltip="Used for Random Forest Algorithm" ng-click="layer.is_open = !layer.is_open">
        <i class="fa" ng-class="layer.is_open ? 'fa-chevron-down' : 'fa-chevron-right'"></i>
        Training Sets (RF Algorithm)
    </h5>
    <div class="" ng-show="layer.is_open">
        
        <ui-select class="inline-block" ng-model="layer.training_data.tset" theme="bootstrap" style="width:280px">
            <ui-select-match placeholder="Select a training set">{{ $select.selected.name }}</ui-select-match>
            <ui-select-choices repeat="tset in layer.training_data.tset_list | filter:$select.search">
                {{ tset.name }}
            </ui-select-choices>
        </ui-select>
        <button class="btn btn-default inline-block" 
            tooltip="Create a new training set" 
            tooltip-placement="right" 
            tooltip-append-to-body="true" 
            ng-click="layer.training_data.add_new_tset()"
            style="vertical-align:top;">
            <i class="fa fa-plus"></i>
        </button>
    </div>
    <div ng-show="layer.is_open && layer.is_open">
        <div ng-include="layer.training_data.data.typedef.templates.layer_item" ></div>
    </div>
</div>
