<div class="row" style="margin-top:10px;">
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-4">
                <div class="big-count">
                    <i ng-if="newUsers === undefined" class="fa fa-spinner fa-spin"></i>
                    <span class="number" ng-if="newUsers !== undefined" title="{{ newUsers }}">{{ newUsers }}</span>
                    <span class="text">New users today</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="big-count">
                    <i ng-if="newProjects === undefined" class="fa fa-spinner fa-spin"></i>
                    <span class="number" ng-if="newProjects !== undefined" title="{{ newProjects }}">{{ newProjects }}</span>
                    <span class="text">New projects today</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="big-count">
                    <i ng-if="newSites === undefined" class="fa fa-spinner fa-spin"></i>
                    <span class="number" ng-if="newSites !== undefined" title="{{ newSites }}">{{ newSites }}</span>
                    <span class="text">New sites today</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="big-count">
                    <i ng-if="allUsers === undefined" class="fa fa-spinner fa-spin"></i>
                    <span class="number" ng-if="allUsers !== undefined" title="{{ allUsers }}">{{ allUsers }}</span>
                    <span class="text">Number of all users</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="big-count">
                    <i ng-if="allProjects === undefined" class="fa fa-spinner fa-spin"></i>
                    <span class="number" ng-if="allProjects !== undefined" title="{{ allProjects }}">{{ allProjects }}</span>
                    <span class="text">Number of all projects</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="big-count">
                    <i ng-if="allSites === undefined" class="fa fa-spinner fa-spin"></i>
                    <span class="number" ng-if="allSites !== undefined" title="{{ allSites }}">{{ allSites }}</span>
                    <span class="text">Number of all sites</span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-7">
        <!-- <div style="background-color:#bbb; height:300px; margin: 10px">
            Activity on the last 7 days
        </div> -->
        <div class="a2-filter a2-filter-text toolbar">
            <div class="dropdown" style="display:inline-block" dropdown dropdown-append-to-body>
                <button class="btn btn-default dropdown-toggle" dropdown-toggle>
                    <i ng-class="plots.selected.series.icon"></i>
                    {{plots.selected.series.name}}
                    <i class="fa fa-caret-down"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="series in plots.data.series"
                        ng-class="{active: plots.selected.series == series}">
                        <a ng-click="plots.set_series(series)">
                            <i ng-class="series.icon"></i>
                            {{series.name}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="dropdown" style="display:inline-block" dropdown dropdown-append-to-body>
                <button class="btn btn-default dropdown-toggle" dropdown-toggle>
                    <i class="fa fa-clock-o"></i>
                    {{plots.selected.time_range.text}}
                    <i class="fa fa-caret-down"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="time_range in plots.data.time_ranges"
                        ng-class="{active: plots.selected.time_range == time_range}">
                        <a ng-click="plots.set_time_range(time_range)">
                            {{time_range.text}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="dropdown" style="display:inline-block" dropdown dropdown-append-to-body>
                <button class="btn btn-default dropdown-toggle" dropdown-toggle>
                    <i class="fa fa-hourglass-3"></i>
                    {{plots.selected.period.text}}
                    <i class="fa fa-caret-down"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="period in plots.data.periods"
                        ng-class="{active: plots.selected.period == period}">
                        <a ng-click="plots.set_period(period)">
                            {{period.text}}
                        </a>
                    </li>
                </ul>
            </div>
            <div style="display:inline-block">
                <button class="btn btn-default" ng-click="UserStatsExport()">User Stats Export</button>
            </div>
        </div>
        <div class="">
            <!-- <loader ng-hide="plots.loading">Loading Data</loader> -->
            <plotly-plotter class="input-source" layout="plots.chart.layout" data="plots.chart.data">
            </plotly-plotter>
            <!-- <c3-chart-display data="plots.chart.data" axes="plots.chart.axes"></c3-chart-display> -->
        </div>
    </div>


</div>
<div class="row">
    <div class="col-sm-5">
        <h4>Jobs status</h4>
        <ul class="list-group">
            <li ng-repeat="jobType in Jobs"
                class="list-group-item"
                ng-class="{
                    'list-group-item-success': jobType.status == 'ok',
                    'list-group-item-warning': jobType.status == 'warning',
                    'list-group-item-danger':  jobType.status == 'red_alert',
                }">
                {{ jobType.name }}:
                <span ng-show="jobType.status == 'ok'">Jobs are nominal</span>
                <span ng-show="jobType.status == 'warning'">Some jobs had problems</span>
                <span ng-show="jobType.status == 'red_alert'">Jobs are dropping like angry birds</span>
                <span ng-show="jobType.status == 'no_data'">no jobs of this type exist</span>
            </li>
        </ul>
    </div>
</div>
