<form name="projectForm" role="form" ng-submit="create() | trackEvent:'Home-Create-Project':'ok'">
<div class="modal-header">
    <h2>Create project</h2>
</div>

<div class="modal-body">
    <p ng-show="error" class="text-danger">
        
    </p>
    <project-form ng-model="project" valid="isValid"></project-form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit" >
        Create
    </button>
    <button class="btn btn-default" type="button" 
        ng-click="$dismiss() | trackEvent:'Home-Create-Project':'cancel'">
        Close
    </button>
</div>
</form>
