<div class="row toolbar">
    <div class="col-sm-5">
            <button class="btn btn-default" ng-click="create()">New Site </button>
            <button class="btn btn-default" ng-click="edit()" ng-class="{ disabled: !selected }">Edit</button>
            <button class="btn btn-danger" ng-click="del()" ng-class="{ disabled: !checked || !checked.length }">Delete</button>
    </div>
    <div class="col-sm-2">
        <input class="form-control" type="text" placeholder="Search" ng-model="search">
    </div>
</div>
<div class="row">
    <div class="col-sm-7">
        <a2-table fields="fields" rows="sites" on-select="sel($index)" checked="checked" search="search"></a2-table>
        <div class="jumbotron" ng-show="!sites || !sites.length > 0">
            <h3 class="text-center">
                This project don't have any <i class="fa fa-map-marker"></i> sites
            </h3>
        </div>
    </div>
    <div class="col-sm-5">
        <div ng-show="editing || creating" class="panel panel-default">
            <div class="panel-body">
                <form class="form">
                    <div class="form-group">
                        <label>Name:</label><input class="form-control" type="text" ng-model="temp.name" placeholder="Name Station">
                    </div>
                    
                    <div class="form-group">
                        <label>Location:</label>
                        <div class="input-group">
                             <span class="input-group-addon">Lat</span>
                            <input class="form-control" id="lat" type="text" ng-model="temp.lat" placeholder="Latitude">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                             <span class="input-group-addon">Lon</span>
                            <input class="form-control" id="lon" type="text" ng-model="temp.lon" placeholder="Longitude">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">   
                             <span class="input-group-addon">Alt</span>
                            <input class="form-control" id="alt" type="text" ng-model="temp.alt" placeholder="Altitude">
                        </div>
                    </div>
                    <button class="btn btn-primary" ng-click="save()"><i class="fa fa-floppy-o"></i> Save</button>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="map" id="map-site"></div>
            </div>
        </div>
    </div>
</div>
{{ debug }}
