@pattern-img-width: 210px;


.model-pattern {
    position: relative;
    margin-top:10px;
    margin-bottom:10px;
    
    & > .yaxiscontainer {
        position: absolute;
        left:0px;

    }

    & > .yaxisrelative {
        position: relative;
    }
    
    & > .zoomDivClass
    {
        position:absolute;top:10px;
    }
    
    & > .patternDiv{
        position: absolute;
        left:50px;
        min-width:200px;
        top:10px;
    }
    
    & > .patternWidth{
        width:100%;
    }
    
    & > .patternWidthAxis{
        position: relative;
        width:100%;
    }
    
    & > .patternImg{
        margin-left:16px;
        width:100%;
        height:auto;
        min-height:0px;
    }
    
    & > .axisy1 {
        position: absolute;bottom: -18px;
    }
    & > .axis-x1 {

    }
    & > .axis-x2 {

    }
}

.model-info-section {
    border: 1px solid;
    border-color:#333;
}

.model-info-column {
    float:left;
    padding-right: 20px;
}

.confusion-matrix {
    padding-top: 10px;
    
    & > table {
        padding: 10px;
        text-align:center;
        width:100%;
        
        & > tbody > tr:nth-child(even) {
            border-bottom:1px solid;
            border-bottom-color: #ddd;
        }
        
        & > tbody > tr:not(:first-child) > td:first-child {
            border-right:1px solid;
            border-right-color: #ddd;
        }
    }
}


.details-list > li {
    margin-bottom: 10px;
    border-bottom: solid 1px #aaa;
    
    &:last-child {
        border-bottom: none 0px;
    }
}

.index-plot {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom:10px;
    padding: 6px;
    p {
        margin-left:20px;
    }
}
