@pattern-img-width: 210px;


.model-pattern {
    position: relative;
    margin-top:10px;
    margin-bottom:10px;


    & > .zoomDivClass {
        position: absolute;
        top: 10px;
    }

    & > .patternDiv{
        height:100px;
        width:@pattern-img-width;

        & > .yaxiscontainer {
            height: 100%;
            position: absolute;
            left:0px;
            & > .yaxisrelative {
                height: 100%;
                position: relative;

                & > .lowfreq{
                    position: absolute;
                    bottom: -18px;
                }
            }
        }

        & > .patternWidth{
            height: 100%;
            width:100%;
            & > .patternImg{
                margin-top:10px;
                margin-left:80px;
                height: 100%;
                width:100%;
            }
        }


        & > .patternWidthAxis{
            margin-top:10px;
            margin-left:65px;
            position: relative;
            width:100%;
            & > .secs0axis{
                position:absolute;
                left:15px;
            }
            & > .secslaxis{
                position:absolute;
                right:-20px;
            }
        }
    }


    & > .axisy1 {
        position: absolute;bottom: -18px;
    }
}

.model-pattern-ori {
    position: relative;
    width: 300px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;

    & > .pattern {
        position: absolute;
        top: 0px;
        right: 0px;
        width:@pattern-img-width;
        height: 100%;
    }

    & > .axis-y1 {
        position: absolute;
        bottom: 0px;
        right: @pattern-img-width;
    }
    & > .axis-y2 {
        position: absolute;
        top: 0px;
        right: @pattern-img-width;
    }
    & > .axis-x1 {
        position: absolute;
        bottom: -20px;
        right: (@pattern-img-width)-15;
    }
    & > .axis-x2 {
        position: absolute;
        bottom: -20px;
        right: 0px;
    }
}

.model-info-section {
    border: 1px solid;
    border-color:#333;
}

.model-info-column {
    float:left;
    padding-right: 25px;
    & > .newthersholddiv{
        padding: 5px 0px;
        & > .thresholdinput{
            width:50px;
            display:inline-block;
        }
    }
}

.confusion-matrix {
    padding-top: 10px;

    & > table {
        padding: 10px;
        text-align:center;
        width:100%;

        & > tbody > tr:nth-child(even) {
            border-bottom:1px solid;
            border-bottom-color: #ddd;
        }

        & > tbody > tr:not(:first-child) > td:first-child {
            border-right:1px solid;
            border-right-color: #ddd;
        }
    }
}


.details-list > li {
    margin-bottom: 10px;
    border-bottom: solid 1px #aaa;

    &:last-child {
        border-bottom: none 0px;
    }
}

.index-plot {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom:10px;
    padding: 6px;
    p {
        margin-left:20px;
    }
}

.cnn-selection-btns > button {
    transition: 0.75s all;
    margin-right: 5px;
    :last-child {
        margin-right: 0;
    }
}

.cnn-selection-btns {
    margin-bottom: 5px;
    :last-child {
        margin-bottom: 0;
    }
}

.active-cnn-selection {
    background-color: @gray-darker;
    border-color: @gray-darker;
}
