.visualizer-root {
    height: 100%;
    overflow: auto;
    position: relative;
    width: 100%;
    
    > .a2-visualizer-spectrogram-affixed{
        z-index:1005;
    }

    > * {
        position: absolute;
    }

    > svg {
        z-index:10;
        > .bg{
            fill: #ffffff;
        }
        > .axis {
            path, line {
                fill: none;
                stroke: black;
                shape-rendering: crispEdges;
            }
            text {
                font-family: sans-serif;
                font-size: 11px;
            }
        }
        rect.border{
            stroke : black;
            fill   : none;
            shape-rendering: crispEdges;
            stroke-width:1px;
        }
    }
    > .axis-y{
        z-index : 15;
    }
    > .axis-x{
        z-index : 10;
    }

    > .btn-toolbar{
        z-index : 50;
    }

    > .spectrogram-container{
        z-index:1;
        > .spectrogram-layer {
            position:absolute;
            pointer-events: none;
            z-index:100;

            .roi {
                position: absolute;
                border: 1px solid @roi-border-color;
                background-color: @roi-bg-color;
                &.roi-current{
                    border-color: @roi-current-border-color;
                    background-color: @roi-current-bg-color;
                }
                &.roi-selected{
                    border-color: @roi-selected-border-color;
                    background-color: @roi-selected-bg-color;
                }
            }

            .input-source {
                position: absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                pointer-events: auto;
                z-index:1000;
            }
            &.visobj-layer img{
                pointer-events: none;
            }
            &.frequency-adjust-layer{
                z-index:1000;
                > .filter-band{
                    position:absolute;
                    background-color:rgba(255,255,255,.7)
                }
            }
            &.playback-head{
                top:0;
                bottom:0;
                border-left:1px solid blue;
                width:1px;
            }
        }
    }

    > .loader {
        display: inline-block;
        text-align: center;
        height: auto;
        width: auto;
        background-color: fade(@well-bg, 70%);
        border: 1px solid @well-border;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
        margin-bottom: 20px;
        min-height: 20px;
        padding: 24px;
        border-radius: @border-radius-large;
    }

}


.sidebar .layers .layer{
    .collapse-title{
        cursor:pointer;
        &:hover{
            text-decoration:underline;
        }
    }
    
    table.table{
        > tr.active, > * > tr.active > td {
            color: @nav-pills-active-link-hover-color;
            background-color: @nav-pills-active-link-hover-bg;
        }
    }
    .visobj-list{
        max-height:194px;
        background-color: @body-bg;
        margin: 5px 0px;
        border: 1px solid @btn-default-border;
        padding-top: -1px;
        overflow-y: auto;
        > .visobj-list-item{
            position: relative;
            height:162px;
            padding : 6px;
            &:nth-child(even){
                background-color: @layer-zebra-even;
            }
            &:nth-child(odd){
                background-color: @layer-zebra-odd;
            }
            &:nth-child(odd).active, &:nth-child(even).active{
                color: @nav-pills-active-link-hover-color;
                background-color: @nav-pills-active-link-hover-bg;
            }
            > .thumbnail-viewer{
                max-width: 422px;
                overflow-x: hidden;
                margin: 0px 5px;
                > img {
                    height: 128px;
                    &.visobj-soundscape{
                        width: 100%;
                    }
                }
            }
        }

    }
}

.fa.val-2{
    &:before{
        content: "\f068"
    }
    color: @brand-warning;
}


.fa.val-1{
    &:before{
        content: "\f00c"
    }
    color: @brand-success;
}

.fa.val-0{
    &:before{
        content: "\f00d"
    }
    color: @brand-danger;
}


.control-point{
    position:absolute;
    font-size:14px;
    &.cp-resize-tl, &.cp-resize-br{
        cursor:nwse-resize;
    }
    &.cp-resize-tr, &.cp-resize-bl{
        cursor:nesw-resize;
    }
}

.zoom-control{
    display:inline-block;
    @tick-mark-size:5;
    @tick-mark-color:black;
    @ct:rgba(0,0,0,0);
    @c1:@tick-mark-color;
    @c2:@btn-default-border;
    @c3:@btn-default-bg;
    @half-size : .01;
    @p1:percentage(.5 - @half-size);
    @p2:percentage(.5 + @half-size);
    @p3:percentage(.5 - .3);
    @p4:percentage(.5 + .3);
    .zoom-track{
        position: relative;
        overflow:hidden;
        > .tick-marks{
            @grad-1 : linear-gradient(to bottom,@ct 0%, @ct @p1, @c1 @p1, @c1 @p2, @ct @p2, @ct 100%);
            @grad-2 : linear-gradient(to right ,@ct 0%, @ct @p1, @c2 @p1, @c3 50%, @c2 @p2, @ct @p2, @ct 100%);
            position: absolute; 
        }
        > .marker {
            padding: 0;
            position: absolute;
        }
    }
    &.horizontal{
        width:200px;
        > .btn{
            margin-left:0;
            margin-right:0;
        }
        .zoom-track{
            display: inline-block;
            height: 1.5em;
            vertical-align:middle;
            width: 140px;
            > .tick-marks{
                @grad-1 : linear-gradient(to right ,@ct 0%, @ct @p1, @c1 @p1, @c1 @p2, @ct @p2, @ct 100%);
                @grad-2 : linear-gradient(to bottom,@ct 0%, @ct @p1, @c2 @p1, @c3 50%, @c2 @p2, @ct @p2, @ct 100%);
                left:0; right:0; top:50%; height:9px;
                margin-top: -5px;
                background-size: 11px 9px;
                background-image: @grad-1, @grad-2;
            }
            &:hover > .tick-marks{
                @grad-1 : linear-gradient(to right ,@ct 0%, @ct @p1, @c1 @p1, @c1 @p2, @ct @p2, @ct 100%);
                @grad-3 : linear-gradient(to bottom,@ct 0%, @ct @p3, @c2 @p3, @c3 50%, @c2 @p4, @ct @p4, @ct 100%);
                background-image: @grad-1, @grad-3;
            }
            > .marker {
                width: 10px;
                margin-left: -5px;
                height: 100%;    
            }
        }        
    }
    &.vertical{
        .zoom-track{
            height:140px;
            > .tick-marks{
                @grad-1 : linear-gradient(to bottom,@ct 0%, @ct @p1, @c1 @p1, @c1 @p2, @ct @p2, @ct 100%);
                @grad-2 : linear-gradient(to right ,@ct 0%, @ct @p1, @c2 @p1, @c3 50%, @c2 @p2, @ct @p2, @ct 100%);
                top:0; bottom:0; left:50%; width:9px;
                margin-left: -5px;
                background-size: 9px 11px;
                background-image: @grad-1, @grad-2;
            }
            &:hover > .tick-marks{
                @grad-1 : linear-gradient(to bottom,@ct 0%, @ct @p1, @c1 @p1, @c1 @p2, @ct @p2, @ct 100%);
                @grad-3 : linear-gradient(to right,@ct 0%, @ct @p3, @c2 @p3, @c3 50%, @c2 @p4, @ct @p4, @ct 100%);
                background-image: @grad-1, @grad-3;
            }
            > .marker {
                height: 10px;
                margin-top: -5px;
                width: 100%;    
            }
        }
    }
}


.fa-sm{
    font-size: 10px;
    line-height: 1em;
    vertical-align: middle;    
}

a2-img {
    display : inline-block;
    position:relative;
    > img {
        position : absolute;
        width    : 100%;
        height   : 100%;
        z-index  : 1;
    }
    &.loading{
        outline:1px solid black;
        > loader {
            display:block; 
        }
        > img {
            opacity: .8;
        }
    }
    > loader {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        display:none;
        z-index:2;
    }
}

.popover.confirm-roi{
    transform: translateY(-50%);    
    min-width: 14em;
}


img.visobj-soundscape, img.crisp-image, .crisp-image img{
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: optimizeSpeed;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}
