.visualizer-root {
    height: 100%;
    overflow: auto;
    position: relative;
    width: 100%;
    
    > * {
        position: absolute;
    }
    
    > svg {
        z-index:10;
        > .bg{
            fill: #ffffff;
        }
        > .axis {
            path, line {
                fill: none;
                stroke: black;
                shape-rendering: crispEdges;                
            }
            text {
                font-family: sans-serif;
                font-size: 11px;
            }
        }
    }
    > .axis-y{
        z-index : 15;
    }
    > .axis-x{
        z-index : 10;
    }
    
    > .btn-toolbar{
        z-index : 50;
    }
    
    > .spectrogram-container{
        z-index:1;
        > .spectrogram-layer {
            position:absolute;
            pointer-events: none;
            z-index:100;
            
            .roi {
                position: absolute;
                border: 1px solid green;
                background-color: rgba(0, 255, 0, 0.1);
                &.roi-current{
                    border: 1px solid blue;
                    background-color: rgba(0, 0, 255, 0.2);
                }
            }
            
            .input-source {
                position: absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                pointer-events: auto;
                z-index:1000;
            }
            &.recording-layer img{
                pointer-events: none;
            }
            &.frequency-adjust-layer{
                z-index:1000;
                > .filter-band{
                    position:absolute;
                    background-color:rgba(255,255,255,.7)
                }
            }
            &.playback-head{
                top:0;
                bottom:0;
                border-left:1px solid blue;
                width:1px;
            }
        }
    }
    
}


.sidebar .layers .layer .recording-list{
    max-height:194px;
    background-color: @body-bg;
    margin: 5px 0px;
    border: 1px solid @btn-default-border;
    padding-top: -1px;
    overflow-y: auto;
    > .recording-list-item{
        position: relative;
        height:162px;
        padding : 6px;
        &:nth-child(even){
            background-color: @layer-zebra-even;
        }
        &:nth-child(odd){
            background-color: @layer-zebra-odd;
        }
        &:nth-child(odd).active, &:nth-child(even).active{
            color: @nav-pills-active-link-hover-color;
            background-color: @nav-pills-active-link-hover-bg;
        }
        > .thumbnail-viewer{
            max-width: 422px;
            overflow-x: hidden;
            margin: 0px 5px;
            > img {
                height: 128px;
            }
        }
    }
}


.fa.val-1{
    &:before{
        content: "\f00c"
    }
    color: @brand-success;
}

.fa.val-0{
    &:before{
        content: "\f00d"
    }
    color: @brand-danger;
}
