<div class="modal-header">
    <h3 class="modal-title">Filter Audio Frequency</h3>
</div>
<div class="modal-body">
    <a2-visualizer-frequency-filter-range-control
        img-src="recording.tiles.set[0].src | a2UpdatedUrl"
        filter-min="filter.min" filter-max="filter.max" max-freq="max_freq"
    ></a2-visualizer-frequency-filter-range-control>
    <button class="btn btn-default" style="position:absolute;top:0;right:0"
        ng-click="$dismiss()">
        <i class="fa fa-times-circle-o"></i>
    </button>
</div>
<div class="modal-footer" style="padding: 15px 8px;">
    <button class="btn btn-primary" ng-click="apply_filter()">
            <i class="fa fa-filter"></i> Apply Filter
    </button>
    <button class="btn btn-default" ng-click="remove_filter()" ng-if="has_previous_filter" tooltip="Remove Frequency Filter">
        <i class="fa fa-close"></i> Cancel
    </button>
</div>
