<form name="projectForm" 
    role="form" 
    ng-submit="create() | trackEvent:'Home-Create-Project':'ok'">

    <div class="modal-header">
        <h2>Create project</h2>
    </div>

    <div class="modal-body">
        <project-form ng-model="project" valid="isValid"></project-form>
        <plan-select project="project" plan="project.plan" auto-payments-enabled="autoPaymentsEnabled" orders-contact="ordersContact" recorder-qty="recorderQty"></plan-select>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-disabled="!autoPaymentsEnabled && project.plan.tier != 'free' && !project.plan.coupon">
            {{
                project.plan.tier == 'free' ? 'Create FREE Project' : (
                    project.plan.coupon ? 'Redeem Coupon' : (
                        recorderQty > 0 ? 'Enter shipping info' : 'Review order'
                    )
                )
            }}
        </button>
        <button class="btn btn-default" type="button" 
            ng-click="$dismiss() | trackEvent:'Home-Create-Project':'close'">
            Close
        </button>
    </div>
</form>
