<form name="projectForm" 
    role="form" 
    ng-submit="create() | trackEvent:'Home-Create-Project':'ok'">

    <div class="modal-header">
        <h2>Create project</h2>
    </div>

    <div class="modal-body">
        <project-form ng-model="project" valid="isValid"></project-form>
        <plan-select project="project" plan="project.plan" auto-payments-enabled="autoPaymentsEnabled" orders-contact="ordersContact" recorder-qty="recorderQty"></plan-select>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" >
            <span ng-if="(!project.plan.coupon && recorderQty <= 0) || project.plan.tier == 'free'">Review order</span>
            <span ng-if="project.plan.coupon && project.plan.tier != 'free'">Redeem Coupon</span>
            <span ng-if="!project.plan.coupon && recorderQty  > 0 && project.plan.tier != 'free'">Enter shipping info</span>
        </button>
        <button class="btn btn-default" type="button" 
            ng-click="$dismiss() | trackEvent:'Home-Create-Project':'close'">
            Close
        </button>
    </div>
</form>
