<form name="projectForm" 
    role="form" 
    ng-submit="create() | trackEvent:'Home-Create-Project':'ok'">

    <div class="modal-header">
        <h2>Create project</h2>
    </div>

    <div class="modal-body">
        <project-form ng-model="project" valid="isValid"></project-form>
        <plan-select plan="project.plan" recorder-qty="recorderQty"></plan-select>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" >
            <span ng-if="recorderQty <= 0 || (project.plan && project.plan.tier == 'free')">Review order</span>
            <span ng-if="recorderQty > 0 && (project.plan && project.tier != 'free')">Enter shipping info</span>
        </button>
        <button class="btn btn-default" type="button" 
            ng-click="$dismiss() | trackEvent:'Home-Create-Project':'close'">
            Close
        </button>
    </div>
</form>
