<div class="modal-header">
    <h2>Order Summary</h2>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Items
                        <button type="button" 
                            class="btn btn-default"
                            ng-click="changeItems()">
                                Change items
                        </button>
                    </h4>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Items</th>
                            <th>Unit</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>{{ info.plan[type].name }} </b><br>
                                {{ info.plan[type].description(plan) }}
                            </td>
                            <td>${{ plan.cost | number : 2 }}</td>
                            <td>1</td>
                            <td>${{ plan.cost | number : 2 }}</td>
                        </tr>
                        <tr ng-show="recorderQty">
                            <td>
                                <b>{{ info.recorder.name }} </b><br>
                                {{ info.recorder.description }}
                            </td>
                            <td>${{ info.recorder.priceWithPlan | number : 2 }}</td>
                            <td>{{ recorderQty }}</td>
                            <td>${{ info.recorder.priceWithPlan * recorderQty | number : 2 }}</td>
                        </tr>
                        <tr class="text-right">
                            <td colspan="3"><b>subtotal:</b></td>
                            <td> ${{ (plan.cost + (recorderQty * 125)) | number : 2 }}</td>
                        </tr>
                        <tr class="text-right">
                            <td colspan="3"><b>shipping &amp; handling:</b></td>
                            <td>${{ shipping }}</td>
                        </tr>
                        <tr class="text-right">
                            <td colspan="3"><b>total:</b></td>
                            <td><b>${{ (plan.cost + (recorderQty * 125) + shipping ) | number : 2 }}</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-12" ng-show="address">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Shipping address 
                    <button type="button" 
                        class="btn btn-default"
                        ng-click="editAddress()">
                            edit
                    </button>
                </div>
                <div class="panel-body">
                    <address>
                        <strong>{{ address.name }}</strong><br>
                        {{ address.line1 }}<br>
                        <span ng-if="address.line2">
                            {{ address.line2 }}<br>
                        </span>
                        {{ address.city }} 
                        {{ address.state }} <br>
                        {{ address.postal_code }} 
                        {{ address.country_code }}<br>
                        <abbr title="telephone">Tel:</abbr> {{ address.telephone }}
                    </address>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="project.tier == 'paid'">
        <div class="col-sm-12 text-right">
            All online payments are done through
            <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_100x26.png" alt="PayPal" />
        </div>
    </div>
</div>
<div class="modal-footer">
    <loader class="loader" ng-if="waiting"></loader>
    <button class="btn btn-primary"
        ng-click="submit()"
        ng-disabled="waiting">
            <span ng-if="project.plan.tier == 'paid'">Confirm &amp; Pay</span>
            <span ng-if="project.plan.tier == 'free'">Confirm</span>
    </button>
    <button class="btn btn-default" 
        type="button" 
        ng-click="$dismiss()">
            Close
    </button>
</div>
