<form class="form-horizontal" role="form" name="shipping" ng-submit="verify()">
<div class="modal-header">
    <h2>Shipping Address</h2>
</div>
<div class="modal-body">
    <div class="panel panel-default">
        <div class="panel-heading">
            Shipping address:
        </div>
        <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-3" for="addrFullName">
                            Full Name
                        </label>
                        <div class="col-sm-9">
                            <input name="name" 
                                id="addrFullName"
                                class="form-control" 
                                ng-model="address.name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3" for="addrLine1">
                            Address
                        </label>
                        <div class="col-sm-9">
                            <input name="addr1" 
                                class="form-control" 
                                placeholder="Street address, P.O. box, etc."
                                ng-model="address.line1" required>
                            <input name="addr2" 
                                class="form-control" 
                                placeholder="Apartment, building, etc."
                                ng-model="address.line2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3" for="addrCity">
                            City
                        </label>
                        <div class="col-sm-9">
                            <input name="city" 
                                id="addrCity"
                                class="form-control" 
                                placeholder="City"
                                ng-model="address.city" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3" for="addrState">
                            State
                        </label>
                        <div class="col-sm-9">
                            <input name="state" 
                                class="form-control" 
                                id="addrState"
                                placeholder="State, province or region"
                                ng-model="address.state" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3" for="addrPostalCode">
                            Postal code
                        </label>
                        <div class="col-sm-9">
                            <input name="postal_code" 
                                id="addrPostalCode"
                                class="form-control" 
                                placeholder="Postal Code"
                                ng-model="address.postal_code" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3" for="addrCountry">
                            Country
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control" 
                                ng-model="address.country_code"
                                ng-options="c.code as c.name for c in countries">
                                <option value="">Country</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3" for="addrTel">
                            Telephone
                        </label>
                        <div class="col-sm-9">
                            <input name="telephone" 
                                id="addrTel"
                                class="form-control" 
                                ng-model="address.telephone" required>
                        </div>
                    </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary"
        type="submit">
        Review order
    </button>
    <button class="btn btn-default" 
        type="button" 
        ng-click="$dismiss()">
            Close
    </button>
</div>
</form>
