<form class="form" role="form" name="shipping" ng-submit="verify()">
<div class="modal-header">
    <h2>Shipping Address</h2>
</div>
<div class="modal-body">
    <div class="panel panel-default">
        <div class="panel-heading">
            Shipping address:
        </div>
        <div class="panel-body">
                <div class="form-group">
                    <input name="name" 
                        class="form-control" 
                        placeholder="Full name"
                        ng-model="address.name">
                </div>
                <div class="form-group">
                    <input name="addr1" 
                        class="form-control" 
                        placeholder="Street address, P.O. box, etc."
                        ng-model="address.line1">
                </div>
                <div class="form-group">
                    <input name="addr2" 
                        class="form-control" 
                        placeholder="Apartment, building, etc."
                        ng-model="address.line2">
                </div>
                <div class="form-group">
                    <input name="city" 
                        class="form-control" 
                        placeholder="City"
                        ng-model="address.city">
                </div>
                <div class="form-group">
                    <input name="state" 
                        class="form-control" 
                        placeholder="State, province or region"
                        ng-model="address.state">
                </div>
                <div class="form-group">
                    <input name="postal_code" 
                        class="form-control" 
                        placeholder="Postal Code"
                        ng-model="address.postal_code">
                </div>
                <div class="form-group">
                    <select class="form-control" 
                        ng-model="address.country_code"
                        ng-options="c.code as c.name for c in countries">
                        <option value="">Country</option>
                    </select>
                </div>
                <div class="form-group">
                    <input name="telephone" 
                        class="form-control" 
                        placeholder="Phone"
                        ng-model="address.telephone">
                </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary"
        type="submit">
        Review order
    </button>
    <button class="btn btn-default" 
        type="button" 
        ng-click="$dismiss()">
            Close
    </button>
</div>
</form>
