<div>
    <div ng-if="controller.loading.details">
        Loading <loader></loader>
    </div>
    <div ng-if="!controller.loading.details && controller.patternMatching"
        a2-scroll="controller.onScroll($event, $controller)"
        a2-scroll-on="window"
    >
        <a2-scroll-anchor name="header" class="a2-page-header-placeholder" ng-class="{ 'is-active': controller.scrolledPastHeader }" />
        <div class="panel-body a2-page-header" ng-class="{ 'is-fixed': controller.scrolledPastHeader, 'scroll-past-header': controller.scrolledPastHeader }">
            <div class="row row-flex flex-align-middle">
                <div class="col-sm-3" style="padding-bottom:5px">
                    <div class="roi-thumbnail" >
                        <img ng-src="{{controller.patternMatching.template.uri}}" class="roi-img"/>
                        <a class="roi-btn-bl" ng-href="{{controller.getTemplateVisualizerUrl(controller.patternMatching.template)}}">
                            <i tooltip-placement="left"
                                tooltip-append-to-body="true"
                                tooltip="View in Visualizer"
                                class="fa fa-cubes">
                            </i>
                        </a>
                        <a class="roi-btn-br" ng-click="controller.playTemplateAudio()">
                            <i tooltip-placement="left"
                                tooltip-append-to-body="true"
                                tooltip="Play Audio"
                                class="fa fa-play fa-2x">
                            </i>
                        </a>
                        <div class="roi-btn-b outside text-sm">
                            {{controller.patternMatching.template.x2 - controller.patternMatching.template.x1 | number:2}}s
                        </div>
                        <div class="roi-btn-r outside text-sm">
                            {{(controller.patternMatching.template.y2-controller.patternMatching.template.y1) | number:0}}Hz
                        </div>
                        <div class="roi-btn-tr outside text-sm">
                            {{controller.patternMatching.template.y2 | number:0}}Hz <br>
                        </div>
                        <div class="roi-btn-br outside text-sm">
                            {{controller.patternMatching.template.y1 | number:0}}Hz
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 is-v-middle">
                    <b>{{controller.patternMatching.name}}</b><br />
                    {{controller.patternMatching.species_name }}, {{controller.patternMatching.songtype_name }}<br />
                    {{controller.patternMatching.template.name }}<br />
                    {{controller.patternMatching.timestamp | moment : 'lll' }}<br />
                    {{controller.patternMatching.playlist_name}}<br />
                    {{controller.patternMatching.parameters | asCSV}}<br />
                    {{controller.patternMatching.matches}} matches
                        ({{controller.patternMatching.cs_present || 0}} present,
                        {{controller.patternMatching.cs_absent || 0}} not present,
                        {{controller.patternMatching.matches - (controller.patternMatching.cs_present + controller.patternMatching.cs_absent)}} unvalidated,
                        {{controller.patternMatching.matches - controller.patternMatching.cs_total}} decided
                    )
                </div>
                <div class="col-sm-5 flex-self-align-bottom">
                    <div class="pull-right">
                    <div class="pull-right">
                        <div class="btn-group btn-group-margin">
                            <ui-select ng-model="controller._selection" theme="bootstrap" style="display:inline-block; width:9em;"
                                on-select="controller.onSelect($select.selected)"
                            >
                                <ui-select-match placeholder="Select">Select</ui-select-match>
                                <ui-select-choices repeat="$item in controller.lists.selection | filter:$select.search">
                                    {{$item.text}}
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="btn-group btn-group-margin">
                            <button class="btn btn-default" >Validate as:</button>
                            <ui-select ng-model="controller.validation" theme="bootstrap" class="btn-group-item border-left-radius">
                                <ui-select-match>
                                    <i ng-class="$select.selected.class"></i> {{$select.selected.text}}
                                </ui-select-match>
                                <ui-select-choices repeat="$item in controller.lists.validation | filter:$select.search">
                                    <i ng-class="$item.class"></i> {{$item.text}}
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="btn-group btn-group-margin">
                            <button class="btn btn-primary" ng-click="controller.validate()">Submit</button>
                        </div>
                    </div>
                    <div class="pull-right">
                        <div class="btn-group btn-group-margin" ng-show="controller.total.pages > 1">
                            <a class="btn btn-default" ng-click="controller.prev()">Previous</a>
                            <ui-select class="btn-group-item border-radius" ng-model="controller.selected.page" theme="bootstrap" ng-change="controller.setPage($select.selected, true)">
                                <ui-select-match>
                                    {{$select.selected | a2PageNumberToTitle}} of {{controller.total.pages}}
                                </ui-select-match>
                                <ui-select-choices repeat="$item in controller.total.pages | a2Range | filter:($select.search | a2PageTitleToNumber)">
                                    {{$item | a2PageNumberToTitle}}
                                </ui-select-choices>
                            </ui-select>
                            <a class="btn btn-default" ng-click="controller.next()">Next</a>
                        </div>

                        <div class="btn-group btn-group-margin">
                            <button class="btn btn-default"
                                ng-repeat="item in controller.lists.thumbnails"
                                ng-click="controller.thumbnailClass = item.value"
                                ng-class="{active: controller.thumbnailClass == item.value}"
                            ><i ng-class="item.class"></i></button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div ng-show="loading-rois">Loading...</div>
            <div ng-repeat="site in controller.rois">
                <div class="h3" id="site-{{site.id}}"><i class="fa fa-map-marker"></i> {{site.name}}</div>
                    <div ng-repeat="roi in site.list"
                        class="btn btn-default roi-thumbnail {{roi.selected ? 'active' : ''}}"
                        ng-click="roi.selected = !roi.selected"
                    >
                        <input class="roi-btn-tl" type="checkbox" ng-model="roi.selected" ng-click="$event.stopPropagation()">
                        <div class="roi-btn-tr h1" ng-if="roi.cs_validated !== null">
                            <i class="fa val-{{roi.cs_validated}}"></i>
                        </div>
                        <a class="roi-btn-bl" ng-href="{{controller.getRoiVisualizerUrl(roi)}}">
                            <i tooltip-placement="left"
                                tooltip-append-to-body="true"
                                tooltip="View in Visualizer"
                                class="fa fa-cubes">
                            </i>
                        </a>
                        <a class="roi-btn-br" ng-click="controller.playRoiAudio(roi, $event)">
                            <i tooltip-placement="left"
                                tooltip-append-to-body="true"
                                tooltip="Play Audio"
                                class="fa fa-play fa-2x">
                            </i>
                        </a>
                        <img ng-src="{{ roi.uri }}" class="roi-img {{controller.thumbnailClass}}"/>
                    </div>
            </div>
        </div>
    </div>

</div>
