<div class="row">
    <div class="col-sm-12 col-lg-11 padded-view-div" ng-if="!selectedPatternMatchingId">
        <h3>
            Pattern Matchings
        </h3>
        <loader ng-show="loading"></loader>
        <button class="btn btn-default pull-right"
            tooltip="Refresh list"
            ng-click="loadPatternMatchings()">
                <i class="fa fa-refresh"></i>
        </button>

        <div ng-hide="loading">
            <table ng-table="tableParams" class="table" show-filter="true" >
                <tr ng-repeat="patternmatching in patternmatchingsData"
                    ng-click="selectItem(patternmatching.id) | trackEvent:'Analysis-Pattern-Matching-List':' show pattern matching details'"
                >
                    <td data-title="'Name'" class="hidelongtext widthtd" data-sortable="'name'" filter="{ 'name': 'text' }">
                        <div class="roi-thumbnail" >
                            <img ng-src="{{patternmatching.template.uri}}" class="roi-img is-small"/>
                            <a class="roi-btn-br" ng-href="{{getTemplateVisualizerUrl(patternmatching.template)}}">
                                <i tooltip-placement="left"
                                    tooltip-append-to-body="true"
                                    tooltip="View in Visualizer"
                                    class="fa fa-cubes">
                                </i>
                            </a>
                        </div>
                        {{patternmatching.name}}
                    </td>
                    <td data-title="'Progress'" data-sortable="'timestamp'" class="is-v-middle" width="50%">
                        <a2-percentage-bars data="[patternmatching.validated, 0, patternmatching.total - patternmatching.validated]"
                                popover-html="'<span class=\'swatch val-1\'></span> Validated: {{patternmatching.validated}} ({{patternmatching.validated * 100 / patternmatching.total | number:0}}%)'"
                                popover-trigger="mouseenter"
                                popover-append-to-body="true"
                        />
                    </td>
                    <td data-title="'Count'" data-sortable="'total'" class="is-v-middle">
                        {{patternmatching.total}}
                    </td>
                    <td class="is-v-middle">
                        <button class="btn btn-default"
                            ng-click="selectItem(patternmatching.id) | trackEvent:'Analysis-Pattern-Matching-List':' show pattern matching details'"
                        >
                                Show Details
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-sm-12 col-lg-11 padded-view-div" ng-if="selectedPatternMatchingId">
        <a2-citizen-scientist-pattern-matching-details pattern-matching-id="selectedPatternMatchingId" detailed-view="detailedView" on-set-detailed-view="setDetailedView(value)" on-go-back="selectItem()" />
    </div>
</div>
