<div class="row">
    <h4 ng-show="!controller.speciesId">
        Classification Stats
        <span class="badge">{{controller.stats.length}} species</span>
    </h4>
    <h4 ng-show="controller.speciesId">
        <button class="btn btn-success btn-rounded-full"
            ng-click="controller.setSpecies()">
            &lt;  Go Back
        </button>
        Classification Stats / {{controller.species.scientific_name}}
    </h4>
</div>
<div class="row mt-4">
    <div class="col-sm-12" ng-show="!controller.speciesId">
        <a2-table
            rows="controller.stats" no-checkbox="true"
            ext-sort="sortRecs(sortBy, reverse)"
            default-sort="site"
            ng-show="!controller.loading"
            on-select="controller.setSpecies(row.species_id)"
        >
            <field title="Species"    filter key="species" >{{ row.species  }}</field>
            <field title="Songtype"   filter key="songtype">{{ row.songtype }}</field>
            <field title="Stats"      key="stats" width="50%" >
                <a2-percentage-bars data="[row.present, row.notPresent, row.pending, row.notValidated]"
                        colors="[0, 1, -2, 2]"
                        popover-html="'<span class=\'swatch val-1\'></span> Present: {{row.present}} <span class=\'popover-percent\'>({{row.present * 100 / row.count | number:0}}%)</span><br />
                                 <span class=\'swatch val-0\'></span> Not Present: {{row.notPresent}} <span class=\'popover-percent\'>({{row.notPresent * 100 / row.count | number:0}}%)</span><br />
                                 <span class=\'swatch val--2\'></span> Pending: {{row.pending}} <span class=\'popover-percent\'>({{row.pending * 100 / row.count | number:0}}%)</span><br />
                                 <span class=\'swatch val-2\'></span> Not Validated: {{row.notValidated}} <span class=\'popover-percent\'>({{row.notValidated * 100 / row.count | number:0}}%)</span>'"
                        popover-trigger="mouseenter"
                        popover-append-to-body="true"
                />
            </field>
        </a2-table>
        <loader ng-hide="!controller.loading"></loader>
    </div>
    <div class="col-sm-12" ng-show="controller.speciesId">
        <a2-table
            ng-show="!controller.loadingForSpecies"
            rows="controller.speciesStats" no-checkbox="true"
            ext-sort="sortRecs(sortBy, reverse)"
            default-sort="site"
            no-select
        >
            <field title="Pattern Matching"    filter key="name" >{{ row.name }}</field>
            <field title="Stats"      key="stats" width="50%" >
                <a2-percentage-bars data="[row.present, row.notPresent, row.pending, row.notValidated]"
                        colors="[0, 1, -2, 2]"
                        popover-html="'<span class=\'swatch val-1\'></span> Present: {{row.present}} <span class=\'popover-percent\'>({{row.present * 100 / row.count | number:0}}%)</span><br />
                                 <span class=\'swatch val-0\'></span> Not Present: {{row.notPresent}} <span class=\'popover-percent\'>({{row.notPresent * 100 / row.count | number:0}}%)</span><br />
                                 <span class=\'swatch val--2\'></span> Pending: {{row.pending}} <span class=\'popover-percent\'>({{row.pending * 100 / row.count | number:0}}%)</span><br />
                                 <span class=\'swatch val-2\'></span> Not Validated: {{row.notValidated}} <span class=\'popover-percent\'>({{row.notValidated * 100 / row.count | number:0}}%)</span>'"
                        popover-trigger="mouseenter"
                        popover-append-to-body="true"
                />
            </field>
            <field>
                <a class="btn btn-default btn-xs"
                    ng-href="{{controller.patternMatchingExportUrl(row)}}"
                    ng-click="true"
                    popover-html="'Export Citizen Scientist<br />Pattern Matching Data'"
                    popover-trigger="mouseenter"
                    popover-append-to-body="true"
                >
                    <i class="fa fa-download"></i>
                </a>
                <a class="btn btn-default btn-xs"
                    ng-href="{{controller.patternMatchingExportUrl(row, true)}}"
                    ng-click="true"
                    popover-html="'Export Citizen Scientist<br />Per User<br />Pattern Matching Data'"
                    popover-trigger="mouseenter"
                    popover-append-to-body="true"
                >
                    <span class="fa has-swag">
                        <i class="fa fa-user"></i>
                        <i class="fa swag-download"></i>
                    </span>
                </a>
            </field>
        </a2-table>
        <loader ng-hide="!controller.loadingForSpecies"></loader>
    </div>
</div>
