<div class="row">
    <h4 ng-show="!controller.speciesId">
        Classification Stats
        <span class="badge">{{controller.stats.length}} species</span>
    </h4>
    <h4 ng-show="controller.speciesId">
        Classification Stats / {{controller.species.scientific_name}}
        <button class="btn btn-default"
            ng-click="controller.setSpecies() | trackEvent:'Analysis-Citizen-Scientist-Stats':' go back'">
            &lt;  Go Back
        </button>
    </h4>
</div>
<div class="row">
    <div class="col-sm-12" ng-if="!controller.speciesId">
        <a2-table class="table-hide-btns"
            rows="controller.stats" no-checkbox="true"
            ext-sort="sortRecs(sortBy, reverse)"
            default-sort="site"
            on-select="controller.setSpecies(row.species_id)"
        >
            <field title="Species"    filter key="species" >{{ row.species  }}</field>
            <field title="Songtype"   filter key="songtype">{{ row.songtype }}</field>
            <field title="Stats"      key="stats" width="50%" >
                <div class="stacked-bars"
                    popover-html="'Present: {{row.present}} ({{row.present * 100 / row.count | number:0}}%)<br />
                             Not Present: {{row.notPresent}} ({{row.notPresent * 100 / row.count | number:0}}%)<br />
                             Not Validated: {{row.notValidated}} ({{row.notValidated * 100 / row.count | number:0}}%)'"
                    popover-trigger="mouseenter"
                    popover-append-to-body="true"
                >
                    <div ng-style="{ 'background-color': 'green', width:((row.present * 100 / row.count) | number) + '%' }"
                        aria-valuemax="100"
                        aria-valuemin="0"
                        aria-valuenow="{{row.present}}"
                        role="progressbar"
                        class="progress-bar">
                    </div>
                    <div ng-style="{ 'background-color': 'red', width:((row.notPresent * 100 / row.count) | number) + '%' }"
                        aria-valuemax="100"
                        aria-valuemin="0"
                        aria-valuenow="{{row.notPresent}}"
                        role="progressbar"
                        class="progress-bar">
                    </div>
                    <div ng-style="{ 'background-color': 'yellow', width:((row.notValidated * 100 / row.count) | number) + '%' }"
                        aria-valuemax="100"
                        aria-valuemin="0"
                        aria-valuenow="{{row.notValidated}}"
                        role="progressbar"
                        class="progress-bar">
                    </div>
                </div>
            </field>
        </a2-table>
        <loader ng-hide="!loading"></loader>
    </div>
    <div class="col-sm-12" ng-if="controller.speciesId">
        <a2-table class="table-hide-btns"
            ng-show="controller.speciesId"
            rows="controller.speciesStats" no-checkbox="true"
            ext-sort="sortRecs(sortBy, reverse)"
            default-sort="site"
            no-select
        >
            <field title="Name"    filter key="name" >{{ row.name }}</field>
            <field title="Stats"      key="stats" width="50%" >
                <div class="stacked-bars"
                    popover-html="'Present: {{row.present}} ({{row.present * 100 / row.count | number:0}}%)<br />
                             Not Present: {{row.notPresent}} ({{row.notPresent * 100 / row.count | number:0}}%)<br />
                             Not Validated: {{row.notValidated}} ({{row.notValidated * 100 / row.count | number:0}}%)'"
                    popover-trigger="mouseenter"
                    popover-append-to-body="true"
                >
                    <div ng-style="{ 'background-color': 'green', width:((row.present * 100 / row.count) | number) + '%' }"
                        aria-valuemax="100"
                        aria-valuemin="0"
                        aria-valuenow="{{row.present}}"
                        role="progressbar"
                        class="progress-bar">
                    </div>
                    <div ng-style="{ 'background-color': 'red', width:((row.notPresent * 100 / row.count) | number) + '%' }"
                        aria-valuemax="100"
                        aria-valuemin="0"
                        aria-valuenow="{{row.notPresent}}"
                        role="progressbar"
                        class="progress-bar">
                    </div>
                    <div ng-style="{ 'background-color': 'yellow', width:((row.notValidated * 100 / row.count) | number) + '%' }"
                        aria-valuemax="100"
                        aria-valuemin="0"
                        aria-valuenow="{{row.notValidated}}"
                        role="progressbar"
                        class="progress-bar">
                    </div>
                </div>
            </field>
        </a2-table>
        <loader ng-hide="!loading"></loader>
    </div>
</div>
<!-- <div class="row">
    <div class="col-sm-12">
        <pagination total-items="totalRecs"
            ng-model="currentPage" ng-change="controller.setCurrentPage(currentPage)"
            class="pagination-sm"
            boundary-links="true"
            max-size="10"
            rotate="false"
            num-pages="totalPages"
            items-per-page="limitPerPage">
        </pagination>

    </div>
</div> -->
