<div class="dash-body">
    <div class="sidenav">
        <a ui-sref="analysis.models" ui-sref-active="active">Models</a>
        <a ui-sref="analysis.classification" ui-sref-active="active">Classification</a>
        <a ui-sref="analysis.soundscapes" ui-sref-active="active">Soundscapes</a>
    </div>
    <div class="container-fluid container-sidenav">
        <div class="row">
            <div class="col-sm-12">
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>
