<div class="col-sm-8 span8 padded-view-div"  >
   <div class="row">
      <div class="col-sm-3">
        <h3>Classifications <a class="btn btn-sm btn-default"  tooltip="Create New Classification" tooltip-placement="right"  ng-click="createNewClassification() | trackEvent:'Analysis-Classification-List':'Create new classification'" ><i class="fa fa-plus" ></i></a></h3> 
      </div>
      <div  ng-hide="!loading" class="col-sm-1 loading-top-padding" >
        <loader></loader>
      </div>
   </div>
    <table ng-table="tableParams" class="table" show-filter="true" >
        <tr ng-repeat="classification in classificationsData" >
            <td data-title="'Date'" sortable="'date'" >
                {{ classification.date | moment : 'lll' }}
            </td>

            <td data-title="'Name'" class="hidelongtext widthtd" sortable="'cname'" filter="{ 'cname': 'text' }">
                {{classification.cname}}
            </td>
            <td data-title="'User'" sortable="'muser'" filter="{ 'muser': 'text' }" class="no-wrap-table-cell">
                {{classification.muser}}
            </td>
            <td data-title="'Model'" sortable="'modname'" filter="{ 'modname': 'text' }" class="no-wrap-table-cell">
                {{classification.modname}}
            </td>         
            <td>
                <button class="btn btn-default btn-xs" ng-click="showClassificationDetails(classification.job_id) | trackEvent:'Analysis-Classification-List':' show classification details'">Show details</button>
            </td>
        </tr>
    </table>
    <div class="jumbotron" ng-show="(!classificationsOriginal || !classificationsOriginal.length > 0) && !loading">
        <h3>
            {{ infopanedata }}  
            <a ng-click="createNewClassification() | trackEvent:'Analysis-Classification-List':'Create new classification'">
                Classify recordings
            </a>
        </h3>
    </div>
</div>
<div class="navbar navbar-inverse navbar-fixed-bottom bottom-fixed-alerts">
  <div class="alert alert-success alert-dismissible"  role="alert" id="successDiv" ng-show="showSuccess">
    <button type="button" class="close" ng-click="updateFlags() | trackEvent:'Analysis-Classification-Info':'alert-success closed'"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    {{ successInfo }}
  </div>
  <div class="alert alert-danger alert-dismissible"  role="alert" id="errorDiv" ng-show="showError">
    <button type="button" class="close" ng-click="updateFlags() | trackEvent:'Analysis-Classification-List':'alert-danger closed'"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    {{ errorInfo }}
  </div>
  <div class="alert alert-info alert-dismissible"  role="alert" id="infoDiv" ng-show="showInfo">
    <button type="button" class="close" ng-click="updateFlags() | trackEvent:'Analysis-Classification-List':'alert-info closed'"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    {{ infoInfo }}
  </div>
</div>
