<div class="modal-header">  
    <h3 class="modal-title">Classification Details</h3>  
</div>  
<div class="modal-body">
    <div class="row">
        <div class="col-sm-11"><strong>Presence in recordings:</strong></div>
        <div class="col-sm-1">
            <a class="btn btn-xs btn-default" 
                ng-if="showDownload"
                target="_blank" 
                ng-href="/api/project/classification/csv/{{id}}">
                <i class="fa fa-download " 
                    tooltip="Download CSV" 
                    tooltip-placement="bottom">
                </i>
            </a>
        </div>
    </div>
    <div class="spacing-details-classification"></div>
    <table class="table">
        <tr>
            <th>Species</th>
            <th>Sound</th>
            <th>Present/Total</th>
            <th>Percentage</th>
            <th>Damaged Recordings</th>
            <th>Threshold</th>
        </tr>
        <tr ng-repeat="species in data" >
            <td class="no-wrap-table-cell">
                {{species.species}}
            </td>
             <td class="no-wrap-table-cell">
                {{species.songtype}}
            </td>           
            <td>
                {{species.data}} / {{species.total}}
            </td>
            <td>
                {{species.percentage}}%
            </td>
            <td>
                {{species.err}}
            </td>
            <td ng-show="th">
                {{th}}
            </td>
            <td ng-hide="th">
                <small>No threshold saved.</small>
            </td>
        </tr>
    </table>
    <div>
        
    </div>
    <div ng-hide="showMore" class="text-centered-bordered">
        <h2><i class="fa fa-caret-down" tooltip="More Details" tooltip-placement="bottom"  ng-click="more() | trackEvent:'Analysis-Classification-Info':'more clicked'"></i></h2>
    </div>
    <div  ng-show="showMore" class="text-centered-bordered">
        <h2><i class="fa fa-caret-up" tooltip="Less Details" tooltip-placement="bottom"  ng-click="less() | trackEvent:'Analysis-Classification-Info':'less clicked'"></i></h2>
        <ul class="ulnodeco">
            <li ng-repeat="rec in recs" class="linodeco">
                <div class="cleardiv"></div>
                Recording: {{rec.recname}}
                <span class="horizontal-blank-space">
                    Model Presence:
                    <span ng-show="rec.present">Yes</span>
                    <span ng-hide="rec.present">No</span>
                </span>
                <span class="horizontal-blank-space" ng-show="th">
                    Threshold Presence:
                    {{htresDeci}}
                </span>
                <div class="axisWrapper">
                    <div class="yaxisWrapper">
                        <div class="yAxishighvalue">{{maxvRounded}}</div>
                        <div class="lowaxis2">0.0</div>
                    </div>
                    <div class="vectorWrapper"><a2-vectorchart  vector-data="recVect" minvect="minv" maxvect="maxv" ></a2-vectorchart></div>
                </div>
                <div class="cleardiv"></div>

                <div class="axisWrapper">
                    <div class="yaxisWrapper vertical-text2">
                        Hertz
                    </div>
                    <div class="vectorWrapper"><img class="sm-result-thumb" ng-src="{{ rec.rec_image_url }}"/></div>
                    <small>Seconds</small>
                </div>
                <div class="bordeder-empy-div"></div>
            </li>
        </ul>
        <ul class="pager">
            <li><a ng-click="gotoc('first') | trackEvent:'Analysis-Classification-Info':'go to first'">First</a></li>
            <li><a ng-click="prev() | trackEvent:'Analysis-Classification-Info':'go to prev'">Previous</a></li>
            <li><a>{{currentPage+1}} of {{totalRecs}}</a></li>
            <li><a ng-click="next() | trackEvent:'Analysis-Classification-Info':'go to next'">Next</a></li>
            <li><a ng-click="gotoc('last') | trackEvent:'Analysis-Classification-Info':'go to last'">Last</a></li>
        </ul>
    </div>
</div>
<div class="modal-footer">  
    <button class="btn btn-primary" ng-click="ok() | trackEvent:'Analysis-Classification-Info':'ok clicked'"  ng-disabled="buttonEnable()">Close</button>  
</div>  
