<div class="modal-header">  
    <h3 class="modal-title">Create a new classification</h3>  
</div>  
<div class="modal-body"> 
    <form role="form">
      <div class="form-group">
        <label for="modelName">Classification name:</label>
        <input type="text" ng-model="datas.name"  class="form-control" placeholder="Enter classification name"/>
        <span ng-bind="nameMsg" class="nameExistsSpan"></span>
      </div>
      <div class="form-group">
        <label for="classifier">Select Model:</label> <span ng-hide="data" class="red"><em>No models found.  <a ng-click="cancel('/analysis/models') | trackEvent:'Analysis-Classification-new classification modal':'Cancel-Go to models'" >Create one.</a></em></span>
        <ui-select ng-model="datas.classifier" theme="selectize" ng-disabled="disabled">
        <ui-select-match placeholder="Select or search a model...">{{$select.selected.mname}}</ui-select-match>
            <ui-select-choices repeat="m in data | filter: $select.search">
              {{m.mname}}
            </ui-select-choices>
        </ui-select>
      </div>
      <!--
      <div class="form-group">
        <label for="variables">Recordings:</label><br>
        <input type="radio" name="recs" value="all" ng-model="recselected">All<br>
        <input type="radio" name="recs" value="selected" ng-model="recselected">Selected Sites
        <div ng-show="showselection">
        <ul class="scrollul">
            <li class="linodeco" ng-repeat="site in sites">
                <input type="checkbox" ng-model="site.Selected" /> <label>{{site.name}}</label>
            </li>
        </ul>
        </div>
      </div>
      -->
      <div class="form-group">
        <label for="classifier">Select Playlist:</label> <span ng-hide="playlists" class="red"><em>No playlists found. <a ng-click="cancel('/audiodata/recordings') | trackEvent:'Analysis-Classification-new classification modal':'Cancel-Go to recordings'" >Create one.</a></em></span></em></span>
        <ui-select ng-model="datas.playlist" theme="selectize" ng-disabled="disabled">
        <ui-select-match placeholder="Select or search a playlist...">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="playlist in playlists | filter: $select.search">
              {{playlist.name}} <span class="pull-right"><small><em> <strong >Count:</strong>({{playlist.count}})</em></small></span> 
            </ui-select-choices>
        </ui-select>
      </div>
    </form>
</div>  
<div class="modal-footer">  
    <button class="btn btn-primary" 
        ng-click="ok() | trackEvent:'Analysis-Classification-new classification modal':'Submit'" 
        ng-disabled="buttonEnable()">
            <i class="fa fa-cogs"></i> 
            Create
    </button>  
    <button class="btn btn-default" 
        ng-click="cancel() | trackEvent:'Analysis-Classification-new classification modal':'Cancel'">
            <i class="fa fa-times"></i> 
            Close
    </button>  
</div>  
