<div class="row">
    <div class="col-sm-12 col-lg-11 padded-view-div"  >
        <h3>
            Classifications 
            <a class="btn btn-sm btn-default"  
                tooltip="Create New Classification" 
                tooltip-placement="right"  
                ng-click="createNewClassification() | trackEvent:'Analysis-Classification-List':'Create new classification'" >
                <i class="fa fa-plus" ></i>
            </a>
        </h3> 
        <loader ng-show="loading"></loader>
        <button class="btn btn-default pull-right"
            tooltip="Refresh list"
            ng-click="loadClassifications()">
                <i class="fa fa-refresh"></i>
        </button>
        
        <div ng-hide="loading">
            <table ng-table="tableParams" class="table" show-filter="true" >
                <tr ng-repeat="classification in classificationsData" >
                    <td data-title="'Name'" class="hidelongtext widthtd" data-sortable="'cname'" filter="{ 'cname': 'text' }">
                        {{classification.cname}}
                    </td>
                    <td data-title="'Date'" data-sortable="'date'" >
                        {{ classification.date | moment : 'lll' }}
                    </td>
                    <td data-title="'Model'" data-sortable="'modname'" filter="{ 'modname': 'text' }" class="no-wrap-table-cell">
                        {{classification.modname}}
                    </td>
                    <td data-title="'Playlist'" data-sortable="'playlist_name'" filter="{ 'playlist_name': 'text' }" class="no-wrap-table-cell">
                        {{classification.playlist_name}}
                    </td>
                    <td data-title="'User'" data-sortable="'muser'" filter="{ 'muser': 'text' }" class="no-wrap-table-cell">
                        {{classification.muser}}
                    </td>
                    <td>
                        <button class="btn btn-default btn-xs" 
                            ng-click="showClassificationDetails(classification) | trackEvent:'Analysis-Classification-List':' show classification details'">
                                Show details
                        </button>
                        <button class="btn btn-default btn-xs" 
                            ng-click="deleteClassification(classification.job_id,classification.cname) | trackEvent:'Analysis-Classification list':'delete classification'">
                                Delete
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="jumbotron" ng-show="(!classificationsOriginal || !classificationsOriginal.length > 0) && !loading">
            <h3>
                {{ infopanedata }}  
                <a ng-click="createNewClassification() | trackEvent:'Analysis-Classification-List':'Create new classification'">
                    Classify recordings
                </a>
            </h3>
        </div>
    </div>
</div>
