<div class="modal-header">
    <h3 class="modal-title">Create a new soundscape</h3>
</div>
<div class="modal-body">

    <form role="form">
      <div class="form-group">
        <label for="modelName" class="font-medium">Job type:</label>
        <div class="row-flex">
          <a class="btn btn-sm rounded-md row-flex-inline flex-align-middle"
            ng-class="{'btn-primary': datasubmit.jobtype === 'single', 'btn-default btn-default-extra': datasubmit.jobtype === 'multiple' }"
            ng-model="datasubmit.jobtype"
            ng-click="datasubmit.jobtype = 'single'"
          >
            Single soundscape
          </a>
          <a class="btn btn-sm rounded-md row-flex-inline flex-align-middle ml-3"
            ng-class="{'btn-primary': datasubmit.jobtype === 'multiple', 'btn-default btn-default-extra': datasubmit.jobtype === 'single' }"
            ng-model="datasubmit.jobtype"
            ng-click="datasubmit.jobtype = 'multiple'"
          >
            Multiple (by site/year)
          </a>
        </div>
      </div>
      <div ng-if="datasubmit.jobtype === 'single'" class="form-group soundscape-form">
        <label for="modelName" class="font-medium">Soundscape name:</label>
        <input type="text" ng-model="datasubmit.name"  class="form-control ui-input btn-sm"/>
        <span ng-bind="nameMsg" class="nameExistsSpan"></span>
      </div>
      <div ng-if="datasubmit.jobtype === 'single'" class="form-group soundscape-form">
        <label for="classifier">Select playlist:</label>
        <div class="mb-3 flex flex-row flex-align-middle" ng-if="playlists && !playlists.length">
            <em class="pr-2">No playlists found.</em>
            Go to
            <button class="btn btn-sm btn-default" ng-click="cancel('/audiodata/recordings')">
                Recordings
            </button>
            and create a playlist.
        </div>
        <ui-select ng-if="playlists && playlists.length" ng-model="datasubmit.playlist" ng-disabled="disabled" class="new-form-control">
          <ui-select-match placeholder="Select or search a playlist...">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="playlist in playlists | filter: $select.search">
            {{playlist.name}} <span class="pull-right"><small><em> <strong >Count:</strong>({{playlist.count}})</em></small></span>
          </ui-select-choices>
        </ui-select>
      </div>
      <div ng-if="datasubmit.jobtype === 'multiple'" class="form-group text-util-gray-01">
        Soundscape job names will be generated automatically.
      </div>
      <div ng-if="datasubmit.jobtype === 'multiple'" class="form-group soundscape-form">
        <label for="modelName" class="font-medium">Select sites:</label>
        <ui-select multiple ng-model="datasubmit.sites" theme="bootstrap" close-on-select="false" class="new-form-control" style="height: 34px;">
          <ui-select-match placeholder="Site 1, Site 2, Site 3...">{{$item.name}}</ui-select-match>
          <ui-select-choices class="has-badges" repeat="site in sites | filter:$select.search">
            {{site.name}}
          </ui-select-choices>
        </ui-select>
      </div>
      <div ng-if="datasubmit.jobtype === 'multiple'" class="form-group soundscape-form">
        <label for="modelName" class="font-medium">Year:</label>
        <ui-select ng-model="datasubmit.year" ng-disabled="disabled" class="new-form-control">
          <ui-select-match placeholder="2023">{{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="year in years | filter: $select.search">
            {{year}}
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="form-group">
          <label for="aggregation">Bin bandwidth (Hz):</label>
          <ol class="binhzpadding">
            <li btn-radio="21" ng-model="datasubmit.bin" class="btn ui-btn-toggle mr-2"><span class="spacedhz">21</span></li>
            <li btn-radio="43" ng-model="datasubmit.bin" class="btn ui-btn-toggle mr-2"><span class="spacedhz">43</span></li>
            <li btn-radio="86" ng-model="datasubmit.bin" class="btn ui-btn-toggle mr-2"><span class="spacedhz">86</span></li>
            <li btn-radio="172" ng-model="datasubmit.bin" class="btn ui-btn-toggle mr-2"><span class="spacedhz">172</span></li>
            <li btn-radio="344" ng-model="datasubmit.bin" class="btn ui-btn-toggle"><span class="spacedhz">344</span></li>
          </ol>
      </div>
      <div class="row">
        <div class="col-sm-6">
            <label for="aggregation">Select time aggregation:</label>
            <div class="row">
                 <div class="col-sm-12">
                    <a2-aggregationtypeselector selected="datasubmit.aggregation"></a2-aggregationtypeselector>
                 </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row container-fluid " >
                <input type="checkbox" ng-model="datasubmit.normalize" class="cs-pointer"/ ><label for="aggregation">Normalize Data</label>
                <i class="fa fa-question-circle"
                    tooltip="Check to normalize each value in the soundscape using the number of recordings in the playlist that fall in that column."
                    tooltip-placement="right">
                </i>
            </div>
            <div class="row container-fluid" >
                <label for="aggregation">Peak filtering:</label>
                <i class="fa fa-question-circle"
                    tooltip="Only peaks above the amplitude threshold will be considered.
                            If the frequency difference of two successive peaks is less than the frequency threshold,
                            then only the peak of highest amplitude will be kept."
                    tooltip-placement="right">
                </i>
                <a2-threshold-selector threshold="datasubmit.threshold" threshold-reference="datasubmit.thresholdReference" bandwidth="datasubmit.bandwidth" ></a2-threshold-selector>
            </div>
        </div>
      </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()"  ng-disabled="buttonEnable()">
        <i class="fa fa-cogs"></i> Create
    </button>
    <button class="btn btn-default" ng-click="cancel()">
        <i class="fa fa-times"></i> Close
    </button>
</div>
