<img class="ic-close" src="/images/fi-close.svg" ng-click="cancel()">
<div class="modal-icon">
    <div>
        <img src="/images/fi-delete.svg">
    </div>
</div>
<div class="modal-header">
    Delete soundcape
</div>
<div class="modal-body">
    You are about to delete soundscape <b>{{name}}</b>.
    <p>Are you sure?</p>
</div>
<div class="modal-footer">
    <div class="row-flex flex-direction-row flex-space-between">
        <button class="btn btn-success" ng-click="cancel()">Cancel</button>
        <button class="btn btn-red" ng-click="ok()">Delete</button>
    </div>
</div>
