<div class="modal-header">
    <h3 class="modal-title">Soundscape Details</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-6">
            <ul class="list-unstyled details-list">
                <li><strong>Name:</strong> {{ soundscape.name }}</li>
                <li><strong>Playlist:</strong> {{ playlist.name }}  <i><strong>count:</strong> {{ playlist.count }} </i></li>
                <li><strong>Bin bandwidth:</strong> {{ soundscape.bin_size }}Hz</li>
                <li>
                    <p><strong>Aggregation:</strong> {{ soundscape.aggregation.name }}</p>
                    <div class="btn btn-default border-default disabled">
                        <a2-draw-aggregation aggregation="soundscape.aggregation"></a2-draw-aggregation>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-xs-6" ng-show="soundscape.threshold || soundscape.frequency">
            <h4>Peak Filtering</h4>
            <ul class="list-unstyled details-list">
                <li><strong>Amplitude:</strong> {{ soundscape.threshold }}
                    <span tooltip="{{controller.amplitudeReferences[soundscape.threshold_type].description}}" tooltip-append-to-body="true">
                        {{controller.amplitudeReferences[soundscape.threshold_type].caption}}
                        <i class="fa fa-question-circle"></i>
                    </span>
                </li>
                <li><strong>Frequency:</strong> {{ soundscape.frequency }}Hz </li>
            </ul>
            <a2-draw-peak-threshold threshold="soundscape.threshold" bandwidth="soundscape.frequency"></a2-draw-peak-threshold>
        </div>
    </div>

    <div class="row" ng-show="index">
        <div class="col-xs-12">
            <h3>Acoustic Indices
                <div class="pull-right" ng-csv="indices" filename="{{ soundscape.name }}_indices.csv">
                    <button ng-if="showDownload"
                        class="btn btn-success btn-rounded-full"
                        tooltip="Download Indices">
                        <i class="fa fa-download"></i>
                    </button>
                </div>
            </h3>
            <div class="index-plot">
                <a2-line-chart values="index.ACI" width="500" height="75" color="blue"></a2-line-chart>
                <p>Average acoustic complexity index (ACI)</p>
            </div>
            <div class="index-plot">
                <a2-line-chart values="index.NP" width="500" height="75" color="green"></a2-line-chart>
                <p>Average frequency peaks</p>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-rounded-full" ng-click="$close()">Close</button>
</div>
