<div class="row" >
    <div class="col-sm-12 padded-view-div">
        <h1 class="mt-0" style="margin-bottom: 24px;">
            Soundscapes
            <a class="btn btn-primary btn-rounded-full row-flex-inline flex-align-middle ml-3"
                tooltip="Create New Soundscape job"
                tooltip-placement="right"
                ng-click="createNewSoundscape()">
                New Soundscape Job
                <span class="ml-3" style="width: 16px">
                    <img src="/images/fi-plus.svg">
                </span>
            </a>
        </h1>
        <div class="row panel-body">
            <ul class="nav nav-tabs col-md-12">
                <li class="nav-item" ng-class="{ active: currentTab === 'soundscapes' }">
                    <a class="nav-link" href="" ng-click="toggleTab('soundscapes')">
                        Results
                    </a>
                </li>
                <li class="nav-item" ng-class="{ active: currentTab === 'sounscapeCompCl' }">
                    <a class="nav-link" href="" ng-click="toggleTab('sounscapeCompCl')">
                        Soundscape Composition Classes
                    </a>
                </li>
            </ul>
        </div>
        <div ng-if="currentTab === 'soundscapes'">
            <loader ng-show="loading"></loader>
            <div class="row-flex flex-direction-row flex-align-middle flex-space-end">
                <button
                    ng-if="isSoundscapesAvailable()"
                    type="download"
                    class="btn btn-success btn-rounded-full export-form-control"
                    tooltip="Export all soundscapes"
                    ng-click="exportData()"
                >
                    Export all soundscapes
                    <i class="fa fa-download ml-2"></i>
                </button>
                <button
                    class="btn btn-default btn-rounded-full ml-3 "
                    tooltip="Refresh list"
                    ng-click="loadSoundscapes()">
                        Refresh List
                        <i class="fa fa-refresh ml-3"></i>
                </button>
            </div>
            <div ng-if="isSoundscapesAvailable()">
                <a2-table rows="soundscapesData" no-checkbox="true">
                    <field title="Date" key="date" tdclass="is-v-middle no-wrap-table-cell">
                        {{ row.date | moment : 'lll' }}
                    </field>
                    <field title="Name" tdclass="is-v-middle no-wrap-table-cell hidelongtext widthtd" key="name" filter>
                        {{row.name}}
                    </field>
                    <field title="User" key="user" filter tdclass="is-v-middle no-wrap-table-cell">
                        {{ row.user }}
                    </field>
                    <field title="Playlist" key="playlist" filter tdclass="is-v-middle hidelongtext widthtd">
                        {{row.playlist}}
                    </field>
                    <field>
                        <div class="row-flex flex-space-end">
                            <a class="btn btn-default mr-2" ui-sref="visualizer.view({type:'soundscape', idA:row.soundscape_id})"
                            ><i class="fa fa-cubes"></i> View</a>

                            <button class="btn btn-default mr-2" ng-click="showDetails(row.soundscape_id)"
                            ><i class="fa fa-list-alt"></i> Show details</button>
                            <span class="btn-group" dropdown dropdown-append-to-body="true">
                                <button class="btn btn-default"
                                    ng-click="controller.exportSoundscape({soundscape:row})"
                                ><i class="fa fa-download"></i> Export</button>
                                <button class="btn btn-default mr-2" dropdown-toggle><i class="fa fa-caret-down"></i></button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a ng-click="controller.exportSoundscape({soundscape:row})">
                                        Export Matrix
                                    </a></li>
                                    <li><a ng-click="controller.exportSoundscape({soundscape:row, raw:true})">
                                        Export Raw Data
                                    </a></li>
                                </ul>
                            </span>
                            <button class="btn btn-danger" ng-click="deleteSoundscape(row.soundscape_id,row.name)"
                            ><i class="fa fa-trash"></i></button>
                        </div>
                    </field>
                </a2-table>
            </div>
            <div ng-show="!loading.rows && soundscapesOriginal && !soundscapesOriginal.length" class="help-wrapper col-sm-12 row-flex flex-direction-column flex-space-center flex-align-middle" style="text-align: center;">
                <a class="btn btn-sm btn-default"
                    tooltip="Create New Soundscape job"
                    tooltip-placement="top"
                    ng-click="createNewSoundscape()">
                    <i class="fa fa-plus mr-1" ></i> New Soundscape Job
                </a>
                <p class="mt-3 mb-0">Learn more:</p>
                <p class="mb-0"><a href="https://help.arbimon.org/article/220-creating-a-soundscape-job" target="_blank">What is a Soundscape Job?<i class="ml-2 fa fa-external-link"></i></a></p>
            </div>
        </div>
        <div ng-if="currentTab === 'sounscapeCompCl'">
            <a2-soundscape-composition-classes />
        </div>
    </div>
</div>
