<div class="row" >
    <div class="col-sm-12 padded-view-div">
        <h1 class="mt-0 clear-button" style="margin-bottom: 24px; display: flex; align-items: center;">
            Soundscapes
            <project-state-badge class="ml-3"></project-state-badge>
            <div class="ml-3">
                <a2-button 
                    label="New Soundscape Job"
                    icon-src="/images/fi-plus.svg"
                    btn-class="btn-primary"
                    tooltip-text="Create New Soundscape job"
                    is-view-only="tieringGuard.isViewOnly"
                    loading="tieringGuard.loading"
                    action="createNewSoundscape()">
                </a2-button>
            </div>
        </h1>
        <div class="row panel-body">
            <ul class="nav nav-tabs col-md-12" style="cursor: default;">
                <li class="nav-item" ng-class="{ active: currentTab === 'soundscapes' }">
                    <a class="nav-link" href="" ng-click="toggleTab('soundscapes')">
                        Results
                    </a>
                </li>
                <li class="nav-item" ng-class="{ active: currentTab === 'sounscapeCompCl' }">
                    <a class="nav-link" href="" ng-click="toggleTab('sounscapeCompCl')">
                        Soundscape Composition Classes
                    </a>
                </li>
            </ul>
        </div>
        <div ng-if="currentTab === 'soundscapes'" class="">
            <div class="row-flex flex-space-between">
                <div>
                    <loader ng-show="loading"></loader>
                    <span ng-if="!loading" class="text-left reclist-total">
                        {{ soundscapesData ? soundscapesData.length : 0 }} {{soundscapesData.length > 1 ? "jobs" : "job"}}
                    </span>
                </div>
                <div class="row-flex flex-direction-row flex-align-middle flex-space-end">
                    <a2-button 
                        ng-if="isSoundscapesAvailable()"
                        label="Export all soundscapes"
                        icon-fa="fa-download"
                        icon-size="14px"
                        btn-class="btn-success"
                        tooltip-text="Export all soundscapes"
                        is-view-only="tieringGuard.isViewOnly"
                        loading="tieringGuard.loading"
                        action="exportData()">
                    </a2-button>

                    <div class="ml-3" style="display: inline-block;">
                        <a2-button 
                            label="Refresh List"
                            icon-fa="fa-refresh"
                            icon-size="14px"
                            btn-class="btn-success"
                            tooltip-text="Refresh list"
                            action="loadSoundscapes()">
                        </a2-button>
                    </div>
                </div>
            </div>
            <div ng-if="isSoundscapesAvailable()">
                <a2-table rows="soundscapesData" no-checkbox="true" on-select="showDetails(row.soundscape_id)">
                    <field title="Date" key="date" tdclass="is-v-middle no-wrap-table-cell">
                        {{ row.date | moment : 'lll' }}
                    </field>
                    <field title="Name" tdclass="is-v-middle no-wrap-table-cell hidelongtext widthtd" key="name" filter>
                        {{row.name}}
                    </field>
                    <field title="User" key="user" filter tdclass="is-v-middle no-wrap-table-cell">
                        {{ row.user }}
                    </field>
                    <field title="Playlist" key="playlist" filter tdclass="is-v-middle hidelongtext max-w-64">
                        {{row.playlist}}
                    </field>
                    <field>
                        <div class="row-flex flex-space-end">
                            <a class="btn btn-default btn-rounded-full mr-2" tooltip-append-to-body="true" tooltip="View in Visualizer" ng-click="$event.stopPropagation();controller.getRoiVisualizerUrl(row)"
                            ><i class="fa fa-cubes"></i> View</a>
                            <span ng-if="!tieringGuard.isViewOnly && !tieringGuard.loading" class="btn-group" dropdown dropdown-append-to-body="true">
                                <button class="btn btn-default btn-rounded-full" dropdown-toggle ng-click="$event.stopPropagation();">Export <i class="fa fa-chevron-down self-center ml-1" style="font-size: 12px;"></i></button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a ng-click="$event.stopPropagation(); controller.exportSoundscape({soundscape:row})">
                                        Export Matrix
                                    </a></li>
                                    <li><a ng-click="$event.stopPropagation(); controller.exportSoundscape({soundscape:row, raw:true})">
                                        Export Raw Data
                                    </a></li>
                                </ul>
                            </span>
                            <div ng-if="!tieringGuard.isViewOnly && !tieringGuard.loading" class="pl-3 pt-2 pb-2 pr-3"
                                ng-click="$event.stopPropagation(); deleteSoundscape(row.soundscape_id,row.name)"
                                tooltip="Delete job"
                                tooltip-trigger="mouseenter"
                                style="cursor: pointer;">
                                <i class="fa fa-trash"></i>
                            </div>
                        </div>
                    </field>
                </a2-table>
            </div>
            <div ng-show="!loading.rows && soundscapesOriginal && !soundscapesOriginal.length" class="help-wrapper col-sm-12 row-flex flex-direction-column flex-space-center flex-align-middle clear-button" style="text-align: center;">
                <a2-button 
                    label="New Soundscape Job"
                    icon-fa="fa-plus"
                    icon-size="12px"
                    btn-class="btn-success btn-sm"
                    tooltip-text="Create New Soundscape job"
                    is-view-only="tieringGuard.isViewOnly"
                    loading="tieringGuard.loading"
                    action="createNewSoundscape()">
                </a2-button>
                <p class="mt-3 mb-0">Learn more:</p>
                <p class="mb-0"><a href="https://help.arbimon.org/article/220-creating-a-soundscape-job" target="_blank">What is a Soundscape Job?<i class="ml-2 fa fa-external-link"></i></a></p>
            </div>
        </div>
        <div ng-if="currentTab === 'sounscapeCompCl'">
            <a2-soundscape-composition-classes />
        </div>
    </div>
</div>
