<div>
    <div class="row no-gutter thresholdtext no-bold"
        tooltip="Only peaks above this threshold will be considered."
        tooltip-append-to-body="true" 
    >
        <div class="col-sm-4 control-label">
            Amplitude:
        </div>
        <div class="col-sm-4">
            <input class="form-control input-sm" step="0.001" max="1" min="0" type="number" ng-model="threshold" />
        </div>
    </div>
    <div class="row no-gutter mt-2">
        <div class="col-sm-4">&nbsp;</div>
        <div class="col-sm-7">
            <ui-select ng-model="amplitudeReference" theme="bootstrap" ng-change="setAmplitudeReference(amplitudeReference)">
                <ui-select-match>
                    <div tooltip-append-to-body="true" tooltip="{{$select.selected.description}}">{{$select.selected.caption}}</div>
                </ui-select-match>
                <ui-select-choices class="item-dropdown-hide-text" repeat="$item in amplitudeReferences">
                    <div tooltip-append-to-body="true" tooltip="{{$item.description}}">{{$item.caption}}</div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <br />
    <div class="row no-gutter thresholdtext no-bold v-center row-flex flex-align-middle"
        tooltip="If the frequency difference of two successive peaks is less than this threshold, then the peak of highest amplitude will be kept only."
        tooltip-append-to-body="true" 
    >
        <div class="col-sm-4 control-label">
            Frequency:
        </div>
        <div class="col-sm-5">
            <input class="form-control input-sm" type="number" max="1000" min="0" ng-model="bandwidth" />
        </div>
        <div class="col-sm-2 text-center">
            Hz
        </div>
    </div>
    <div class="row" height="70" >
        <div class="col-sm-1 thresslider">
            <div orientation="vertical" range-slider min="0" step="0.001" max="100" model-min="thresholdInvPercent" pin-handle="max" show-values="false"></div>
        </div>
        <div class="col-sm-9 margin-left-8">
            <a2-draw-peak-threshold threshold="threshold" bandwidth="bandwidth"></a2-draw-peak-threshold>
        </div>
    </div>
    <div class="bandwidthslider" >
        <div range-slider min="0" max="1000" step="10" model-max="bandwidth" pin-handle="min" show-values="false"></div>
    </div>
</div>
