<div class="row">
    <div class="col-sm-12">
        <h4 class="mb-4">Settings</h4>
        <a2-table
            rows="controller.patternmatchings" no-checkbox="true"
            default-sort="user"
        >
            <field title="Name" width="25%" filter key="name" ><label class="text-wrap" for="param-cs-{{row.id}}">{{ row.name }}</label></field>
            <field title="Species" filter key="species_name" ><label for="param-cs-{{row.id}}">{{ row.species_name }}</label></field>
            <field title="Songtype" filter key="songtype_name" ><label for="param-cs-{{row.id}}">{{ row.songtype_name }}</label></field>
            <field title="Avaliable for" key="citizen_scientist">
                <div>
                    <input id="param-cs-{{row.id}}" ng-model="row.citizen_scientist" ng-true-value="1" ng-true-value="0" type="checkbox"/>  Citizen Scientist
                </div>
                <div>
                    <input id="param-cs-{{row.id}}" ng-model="row.cs_expert" ng-true-value="1" ng-true-value="0" type="checkbox"/>  Citizen Scientist Experts
                </div>
            </field>
            <field title="Consensus Number" key="consensus_number">
                <input id="param-cn-{{row.id}}" ng-model="row.consensus_number" type="number" ng-disabled="!row.citizen_scientist" />
            </field>
        </a2-table>
        <button class="btn btn-primary btn-rounded-full" type="submit" ng-click="controller.save()" ng-disabled="!!controller.saving">
            <i class="fa fa-floppy-o"></i> Save
        </button>
        <span class="pl-3" ng-if="!!controller.saving">
            <i class="fa fa-spinner fa-spin is-v-middle" style="font-size: 22px;"></i>
        </span>
    </div>
</div>
