<div class="row">
    <div class="col-sm-12">
        <h4>Settings</h4>
        <div class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="cnumber" >
                    Consensus Number:
                </label>
                <div class="controls" for="name" >
                    <input id="cnumber" type="number" ng-model="controller.settings.consensus_number" >
                </div>
            </div>
        </div>
        <a2-table class="table-hide-btns"
            rows="controller.patternmatchings" no-checkbox="true"
            default-sort="user"
            on-select="row.citizen_scientist = 1 - row.citizen_scientist"
        >
            <field title="Name" filter key="name" ><label for="param-cs-{{row.id}}">{{ row.name }}</label></field>
            <field title="Avaliable for Citizen Scientist" key="citizen_scientist">
                <input id="param-cs-{{row.id}}" ng-model="row.citizen_scientist" ng-true-value="1" ng-true-value="0" type="checkbox"/>
            </field>
        </a2-table>
        <button class="btn btn-primary" type="submit" ng-click="controller.save()">
            <i class="fa fa-floppy-o"></i> Save
        </button>
    </div>
</div>
