<div class="row">
    <div class="col-sm-12">
        <h4>Settings</h4>
        <a2-table class="table-hide-btns"
            rows="controller.patternmatchings" no-checkbox="true"
            default-sort="user"
        >
            <field title="Name" filter key="name" ><label for="param-cs-{{row.id}}">{{ row.name }}</label></field>
            <field title="Avaliable for Citizen Scientist" key="citizen_scientist">
                <input id="param-cs-{{row.id}}" ng-model="row.citizen_scientist" ng-true-value="1" ng-true-value="0" type="checkbox"/>
            </field>
            <field title="Consensus Number" key="consensus_number">
                <input id="param-cn-{{row.id}}" ng-model="row.consensus_number" type="number" ng-disabled="!row.citizen_scientist" />
            </field>
        </a2-table>
        <button class="btn btn-primary" type="submit" ng-click="controller.save()">
            <i class="fa fa-floppy-o"></i> Save
        </button>
    </div>
</div>
