<div class="modal-header">
    <h3 class="modal-title">
        Sample Region
        <small>
            <i class="fa fa-question-circle"
                tooltip="This will create a playlist with a percent of the recordings found on this region"
                tooltip-placement="bottom"
                tooltip-append-to-body>
            </i>
        </small>
    </h3>
</div>
<div class="modal-body" ng-form>
    <p><b>Region name:</b> {{region.name}}</p>
    <div class="form form-horizontal">
        <div class="form-group" ng-class="{'has-error': validation.name}" >
            <label class="col-sm-3 control-label">
                Percent:
            </label>
            <div class="col-sm-9">
                <input type="number" class="text-right" min="0" max="100" ng-model="data.percent" style="width:60px; color: #000;">% 
                <span class="badge m-3">{{Math.floor(region.count * data.percent / 100)}}</span>
            </div>
            <div class="pull-right text-danger" ng-show="validation.percent">{{validation.percent}}</div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-rounded-full" ng-click="ok()">Create sample</button>
    <button class="btn btn-success btn-rounded-full" ng-click="$dismiss()">Close</button>
</div>
