<form name="uploadInfo" role="form">
<div class="modal-header">
    <h2>Recordings batch information</h2>
</div>

<div class="modal-body">
        <div class="form-group">
            <ui-select ng-model="info.site" theme="bootstrap">
                <ui-select-match placeholder="Site name">{{ $select.selected.name }}</ui-select-match>
                <ui-select-choices class="has-badges" repeat="site in sites | filter:$select.search">
                    {{ site.name }}
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <label class="control-label" for="format" >
                Filename format: 
            </label>
                <i tooltip="the system get the recording's date and time from 
                    the filename by searching one of the patterns below"
                    class="fa fa-info-circle"></i>
            <select name="format" id="format" class="form-control"  ng-model="info.format" required>
                <option value="Arbimon">Arbimon (YYYY-MM-DD_HH-MM)</option>
                <option value="Wildlife">Wildlife Acoustics (YYYYMMDD_HHMMSS)</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="recorder">Recorder: </label>
            <input class="form-control" name="recorder" id="recorder" type="text"  
                ng-model="info.recorder"
                required>
        </div>
        <div class="form-group">
            <label class="control-label" for="mic">Microphone: </label>
            <input class="form-control" name="mic" id="mic" type="text" 
                ng-model="info.mic"
                required>
        </div>
        <div class="form-group">
            <label class="control-label" for="sver">Software version: </label>
            <input class="form-control" name="sver" id="sver" type="text"  ng-model="info.sver"
                required>
        </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="close() | trackEvent:'Audiodata-Batchinfo':'close clicked'"><i class="fa fa-floppy-o"></i> Save &amp; Close </button>
    <button class="btn btn-default" ng-click="$dismiss() | trackEvent:'Audiodata-Batchinfo':'dismiss clicked'"><i class="fa fa-times"></i> Close</button>
</div>
</form>
