<div class="row toolbar">
    <div class="col-sm-12">
        <accordion>
            <accordion-group is-open="filters.open" class="a2-filters-box">
                <accordion-heading>
                    <i class="fa" ng-class="filters.open ? 'fa-chevron-down' : 'fa-chevron-right'"></i>
                    Filters <i class="fa fa-filter"></i>
                    <small><em>Filter recordings and save as playlists</em></small> 
                </accordion-heading>
                <div class="a2-filter-row">
                    <div class="a2-filter a2-filter-text">
                        Range:
                    </div>
                    <div class="a2-filter">
                        <button class="btn btn-default" type="text" 
                            yearpick 
                            min-date="minDate"
                            max-date="params.range.to || maxDate"
                            ng-model="params.range.from">
                            <span ng-hide="params.range.from"> Select Date </span>
                            {{ params.range.from | momentUtc: 'll' }}
                        </button>
                    </div>
                    <div class="a2-filter a2-filter-text">
                        <i class="fa fa-long-arrow-right"></i>
                    </div>
                    <div class="a2-filter">
                        <button class="btn btn-default" type="text" 
                            yearpick 
                            min-date="params.range.from || minDate"
                            max-date="maxDate"
                            ng-model="params.range.to">
                            <span ng-hide="params.range.to"> Select Date </span>
                            {{ params.range.to | momentUtc: 'll' }}
                        </button>
                    </div>
                </div>
                <div class="a2-filter-row">
                    <div class="a2-filter a2-filter-text">
                        Sites:
                    </div>
                    <div class="a2-filter">
                        <ui-select multiple ng-model="params.sites" theme="bootstrap" style="width: 300px;">
                            <ui-select-match placeholder="Site1, Site2, ...">{{$item.value}}</ui-select-match>
                            <ui-select-choices class="has-badges" repeat="item in sites | filter:$select.search">
                                {{item.value}} 
                                <span class="badge">{{ item.count }}</span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="a2-filter-row">
                    <div class="a2-filter a2-filter-text">
                        Date and Time:
                    </div>
                    <div class="a2-filter">
                        <ui-select multiple ng-model="params.years" theme="bootstrap" style="width: 125px;">
                            <ui-select-match placeholder="Years...">{{$item.value}}</ui-select-match>
                            <ui-select-choices class="has-badges" repeat="item in years | filter:$select.search">
                                {{ item.value }}
                                <span class="badge">{{ item.count }}</span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="a2-filter">
                        <ui-select multiple ng-model="params.months" theme="bootstrap" style="width: 125px;">
                            <ui-select-match placeholder="Months...">{{ $item.string }}</ui-select-match>
                            <ui-select-choices class="has-badges" repeat="item in months | filter:$select.search">
                                {{ item.string }}
                                <span class="badge">{{ item.count }}</span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="a2-filter">
                        <ui-select multiple ng-model="params.days" theme="bootstrap" style="width: 125px;">
                            <ui-select-match placeholder="Days...">{{ $item.value }}</ui-select-match>
                            <ui-select-choices class="has-badges" repeat="item in days | filter:$select.search">
                                {{ item.value }}
                                <span class="badge">{{ item.count }}</span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="a2-filter">
                        <ui-select multiple ng-model="params.hours" theme="bootstrap" style="width: 125px;">
                            <ui-select-match placeholder="Hours...">{{ $item.string }}</ui-select-match>
                            <ui-select-choices class="has-badges" repeat="item in hours | filter:$select.search">
                                {{ item.string }}
                                <span class="badge">{{ item.count }}</span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="a2-filter-row">
                    <div class="a2-filter a2-filter-text">
                        Validations:
                    </div>
                    <div class="a2-filter">
                        <ui-select multiple ng-model="params.validations" theme="bootstrap" style="width: 400px;">
                            <ui-select-match placeholder="Species - Sound...">
                                {{$item.species_name}} - {{$item.songtype_name}} 
                            </ui-select-match>
                            <ui-select-choices class="has-badges" repeat="item in classes | filter:$select.search">
                                {{item.species_name }} - {{ item.songtype_name }} 
                                <span class="badge">
                                    <i class="fa val-1"></i> {{ item.vals_present }} / 
                                    <i class="fa val-0"></i> {{ item.vals_absent }}
                                </span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="a2-filter">
                        <ui-select multiple ng-model="params.presence" theme="bootstrap" style="width: 150px;">
                            <ui-select-match allow-clear="true" placeholder="validation">
                                <i ng-class="'fa a2-' + $item"></i> {{ $item | wordCaps}}
                            </ui-select-match>
                            <ui-select-choices class="has-badges" repeat="item in presence | filter:$select.search">
                                <i ng-class="'fa a2-' + item"></i> {{ item | wordCaps}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="a2-filter-row">
                    <div class="a2-filter a2-filter-text">
                        Classifications:
                    </div>
                    <div class="a2-filter">
                        <ui-select multiple ng-model="params.classifications" ng-change="controller.computeClassificationResults()" theme="bootstrap" style="width: 350px;">
                            <ui-select-match placeholder="Classifications...">
                                {{$item.name}} - {{$item.date | moment : 'lll' }} 
                            </ui-select-match>
                            <ui-select-choices class="has-badges" repeat="item in controller.data.classifications | filter:$select.search">
                                {{item.name }} - {{ item.date | moment : 'lll' }} 
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="a2-filter">
                        <ui-select multiple ng-model="params.classification_results" theme="bootstrap" style="width: 150px;">
                            <ui-select-match placeholder="results">
                                <span ng-bind-html="$item.caption" tooltip="{{$item.tooltip}}" tooltip-append-to-body="true"></span>
                            </ui-select-match>
                            <ui-select-choices class="has-badges" repeat="item in controller.data.classification_results | filter:$select.search">
                                <span ng-bind-html="item.caption" tooltip="{{item.tooltip}}" tooltip-append-to-body="true"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="a2-filter-row">
                    <button class="btn btn-default" ng-click="applyFilters() | trackEvent:'Audiodata-Recordings':'applyFilters'">
                        Apply filters
                    </button>
                    <button class="btn btn-default" ng-click="resetFilters() | trackEvent:'Audiodata-Recordings':'resetFilters'">
                        <i class="fa fa-undo"></i> Reset
                    </button>
                    <button class="btn btn-default" 
                        ng-click="createPlaylist() | trackEvent:'Audiodata-Recordings':'createPlaylist'" 
                        tooltip="Save filtered results as playlist"
                        tooltip-trigger="mouseenter">
                        <i class="fa fa-list-alt"></i>
                    </button>
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <button class="btn btn-danger" 
            ng-click="del()" 
            ng-class="{ disabled: !checked || !checked.length }"
            tooltip="Delete recording(s)"
            tooltip-trigger="mouseenter">
            <i class="fa fa-trash"></i>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="reclist-pagination-row">
            <pagination total-items="totalRecs" 
                ng-model="currentPage" 
                class="pagination-sm" 
                boundary-links="true" 
                max-size="10" 
                rotate="false"
                num-pages="totalPages"
                items-per-page="limitPerPage">
            </pagination> 
        </div>
        <div class="reclist-total">{{ totalRecs }} Recordings</div>
        <div class="reclist-pagelimit">
            <div class="btn-group">
                <button class="btn btn-default btn-sm" ng-model="limitPerPage" btn-radio="10">10</button>
                <button class="btn btn-default btn-sm" ng-model="limitPerPage" btn-radio="25">25</button>
                <button class="btn btn-default btn-sm" ng-model="limitPerPage" btn-radio="50">50</button>
                <button class="btn btn-default btn-sm" ng-model="limitPerPage" btn-radio="100">100</button>
            </div>
            <button class="btn btn-default btn-sm" tooltip="Reload list" ng-click="reloadList()">
                <i class="fa fa-refresh"></i>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <a2-table class="table-hide-btns" rows="recs" data-checked="checked" ext-sort="sortRecs(sortBy, reverse)" default-sort="site" no-select>
            <field title="">
                <a class="btn btn-default btn-xs" 
                    ng-href="#/visualizer/rec/{{row.id}}"
                    title="View in Visualizer">
                    <i class="fa fa-cubes"></i>
                </a>
            </field>
            <field title="Filename"   key="file"     >{{ row.file     }}</field>
            <field title="Site"       key="site"     >{{ row.site     }}</field>
            <field title="Time"       key="datetime" >{{ row.datetime | momentUtc: 'lll'}}
                <!-- <span class="on-row-hover">
                    <a ng-href="#/visualizer/rec/{{row.id}}">
                        <i tooltip-placement="right" tooltip="View in Visualizer" class="fa fa-cubes"></i>
                    </a>
                </span> -->
            </field>
            <field title="Recorder"   key="recorder" >{{ row.recorder }}</field>
            <field title="Microphone" key="mic"      >{{ row.mic      }}</field>
            <field title="Software"   key="version"  >{{ row.version  }}</field>
            <!-- <field title=""   key=""     >{{ row.file     }}</field> -->
        </a2-table>
        <loader ng-hide="!loading"></loader>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <pagination total-items="totalRecs" 
            ng-model="currentPage" 
            class="pagination-sm" 
            boundary-links="true" 
            max-size="10" 
            rotate="false"
            num-pages="totalPages"
            items-per-page="limitPerPage">
        </pagination> 
        
    </div>
</div>
