<div class="row toolbar">
    <div class="col-sm-12">
        <recording-filter-parameters on-apply-filters="applyFilters(filters)" on-create-playlist="createPlaylist(filters)">
        </recording-filter-parameters>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <button class="btn btn-danger" 
            ng-click="del()" 
            ng-class="{ disabled: !checked || !checked.length }"
            tooltip="Delete recording(s)"
            tooltip-trigger="mouseenter">
            <i class="fa fa-trash"></i>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="reclist-pagination-row">
            <pagination total-items="totalRecs" 
                ng-model="currentPage" ng-change="controller.setCurrentPage(currentPage)"
                class="pagination-sm" 
                boundary-links="true" 
                max-size="10" 
                rotate="false"
                num-pages="totalPages"
                items-per-page="limitPerPage">
            </pagination> 
        </div>
        <div class="reclist-total">{{ totalRecs }} Recordings</div>
        <div class="reclist-pagelimit">
            <div class="btn-group">
                <button class="btn btn-default btn-sm" ng-model="limitPerPage" ng-change="controller.setLimitPerPage(limitPerPage)" btn-radio="10">10</button>
                <button class="btn btn-default btn-sm" ng-model="limitPerPage" ng-change="controller.setLimitPerPage(limitPerPage)" btn-radio="25">25</button>
                <button class="btn btn-default btn-sm" ng-model="limitPerPage" ng-change="controller.setLimitPerPage(limitPerPage)" btn-radio="50">50</button>
                <button class="btn btn-default btn-sm" ng-model="limitPerPage" ng-change="controller.setLimitPerPage(limitPerPage)" btn-radio="100">100</button>
            </div>
            <button class="btn btn-default btn-sm" tooltip="Reload list" ng-click="reloadList()">
                <i class="fa fa-refresh"></i>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <a2-table class="table-hide-btns" rows="recs" data-checked="checked" ext-sort="sortRecs(sortBy, reverse)" default-sort="site" no-select>
            <field title="">
                <a class="btn btn-default btn-xs" 
                    ng-href="#/visualizer/rec/{{row.id}}"
                    title="View in Visualizer">
                    <i class="fa fa-cubes"></i>
                </a>
            </field>
            <field title="Filename"   key="file"     >{{ row.file     }}</field>
            <field title="Site"       key="site"     >{{ row.site     }}</field>
            <field title="Time"       key="datetime" >{{ row.datetime | momentUtc: 'lll'}}
                <!-- <span class="on-row-hover">
                    <a ng-href="#/visualizer/rec/{{row.id}}">
                        <i tooltip-placement="right" tooltip="View in Visualizer" class="fa fa-cubes"></i>
                    </a>
                </span> -->
            </field>
            <field title="Recorder"   key="recorder" >{{ row.recorder }}</field>
            <field title="Microphone" key="mic"      >{{ row.mic      }}</field>
            <field title="Software"   key="version"  >{{ row.version  }}</field>
            <!-- <field title=""   key=""     >{{ row.file     }}</field> -->
        </a2-table>
        <loader ng-hide="!loading"></loader>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <pagination total-items="totalRecs" 
            ng-model="currentPage" ng-change="controller.setCurrentPage(currentPage)"
            class="pagination-sm" 
            boundary-links="true" 
            max-size="10" 
            rotate="false"
            num-pages="totalPages"
            items-per-page="limitPerPage">
        </pagination> 
        
    </div>
</div>
