<div class="modal-header">
    Create Token for site {{popup.site.name}}
</div>

<div class="modal-body">
    <p>
        This option allows you to create an access token for this site.
        Using this token, ARBIMON recorders can upload its recordings to automatically.
    </p>
    <p ng-show="popup.site.token_created_on">
        A token for this site was created on {{popup.site.token_created_on}}
    </p>
    <p ng-hide="popup.site.token_created_on">
        No access tokens have been created for this site.
    </p>
    <p ng-show="popup.token_uri">
        Token generated. <br />
        Scan this token with the ARBIMON recorder. <br />
        <qr-code code="popup.token" />
    </p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="popup.action.generate_token()  | trackEvent:'PopUp':'generate'">Generate Token</button>
    <button ng-show="popup.site.token_date" class="btn btn-danger" ng-click="popup.action.revoke_token($dismiss) | trackEvent:'SiteToken':'revoke'">Revoke Token</button>
    <button class="btn btn-default" ng-click="$dismiss()  | trackEvent:'PopUp':'close'">Close</button>
</div>
