<div class="row">
    <div class="col-md-7">
        

<div class="row">
    <div class="col-md-push-6 col-md-6 toolbar">
        <input class="form-control" type="text" placeholder="Search" ng-model="search">
    </div>
    <div class="col-md-6 col-md-pull-6 toolbar">
        <button class="btn btn-default"
            ng-click="create() | trackEvent:'Dashboard-sites':'add site'" 
            tooltip="Create a new site">
            <i class="fa fa-plus"></i>
        </button>
        
        <!-- <div class="btn-group" dropdown>
            <button class="btn btn-default dropdown-toggle"
                id="addsite"
                aria-expanded="true"
                dropdown-toggle>
                <i class="fa fa-plus"></i>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="addsite">
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" ng-click="create() | trackEvent:'Dashboard-sites':'add site'" ></a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" ng-click="browseShared()">Add from published sites</a>
                </li>
            </ul>
        </div> -->
        <button class="btn btn-default"
            ng-click="edit() | trackEvent:'Dashboard-sites':'edit site'"
            ng-disabled="!selected || selected.imported"
            tooltip="Edit site info">
            <i class="fa fa-pencil"></i>
        </button>
        <button class="btn btn-default"
            ng-click="site_token()"
            ng-disabled="!selected || selected.imported"
            tooltip="Link Recorder">
            <i class="fa fa-link"></i>
        </button>
        <button class="btn btn-danger"
            ng-click="del()"
            ng-disabled="!selected"
            tooltip="remove site">
            <i class="fa fa-trash"></i>
        </button>
    </div>
</div>
<div class="row">
    <div ng-class="editing || creating ? 'visible-md-block visible-lg-block' : '' ">
        <a2-table rows="sites" on-select="sel(row)" data-checked="checked" search="search" no-checkbox>
            <field title="Name" key="name">
                {{ row.name }} 
            </field>
            <!-- <field>
                <i ng-show="row.published && !row.imported" class="fa fa-globe"  title="Site is Published"></i>
                <i ng-show="row.imported" class="fa fa-users" title="Site is Imported"></i>
            </field> -->
            <field>
                <i ng-show="row.has_logs && !row.imported" class="fa fa-book" title="Has status logs"></i>
                <i ng-show="row.token_created_on && !row.imported" class="fa fa-link" title="Has a Token"></i>
            </field>
            <field title="No. of recordings" key="rec_count">
                {{ row.rec_count }}
            </field>
            <field title="Latitude" key="lat">
                {{ row.lat | number:3 }}
            </field>
            <field title="Longitude" key="lon">
                {{ row.lon | number:3 }}
            </field>
            <field title="Altitude" key="alt">
                {{ row.alt | number:2 }}
            </field>
        </a2-table>
        <div class="jumbotron" ng-show="(!sites || !sites.length > 0) && !loading">
            <h3 class="text-center">
                This project does not have any <i class="fa fa-map-marker"></i> sites
            </h3>
        </div>
        <loader ng-hide="!loading"></loader>
    </div>
</div>

</div>
<div class="col-md-5">
    <ul class="nav nav-tabs">
        <li class="ng-isolate-scope" ng-class="{active:show.map}">
            <a ng-click="set_show('map')" href="">
                <i ng-class="editing ? 'fa fa-pencil' : (creating ? 'fa fa-plus' : 'fa fa-map')"></i>
                {{editing ? 'Edit Site' : (creating ? 'New Site' : 'Location')}}
            </a>
        </li>
        <li class="ng-isolate-scope" ng-class="{active:show.status, disabled:!selected.has_logs || creating}">
            <a ng-click="set_show('status')" href="">
                <i class="fa fa-line-chart"></i> Status
            </a>
        </li>
    </ul>
    <div ng-show="editing || creating" class="panel panel-default">
        <div class="panel-body">
            <form class="form" ng-submit="save() | trackEvent:'Dashboard-sites':'save site'" name="siteForm">
                <div class="form-group">
                    <label>Name:</label>
                    <input class="form-control" type="text" ng-model="temp.name" placeholder="Site name" required>
                </div>
                <!-- <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="temp.published"> 
                        publish site 
                        <i class="text-info fa fa-info-circle"
                            tooltip-placement="right"
                            tooltip="when this option is checked, the site recordings become available to use in other projects"></i>
                    </label>
                </div> -->
                <div class="form-group">
                    <label>Location:</label>
                    <div class="input-group">
                        <span class="input-group-addon">Lat</span>
                        <input class="form-control" 
                            name="lat" 
                            type="text" 
                            ng-model="temp.lat" 
                            placeholder="Latitude" 
                            pattern="^-?\d+\.?\d*$"
                            required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Lon</span>
                        <input class="form-control" 
                            name="lon" 
                            type="text" 
                            ng-model="temp.lon" 
                            placeholder="Longitude" 
                            pattern="^-?\d+\.?\d*$"
                            required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Alt</span>
                        <input class="form-control" 
                            name="alt" 
                            type="text" 
                            ng-model="temp.alt" 
                            placeholder="Altitude" 
                            pattern="^-?\d+\.?\d*$"
                            required>
                    </div>
                </div>
                <button class="btn btn-primary">
                    <i class="fa fa-floppy-o"></i> Save
                </button>
                <button class="btn btn-default" 
                    type="button"
                    ng-click="close() | trackEvent:'Dashboard-sites':'close site edit create'">
                    <i class="fa fa-times"></i> Close
                </button>
            </form>
        </div>
    </div>
    <div class="a2-filter-row" ng-show="show.status">
        <div class="a2-filter a2-filter-text toolbar">

            <div class="dropdown" style="display:inline-block" dropdown dropdown-append-to-body>
                <button class="btn btn-default dropdown-toggle" dropdown-toggle>
                    <i ng-class="status_controller.selected.series.icon"></i>
                    {{status_controller.selected.series.name}} 
                    <i class="fa fa-caret-down"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="series in status_controller.data.series" 
                        ng-class="{active: status_controller.selected.series == series}">
                        <a ng-click="status_controller.set_series(series) | trackEvent:'Audiodata-Site-Status':'set series'">
                            <i ng-class="series.icon"></i>
                            {{series.name}} 
                        </a>
                    </li>
                </ul>
            </div>
            <div class="dropdown" style="display:inline-block" dropdown dropdown-append-to-body>
                <button class="btn btn-default dropdown-toggle" dropdown-toggle>
                    <i class="fa fa-clock-o"></i>
                    {{status_controller.selected.time_range.text}} 
                    <i class="fa fa-caret-down"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="time_range in status_controller.data.time_ranges" 
                        ng-class="{active: status_controller.selected.time_range == time_range}">
                        <a ng-click="status_controller.set_time_range(time_range) | trackEvent:'Audiodata-Site-Status':'set time range'">
                            {{time_range.text}} 
                        </a>
                    </li>
                </ul>
            </div>
            <div class="dropdown" style="display:inline-block" dropdown dropdown-append-to-body>
                <button class="btn btn-default dropdown-toggle" dropdown-toggle>
                    <i class="fa fa-hourglass-3"></i>
                    {{status_controller.selected.period.text}} 
                    <i class="fa fa-caret-down"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="period in status_controller.data.periods" 
                        ng-class="{active: status_controller.selected.period == period}">
                        <a ng-click="status_controller.set_period(period) | trackEvent:'Audiodata-Site-Status':'set period'">
                            {{period.text}} 
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="">
            <!-- <loader ng-hide="status_controller.loading">Loading Data</loader> -->
            <c3-chart-display data="status_controller.chart.data" axes="status_controller.chart.axes"></c3-chart-display>
        </div>
    </div>
    <div class="panel" ng-show="show.map">
        <div class="map" id="map-site"></div>
    </div>
</div>
</div>