<div class="row">
    <div class="col-sm-6">
        <h4>
            Project Species
            <button class="btn btn-default"
                ng-click="add() | trackEvent:'Dashboard-species':'add species'"
                tooltip="Select a species song"
                tooltip-trigger="mouseenter">
                <i class="fa fa-plus"></i>
            </button>
            <button class="btn btn-danger"
                ng-disabled="!checked || !checked.length"
                ng-click="del() | trackEvent:'Dashboard-species':'delete species'"
                tooltip="Remove species song"
                tooltip-trigger="mouseenter">
                <i class="fa fa-trash"></i>
            </button>

        </h4>
        <a2-table fields="fields" rows="classes" checked="checked" no-select></a2-table>
        <div class="jumbotron" ng-show="(!classes || !classes.length > 0) && !loading">
            <h3 class="text-center">
                This project don't have any species assign
            </h3>
        </div>
        <loader ng-hide="!loading"></loader>
    </div>
    
</div>
