
<div class="row">
    <div class="col-lg-5 col-sm-12">
        <div class="row">
            <div class="col-sm-6">
                <button ng-click="addNewTrainingSet() | trackEvent:'Audiodata-Training Sets':'add_new_tset'" class="btn btn-default" 
                    tooltip="Create training set">
                    <i class="fa fa-plus"></i>
                </button>
                <!-- <button class="btn btn-danger" 
                    tooltip="Delete training set"
                    tooltip-trigger="mouseenter">
                    <i class="fa fa-trash"></i>
                </button> -->
            </div>
            <div class="col-sm-6">
                <input class="form-control" type="text" placeholder="Search" ng-model="search.name">
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <a2-table search="search" rows="sets" no-checkbox on-select="displaySetData(row)">
                    <field title="Name" key="name">
                        {{ row.name }}
                    </field>
                    <!-- <field title="Type" key="type">
                        {{ row.type }}
                    </field> -->
                    <field title="Date created" key="date_created">
                        {{ row.date_created | moment: 'll' }}
                    </field>
                </a2-table>
                <loader ng-show="loading"></loader>
                <div class="jumbotron" ng-show="(!sets || !sets.length > 0) && !loading">
                    <h3>
                        No training sets found. <a ng-click="add_new_tset() | trackEvent:'Audiodata-Training Sets':'add_new_tset'"  ng-show="(!sets || !sets.length > 0) && !loading" >Create a training set.</a>
                    </h3    >
                </div>
            </div>
        </div>

    </div>
    
    <div class="col-lg-7 col-sm-12">
        <div class="panel panel-default" ng-show="loaderDisplay">
            <div class="panel-body">
                Loading <loader></loader>
            </div> 
        </div> 
        
        <div class="panel panel-default" ng-show="showSetDetails && !loaderDisplay">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Training set info
                    </h3>
                    <!-- <button type="button" ng-click="closeSetDetails()" class="btn btn-default">
                        <i class="fa fa-times"></i>
                    </button> -->
                </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <td><strong>Name:</strong> {{ selectedName }}</td>
                        </tr>
                        <tr>
                            <td><strong>ROI Count :</strong> {{ rois.length }}</td>
                        </tr>
                        <tr>
                            <td><strong>Species sound:</strong> {{ species }} - {{ songtype }}</td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Validations:</strong> 
                                present - {{ selectedSet.validations.present }} 
                                | absent - {{ selectedSet.validations.absent }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <div class="panel-body" ng-hide="rois.length">
                    <div class="well">
                        This training set is empty. 
                        <a ui-sref="visualizer" href="#/visualizer">
                            To add data go to <i class="fa fa-cubes"></i> Visualizer.
                        </a>
                    </div>
                </div>
                
                <div class="panel-body" ng-show="rois.length">
                    
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="pager">
                                <li><a ng-click="prev() | trackEvent:'Audiodata-Training Sets':'prevPage'">Previous</a></li>
                                <li><a ng-hide="detailedView">{{currentPage+1}} of {{totalpages}}</a></li>
                                <li><a ng-show="detailedView">{{currentRoi+1}} of {{totalRois}}</a></li>
                                <li><a ng-click="next() | trackEvent:'Audiodata-Training Sets':'nextPage'">Next</a></li>
                                
                                <div class="btn-group">
                                    <button type="button"
                                        class="btn btn-default"
                                        ng-model="detailedView"
                                        btn-radio="true"
                                        tooltip="Detail view"
                                        tooltip-append-to-body="true">
                                        <i class="fa fa-search"></i>
                                    </button>
                                    <button type="button" 
                                        class="btn btn-default"
                                        ng-model="detailedView"
                                        btn-radio="false"
                                        tooltip="Gallery view"
                                        tooltip-append-to-body="true">
                                        <i class="fa fa-th"></i>
                                    </button>
                                </div>
                            </ul>
                        </div>
                    </div>
                    
                    <div ng-hide="detailedView">
                        <div ng-repeat="roi in currentrois" class="roi-thumbnail">
                            <button class="roi-btn-tl roi-info"
                                tooltip-placement="left" 
                                tooltip-append-to-body="true"
                                tooltip="click for details"
                                popover-html="'Duration: {{roi.dur}}s <br>
                                         Bandwidth: {{roi.y2-roi.y1}}Hz <br>
                                         Upper freq: {{roi.y2}}Hz <br>
                                         Lower freq: {{roi.y1}}Hz'"
                                popover-trigger="focus"
                                popover-append-to-body="true" tabindex="1">
                                    <i class="fa fa-info-circle"></i>
                            </button>
                            <button ng-click="removeRoi(roi.id) | trackEvent:'Audiodata-Training Sets':'removeRoi'"
                                class="roi-btn-tr roi-delete"
                                tooltip-placement="left" 
                                tooltip-append-to-body="true"
                                tooltip="Delete ROI">
                                <i class="fa fa-times"></i>
                            </button>
                            <a class="roi-btn-br" ng-href="/project/{{projecturl}}/#/visualizer/rec/{{roi.recording}}">
                                <i tooltip-placement="left" 
                                    tooltip-append-to-body="true"
                                    tooltip="View in Visualizer" 
                                    class="fa fa-cubes">
                                </i>
                            </a>
                            <img ng-src="{{ currentUri }}" class="roi-img"/>
                        </div>
                    </div>
                    
                    <div ng-show="detailedView">
                        <div class="row">
                            <div class="col-sm-2" ></div>
                            <div class="col-sm-8" >
                                <div class="row">
                                    <small>
                                        <div class="col-sm-5" >Duration: {{currentDuration}}s</div>
                                        <div class="col-sm-5" >{{currentlow}}-{{currenthigh}}Hz</div>
                                        <div class="col-sm-1" >
                                            <a ng-href="{{currentUrl}}">
                                                <i tooltip="View in Visualizer" class="fa fa-cubes"></i>
                                            </a>
                                        </div>
                                        <div class="col-sm-1" class="roi-div-inline-remove-detail" >
                                            <button class="roi-delete"
                                                ng-click="removeRoi(currentId) | trackEvent:'Audiodata-Training Sets':'removeRoi'" 
                                                tooltip="Delete ROI">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </small>
                                </div>
                                <img ng-src="{{currentUri}}" class="roi-div-inline-img-detail"/>
                                <div class="bordeder-empy-div"></div>
                            </div>
                            <div class="col-sm-2" ></div>
                        </div>
                    </div>
                    
                </div>
            
        </div>
    </div>
</div>
