<div class="modal-header">
    <h3>Uploading audio files</h3>
</div>

<div class="modal-body">
    <h4>Steps</h4>
    <ol>
        <li>
            Enter upload batch information. Make sure you select the correct 
            filename format for the recording-time-data. 
        </li>
        <li>
            Add files to the upload queue either by drag and drop or clicking 
            the Add file button
        </li>
        <li>Click start to upload the recordings</li>
        <li>
            After each recording is successfully uploaded and processed, 
            only then will it be available for use
        </li>
    </ol>
    <br>
    <h4>Limits</h4>
    <ul>
        <li>
            Recordings longer than 2 minutes will be split into 1 minute files.
            <br>
            <i>
                Example: a recording with a length of 10 minutes and 30 seconds will be
                split into 9-one minute recordings and 1-one minute and thirty seconds.
            </i>
        </li>
        <li>
            This uploader supports recordings up to 60 minutes in length. Please <a href="mailto:support@sieve-analytics.com">contact us</a> for processing
            longer recordings.
        </li>
    </ul>
    <p class="text-muted">
        <small>Click <b>Help</b> button to see this window again</small>
    </p>
</div>
<div class="modal-footer">
    <button class="btn btn-default"
        ng-click="$dismiss()">
            <i class="fa fa-times"></i> Close
    </button>
</div>
