<div class="modal-header">
    <h3>Uploading audio files</h3>
</div>

<div class="modal-body">
    <h4>Steps</h4>
    <ol>
        <li>Enter upload batch information. Make sure you select the correct filename format for the recording time data.</li>
        <li>Add files to the upload queue either by drag and drop or clicking the Add file button</li>
        <li>Click start to upload the recordings</li>
        <li>After each recording is successfully uploaded, is processed and then will be available to use</li>
    </ol>
    <br>
    <h4>Limits</h4>
    <ul>
        <li>
            Recordings longer than 2 minutes will be split on 1 minute files, 
            with the last file being 1 minute and the remainder.<br>
            <i>
                Example: a recording with a length of 10 minutes and 30 seconds will be
                splitted in 9 - one minute recordings and 1 - 1 minute and 30 seconds.
            </i>
        </li>
        <li>
            This uploader support recordings up to 60 minute in length, for processing
            longer recordings contact us and we will help.
        </li>
    </ul>
    
</div>
<div class="modal-footer">
    <button class="btn btn-default"
        ng-click="$dismiss()">
            <i class="fa fa-times"></i> Close
    </button>
</div>
