<div class="content">
    <table class="bg table table-condensed">
        <tr>
            <th>Species</th>
            <th>Song</th>
            <th>Annotation</th>
        </tr>
        <tr ng-repeat="class in classes" ng-click="select(class, $event)" ng-class="is_selected[class.id] ? 'active' : ''">
            <td ng-bind="class.species_name"></td>
            <td ng-bind="class.songtype_name"> </td>
            <td>
                <div class="dropdown">
                    <button class="btn-a2-validate btn btn-xs btn-block btn-default" role="button" data-toggle="dropdown">
                        <span class="fa"
                            ng-class="'val-'+val_state(class.id).val"
                        ></span>
                        {{ val_state(class.id).label || "---"}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-height-7" role="menu" aria-labelledby="dLabel">
                        <li ng-repeat="option in val_options">
                            <a ng-click="validate(class.id, option.val)"><i class="fa" ng-class="'val-'+option.val"></i> {{option.label}}</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
</div>
