<div class="content">
    <accordion close-others="false" class="accordion-group">
        <accordion-group is-open="status.open" ng-repeat="(taxon, list) in byTaxon" class="accordion-table">
            <accordion-heading>
                {{ taxon }}
            </accordion-heading>
            <table class="table table-condensed">
                <tr>
                    <th>Species</th>
                    <th>Sound</th>
                    <th>Annotation</th>
                </tr>
                <tr ng-repeat="class in list" 
                    ng-click="select(class, $event) | trackEvent:'Visualizer-Validator-Main':'Select'" 
                    ng-class="is_selected[class.id] ? 'active' : ''">
                    <td class="no-select"> {{ class.species_name }}</td>
                    <td class="no-select"> {{ class.songtype_name }} </td>
                    <td class="no-select">
                        <div class="dropdown">
                            <button class="btn-a2-validate btn btn-default btn-xs btn-block " role="button" data-toggle="dropdown">
                                <span class="fa"  ng-class="'val-'+val_state(class.id).val"></span>
                                {{ val_state(class.id).label || "---"}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-height-7" role="menu">
                                <li ng-repeat="option in val_options">
                                    <a ng-click="validate(class.id, option.val) | trackEvent:'Visualizer-Validator-Main':'Validate'">
                                        <i class="fa" ng-class="'val-'+option.val"></i> 
                                        {{ option.label }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
        </accordion-group>
    </accordion>
</div>
