<!DOCTYPE html>
<html>

<head>
    <% include fragments/header %>
    <title>Arbimon - Account Activation</title>
</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand navbar-brand-center">
                    <img src="/images/favicon/arbimon-logo.svg" class="navbar-logo" alt="Arbimon Logo">
                    <span class="navbar-title">Arbimon</span>
                </a>
            </div>
        </div>
    </nav>
    <div class="login-banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6 card-container">
                    <div class="panel-body">
                        <h3>Activating your Arbimon Account</h3>
                        <p class="activation-text"><%- status %></p>

                        <% if(login) { %>
                            <a class="btn btn-primary" href="/login">Login now</a>
                        <% } %>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
