<!DOCTYPE html>
<html>

<head>
    <% include head %>
        <title>RAINFOREST - Account Activation</title>
</head>

<body>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">
                    <img src="/images/rf-logo.png" width="100">
                </a>
            </div>
        </div>
    </nav>
    <div class="login-banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6 card-container">
                    <div class="panel-body">
                        <h3>Activating your Arbimon Account</h3>
                        <p class="activation-text"><%- status %></p>

                        <% if(login) { %>
                            <a class="btn btn-primary" href="/login">Login now</a>
                        <% } %>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
