<!DOCTYPE html>
<html ng-app="a2.admin">

<head>
    <% include fragments/header %>
    <title>Arbimon - Admin</title>
</head>

<body ng-controller="AdminCtrl as controller">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button ng-init="leftCollapsedMenu = true" ng-click="leftCollapsedMenu = !leftCollapsedMenu; rightCollapsedMenu = true" type="button"
                    class="navbar-toggle navbar-toggle-left collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand navbar-brand-center">
                    <img src="/images/favicon/arbimon-logo.svg" class="navbar-logo" alt="Arbimon Logo">
                    <span class="navbar-title">Arbimon</span>
                </a>
                <% if (!user || user.isAnonymousGuest) { %>
                <div ng-click="toggleSearch = !toggleSearch;" class="search-nav-mobile search-nav-mobile-offset">
                    <i class="fa fa-search" style="font-size: 20px; position: relative;"></i>
                </div>
                <a class="navbar-btn btn btn-primary navbar-toggle-right collapse-menu-hide collapsed" href="<%- auth0UniversalLoginUrl %>">
                    Sign In
                </a>
                <% } else { %>
                <div ng-click="toggleSearch = !toggleSearch" class="search-nav-mobile">
                    <i class="fa fa-search" style="font-size: 20px; position: relative;"></i>
                </div>
                <button ng-init="rightCollapsedMenu = true" ng-click="rightCollapsedMenu = !rightCollapsedMenu; leftCollapsedMenu = true" type="button"
                    class="navbar-toggle navbar-toggle-right collapsed fa user-avatar<% if(user.isSuper) { %> swag-super<% } %>"
                    style="background-image:url('<%- user.imageUrl %>');background-color: #808080;">
                </button>
                <% } %>
            </div>
            <div ng-show="toggleSearch" class="navbar-collapse search-input-mobile" style="padding: 10px 15px; position: relative;">
                <search-bar></search-bar>
            </div>
            <div class="navbar-collapse navbar-collapse-menu-rfcx" ng-class="{'collapse': leftCollapsedMenu }">
                <ul class="nav navbar-nav navbar-left hide-tooltip-lg">
                    <li ui-sref-active="active" tooltip="Dashboard">
                        <a ui-sref="dashboard"><i class="fa fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li ui-sref-active="active" tooltip="Projects">
                        <a ui-sref="projects.list"><i class="fa fa-rocket"></i> Projects</a>
                    </li>
                    <li ui-sref-active="active" tooltip="Jobs">
                        <a ui-sref="jobs"><i class="fa fa-cogs"></i> Jobs</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="search-input">
                        <search-bar></search-bar>
                    </li>
                    <hr class="navbar-divider-collapse">
                    <ul class="nav navbar-nav navbar-menu-hide hide-tooltip-lg mr-0">
                        <% include fragments/user-dropdown %>
                    </ul>
                </ul>
            </div>
            <% if (user && !user.isAnonymousGuest) { %>
            <div class="navbar-collapse navbar-collapse-menu-rfcx" ng-class="{'collapse': rightCollapsedMenu }">
                <ul class="nav navbar-nav navbar-left collapse-menu-hide">
                    <li>
                        <a href="/user-settings">
                            <i class="fa fa-wrench"></i> Account Settings
                        </a>
                    </li>
                    <li>
                        <a href="/legacy-logout">
                            <i class="fa fa-sign-out"></i> Sign out
                        </a>
                    </li>
                </ul>
            </div>
            <% } %>
        </div>
    </nav>
    <div class="container-fluid">
        <div ui-view></div>
    </div>
    </script>
</body>

</html>
