<!DOCTYPE html>
<html>

<head>
    <% include fragments/header %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RFCx Arbimon 2 - Classifiers</title>
</head>

<body>
    <div class="container-page">
        <div class="content-wrap">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="/" class="navbar-brand navbar-brand-center">
                            <img src="/images/favicon/arbimon-logo.svg" class="navbar-logo" alt="Arbimon Logo">
                            <span class="navbar-title">Arbimon</span>
                        </a>
                    </div>
                </div>
            </nav>
            <div class="container">
                <div class="page-header">
                    <h1>Classifiers</h1>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <dl class="support-list">
                            <dt>Classifiers may change without notice. </dt>
                            <dd>If you need more information about a classifier that has been removed please contact us at: <a href="mailto:support@rfcx.org">support@rfcx.org</a></dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <% include fragments/footer %>
    </div>
</body>

</html>
