<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert_warning alert-connect-rfcx">
        <span class="text">Your account is not yet linked to RFCx.</span>
        <a class="link" href="/connect-with-rfcx">Learn more.</a>
        <a class="btn" href="<%- auth0UniversalLoginUrl %>">Connect with RFCx</a>
      </div>
    </div>
  </div>
</div>
