<!DOCTYPE html>
<html>

<head>
    <% include fragments/header %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RFCx Arbimon - Connect with RFCx</title>
</head>

<body>
    <% include fragments/home-nav %>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default pull-right" style="max-width:500px;min-width:320px;margin-left:50px">
                    <div class="panel-heading">
                        <h3 class="my-2">Status &nbsp;<span class="label label-warning">Not started</span></h3>
                    </div>
                    <div class="panel-body">
                        <h2 class="panel-title mb-2">Start migration now</h2>
                        <ul>
                            <li>If you do not have an RFCx account:
                               <p class="my-4"><a class="btn btn-primary" href="<%- auth0UniversalLoginUrl %>&screen_hint=signup">Create an RFCx account</a></p>
                            </li>
                            <li>If you have an RFCx account:
                                <p class="my-4"><a class="btn btn-primary" href="<%- auth0UniversalLoginUrl %>">Connect with RFCx account</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <h1>Arbimon II account migration</h1>
                
                <p>As an Arbimon user, you are now part of a comprehensive technology ecosystem to support bioacoustics research! Our goal
                is to make Arbimon the best platform for your research, conservation, and management projects. With one single login,
                you will now have access to the following applications:</p>
            </div>
        </div>
    </div>

    <% include fragments/footer %>
</body>

</html>
