<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-info alert-dismissable" role="alert" ng-hide="hideAlertBar">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" ng-click="hideAlertBar = true">&times;</a>
        <h4>Arbimon II account migration</h4>
        Upgrade your account now to access the RFCx platform.
        <a href="/connect-with-rfcx" class="alert-link" >Find out more and start migration</a>.
      </div>
    </div>
  </div>
</div>
