<div class="container">
    <hr>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
            <ul class="list-inline">
                <li><a href="/terms">Terms</a></li>
                <li><a href="/privacy">Privacy</a></li>
                <li><a href="/support">Support</a></li>
                <li class="pull-right"><i class="fa fa-copyright"></i>2020
                    <a target="_blank" href="https://www.rfcx.org">Rainforest Connection</a>
                </li>
            </ul>
        </div>
    </div>
</div>
