<div class="container">
    <hr>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
            <ul class="list-inline">
                <li><a href="/terms">Terms</a></li>
                <li><a href="/privacy">Privacy</a></li>
                <li><a href="/support">Support</a></li>
                <li><a target="_blank" href="http://www.sieve-analytics.com/#!arbimon/cjg9">Arbimon</a></li>
                <li><a target="_blank" href="http://www.sieve-analytics.com">sieve-analytics.com</a></li>
                <li>
                    <a target="_blank" href="https://www.twitter.com/sieveAnalytics"><i class="fa fa-lg fa-twitter-square"></i></a>
                    <a target="_blank" href="https://www.facebook.com/sieveanalytics"><i class="fa fa-lg fa-facebook-square"></i></a>
                </li>
                <li><i class="fa fa-copyright"></i>2015 Sieve Analytics</li>
            </ul>
        </div>
    </div>
</div>
