<!DOCTYPE html>
<html ng-app="a2.reset-password">

<head>
    <% include fragments/header %>
    <title>Arbimon - Forgot credentials</title>
</head>

<body ng-controller="ResetRequestCtrl">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand navbar-brand-center">
                    <img src="/images/favicon/arbimon-logo.svg">
                    <span class="navbar-title">Arbimon</span>
                </a>
            </div>
        </div>
    </nav>
    <div class="login-banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6 card-container">
                    <div class="panel-body">
                        <h3>Reset your existing Arbimon II password</h3>
                        <form ng-submit="request()" ng-hide="requestComplete || loading">
                            <div class="form-group">
                                <input ng-model="email"
                                    type="email"
                                    name="email"
                                    id="email"
                                    class="form-control"
                                    placeholder="Email Address"
                                    required />
                            </div>
                            <button class="btn btn-primary">Continue</button>
                        </form>
                        <p class="activation-text">
                            <span ng-show="loading">
                                <loader></loader> Processing request
                            </span>
                            <span ng-show="requestComplete">
                                A email with the instructions to reset your
                                password had been sent to <b>{{ email }}</b>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
