<!DOCTYPE html>
<html ng-app="a2.home">

<head>
    <% include fragments/header %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RFCx Arbimon - <%= title %></title>
</head>

<body ng-controller="HomeCtrl as controller">

<div class="container-page">
    <div class="content-wrap">
        <% include fragments/home-nav %>
        <div class="container homepage">
            <div>
                <%if (!user.rfcx_id && user.username !== 'guest') { %>
                    <% include connect-with-rfcx-alert %>
                <% } %>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <% if (state === 'home' || (user && user.isAnonymousGuest)) { %>
                        <div class="row mb-5">
                            <div class="col-md-12 seconds-div-center">
                                <h1>RFCx Arbimon</h1>
                                <h3 style="text-align: left; margin-bottom: 30px; line-height: 1.6;">Upload and analyze an unlimited amount of audio from your AudioMoth, SongMeter, or other recording device, with our free cloud-based analytical tool.
                                    Learn more about our <a href="https://rfcx.org/ecoacoustics">Ecoacoustic tools</a>.</h3>
                                <div class="button-group">
                                    <% if (user && user.isAnonymousGuest) { %>
                                        <a class="btn btn-lg btn-primary" href="<%- auth0UniversalLoginUrl %>&screen_hint=signup">Start Analyzing Now!</a>
                                    <% } else {%>
                                        <a class="btn btn-lg btn-primary" href="/projects">Start Analyzing Now!</a>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    <% } %>
                    <div class="row">
                        <div class="col-xs-5 col-md-5" ng-if="!search && !controller.isAnonymousGuest">
                            <% if (user && user.isAnonymousGuest) { %>
                                <h3 class="mt-2">Explore Projects</h3>
                            <% } else if (state === 'projects') { %>
                                <h3 class="mt-2">My Projects</h3>
                            <% } %>
                        </div>
                        <div class="col-xs-5 col-md-5" ng-if="search">
                            <h3 class="mt-2">Search results</h3>
                        </div>
                        <div class="col-xs-7 col-md-7 pb-1 mb-3">
                            <div class="form-inline pull-right" ng-show="!controller.isAnonymousGuest">
                                <div class="form-group has-feedback">
                                    <input id="projectsSearch" type="search" maxlength="100" class="form-control input-sm" ng-model="search" placeholder="Search All Projects" ng-change="controller.searchChanged()">
                                </div>
                            </div>
                        </div>
                    </div>
                    <%if (state === 'home' || (user && user.isAnonymousGuest)) { %>
                        <div ng-if="controller.highlightedProjects.length && !controller.isLoading" class="row">
                            <div class="col-md-12" style="text-align: center; padding: 0; min-height: 200px;">
                                <ul class="projects-list highlighted-list">
                                    <li class="ng-cloak projects-list-item highlighted-item"
                                        ng-repeat="project in controller.highlightedProjects"
                                        style="background: url({{project.image}}) no-repeat top center; background-size: cover;" ng-click="controller.selectProject(project)">
                                        <div class="text-left">
                                            <div class="title" style="font-size: 20px;" title="{{ project.name }}">
                                                {{ project.name }}
                                            </div>
                                            <span class="line-clamp mb-2">{{ project.description }}</span>
                                            <div class="text-center" style="height: 20px;">
                                                <i ng-show="project.isLoading" class="fa fa-spinner fa-spin" style="font-size: 18px; position: relative;"></i>
                                                <div class="text-left" ng-show="!project.isLoading && project.recCount && project.patternMatchingsTotal">
                                                    <span class="a2-badge" style="background-color: rgb(110, 111, 126, 0.5); color: white; margin-left: 0;">{{ project.recCount | number }} recordings</span>
                                                    <span class="a2-badge" style="background-color: rgb(110, 111, 126, 0.5); color: white">{{ project.patternMatchingsTotal }} templates</span>
                                                    <span class="a2-badge" style="background-color: rgb(110, 111, 126, 0.5); color: white">{{ project.speciesCount }} species</span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    <% } %>
                    <div ng-if="controller.isLoading" class="row ng-cloak text-center" style="padding: 64px 0;" >
                        <i class="fa fa-spinner fa-spin" style="font-size: 32px;"></i>
                    </div>
                    <div class="row" ng-if="controller.projects && !controller.projects.length && !controller.isLoading && search.length > 3">
                        <div class="col-xs-5 col-md-5">
                            <h3>No results</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="text-align: center; padding: 0; min-height: 600px;">
                            <ul class="projects-list">
                                <li ng-if="!controller.isAnonymousGuest && !controller.isLoading && !isExplorePage" class="projects-list-item projects-list-item-add"
                                    ng-click="controller.createProject() | trackEvent:'Home':'createProject'">
                                    <div class="title">+</div>
                                    <div>New Project</div>
                                </li>
                                <li class="ng-cloak projects-list-item" ng-class="{'disabled': !project.is_enabled }"
                                    ng-repeat="project in results = ( controller.projects | orderBy: controller.projectSort.sort )"
                                    style="background: url({{project.mapUrl}}) no-repeat top center; background-size: cover;" ng-click="controller.selectProject(project)">
                                    <div class="text-left">
                                        <div class="title" title="{{ project.name }}">
                                            {{ project.name }}
                                        </div>
                                        <div class="word-wrap line-ellipsis">
                                            {{ project.description }}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%if (!user.rfcx_id && user.username !== 'guest') { %>
            <div class="modal-backdrop" style="opacity: 0.5;" ng-hide="hidePopup"></div>
        <% } %>
    </div>
    <% include fragments/footer %>
  </div>
</body>

</html>

