<!DOCTYPE html>
<html ng-app="a2.home">

<head>
    <% include fragments/header %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Arbimon - <%= title %></title>
</head>

<body ng-controller="HomeCtrl as controller">

<div class="container-page">
    <div class="content-wrap">
        <% include fragments/home-nav %>
        <div class="container homepage">
            <div class="row">
                <div class="col-md-12">
                    <div ng-if="controller.isLoading" class="row ng-cloak text-center" style="padding: 64px 0;" >
                        <i class="fa fa-spinner fa-spin" style="font-size: 32px;"></i>
                    </div>
                    <div class="row mb-4" ng-if="!controller.isLoading">
                        <div class="col-md-12">
                            <h3>Projects</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="text-align: center; padding: 0; min-height: 600px;">
                            <ul class="projects-list">
                                <li class="ng-cloak projects-list-item"
                                    ng-repeat="project in results = ( controller.projects | orderBy: controller.projectSort.sort )"
                                    ng-click="controller.selectProject(project)">
                                    <div class="text-left">
                                        <div class="title" title="{{ project.name }}">
                                            {{ project.name }}
                                        </div>
                                        <div class="word-wrap line-ellipsis">
                                            {{ project.description }}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include fragments/footer %>
  </div>
</body>

</html>

