<!DOCTYPE html>
<html ng-app="a2.login">

<head>
    <% include fragments/header %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RFCx Arbimon</title>
</head>

<body ng-controller="LoginCtrl as controller">
    <% include fragments/nav-public %>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-7 col-lg-8 jumbotron" ng-class="mode === 'Sign up' ? 'visible-md-block visible-lg-block' : '' ">
                <h1 class="hidden-xs hidden-sm">Arbimon</h1>
                <h2>Bio-acoustics analysis platform</h2>
                <div class="button-group">
                    <a class="btn btn-lg btn-primary" href="<%- auth0UniversalLoginUrl %>&screen_hint=signup">Start analyzing audio</a>
                </div>
                <p>
                    Key features:
                    <ul>
                        <li>Store, manage and share acoustic recordings</li>
                        <li>Listen, visualize and annotate recordings</li>
                        <li>Detect species with pattern matching and machine learning</li>
                        <li>Create soundscapes based on acoustic activity</li>
                    </ul>
                </p>
            </div>

            <div class="col-sm-12 col-md-5 col-lg-4" ng-class="mode === 'Login' ? 'visible-md-block visible-lg-block' : '' ">
                <div class="card-container mt-5">
                    <% include fragments/login-form %>
                </div>
            </div>
        </div>
    </div>

    <% include fragments/footer %>
</body>

</html>
