<!DOCTYPE html>
<html ng-app="a2.login">

<head>
    <% include head %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RFCx Arbimon</title>
</head>

<body ng-controller="LoginCtrl as controller">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button ng-init="collapsedMenu = true" ng-click="collapsedMenu = !collapsedMenu" type="button" class="navbar-toggle collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <button class="navbar-toggle collapsed" ng-click="switchMode()">
                    {{ mode }}
                </button>
                <a href="/" class="navbar-brand">
                    <img src="/images/rfcx-logo.png">Arbimon
                </a>
            </div>
            <div class="navbar-collapse" ng-class="{'collapse': collapsedMenu }">

                <ul class="nav navbar-nav">
                    <li><a href="/home">Explore public projects</a></li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li class="hidden-sm hidden-xs" ><a href="/login">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="jumbotron login-banner">
        <div class="container">
            <div class="row">
                <!--  visible-md-block visible-lg-block hide only on small and x-small screens -->
                <div class="col-sm-12 col-md-7 col-lg-6" ng-class="mode === 'Sign up' ? 'visible-md-block visible-lg-block' : '' ">
                    <h1 class="hidden-xs hidden-sm">Arbimon</h1>
                    <p class="no-margin-bottom">
                        Bio-acoustics analysis platform
                        <div class="margin-s">
                            <a class="btn btn-primary btn-lg" href="<%- auth0UniversalLoginUrl %>">Start analyzing now</a>
                        </div>
                        <ul class="feature-list fa-ul">
                            <li><i class="fa fa-circle"></i>Store and manage your acoustic monitoring recordings on our cloud</li>
                            <li><i class="fa fa-circle"></i>Browse, visualize and annotate recordings</li>
                            <li><i class="fa fa-circle"></i>Use Pattern Matching models to detect specific species</li>
                            <li><i class="fa fa-circle"></i>Create soundscapes to assess the acoustic activity in a set of recordings</li>
                            <li><i class="fa fa-circle"></i>Share data and results from your public project</li>
                        </ul>
                    </p>
                </div>

                <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-1 col-md-4 col-lg-offset-2 col-lg-4" ng-class="mode === 'Login' ? 'visible-md-block visible-lg-block' : '' ">
                    <div class="login-form card-container">
                        <p class="margin-xs text-center">Existing Arbimon II Users</p>
                        <form role="form" ng-submit="login()">
                            <div class="form-group">
                                <label class="sr-only" for="user">Username</label>
                                <input id="user"
                                    class="form-control"
                                    name="username"
                                    type="text"
                                    placeholder="Username"
                                    ng-model="username"
                                    required />
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="pass">Password</label>
                                <input id="pass"
                                    class="form-control"
                                    name="password"
                                    type="password"
                                    placeholder="Password"
                                    ng-model="password"
                                    required />
                            </div>
                            <div ng-show="showCaptcha" g-recaptcha
                                sitekey="6Lf_yb4ZAAAAAC9j8pxSlW06k51qQVn7GZd7PKil"
                                response="captchaResp"
                                reset-widget="resetCaptcha">
                            </div>
                            <button class="btn btn-default btn-block" type="submit"><i class="fa fa-sign-in"></i> Login</button>
                            <div class="text-right margin-xs"><a href="/forgot_request">forgot password?</a></div>

                            <hr class="hr-text" data-content="OR">

                            <div class="form-group oauth-buttons text-center">
                                <a class="btn btn-default btn-block" href="<%- auth0UniversalLoginUrl %>">Login with RFCx account</a>
                            </div>
                            <br />
                            <small class="text-info inline-block text-justify margin-xs">
                                Note: if you use the same email address for logging in with RFCx, you still will be able to use your old Arbimon profile.
                            </small>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <% include footer %>
</body>

</html>
