<!DOCTYPE html>
<html ng-app="a2.login">

<head>
    <% include fragments/header %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RFCx Arbimon</title>
</head>

<body ng-controller="LoginCtrl as controller">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button ng-init="collapsedMenu = true" ng-click="collapsedMenu = !collapsedMenu" type="button" class="navbar-toggle collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <button class="navbar-toggle collapsed" ng-click="switchMode()">
                    {{ mode }}
                </button>
                <a href="/" class="navbar-brand">
                    <img src="/images/rfcx-logo.png">Arbimon
                </a>
            </div>
            <div class="navbar-collapse" ng-class="{'collapse': collapsedMenu }">
                <ul class="nav navbar-nav">
                    <li><a href="/home">Public projects</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-7 col-lg-8 jumbotron" ng-class="mode === 'Sign up' ? 'visible-md-block visible-lg-block' : '' ">
                <h1 class="hidden-xs hidden-sm">Arbimon</h1>
                <h2>Bio-acoustics analysis platform</h2>
                <div class="button-group">
                    <a class="btn btn-lg btn-primary" href="<%- auth0UniversalLoginUrl %>&screen_hint=signup">Start analyzing audio</a>
                </div>
                <p>
                    Key features:
                    <ul>
                        <li>Store, manage and share acoustic recordings</li>
                        <li>Listen, visualize and annotate recordings</li>
                        <li>Detect species with pattern matching and machine learning</li>
                        <li>Create soundscapes based on acoustic activity</li>
                    </ul>
                </p>
            </div>

            <div class="col-sm-12 col-md-5 col-lg-4" ng-class="mode === 'Login' ? 'visible-md-block visible-lg-block' : '' ">
                <div class="login-form card-container">
                    <hr class="hr-text mb-4 mt-0" data-content="EXISTING ARBIMON II USERS">
                    <form role="form" ng-submit="login()">
                        <div class="form-group">
                            <label class="sr-only" for="user">Username</label>
                            <input id="user"
                                class="form-control"
                                name="username"
                                type="text"
                                placeholder="Username"
                                ng-model="username"
                                required />
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="pass">Password</label>
                            <input id="pass"
                                class="form-control"
                                name="password"
                                type="password"
                                placeholder="Password"
                                ng-model="password"
                                required />
                        </div>
                        <div ng-show="showCaptcha" g-recaptcha
                            sitekey="6Lf_yb4ZAAAAAC9j8pxSlW06k51qQVn7GZd7PKil"
                            response="captchaResp"
                            reset-widget="resetCaptcha">
                        </div>
                        <button class="btn btn-default btn-block" type="submit"><i class="fa fa-sign-in"></i> Login</button>
                        <div class="text-right mt-2"><a href="/forgot_request">forgot password?</a></div>

                        <hr class="hr-text mb-0" data-content="OR">

                        <div class="form-group oauth-buttons text-center">
                            <a class="btn btn-default btn-block" href="<%- auth0UniversalLoginUrl %>">Login with RFCx account</a>
                        </div>
                        <br />
                        <small class="text-info inline-block text-justify mt-1">
                            Note: if you use the same email address for logging in with RFCx, you still will be able to use your old Arbimon profile.
                        </small>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <% include fragments/footer %>
</body>

</html>
