<!DOCTYPE html>
<html ng-app="a2.login">

<head>
    <% include fragments/header %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RFCx Arbimon</title>
</head>

<body ng-controller="LoginCtrl as controller">
    <div class="container-page">
        <div class="content-wrap">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="/" class="navbar-brand navbar-brand-center">
                            <img src="/images/favicon/arbimon-logo.svg" class="navbar-logo" alt="Arbimon Logo">
                            <span class="navbar-title">Arbimon</span>
                        </a>
                    </div>
                </div>
            </nav>
            <div class="jumbotron login-banner">
                <div class="container">
                    <div class="row">
                        <!--  visible-md-block visible-lg-block hide only on small and x-small screens -->
                        <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4"
                             ng-class="mode === 'Login' ? 'visible-md-block visible-lg-block' : '' ">
                            <div class="card-container">
                                <% include fragments/login-form %>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <% include fragments/footer %>
    </div>
</body>

</html>
