<!DOCTYPE html>
<html>

<head>
    <% include fragments/header %>
    <title>RFCx Arbimon | under maintenance</title>
</head>

<body class="text-center">
    <h1>
        <img src="/images/favicon/arbimon-logo.svg"> Arbimon
    </h1>
    <article>
        <h1>
            Our system is currently under maintenance.
        </h1>
        Please try again later, for more info visit our blog,
        twitter or facebook pages.
    </article>
</body>

</html>
