<!DOCTYPE html>
<html>

<head>
    <% include fragments/header %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Arbimon - Not Found</title>
</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand navbar-brand-center">
                    <img src="/images/favicon/arbimon-logo.svg" class="navbar-logo" alt="Arbimon Logo">
                    <span class="navbar-title">Arbimon</span>
                </a>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1>404 - Page Not Found</h1>
        <p>The page you were looking for was not found.</p>
        <p><a href="/" class="btn btn-default">Return to homepage</a></p>
    </div>
</body>

</html>
