<!DOCTYPE html>
<html>

<head>
    <% include fragments/header %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Arbimon - <%= title %></title>
</head>

<body>
    <div class="container-page">
        <div class="content-wrap">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="/" class="navbar-brand navbar-brand-center">
                            <img src="/images/favicon/rfcx-logo.svg" class="navbar-logo" alt="Arbimon Logo">
                            <span class="navbar-title hide-for-tablet">Arbimon</span>
                        </a>
                    </div>
                </div>
            </nav>

            <div class="container">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        <div class="page-header">
                            <h1><%= title %></h1>
                        </div>

                        <%- include(content) %>
                    </div>
                </div>
            </div>
        </div>
        <% include fragments/footer %>
    </div>
</body>

</html>
