<h3>Information collected</h3>

<p>
    We keep all the sign up information submitted by you, including full name,
    email, phone and address (address is only required for shipping).
</p>

<h3>We also collect application usage information.</h3>

<p>
    The information collected by us is used to improve the performance and
    quality of our services and is not shared or sold to any third parties.
</p>

<h3>Cookies</h3>

<p>
    Arbimon uses cookies to identify the user session on the server,
    these cookies are required to use Arbimon.
</p>

<h3>Local Storage</h3>

<p>
    In order to customize your experience we may store information on
    your device, using web technologies like sessionStorage and localStorage.
</p>
