<!DOCTYPE html>
<html ng-app="a2.orders" class="a2-order">

<head>
    <% include fragments/header %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Arbimon - Order</title>
</head>

<body ng-controller="ProcessOrderCtrl">
    <div class="container-page">
        <div class="content-wrap">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="/" class="navbar-brand navbar-brand-center">
                            <img src="/images/favicon/rfcx-logo.svg">
                            <span class="navbar-title hide-for-tablet">Arbimon</span>
                        </a>
                    </div>
                </div>
            </nav>
            <div class="hidden-print">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-8 col-md-offset-2">
                            <div class="panel panel-default">
                                <div class="panel-body">

                                    <h3 style="margin:0;" ng-show="processing">
                                        <loader></loader>
                                        Processing your order
                                    </h3>

                                    <h3 ng-hide="success">
                                        <span ng-show="notFound">
                                            Order not found
                                        </span>
                                        <span ng-show="needApproval">
                                            Paypal payment needs approval,
                                            <a ng-href="{{approvalLink}}">
                                                Go to Paypal
                                            </a>
                                        </span>
                                        <span ng-show="alreadyProcessed">
                                            This order was processed, if you have any problem contact us
                                        </span>
                                        <span ng-show="errorOcurred">
                                            An error occurred, please contact us before trying to repeat the order
                                        </span>
                                    </h3>

                                    <div ng-show="success">
                                        <h3>Order successfully processed</h3>
                                        <p>
                                            <span ng-if="action == 'create-project'">
                                                Your new project has been created and is ready to use.
                                            </span>
                                            <span ng-if="action == 'update-project'">
                                                Your project plan has been updated.
                                            </span>
                                            For status update on items ordered check your paypal account, you can also contact us.
                                        </p>
                                        <a href="/" class="btn btn-primary">
                                            Go to Home
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container" ng-show="success">
                <div class="row">
                    <div class="col-sm-12 col-md-8 col-md-offset-2">
                        <div class="visible-print-inline-block">
                            <address class="">
                                <b>Sieve Analytics, Inc.</b> <br>
                                7 Calle Gertrudis <br>
                                San Juan, PR 00911 US
                            </address>
                        </div>

                        <h3>Invoice #{{ invoice.number }}</h3>
                        <hr>

                        <div class="row">

                            <div class="col-sm-6">
                                <div class="section">
                                    <div class="title">Bill to</div>
                                    <p style="padding: 8px;">
                                        <b>{{ invoice.user.fullName }}</b> <br>
                                        email: {{ invoice.user.email }}
                                    </p>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="section" ng-show="invoice.address">
                                    <div class="title">Ship to</div>
                                    <div class="address">
                                        <address>
                                            <strong>{{ invoice.address.recipient_name }}</strong><br>
                                            {{ invoice.address.line1 }}<br>
                                            <span ng-if="invoice.address.line2">
                                                {{ invoice.address.line2 }}<br>
                                            </span>
                                            {{ invoice.address.city }}
                                            {{ invoice.address.state }} <br>
                                            {{ invoice.address.postal_code }}
                                            {{ invoice.address.country_code }}<br>
                                            <abbr title="telephone">Tel:</abbr>
                                            {{ invoice.address.phone }}
                                        </address>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Items</th>
                                    <th>Unit</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in invoice.items">
                                    <td>
                                        <b>{{ item.name }} </b><br>
                                        {{ item.description }}
                                    </td>
                                    <td>${{ item.price | number : 2 }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>${{ item.price * item.quantity | number : 2 }}</td>
                                </tr>
                                <tr class="text-right">
                                    <td colspan="3"><b>subtotal:</b></td><td> ${{ invoice.amount.details.subtotal | number : 2 }}</td>
                                </tr>
                                <tr class="text-right">
                                    <td colspan="3"><b>shipping &amp; handling:</b></td><td>${{ invoice.amount.details.shipping | number : 2 }}</td>
                                </tr>
                                <tr class="text-right">
                                    <td colspan="3"><b>total:</b></td><td><b>${{ invoice.amount.total | number : 2 }}</b></td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- <table class="table item-list-total">
                        </table> -->
                    </div>


                </div>
            </div>
        </div>
        <% include fragments/footer %>
    </div>
</body>

</html>
