<!DOCTYPE html>
<html ng-app="a2.register">

<head>
    <% include fragments/header %>
    <title>Arbimon - Register</title>
</head>

<body ng-controller="UserRegisterCtrl">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand navbar-brand-center">
                    <img src="/images/favicon/arbimon-logo.svg">
                    <span class="navbar-title">Arbimon</span>
                </a>
            </div>
        </div>
    </nav>
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8 col-md-offset-2 card-container">
                    <div ng-hide="completed || loading">
                        <div class="page-header">
                            <h3>Register an Arbimon Account</h3>
                        </div>
                        <form name="regis" role="form" ng-submit="register($event)">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input ng-model="user.firstName"
                                            type="text"
                                            name="first_name"
                                            id="first_name"
                                            class="form-control"
                                            placeholder='Name'required>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input ng-model="user.lastName"
                                            type="text"
                                            name="last_name"
                                            id="last_name"
                                            class="form-control "
                                            placeholder="Last name" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group right-inner-icon">
                                        <input ng-model="user.username"
                                            type="text"
                                            name="username"
                                            id="username"
                                            class="form-control"
                                            placeholder="Username"
                                            pattern="([\d\w\.-]){4,32}"
                                            ng-pattern="/^([\d\w\.-]){4,32}$/"
                                            ng-change="testUsername()"
                                            required />
                                        <i ng-show="usernameOk" class="fa fa-check text-success"></i>
                                        <i ng-show="usernameErr" class="fa fa-times text-danger"></i>
                                    </div>
                                </div>
                                <div  class="col-sm-4">
                                    <p ng-show="usernameOk" class="text-success">
                                        {{ usernameOk }}
                                    </p>
                                    <p ng-show="usernameErr" class="text-danger">
                                        {{ usernameErr }}
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group right-inner-icon">
                                        <input ng-model="user.email"
                                            type="email"
                                            name="email"
                                            id="email"
                                            class="form-control"
                                            placeholder="Email Address"
                                            ng-change="testEmail()"
                                            required />
                                        <i ng-show="emailOk" class="fa fa-check text-success"></i>
                                        <i ng-show="emailErr" class="fa fa-times text-danger"></i>
                                    </div>
                                </div>
                                <div  class="col-sm-4">
                                    <p ng-show="emailOk" class="text-success">
                                        {{ emailOk }}
                                    </p>
                                    <p ng-show="emailErr" class="text-danger">
                                        {{ emailErr }}
                                    </p>
                                </div>
                            </div>

                            <password-input ng-model="user.password"
                                validation="passResult"
                                user-inputs="[user.username, user.firstName, user.lastName]">
                            </password-input>
                            <div class="row">
                                <div class="col-sm-12">
                                    <input ng-model="newsletter"
                                        type="checkbox"
                                        name="newsletter"
                                        ng-checked="true">
                                        Subscribe to our newsletter.
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <input ng-model="terms_accepted"
                                        type="checkbox"
                                        name="terms" required>
                                        I agree to the Sieve Analytics
                                        <a href="/terms" target="_blank" class="text-info">
                                            terms of service
                                        </a>
                                </div>
                            </div>
                            <div class="form-group">
                                <% if(needCaptcha){ %>
                                <div g-recaptcha
                                    sitekey="6Lf_yb4ZAAAAAC9j8pxSlW06k51qQVn7GZd7PKil"
                                    response="captchaResp"
                                    reset-widget="resetCaptcha">
                                </div>
                                <% } else { %>
                                <span ng-init="captchaNotNeeded=1"></span>
                                <% } %>
                            </div>
                            <button type="submit"
                                class="btn btn-primary btn-block btn-lg">
                                Register
                            </button>
                            <p class="help-block">Already a user? <a href="/login">Login here</a></p>

                        </form>
                    </div>
                    <div ng-show="loading">
                        <div class="panel-body test-center">
                            <h4><loader></loader> Processing request</h4>
                        </div>
                    </div>
                    <div ng-show="completed">
                        <div class="page-header">
                            <h3>Activate your Arbimon Account</h3>
                        </div>
                        <p class="activation-text">Hi <b>{{ user.firstName }} {{ user.lastName }},</b></p>
                        <p class="activation-text">
                            thanks for your interest in Arbimon,
                            your account is almost ready but first you need to activate it.
                            An activation link has been sent to <b>{{ user.email }}</b>,
                            open the link to activate the account.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
