<!DOCTYPE html>
<html ng-app="a2.reset-password">

<head>
    <% include fragments/header %>
    <title>Arbimon - Reset password</title>
</head>

<body ng-controller="ResetPassCtrl">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand navbar-brand-center">
                    <img src="/images/favicon/arbimon-logo.svg">
                    <span class="navbar-title">Arbimon</span>
                </a>
            </div>
        </div>
    </nav>
    <div class="login-banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6 card-container">
                    <div class="panel-body">
                        <% if(!error) { %>
                        <form ng-submit="changePassword()" ng-hide="completed">
                            <h3>Enter a new password</h3>
                            <password-input ng-model="password" validation="passResult"></password-input>
                            <button class="btn btn-primary" type="submit">
                                Change password
                            </button>
                        </form>
                        <span ng-show="completed">
                            <p class="lead">
                                Password changed successfully
                            </p>
                            <a class="btn btn-primary" href="/login">Go to Login</a>
                        </span>
                        <% }
                        else {
                        %>
                            <p class="lead text-center">
                                <%- error %>
                            </p>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
