<div class="row">
    <div class="col-sm-12">
        <dl class="support-list">
            <dt>Do you have any problems with Arbimon or just need some guidance? </dt>
            <dd>
                Send your questions to: <a href="mailto:support@rfcx.org">support@rfcx.org</a> .
            </dd>
            <dt>Do you have any suggestions or want more information about our services?</dt>
            <dd>Please contact us: <a href="mailto:support@rfcx.org">support@rfcx.org</a></dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8">
        <h3>Video Tutorial</h3>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/P9Ua55IluqU" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
