
<article>

<p>
    Last Update: (2015/08/31)
</p>

<p>
    Thank you for using Arbimon website ("Arbimon", “Site”)
    provided by Sieve-Analytics, Inc. ("Sieve", “we”, “us”, “our”).
    By accessing Arbimon and/or using its services you agree and
    acknowledge to be bounded by the terms and conditions (“terms”)
    included in this Statement. Please read them carefully, if you
    disagree with any part of the terms then you cannot access the
    Service. Additionally the terms included in this Statement may
    change at any time. We recommend that you periodically check
    this Site for changes.
</p>
<p>
    We do not make any warranties about specific functions of the Services, their reliability, availability, or ability to meet your needs. We reserve any right not otherwise stated in these Terms.
</p>
<p>
    Any violation of terms listed below could lead to the removal of your project and user account.
</p>


<h3>Accounts</h3>
<ol>
    <li>
        You need to be at least 13 years old and human.
        Bots and children under 13 are not allowed to have accounts.
    </li>
    <li>
        You must agree with terms state here and with our
        <a href="/privacy">Privacy Policy</a>.
    </li>
    <li>
        You are allowed to have one and only one account,
        we reserve the right to remove duplicate accounts.
    </li>
    <li>
        You need to submit the required information on the registration form
        in order to create an account, this includes your legal full name
        and a valid email address.
    </li>
    <li>
        You are responsible to keep your account credentials confidential.
    </li>
    <li>
        You are responsible for all activity on your account.
    </li>
    <li>
        You will not use Arbimon for any unauthorized or unlawful action.
    </li>
</ol>

<h3>Content</h3>
<ol>
    <li>
        All content of Arbimon (Text, Visual design, Software, etc) is
        property of Sieve or its users and is protected by United States
        and international copyright laws.
    </li>
    <li>
        We do not claim any rights on content uploaded, submitted and/or
        created by you on Arbimon.
    </li>
    <li>
        By making a project public, you agree that any users can browse
        your data, models and/or any other content part of the project.
    </li>
    <li>
        All data uploaded or entered to Arbimon should be your intellectual
        property, if not you need to have permission to use it from the owner.
    </li>
    <li>
        We will investigate any report of violation of intellectual property.
        We reserve the right to remove any content in violation, and disable
        and/or terminate the projects and user accounts responsible for it.
    </li>
    <li>
        We do not make any warranties on the data stored on Arbimon,
         and you are responsible for backing up your data.
     </li>
</ol>


<h3>Project plans, sales, payments and refunds</h3>
<ol>
    <li>
        All payments on Arbimon are currently done with Paypal
    </li>
    <li>
        Every project can have only one plan (free or paid), this plan
        can be upgraded or downgraded to meet your needs.
    </li>
    <li>
        Plans are paid yearly. If a plan is upgraded, the payment is
        the difference in plan cost, prorated in a monthly basis with
        the time left on the plan. Plans can only be downgraded on renewal.
    </li>
</ol>




<h3>Code of conduct</h3>
<ol>
    <li>
        Arbimon users are expected to use the platform solely bio-acoustics analyses.
    </li>
    <li>
        Any type of unauthorized use, such as advertising or spam are not allowed.
    </li>
    <li>
        Any type of harassment, such as trolling, flaming, or any type of discrimination are not allowed
    </li>
</ol>

</article>
