<!DOCTYPE html>
<html ng-app="a2.user-settings">

<head>
    <% include fragments/header %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RFCx Arbimon - <%= title %>
    </title>
</head>

<body ng-controller="UserSettingsCtrl as controller">
    <div class="page-container">
        <div class="content-wrap">
            <% include fragments/home-nav %>
            <div class="container">
                <div class="col-sm-6 panel panel-default">
                    <div class="panel-heading row">
                        <img class="user-avatar col-sm-2 img-responsive" ng-src="{{controller.user.imageUrl}}"
                            alt="user avatar">
                        <h3 class="col-sm-10">
                            My account &nbsp;
                            <% if (user.rfcx_id) { %>
                            <span class="label label-primary">RFCx</span>
                            <% } else { %>
                            <span class="label label-warning">Arbimon II</span>
                            <% } %>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <!-- <div class="form-group">
                            <label class="control-label">Arbimon username</label>
                            <p class="form-control-static">{{controller.user.username}}</p>
                        </div> -->
                        <!-- <div class="form-group">
                            <h5><strong>Avatar</strong></h5>
                            <img class="user-avatar" src="<%- user.imageUrl %>" alt="user avatar">
                            <p>Change your avatar at <a href="https://gravatar.com" target="_blank">gravatar.com</a></p>
                        </div> -->
                        <div class="form-group">
                            <label for="firstname">Name</label>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <input id="firstname" type="text" class="form-control" placeholder="First Name"
                                        ng-model="controller.data.name">
                                </div>
                                <div class="col-sm-6 form-group">
                                    <input type="text" class="form-control" placeholder="Last Name"
                                        ng-model="controller.data.lastname">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <button class="btn btn-block btn-primary" ng-click="controller.save()">
                                    <i class="fa fa-floppy-o"></i> Save
                                </button>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-block btn-default" ng-click="controller.reset()">
                                    <i class="fa fa-rotate-left"></i> Reset
                                </button>
                            </div>
                        </div>
                        <% if (user.rfcx_id) { %>
                        <small class="text-info inline-block text-justify mt-3">
                            Note: to change your password, use the Forgotten Password link on the RFCx login page.
                        </small>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <% include fragments/footer %>
    </div>
</body>

</html>