<li class="dropdown" dropdown>
    <a class="dropdown-toggle" dropdown-toggle>
        <i class="fa user-avatar<% if(user.isSuper) { %> swag-super<% } %>" style="background-image:url('<%- user.imageUrl %>')"></i>
        <span class="visible-lg-inline visible-xs-inline"><%= user.username %></span>
        <i class="fa fa-caret-down"></i>
    </a>
    <% if(user.isAnonymousGuest) { %>
        <ul class="dropdown-menu dropdown-menu-inverse" role="menu">
            <li class="" ng-controller="RedirectToLoginCtrl">
                <a ng-href="{{ loginUrl }}">
                    <i class="fa fa-sign-in"></i> Log In
                </a>
            </li>
            <li class="">
                <a href="/register">
                    <i class="fa fa-check"></i> Sign Up
                </a>
            </li>
        </ul>
    <% } else { %>
        <ul class="dropdown-menu dropdown-menu-inverse" role="menu">
            <li class="">
                <a href="/user-settings">
                    <i class="fa fa-wrench"></i> Account Settings
                </a>
            </li>
            <li class="">
                <a href="/logout">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
        </ul>
    <% } %>
</li>
