<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
<link rel="stylesheet" type="text/css" href="/assets/ng-table/ng-table.min.css">
<link rel="stylesheet" type="text/css" href="/assets/angular-ui-select/select.min.css">
<link rel="stylesheet" type="text/css" href="/assets/angular-ui-select/selectize.default.css">
<link rel="stylesheet" type="text/css" href="/assets/angular-range-slider/angular.rangeSlider.css">

<script src="/assets/jquery/jquery.min.js"></script>
<script src="/assets/jquery/jquery-ui.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>

<script src="/assets/moment/moment.min.js"></script>
<script src="/assets/d3/d3.min.js"></script>

<script src="/assets/angular/angular.min.js"></script>
<script src="/assets/angular-ui-router/angular-ui-router.min.js"></script>
<script src="/assets/ui-router-extras/ct-ui-router-extras.min.js"></script>
<script src="/assets/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="/assets/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/assets/angular-audio/angular.audio.js"></script>
<script src="/assets/angular-ui-select/select.min.js"></script>
<script src="/assets/angular-range-slider/angular.rangeSlider.js"></script>
<script src="/assets/ng-table/ng-table.min.js"></script>
<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>


<script src="/assets/angular-file-upload/angular-file-upload.js"></script>

<script src="/assets/js/arbimon2.js"></script>
<script src="/assets/js/arbimon2-templates.js"></script>

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<title>Arbimon 2 - test</title>
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button data-target="#navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/home" class="navbar-brand">
                    <img src="/images/logo.svg">
                </a>
            </div>
        </div>
    </nav>
    <div id="page" ng-app="a2SoundscapeRegionTags" ng-init="tags = [
        'hello'
    ]">
        {{tags}} <br />
        <input ng-model="tag_text" />
        <button class="btn btn-default" ng-click="tags.push($eval(tag_text) || tag_text);">+</button>
            <a2-soundscape-region-tag ng-repeat="tag in tags"
            tag="tag" closable="true" on-close="tags.splice(tags.indexOf(tag), 1)"></a2-soundscape-region-tag>
        </div>
        <a2-soundscape-region-tag tag="tag" ></a2-soundscape-region-tag>
    </div>
    
</body>
</html>
