<div class="input-source"
    ng-style="{height: layout.spectrogram.height, width: layout.spectrogram.width}"
    a2-visualizer-fit-spectrogram
    ng-mousedown= "($event.which   == 1) && layer.soundscape.selection.reset().add_point(pointer.sec, pointer.hz)"
    ng-mousemove= "($event.buttons == 1) && layer.soundscape.selection.add_tracer_point(pointer.sec, pointer.hz)"
    ng-mouseup  = "($event.which   == 1) && layer.soundscape.selection.add_point(pointer.sec, pointer.hz).query()"
>
    <div class="selection-rect"
        ng-show="layer.soundscape.selection.bbox && !layer.soundscape.selection.bbox.id"
        ng-style="{
            left   : layout.sec2x(layer.soundscape.selection.bbox.x1, 1, 0) + 'px',
            top    : layout.hz2y(layer.soundscape.selection.bbox.y2 , 1) + 'px',
            width  : layout.dsec2width(layer.soundscape.selection.bbox.x2, layer.soundscape.selection.bbox.x1, 1, 1) + 'px',
            height : layout.dhz2height(layer.soundscape.selection.bbox.y2, layer.soundscape.selection.bbox.y1, 1) + 'px'
        }"
    >
    </div>
    <div>
        <div class="rect-holder"
        ng-click="$event.stopPropagation(); layer.soundscape.selection.select(region)"
        ng-class="{selected : region == layer.soundscape.selection.bbox}"
        ng-hide="region.__hide"
        ng-repeat="region in layer.soundscape.regions" ng-style="{
            left   : layout.sec2x(region.x1, 1) + 'px',
            top    : layout.hz2y (region.y2, 1, 1) + 'px'
        }" >
            <div class="rect" ng-style="{
                width  : layout.dsec2width(region.x2, region.x1, 1, 1) + 'px',
                height : layout.dhz2height(region.y2, region.y1, 1, 1) + 'px'
            }" ></div>
            <div class="text" style="min-width:200px;"
                ng-style="{width : layout.dsec2width(region.x2, region.x1, 1, 1) + 'px'}"
            >
                <div ng-show="layer.soundscape.show.names">{{region.name}}</div>
                <div ng-show="layer.soundscape.show.tags">
                    <span ng-repeat="tag in region.tags" >
                        <a2-soundscape-region-tag tag="tag" show-count="true"></a2-soundscape-region-tag>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div a2-insert-in=".visualizer-root">
        <div class="popover confirm-roi"
            ng-class="(
                    layout.sec2x(layer.soundscape.selection.bbox.x1, 1, 0)+
                    layout.sec2x(layer.soundscape.selection.bbox.x2, 1, 1)
            )/2 > layout.viewport.width/2 ? 'left' : 'right'"
            ng-style="{
                display : (layer.soundscape.selection.bbox.id ? !layer.soundscape.selection.bbox.__hide : layer.soundscape.selection.valid) ? 'block' : 'none',
                left : (
                    layout.viewport.left +
                    (
                            layout.sec2x(layer.soundscape.selection.bbox.x1, 1, 0)+
                            layout.sec2x(layer.soundscape.selection.bbox.x2, 1, 1)
                    )/2 +
                    (
                        (
                                layout.sec2x(layer.soundscape.selection.bbox.x1, 1, 0)+
                                layout.sec2x(layer.soundscape.selection.bbox.x2, 1, 1)
                        )/2 > layout.viewport.width/2 ? -210 : 0)
                ) + 'px',
                top  : (
                    layout.spectrogram.top + layout.hz2y((layer.soundscape.selection.bbox.y1 + layer.soundscape.selection.bbox.y2)/2, 1)
                ) + 'px'
            }"
        >
            <div class="arrow"></div>
            <div class="popover-content" ng-hide="layer.soundscape.selection.bbox.id">
                <input class="form-control" ng-model="layer.soundscape.selection.bbox.name"
                    placeholder="Selected Region"
                /><br/>
                <br />
                {{
                    visobject.domain.x.unit_format(layer.soundscape.selection.bbox.x1) + (
                    layer.soundscape.selection.bbox.x1 != layer.soundscape.selection.bbox.x2 ?
                        ' - ' + visobject.domain.x.unit_format(layer.soundscape.selection.bbox.x2) : ''
                    )
                }} <br />
                {{
                    visobject.domain.y.unit_format(layer.soundscape.selection.bbox.y1) + (
                    layer.soundscape.selection.bbox.y1 != layer.soundscape.selection.bbox.y2 ?
                        ' - ' + visobject.domain.y.unit_format(layer.soundscape.selection.bbox.y2) : ''
                    )
                }} <br />
                Recordings : {{layer.soundscape.selection.bbox.q}}<br/>
                <br />
                <button class="btn btn-sm btn-default" ng-click="$event.stopPropagation(); layer.soundscape.selection.submit()"><i class="fa fa-plus text-success"></i> Add</button>
                <button class="btn btn-sm btn-default" ng-click="$event.stopPropagation(); layer.soundscape.selection.reset()"><i class="fa fa-ban text-danger"></i> Cancel</button>
            </div>

            <div class="popover-content" ng-show="layer.soundscape.selection.bbox.id">
                {{layer.soundscape.selection.bbox.name}}<br />
                <br />
                Recordings : <span class="badge" >{{layer.soundscape.selection.bbox.count}}</span> <br />
                <div ng-show="layer.soundscape.selection.bbox.threshold">
                    Threshold : {{layer.soundscape.selection.bbox.threshold}} <br />
                        {{layer.soundscape.amplitudeReferences[layer.soundscape.selection.bbox.threshold_type].caption}}<br />
                </div>
                <div ng-show="layer.soundscape.selection.bbox.tags">
                    <span ng-repeat="tag in layer.soundscape.selection.bbox.tags">
                        <a2-soundscape-region-tag tag="tag" show-count="true"></a2-soundscape-region-tag>
                    </span>
                </div>
                <br />
                <div ng-hide="layer.soundscape.selection.bbox.playlist">
                    <button class="btn btn-sm btn-default" ng-disabled="layer.soundscape.selection.bbox.count == 0"
                    ng-click="$event.stopPropagation(); layer.soundscape.selection.sample()"><i class="fa fa-plus text-success"></i> Sample</button>
                    <button class="btn btn-sm btn-default" ng-click="$event.stopPropagation(); layer.soundscape.selection.reset()"><i class="fa fa-ban text-danger"></i> Cancel</button>
                </div>
                <div ng-show="layer.soundscape.selection.bbox.playlist">
                    <button class="btn btn-sm btn-default" ng-click="$event.stopPropagation(); layer.soundscape.selection.view_samples()"><i class="fa fa-list"></i> View</button>
                    <button class="btn btn-sm btn-default" ng-click="$event.stopPropagation(); layer.soundscape.selection.reset()"><i class="fa fa-ban text-danger"></i> Cancel</button>
                </div>
                <div style="position:absolute;top:0;right:0">
                    <button class="btn btn-default btn-sm"
                        ng-click="layer.soundscape.selection.bbox.__hide = !layer.soundscape.selection.bbox.__hide"
                    ><i class="fa" ng-class="layer.soundscape.selection.bbox.__hide ? 'fa-eye-slash' : 'fa-eye'" ></i></button>
                </div>
            </div>
        </div>
    </div>

</div>
