<div>
    <div ng-repeat="roi in layer.species_presence.speciesPresence" style="position: relative;">
        <div class="roi species input-source"
            ng-class="{'species-selected':layer.species_presence.selected == roi}"
            ng-click="$event.stopPropagation(); layer.species_presence.selected = roi"
            ng-style="{
                left:layout.sec2x(roi.x1, 1) + 'px',
                top:layout.hz2y(roi.y2, 1) + 'px',
                width:layout.dsec2width(roi.x2, roi.x1, 1) + 'px',
                height:layout.dhz2height(roi.y2, roi.y1) + 'px',
                display: roi.display || ''
            }"
            id="popoverSpeciesPresence-{{roi.id}}"
            popover-html="'<p class=\'small\'>Validation</p><span class=\'small mr-2\'>Species:</span> {{roi.species}}<br /><span class=\'small mr-2\'>Sound:</span> {{roi.songtype}}'"
            popover-trigger="click"
            popover-append-to-body="true"
            data-placement="top"
            tabindex="0"
        >
            <button class="close" ng-click="layer.species_presence.togglePopup(roi)" style="position: absolute; right: -4px; top:-6px; font-size: 12px; opacity: 1;">
                <img src="/images/ic-cross.svg"
                    onmouseover="this.src='/images/ic-cross-hover.svg'"
                    onmouseout="this.src='/images/ic-cross.svg'"
                />
            </button>
            <div class="popover" style="display: block; min-width: 30em; position: fixed; top: 45%; left: 50%;" ng-if="roi.isPopupOpened">
                <h3 class="popover-title">
                    Remove validated species
                </h3>
                <div class="popover-content">
                    <div class="mb-3" style="font-size: 12px;">
                        Are you shure to remove species: {{roi.name}}?
                    </div>
                    <button id="submit-btn" class="btn btn-default"
                        ng-click="layer.species_presence.confirmPopup(roi)" ng-disabled="!!layer.species_presence.isRemoving">
                        <i class="fa text-success" ng-class="{'fa-trash' : !layer.species_presence.isRemoving , 'fa-spinner fa-spin': layer.species_presence.isRemoving }"></i>
                        Delete
                    </button>
                    <button class="btn btn-default"
                        ng-click="roi.isPopupOpened = false">
                        <i class="fa fa-ban text-danger"></i>
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
