<div>
    <div class="roi" ng-repeat="roi in layer.templates.recordingTemplates"
        ng-class="{'roi-selected':layer.templates.selectedRoi == roi}"
        ng-click="$event.stopPropagation(); layer.templates.selectedRoi = roi"
        ng-style="{
            left:layout.sec2x(roi.x1, 1) + 'px',
            top:layout.hz2y(roi.y2, 1) + 'px',
            width:layout.dsec2width(roi.x2, roi.x1, 1) + 'px',
            height:layout.dhz2height(roi.y2, roi.y1) + 'px'
        }">
        <span class="no-text-wrap spectro-label">
            {{roi.name}}<br />
            {{roi.species_name}} {{roi.songtype_name}}
        </span>
    </div>
</div>

<div class="input-source cursor-crosshair" ng-if="!layer.templates.citizenScientistUser"
    ng-style="{height: layout.spectrogram.height, width: layout.spectrogram.width}"
    a2-visualizer-fit-spectrogram ng-show="selection.layer == layer"
    ng-mousedown="($event.which == 1) && layer.templates.editor.add_point(pointer)"
    ng-mousemove="($event.buttons == 1) && layer.templates.editor.add_tracer_point(pointer)"
    ng-mouseup  ="($event.which == 1) && layer.templates.editor.add_point(pointer)">

    <div a2-visualizer-spectrogram-affixed data-affix-top="24" class="text-dark-gray pl-5">
        Click to create a template from this recording.
        <div ng-show="layer.templates.editor.roi && !layer.templates.editor.roi.id"
            a2-global-keyup="($event.which == 27) && layer.templates.editor.reset()">
            Press <kbd>esc</kbd> to cancel template creation.
        </div>
    </div>
    <div class="roi roi-current" ng-show="layer.templates.editor.roi"
        ng-style="{
            left: layout.sec2x(layer.templates.editor.roi.x1, 1) + 'px',
            top:layout.hz2y(layer.templates.editor.roi.y2, 1) + 'px',
            width:layout.dsec2width(layer.templates.editor.roi.x2,
            layer.templates.editor.roi.x1, 1) + 'px',
            height:layout.dhz2height(layer.templates.editor.roi.y2, layer.templates.editor.roi.y1) + 'px'
        }">

        <i class="fa fa-circle-o control-point cp-resize-tl" style="position:absolute;    top:-7px;  left:-6px" ></i>
        <i class="fa fa-circle-o control-point cp-resize-tr" style="position:absolute;    top:-7px; right:-6px" ></i>
        <i class="fa fa-circle-o control-point cp-resize-bl" style="position:absolute; bottom:-7px;  left:-6px" ></i>
        <i class="fa fa-circle-o control-point cp-resize-br" style="position:absolute; bottom:-7px; right:-6px" ></i>
    </div>
    <a2-visualizer-dialog show="layer.templates.editor.valid"
        x1="layer.templates.editor.roi.x1"
        y1="layer.templates.editor.roi.y1"
        x2="layer.templates.editor.roi.x2"
        y2="layer.templates.editor.roi.y2"
    >
        <h3 class="popover-title">
            Create Template
            <a2-species species="layer.templates.tset.species"></a2-species>
            <small>
                <a2-songtype songtype="layer.templates.tset.songtype"></a2-songtype>
            </small>
        </h3>
        <div class="popover-content">
            <div class="form">
                <div class="mt-2">
                    <label>Name</label>
                    <input class="form-control placeholder" ng-model="layer.templates.editor.template_name"
                        placeholder="{{layer.templates.editor.get_placeholder_name()}}"
                    />
                </div>
                <div class="mt-4">
                    <label>Species sound</label>
                    <div class="form-group" style="position:relative;" click-outside="layer.templates.hide()">
                        <ui-select ng-model="layer.templates.selected" on-select="layer.templates.selectClass(layer.templates.selected)" ng-click="layer.templates.onSearchClick()" reset-search-input="false" theme="bootstrap">
                            <ui-select-match>
                                <span ng-if="!layer.templates.userSearch.length && !layer.templates.tempSelected.species_name" class="placeholder pl-absolute-icon ml-1">Select a species sound</span>
                                <div ng-if="layer.templates.userSearch && layer.templates.userSearch.length" class="placeholder pl-absolute-icon ml-1">
                                    <span class="text-insight">{{ layer.templates.userSearch }}</span>
                                </div>
                                <div ng-if="layer.templates.tempSelected.species_name" class="row-flex flex-self-align-top flex-direction-column">
                                    <span class="text-insight">{{ layer.templates.tempSelected.species_name ? layer.templates.tempSelected.species_name : $select.selected.species_name }}</span>
                                    <span class="text-util-gray-01" style="font-size: 12px;line-height: 1.2em;">{{ layer.templates.tempSelected.songtype_name ? layer.templates.tempSelected.songtype_name : $select.selected.songtype_name }}</span>
                                </div>
                            </ui-select-match>
                            <ui-select-choices repeat="class in layer.templates.project_classes | filter:$select.search | orderBy: ['species_name']" refresh="layer.templates.onSpeciesExists($select.search)" refresh-delay="0" position="down">
                                <div class="row-flex flex-self-align-top flex-direction-column">
                                    <span class="text-insight">{{ class.species_name }}</span>
                                    <span class="text-util-gray-01" style="font-size: 12px;line-height: 1.2em;">{{ class.songtype_name }}</span>
                                </div>
                            </ui-select-choices>
                        </ui-select>
                        <div class="not-found-row" ng-show="layer.templates.toggleSpeciesAdd === true && layer.templates.userSearch && layer.templates.toggleSpeciesSelect === false">
                            <div class="mb-2 support">We cannot find the species "{{ layer.templates.userSearch }}" in the project.</div>
                            <a class="primary-link support" ng-click="layer.templates.addSpecies($event)">
                                Add species
                                <span class="ml-1" style="width: 14px">
                                    <img src="/images/fi-plus-primary.svg">
                                </span>
                            </a>
                        </div>
                        <div class="not-found-row" ng-show="layer.templates.toggleSpeciesAdd === false && layer.templates.toggleSpeciesSelect === true">
                            <div class="mb-2 support">Species</div>
                            <div class="my-2 border-t-1 border-util-gray-02"> </div>
                            <ul ng-if="layer.templates.allSpecies.length" class="ulnodeco mb-2 pl-0" style="max-height: 100px; overflow-y: auto;">
                                <li ng-repeat="specie in layer.templates.allSpecies"
                                    class="linodeco mb-2 py-1 px-2 cs-pointer"
                                    ng-class="{'bg-util-gray-03': specie.scientific_name === layer.templates.classToAdd.species}"
                                    ng-click="layer.templates.selectSpecies(specie)"
                                >
                                    {{specie.scientific_name}}
                                    <i class="fa fa-check text-insight" ng-show="specie.scientific_name === layer.templates.classToAdd.species" style="position: absolute; right: 3px; top: 20%;" ></i>
                                </li>
                            </ul>
                            <div ng-if="!layer.templates.allSpecies.length" class="mb-2">No species found.</div>
                            <div class="my-2 border-t-1 border-util-gray-02"> </div>
                            <div class="pl-2 support">
                                <div>Don't see the species you are looking for?</div>
                                <a ng-href="https://arbimon.org/contact" class="text-frequency">
                                    Contact support
                                    <i class="fa fa-external-link cs-pointer text-frequency ml-2" style="font-size: 14px"></i>
                                </a>
                            </div>
                        </div>
                        <div class="not-found-row" ng-show="layer.templates.toggleSpeciesAdd === false && layer.templates.toggleSpeciesSelect === false && layer.templates.toggleSongtypeSelect === true">
                            <div ng-click="layer.templates.backToSelectSpecies()" class="cs-pointer" style="font-size: 13px;">< Species</div>
                            <div class="my-2 support pl-2">Call</div>
                            <div class="my-2 border-t-1 border-util-gray-02"> </div>
                            <ul ng-if="layer.templates.songtypes.length" class="ulnodeco mb-2 pl-0" style="max-height: 100px; overflow-y: auto;">
                                <li ng-repeat="song in layer.templates.songtypes"
                                    class="linodeco mb-2 py-1 px-2 cs-pointer support"
                                    ng-class="{'bg-util-gray-03': song.name === layer.templates.classToAdd.songtype}"
                                    ng-click="layer.templates.selectSongtype(song)"
                                >
                                    {{song.name}}
                                    <i class="fa fa-check text-insight" ng-show="song.name === layer.templates.classToAdd.songtype" style="position: absolute; right: 3px; top: 20%;" ></i>
                                </li>
                            </ul>
                            <div class="pl-2 row-flex flex-space-end mt-2">
                                <div tooltip="{{layer.templates.classToAdd.songtype === null ? 'Select a species call' : ''}}" tooltip-append-to-body="true">
                                    <button class="btn btn-sm btn-primary btn-rounded-full row-flex flex-direction-row flex-space-center"
                                        ng-disabled="!layer.templates.classToAdd.songtype"
                                        ng-click="layer.templates.addClass()"
                                    >
                                        Add species
                                        <span class="ml-3" style="width: 16px">
                                            <img src="/images/fi-plus.svg">
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-flex flex-direction-row flex-space-between mt-5">
                    <button class="btn btn-sm btn-success btn-rounded-full row-flex flex-direction-row flex-space-center"
                        ng-click=" $event.stopPropagation(); layer.templates.editor.reset()">
                        Cancel
                    </button>
                    <button id="submit-btn" class="btn btn-sm btn-primary btn-rounded-full row-flex flex-direction-row flex-space-center"
                        ng-click=" $event.stopPropagation(); layer.templates.editor.submit()" ng-disabled="!!layer.templates.editor.submitting">
                        Create template
                        <span ng-if="!layer.templates.editor.submitting" class="ml-3" style="width: 16px">
                            <img src="/images/fi-plus.svg">
                        </span>
                        <i ng-if="layer.templates.editor.submitting" class="fa text-success fa-spinner fa-spin"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
